Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Convert reducers/admin to Typescript
  app/soapbox/reducers/admin.ts
  app/soapbox/selectors/index.ts
  app/soapbox/utils/config_db.ts
Due: jest

Convert reducers/alerts to Typescript
  app/soapbox/reducers/alerts.ts
  app/soapbox/selectors/index.ts
Due: jest

EmojiSelector: convert to tsx
  app/soapbox/components/emoji_selector.tsx
Due: jest

Add Emoji functional component
  app/soapbox/components/emoji_selector.tsx
  app/soapbox/components/ui/emoji/emoji.tsx
  app/soapbox/components/ui/index.ts
Due: jest

EmojiSelector: fix onReact prop
  app/soapbox/components/emoji_selector.tsx
  app/soapbox/components/status_action_bar.js
Due: lint-js, jest

Create now emoji-selector functional component (wip)
  app/soapbox/components/emoji_selector.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/components/ui/index.ts
Due: jest

Restyle emoji components
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/components/ui/emoji/emoji.tsx
Due: jest

First pass at Hoverable component
  app/soapbox/components/status_action_bar.js
  app/soapbox/components/ui/hoverable/hoverable.tsx
  app/soapbox/components/ui/index.ts
Due: lint-js, jest

Hoverable component: we've come full circle
  app/soapbox/components/status_action_bar.js
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/components/ui/hoverable/hoverable.tsx
Due: lint-js, jest

Create StatusActionButton component
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/status_action_bar.js
  app/soapbox/components/ui/icon-button/icon-button.tsx
Due: lint-js, jest

styles
  app/soapbox/components/sidebar_menu.js
  app/styles/chats.scss
  app/styles/components/columns.scss
  app/styles/components/emoji-reacts.scss
  app/styles/components/sidebar-menu.scss
  app/styles/components/status.scss
  app/styles/polls.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

StatusActionBar: refactor buttons
  app/soapbox/components/status_action_bar.js
  app/soapbox/components/ui/status/status-action-button.tsx
Due: lint-js, jest

StatusActionBar: conditionally render dumb Like button
  app/soapbox/components/status_action_bar.js
  app/soapbox/components/ui/status/status-action-button.tsx
Due: lint-js, jest

StatusActionCounter: use shortNumberFormat
  app/soapbox/components/ui/status/status-action-button.tsx
Due: jest

StatusActionBar: convert to tsx
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/components/ui/status/status-action-button.tsx
  app/soapbox/reducers/statuses.ts
  app/soapbox/types/soapbox.ts
  app/soapbox/utils/accounts.ts
  app/soapbox/utils/emoji_reacts.ts
Due: jest

Remove staff util functions, normalize account staff fields
  app/soapbox/components/__tests__/__snapshots__/emoji_selector-test.js.snap
  app/soapbox/components/profile_hover_card.js
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.js
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/admin/index.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/features/ui/components/instance_moderation_panel.js
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/react_router_helpers.js
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.ts
  app/soapbox/pages/remote_instance_page.js
  app/soapbox/utils/__tests__/accounts-test.js
  app/soapbox/utils/accounts.ts
Due: lint-js, jest

SidebarNavigationLink: set parent height for before svg is loaded
  app/soapbox/components/sidebar-navigation-link.tsx
Due: jest

Update header.js
  app/soapbox/features/public_layout/components/header.js
Due: lint-js, jest

StatusActionButton: treat element as a group
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/components/ui/status/status-action-button.tsx
Due: jest

StatusActionButton improvements
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/components/ui/status/status-action-button.tsx
Due: jest

styles
  app/soapbox/components/list.js
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/aliases/index.js
  app/soapbox/features/bookmarks/index.js
  app/soapbox/features/chats/chat_room.js
  app/soapbox/features/chats/components/chat_box.js
  app/soapbox/features/chats/components/chat_message_list.js
  app/soapbox/features/community_timeline/index.js
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/list_editor/index.js
  app/soapbox/features/list_timeline/index.js
  app/soapbox/features/lists/index.js
  app/soapbox/features/migration/index.js
  app/soapbox/features/public_timeline/index.js
  app/soapbox/features/remote_timeline/index.js
  app/soapbox/features/ui/components/hotkeys_modal.js
  app/soapbox/features/ui/components/reactions_modal.js
  app/soapbox/features/ui/components/report_modal.js
  app/styles/chats.scss
  app/styles/components/aliases.scss
  app/styles/components/compose-form.scss
  app/styles/components/snackbar.scss
Due: lint-js, lint-sass, jest

Update snapshots
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_form-test.js.snap
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_page-test.js.snap
Due: jest

status.tsx: extend withRouter props
  app/soapbox/components/status.tsx
Due: jest

Convert DropdownMenu to typescript
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/containers/dropdown_menu_container.js
  app/soapbox/containers/dropdown_menu_container.ts
Due: lint-js, jest

StatusActionBar: remove a bunch of .get() calls
  app/soapbox/components/status_action_bar.tsx
Due: jest

Refactor StatusActionButton
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/hoverable.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/components/ui/status/status-action-button.tsx
Due: jest

StatusActionButton: change the way color props work
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/status_action_bar.tsx
Due: jest

Fix tests
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/utils/__tests__/accounts-test.js
  app/soapbox/utils/__tests__/emoji_reacts-test.js
  app/soapbox/utils/emoji_reacts.ts
Due: lint-js, jest

styles
  app/soapbox/components/ui/column/column.tsx
  app/soapbox/features/directory/components/account_card.js
  app/soapbox/features/export_data/components/csv_exporter.js
  app/soapbox/features/filters/index.js
  app/soapbox/features/import_data/components/csv_importer.js
  app/soapbox/features/ui/index.js
  app/styles/about.scss
  app/styles/components/directory.scss
  app/styles/components/filters.scss
  app/styles/components/radio-button.scss
  app/styles/components/server-info.scss
Due: lint-js, lint-sass, jest

Conditionally display some hotkeys
  app/soapbox/features/ui/components/hotkeys_modal.js
  app/soapbox/features/ui/components/hotkeys_modal.tsx
Due: lint-js, jest

styles
  app/styles/components/status.scss
Due: lint-sass

hotkeys modal
  app/soapbox/features/ui/components/hotkeys_modal.tsx
Due: jest

Simplify YARN commands
  .gitlab-ci.yml
  README.md
  docs/development/yarn-commands.md
  package.json
Due: jest, docs-deploy

Add "react-testing-library"
  app/soapbox/jest/test-helpers.tsx
  app/soapbox/jest/test-setup.ts
  app/soapbox/test_helpers.js
  app/soapbox/test_setup.js
  jest.config.js
  package.json
  yarn.lock
Due: lint-js, jest

Add registration & verification tests
  app/soapbox/features/verification/__tests__/index.test.tsx
  app/soapbox/features/verification/index.js
  app/soapbox/features/verification/index.tsx
  app/soapbox/features/verification/registration.js
  app/soapbox/features/verification/steps/__tests__/age-verification.test.js
  app/soapbox/features/verification/steps/__tests__/email-verification.test.js
  app/soapbox/features/verification/steps/__tests__/sms-verification.test.js
  app/soapbox/features/verification/steps/age-verification.js
  app/soapbox/features/verification/steps/email-verification.js
  app/soapbox/features/verification/steps/sms-verification.js
Due: lint-js, jest

TypeScript: reducers/me
  app/soapbox/reducers/me.ts
Due: jest

Silence prop warnings in test suite
  app/soapbox/components/__mocks__/react-inlinesvg.js
  app/soapbox/components/icon.js
  app/soapbox/components/svg_icon.js
  app/soapbox/components/ui/icon/icon.tsx
  app/soapbox/features/verification/steps/__tests__/age-verification.test.js
  app/soapbox/features/verification/steps/__tests__/email-verification.test.js
  app/soapbox/features/verification/steps/__tests__/sms-verification.test.js
  jest.config.js
Due: lint-js, jest

Convert features/status/index to typescript (pretty much)
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/pull-to-refresh.tsx
  app/soapbox/features/status/components/action-bar.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/selectors/index.ts
Due: jest

Add tests for Registration component
  app/soapbox/features/verification/__tests__/registration.test.js
Due: lint-js, jest
