Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Convert application entrypoint files into Typescript
  app/application.ts
  app/soapbox/load_polyfills.ts
  app/soapbox/main.tsx
  app/soapbox/monitoring.ts
  app/soapbox/performance.ts
  app/soapbox/ready.ts
  tsconfig.json
  webpack/shared.js
Due: lint-js, jest

Nuke the local uuid implementation
  app/soapbox/actions/settings.js
  app/soapbox/reducers/compose.js
  app/soapbox/uuid.js
Due: lint-js, jest

Prevent clicking stuff in statuses from expanding the status
  app/soapbox/components/status_content.tsx
  app/soapbox/features/status/components/card.js
Due: lint-js, jest

Convert Status Card to TSX+FC, trim obscenely long titles
  app/soapbox/features/status/components/card.js
  app/soapbox/features/status/components/card.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/normalizers/card.ts
Due: lint-js, jest

Card: improve normalization of Pleroma OG fields
  app/soapbox/normalizers/card.ts
  app/soapbox/utils/normalizers.ts
Due: jest

Notification: convert to TSX
  app/soapbox/components/status.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/normalizers/notification.ts
Due: jest

Notification: restore most notification types
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/notifications/index.js
  app/soapbox/normalizers/notification.ts
Due: lint-js, jest

dark mode styles?
  app/soapbox/components/autosuggest_input.js
  app/soapbox/components/autosuggest_textarea.js
Due: lint-js, jest

Polish translation
  app/soapbox/locales/pl.json
Due: jest

modals?
  app/soapbox/features/list_adder/index.js
  app/soapbox/features/list_editor/index.js
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Test rendering notifications
  app/soapbox/__fixtures__/notification-favourite.json
  app/soapbox/__fixtures__/notification-follow.json
  app/soapbox/__fixtures__/notification-follow_request.json
  app/soapbox/__fixtures__/notification-mention.json
  app/soapbox/__fixtures__/notification-move.json
  app/soapbox/__fixtures__/notification-pleroma-chat_mention.json
  app/soapbox/__fixtures__/notification-pleroma-emoji_reaction.json
  app/soapbox/__fixtures__/notification-poll.json
  app/soapbox/__fixtures__/notification-reblog.json
  app/soapbox/actions/settings.js
  app/soapbox/components/status.tsx
  app/soapbox/features/notifications/components/__tests__/notification.test.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/jest/test-helpers.tsx
  app/soapbox/reducers/__tests__/notifications-test.js
  app/soapbox/reducers/user_lists.js
Due: lint-js, jest

QuotedStatus: stopPropogation
  app/soapbox/features/status/components/quoted_status.tsx
Due: jest

Poll: fix squished radio buttons
  app/soapbox/components/poll.tsx
Due: jest

EditProfile: conditional features
  app/soapbox/features/edit_profile/index.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

Birthdays modal to TS
  app/soapbox/features/birthdays/account.tsx
  app/soapbox/features/ui/components/account_note_modal.js
  app/soapbox/features/ui/components/birthdays_modal.js
  app/soapbox/features/ui/components/birthdays_modal.tsx
Due: lint-js, jest

Add FUNDING.yml
  FUNDING.yml
Due: none

FUNDING.yml: add Liberapay
  FUNDING.yml
Due: none

Fix bugs with Account component
  app/soapbox/components/account.tsx
Due: jest

Improve Pending Status design
  app/soapbox/components/account.tsx
  app/soapbox/components/status_list.js
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/ui/components/pending_status.js
  app/styles/components/detailed-status.scss
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Normalize accounts in who-to-follow-panel.test.tsx
  app/soapbox/features/ui/components/__tests__/who-to-follow-panel.test.tsx
Due: jest

FUNDING.yml: fix custom link
  FUNDING.yml
Due: none

FUNDING.yml: link to actual docs
  FUNDING.yml
Due: none

Move FUNDING.yml to .github/FUNDING.yml
  .github/FUNDING.yml
Due: none

eslint: stop screaming about proptypes
  .eslintrc.js
Due: lint-js, jest

Notifications: use Virtuoso
  app/soapbox/features/chats/components/chat_list.tsx
  app/soapbox/features/notifications/index.js
Due: lint-js, jest

Widget: add actions
  app/soapbox/components/ui/widget/widget.tsx
  app/soapbox/features/crypto_donate/components/crypto_donate_panel.tsx
  app/soapbox/features/ui/components/who-to-follow-panel.tsx
Due: jest

Add BirthdayPanel
  app/soapbox/actions/accounts.js
  app/soapbox/components/account.tsx
  app/soapbox/components/birthday-panel.tsx
  app/soapbox/components/birthday_reminders.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/pages/home_page.js
Due: lint-js, jest

Remove BirthdayReminders component
  app/soapbox/components/birthday_reminders.js
  app/soapbox/features/notifications/index.js
Due: lint-js, jest

Widget: prevent circular imports
  app/soapbox/components/ui/widget/widget.tsx
Due: jest

Widget: fix action button in dark mode
  app/soapbox/components/ui/widget/widget.tsx
Due: jest

Account: normalize favicon and domain, clean up account.tsx
  app/soapbox/components/account.tsx
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.ts
Due: lint-js, jest

Redirect all /auth routes
  app/soapbox/actions/auth.js
  app/soapbox/actions/external_auth.js
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/containers/soapbox.js
  app/soapbox/features/auth_login/components/login_page.js
  app/soapbox/features/auth_login/components/logout.tsx
  app/soapbox/features/public_layout/index.js
  app/soapbox/features/security/mfa_form.js
  app/soapbox/features/settings/index.js
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/features/verification/waitlist_page.js
Due: lint-js, jest

ExternalLogin: convert to tsx
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/auth_login/components/logout.tsx
  app/soapbox/features/external_login/components/external-login-form.tsx
  app/soapbox/features/external_login/components/external_login_form.js
  app/soapbox/features/external_login/index.js
  app/soapbox/features/external_login/index.tsx
Due: lint-js, jest

LoginForm: convert to tsx
  app/soapbox/features/auth_login/components/login_form.tsx
Due: jest

LoginForm: "Email or username", fixes #895
  app/soapbox/features/auth_login/components/login_form.tsx
Due: jest

AuthLayout: convert to tsx
  app/soapbox/features/auth_layout/index.tsx
Due: jest

AuthLayout: use logo from soapboxConfig
  app/soapbox/features/auth_layout/index.tsx
  app/soapbox/features/ui/components/navbar.tsx
Due: jest

Delete WelcomeButton, remove TruthSocial remnants
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/ui/components/boost_modal.js
  app/soapbox/features/ui/components/welcome_button.js
Due: lint-js, jest

Refactor ErrorBoundary, let it destroy the ServiceWorker
  app/soapbox/components/error_boundary.tsx
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: jest

Replace react-lottie with lottie-web, move that giant Pulse animation into a chunk
  app/soapbox/components/lottie.tsx
  app/soapbox/features/public_layout/components/header.js
  app/soapbox/features/public_layout/components/pulse.tsx
  package.json
  yarn.lock
Due: lint-js, jest
