Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

bump icon size
  app/soapbox/components/sidebar-navigation-link.tsx
Due: lint-js, jest

Fix password reset feature detection
  app/soapbox/actions/security.js
Due: lint-js, jest

Display familiar followers on Mastodon
  app/soapbox/actions/familiar_followers.ts
  app/soapbox/components/status_reply_mentions.js
  app/soapbox/features/ui/components/birthdays_modal.tsx
  app/soapbox/features/ui/components/familiar_followers_modal.tsx
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/profile_familiar_followers.tsx
  app/soapbox/features/ui/components/profile_info_panel.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/pl.json
  app/soapbox/reducers/__tests__/user_lists-test.js
  app/soapbox/reducers/user_lists.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update Polish translation
  app/soapbox/locales/pl.json
Due: jest

Dasherize file name
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

Underline links
  app/soapbox/features/ui/components/profile_stats.tsx
Due: lint-js, jest

Remove statuses count from profile popper
  app/soapbox/features/ui/components/user_panel.js
Due: lint-js, jest

actions/soapbox: ensure we wait til the bitter end
  app/soapbox/actions/soapbox.js
Due: lint-js, jest

Use 'primary' background on link button
  app/soapbox/components/ui/button/useButtonStyles.ts
Due: lint-js, jest

Force authentication to see public content
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/auth_layout/index.tsx
  app/soapbox/features/auth_login/components/login_page.js
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/react_router_helpers.tsx
  app/soapbox/features/verification/registration.tsx
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/utils/redirect.ts
Due: lint-js, jest

SoapboxConfig: use new FileInput
  app/soapbox/components/ui/file-input/file-input.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

Tombstone: improve design
  app/soapbox/components/tombstone.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Mastodon nginx: fix CORS on /instance
  installation/mastodon.conf
Due: none

Fix redraft: don't set compose id
  app/soapbox/actions/compose.js
  app/soapbox/actions/statuses.js
  app/soapbox/reducers/compose.js
Due: lint-js, jest

Add test
  app/soapbox/reducers/__tests__/compose-test.js
Due: lint-js, jest

Add 'Remove from followers'
  app/soapbox/actions/accounts.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/reducers/relationships.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

Add 'install' step and cache it
  .gitlab-ci.yml
Due: none

Rename to dashes
  .gitlab-ci.yml
Due: none

Fix hotkey navigation?
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/status_list.js
  app/soapbox/features/conversations/components/conversations_list.js
  app/soapbox/features/notifications/index.js
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Improve design on deleting your account
  app/soapbox/features/settings/index.tsx
Due: lint-js, jest

Remove unused ColumnBackButton component
  app/soapbox/components/__tests__/column_back_button.test.js
  app/soapbox/components/column_back_button.js
  app/soapbox/features/chats/chat_room.js
Due: lint-js, jest

Convert 'AttachmentThumbs' to TSX
  app/soapbox/components/attachment-thumbs.tsx
  app/soapbox/components/attachment_thumbs.js
  app/soapbox/components/status.tsx
  app/soapbox/features/compose/components/reply_indicator.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status.js
  app/soapbox/features/status/components/quoted_status.tsx
  app/soapbox/features/ui/components/compare_history_modal.tsx
  app/soapbox/features/ui/components/modals/report-modal/report-modal.tsx
Due: lint-js, jest

Fix verified flag
  app/soapbox/features/edit_profile/components/profile-preview.tsx
Due: lint-js, jest

Revert "Merge branch 'search-results-tsx' into 'develop'"
  app/soapbox/features/compose/components/search_results.js
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/features/compose/containers/search_results_container.js
  app/soapbox/features/follow_recommendations/components/follow_recommendations_list.tsx
  app/soapbox/features/search/index.tsx
  app/soapbox/reducers/__tests__/search-test.js
  app/soapbox/reducers/__tests__/suggestions-test.js
  app/soapbox/reducers/__tests__/trends-test.js
  app/soapbox/reducers/search.js
  app/soapbox/reducers/suggestions.js
  app/soapbox/reducers/trending_statuses.js
  app/soapbox/reducers/trending_statuses.ts
  app/soapbox/reducers/trends.js
Due: lint-js, jest

Restyle hotkeys modal
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/ui/components/hotkeys_modal.tsx
  app/styles/application.scss
  app/styles/components/hotkeys-modal.scss
Due: lint-js, lint-sass, jest

Improve Trends test coverage
  app/soapbox/components/hashtag.tsx
  app/soapbox/features/ui/components/__tests__/trends-panel.test.tsx
Due: lint-js, jest

Improve Account test coverage
  app/soapbox/components/__tests__/account.test.tsx
  app/soapbox/components/verification_badge.tsx
Due: lint-js, jest

Update Polish translation
  app/soapbox/features/verification/steps/age-verification.js
  app/soapbox/locales/pl.json
Due: lint-js, jest

Make 'Switch accounts' string translatable
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/locales/pl.json
Due: lint-js, jest

Allow waitlisted users to verify their SMS
  app/soapbox/actions/verification.js
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/modals/verify-sms-modal.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/features/verification/steps/sms-verification.js
  app/soapbox/features/verification/waitlist_page.js
  app/soapbox/normalizers/notification.ts
Due: lint-js, jest

Don't import status from favourite
  app/soapbox/actions/interactions.js
Due: lint-js, jest

SoapboxMount: display a spinner while API requests are loading
  app/soapbox/components/ui/spinner/spinner.css
  app/soapbox/components/ui/spinner/spinner.tsx
  app/soapbox/containers/soapbox.tsx
Due: lint-js, lint-sass, jest

Support review apps
  .gitlab-ci.yml
Due: none

Do not show follow requests hotkey if not feature not available
  app/soapbox/features/ui/components/hotkeys_modal.tsx
Due: lint-js, jest

Change Polish strings for hotkeys modal
  app/soapbox/locales/pl.json
Due: jest

Convert import/export data to TypeScript, use FileInput component
  app/soapbox/actions/export_data.js
  app/soapbox/actions/export_data.ts
  app/soapbox/actions/import_data.ts
  app/soapbox/actions/snackbar.js
  app/soapbox/actions/snackbar.ts
  app/soapbox/components/ui/form/form.tsx
  app/soapbox/features/export_data/components/csv_exporter.js
  app/soapbox/features/export_data/components/csv_exporter.tsx
  app/soapbox/features/export_data/index.tsx
  app/soapbox/features/import_data/components/csv_importer.js
  app/soapbox/features/import_data/components/csv_importer.tsx
  app/soapbox/features/import_data/index.tsx
Due: lint-js, jest

Search styles on aliases page
  app/soapbox/features/aliases/components/search.tsx
Due: lint-js, jest

forms can't be disabled, actually
  app/soapbox/components/ui/form/form.tsx
  app/soapbox/features/import_data/components/csv_importer.tsx
Due: lint-js, jest
