Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Dashboard styles, typescript, add useAppDispatch
  app/soapbox/features/admin/components/latest_accounts_panel.js
  app/soapbox/features/admin/components/latest_accounts_panel.tsx
  app/soapbox/features/admin/index.js
  app/soapbox/features/admin/user_index.js
  app/soapbox/hooks/useAppDispatch.ts
  app/styles/components/admin.scss
  app/styles/components/wtf-panel.scss
Due: lint-js, lint-sass, jest

AccountContainer: use withDate
  app/soapbox/components/account.tsx
  app/soapbox/features/admin/components/latest_accounts_panel.tsx
Due: jest

AutosuggestInput dark styles
  app/soapbox/components/autosuggest_input.js
Due: lint-js, jest

dark mode
  app/styles/components/reply-mentions.scss
Due: lint-sass

Remote interaction modal styles
  app/soapbox/features/ui/components/unauthorized_modal.js
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Add more sizes to Stack
  app/soapbox/components/ui/stack/stack.tsx
Due: jest

Convert Registration component test to TSX
  app/soapbox/features/verification/__tests__/registration.test.tsx
Due: jest

Convert Registration component to TSX
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/verification/registration.tsx
Due: jest

Add 'transform' prop to Text
  app/soapbox/components/ui/text/text.tsx
Due: jest

Update Textarea type
  app/soapbox/components/ui/textarea/textarea.tsx
Due: jest

Add 'maxLength' prop to Input
  app/soapbox/components/ui/input/input.tsx
Due: jest

Add 'link' theme to Button
  app/soapbox/components/ui/button/useButtonStyles.ts
Due: jest

Onboarding: i18n
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/completed-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
Due: jest

Add Onboarding components
  app/soapbox/containers/soapbox.js
  app/soapbox/features/onboarding/onboarding-wizard.tsx
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/completed-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
  app/soapbox/features/verification/registration.tsx
  package.json
  yarn.lock
Due: lint-js, jest

Add 'strokeWidth' prop to Icon
  app/soapbox/components/ui/icon/icon.tsx
Due: jest

Add Onboarding controls to Redux
  app/soapbox/actions/__tests__/onboarding.test.ts
  app/soapbox/actions/onboarding.js
  app/soapbox/actions/onboarding.ts
  app/soapbox/jest/test-helpers.tsx
  app/soapbox/reducers/__tests__/onboarding.test.ts
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/onboarding.ts
Due: lint-js, jest

Onboarding: move TS-specific dialog to custom locale
  app/soapbox/features/onboarding/steps/completed-step.tsx
Due: jest

Remove old comment
  app/soapbox/containers/soapbox.js
Due: lint-js, jest

Skip onboarding if waitlisted
  app/soapbox/containers/soapbox.js
Due: lint-js, jest

typescript
  app/soapbox/reducers/account_notes.ts
Due: jest

typescript, FC
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/admin/components/latest_accounts_panel.tsx
  app/soapbox/features/delete_account/index.tsx
  app/soapbox/features/developers/developers_challenge.js
  app/soapbox/features/developers/developers_challenge.tsx
  app/soapbox/features/developers/developers_menu.tsx
  app/soapbox/features/developers/index.js
  app/soapbox/features/developers/index.tsx
  app/soapbox/hooks/index.ts
Due: lint-js, jest

Nuke FeaturesPanel, add "More" menu to left sidebar
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/sidebar-navigation-link.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/features/ui/components/features_panel.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/pages/remote_instance_page.js
Due: lint-js, jest

Add meta tag for iOS banner
  app/soapbox/containers/soapbox.js
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: lint-js, jest

Add a TestTimeline for previewing certain types of posts
  app/soapbox/__fixtures__/pleroma-status-vertical-video-without-metadata.json
  app/soapbox/features/developers/developers_menu.js
  app/soapbox/features/test_timeline/index.tsx
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Remove Preheader files
  app/soapbox/features/public_layout/components/pre_header.js
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Support 'status' notification type
  app/soapbox/actions/notifications.js
  app/soapbox/features/notifications/components/filter_bar.js
  app/soapbox/features/notifications/components/notification.js
  app/soapbox/locales/pl.json
  app/soapbox/reducers/notifications.js
Due: lint-js, jest

dark
  app/soapbox/features/ui/components/actions_modal.js
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Webpack: add DeadCodePlugin to detect unused files
  package.json
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

Fix video letterboxing
  app/soapbox/features/video/index.js
  app/styles/components/video-player.scss
Due: lint-js, lint-sass, jest

Fix letterboxed image background
  app/styles/components/media-gallery.scss
Due: lint-sass

AutosuggestTextarea: fix expand animation
  app/soapbox/components/autosuggest_textarea.js
Due: lint-js, jest

Add Virtuoso
  package.json
  yarn.lock
Due: jest

ChatList: use Virtuoso
  app/soapbox/actions/chats.js
  app/soapbox/features/chats/components/chat_list.tsx
  app/soapbox/features/chats/index.tsx
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

StatusContent: typescript, React.FC
  app/soapbox/components/status_content.js
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

StatusContent: break out ReadMoreButton and SpoilerButton into FC's
  app/soapbox/components/status_content.tsx
Due: jest

StatusContent: refactor updateStatusLinks, remove reblogContent prop
  app/soapbox/components/status.tsx
  app/soapbox/components/status_content.tsx
Due: jest

actions/security: conditionally use truthsocial password reset endpoint
  app/soapbox/actions/security.js
Due: lint-js, jest

actions/security: fix parseVersion import
  app/soapbox/actions/security.js
Due: lint-js, jest

Restore ProfileMediaPanel, convert to TSX+FC
  app/soapbox/features/ui/components/profile_media_panel.js
  app/soapbox/features/ui/components/profile_media_panel.tsx
  app/soapbox/pages/profile_page.js
  app/styles/components/profile-media-panel.scss
Due: lint-js, lint-sass, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
