Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Halloween: css fixes
  app/styles/holiday/halloween.scss
Due: lint-sass

Fix remote follow button for remote accounts
  app/soapbox/features/ui/components/action_button.js
Due: lint-js, jest

Badge: border-radius to 5px
  app/styles/components/badge.scss
Due: lint-sass

Status: improve "pinned" icon
  app/soapbox/components/status.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Fix typo in Polish translation
  app/soapbox/locales/pl.json
Due: jest

[CH] Rename soapbox to mangane (#6)
  README.md
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/ui/components/link_footer.js
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
  package.json
Due: lint-js, jest

Passage en layout deux colonnes, agrandissement du chat (#7)
  app/soapbox/pages/home_page.js
  app/styles/chats.scss
  app/styles/components/user-panel.scss
Due: lint-js, lint-sass, jest

Bump 1.3.2, updated changelog
  CHANGELOG.md
  app/soapbox/locales/defaultMessages.json
Due: jest

VERIFY_CREDENTIALS_FAIL: skipAlert
  app/soapbox/actions/auth.js
Due: lint-js, jest

v2 Media API: poll attachments for completion https://github.com/mastodon/mastodon/pull/13210
  app/soapbox/actions/compose.js
  app/soapbox/actions/media.js
Due: lint-js, jest

v2 Media API: disable for Pleroma (use v1)
  app/soapbox/utils/features.js
Due: lint-js, jest

Compose: preliminary toast upon submission
  app/soapbox/actions/compose.js
  app/soapbox/actions/snackbar.js
  app/styles/components/snackbar.scss
Due: lint-js, lint-sass, jest

ComposeForm: load it differently so the SVG icons are already loaded when it expands
  app/soapbox/features/compose/components/compose_form.js
  app/styles/components/compose-form.scss
Due: lint-js, lint-sass, jest

SubNavigation: switch out arrow icon, enlarge it
  app/soapbox/components/sub_navigation.js
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

AccountHeader: make avatar transition less dramatic
  app/soapbox/features/account/components/header.js
  app/styles/components/account-header.scss
Due: lint-js, lint-sass, jest

AccountTimeline: add SubNavigation
  app/soapbox/components/sub_navigation.js
  app/soapbox/features/account_timeline/components/column_settings.js
  app/soapbox/features/account_timeline/index.js
  app/styles/components/account-header.scss
  app/styles/components/columns.scss
  app/styles/components/tabs-bar.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

AccountTimeline: don't display column settings for now
  app/soapbox/features/account_timeline/index.js
Due: lint-js, jest

TabsBar: add notifications back for desktop UI
  app/soapbox/features/ui/components/tabs_bar.js
  app/styles/components/icon.scss
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

TabsBar: properly center icon links
  app/styles/components/tabs-bar.scss
Due: lint-sass

Compose: switch to regular snackbar.success
  app/soapbox/actions/compose.js
Due: lint-js, jest

TabsBar: display counters only on profile pages where they're needed
  app/soapbox/features/ui/components/tabs_bar.js
Due: lint-js, jest

Notifications: skip importing notifications with a null status
  app/soapbox/reducers/notifications.js
Due: lint-js, jest

Placeholder: fix gradients in iOS
  app/styles/placeholder.scss
Due: lint-sass

Placeholder: use a better gradient fade on mobile
  app/styles/placeholder.scss
Due: lint-sass

localforage: add localforage, remember a fetched instance
  app/soapbox/actions/instance.js
  app/soapbox/containers/soapbox.js
  app/soapbox/main.js
  app/soapbox/reducers/instance.js
  package.json
  yarn.lock
Due: lint-js, jest

localforage: create custom KVStore instance, refactor Instance actions
  app/soapbox/actions/instance.js
  app/soapbox/main.js
  app/soapbox/reducers/auth.js
  app/soapbox/reducers/instance.js
  app/soapbox/storage/kv_store.js
Due: lint-js, jest

localforage: remember auth accounts
  app/soapbox/actions/auth.js
  app/soapbox/actions/instance.js
  app/soapbox/actions/me.js
  app/soapbox/middleware/errors.js
  app/soapbox/reducers/accounts_meta.js
  app/soapbox/reducers/me.js
Due: lint-js, jest

Streaming: fail gracefully when WebSocket construction fails (mainly for Bromite browser)
  app/soapbox/stream.js
Due: lint-js, jest

ServiceWorker: do serve index.html from the ServiceWorker after all, add appShell option
  webpack/production.js
Due: lint-js, jest

errorsMiddleware: only alert when the error has a response (eg not when offline)
  app/soapbox/middleware/errors.js
Due: lint-js, jest

Always check error.response before error.response.status
  app/soapbox/actions/external_auth.js
  app/soapbox/reducers/auth.js
  app/soapbox/reducers/instance.js
  app/soapbox/reducers/me.js
Due: lint-js, jest

MediaGallery: fix float when compact
  app/styles/components/media-gallery.scss
Due: lint-sass

ServiceWorker: don't redirect API routes with appShell
  webpack/production.js
Due: lint-js, jest

ServiceWorker: add /instance to backendRoutes
  webpack/production.js
Due: lint-js, jest

ServiceWorker: clean up entry.js and web_push_notifications.js
  app/images/web-push/web-push-icon_expand.png
  app/images/web-push/web-push-icon_favourite.png
  app/images/web-push/web-push-icon_reblog.png
  app/soapbox/service_worker/entry.js
  app/soapbox/service_worker/web_push_notifications.js
  webpack/production.js
Due: lint-js, jest

Push notifications: refactor, restore
  app/soapbox/actions/push_notifications/registerer.js
  app/soapbox/actions/push_subscriptions.js
  app/soapbox/features/ui/index.js
  app/soapbox/main.js
Due: lint-js, jest

Push notifications: switch to serviceWorkerRegistration.showNotification()
  app/soapbox/actions/notifications.js
Due: lint-js, jest

Push notifications: take to Notifications on click
  app/soapbox/actions/notifications.js
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
