Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

refactor: use adoptedStyleSheets if available (#433)
  app/soapbox/components/inline-style.tsx
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/soapbox_config/components/site-preview.tsx
Due: lint-js, jest

feat: improve spanish translation (#435)
  app/soapbox/locales/es.json
Due: jest

fix: remove weird feature flag to remove remote follower (#444)
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

fix: bottom bar is too thick on Ios (#441)
  app/soapbox/components/thumb_navigation.tsx
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

chore: address conflicts
  .husky/commit-msg
  app/soapbox/features/compose/components/compose_form.js
Due: lint-js, jest

feat: remove deprecated chats handling from basecode
  app/soapbox/actions/chats.ts
  app/soapbox/components/helmet.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/chats/chat-room.tsx
  app/soapbox/features/chats/components/audio-toggle.tsx
  app/soapbox/features/chats/components/chat-box.tsx
  app/soapbox/features/chats/components/chat-list.tsx
  app/soapbox/features/chats/components/chat-message-list.tsx
  app/soapbox/features/chats/components/chat-panes.tsx
  app/soapbox/features/chats/components/chat-window.tsx
  app/soapbox/features/chats/components/chat.tsx
  app/soapbox/features/chats/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/reducers/accounts.ts
  app/soapbox/reducers/chat_message_lists.ts
  app/soapbox/reducers/chat_messages.ts
  app/soapbox/reducers/chats.ts
  app/soapbox/reducers/index.ts
Due: lint-js, jest

feat: rework conversations ui
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/actions/compose.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/conversations/components/conversation.tsx
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/conversations/index.tsx
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

chore: wip
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/features/conversations/index.tsx
  app/soapbox/features/direct_timeline/index.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

chore: ok
  app/soapbox/actions/compose.ts
Due: lint-js, jest

refactor: remove unused code
  app/soapbox/actions/timelines.ts
  app/soapbox/features/ui/index.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

fix: opening post with spoilers while focus on spoilers answer zone (#440)
  .husky/commit-msg
  CHANGELOG.md
  app/soapbox/features/compose/components/compose_form.js
  package.json
Due: lint-js, jest

feat: remove deprecated chats handling from basecode (#442)
  app/soapbox/actions/chats.ts
  app/soapbox/components/helmet.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/chats/chat-room.tsx
  app/soapbox/features/chats/components/audio-toggle.tsx
  app/soapbox/features/chats/components/chat-box.tsx
  app/soapbox/features/chats/components/chat-list.tsx
  app/soapbox/features/chats/components/chat-message-list.tsx
  app/soapbox/features/chats/components/chat-panes.tsx
  app/soapbox/features/chats/components/chat-window.tsx
  app/soapbox/features/chats/components/chat.tsx
  app/soapbox/features/chats/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/reducers/accounts.ts
  app/soapbox/reducers/chat_message_lists.ts
  app/soapbox/reducers/chat_messages.ts
  app/soapbox/reducers/chats.ts
  app/soapbox/reducers/index.ts
Due: lint-js, jest

feat: rework conversations ui (#443)
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/actions/compose.ts
  app/soapbox/actions/timelines.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/conversations/components/conversation.tsx
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/conversations/index.tsx
  app/soapbox/features/direct_timeline/index.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
  app/soapbox/utils/features.ts
Due: lint-js, jest

chore(release): 1.18.9
  CHANGELOG.md
  package.json
Due: jest

fix: opening post with spoilers while focus on spoilers answer zone (#440)
  .husky/commit-msg
  app/soapbox/features/compose/components/compose_form.js
Due: lint-js, jest

chore(release): 1.19.0
  CHANGELOG.md
  package.json
Due: jest

fix: crashs after updates on profile and conversations
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/conversations/components/conversation.tsx
Due: lint-js, jest

chore(release): 1.19.1
  CHANGELOG.md
  package.json
Due: jest

fix: move snack to the top
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/ui/containers/notifications_container.tsx
Due: lint-js, jest

refactor: add some useMemo and useCallbacks to timelines
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/features/ui/components/timeline.tsx
Due: lint-js, jest

fix: replace br with space instead of nothing, always rounded corners
  app/soapbox/features/conversations/components/conversation.tsx
Due: lint-js, jest

fix: language selection dropdown goes under post media
  app/soapbox/features/compose/components/language_dropdown.tsx
Due: lint-js, jest

fix: language selection dropdown goes under post media (#448)
  app/soapbox/features/compose/components/language_dropdown.tsx
Due: lint-js, jest

fix: move snack to the top (#445)
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/ui/containers/notifications_container.tsx
Due: lint-js, jest

chore(release): 1.19.2
  CHANGELOG.md
  package.json
Due: jest

fix: replace br with space instead of nothing, always rounded corners (#447)
  app/soapbox/features/conversations/components/conversation.tsx
Due: lint-js, jest

chore(release): 1.19.3
  CHANGELOG.md
  package.json
Due: jest

chore: wip
  app/soapbox/actions/timelines.ts
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/features/ui/components/timeline.tsx
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
