Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

FilterBar: handle resize
  app/soapbox/components/filter_bar.js
Due: lint-js, jest

FilterBar: conditional animation
  app/styles/ui.scss
Due: lint-sass

FilterBar: Do not trap Tab, Home/End keys
  app/soapbox/components/filter_bar.js
Due: lint-js, jest

Fix chat compose box on mobile devices
  app/styles/chats.scss
Due: lint-sass

Replace link to /reblogs, require authentication
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/status/components/status_interaction_bar.js
  app/soapbox/features/ui/components/unauthorized_modal.js
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

Add Home timeline filters to Preferences
  app/soapbox/features/preferences/index.js
Due: lint-js, jest

fix broken modals
  app/soapbox/actions/modal.js
  app/soapbox/components/modal_root.js
  app/soapbox/features/ui/components/favourites_modal.js
  app/soapbox/features/ui/components/mentions_modal.js
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/reactions_modal.js
  app/soapbox/features/ui/components/reblogs_modal.js
  app/soapbox/features/ui/containers/modal_container.js
  app/soapbox/reducers/__tests__/modal-test.js
  app/soapbox/reducers/modal.js
Due: lint-js, jest

Refactor MFA setup, fixes #792
  app/soapbox/actions/mfa.js
  app/soapbox/actions/settings.js
  app/soapbox/features/security/index.js
  app/soapbox/features/security/mfa_form.js
  app/soapbox/reducers/security.js
  app/styles/components/mfa_form.scss
Due: lint-js, lint-sass, jest

Developers: add ability to edit raw settings JSON
  app/soapbox/actions/settings.js
  app/soapbox/features/developers/index.js
  app/soapbox/features/developers/settings_store.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/reducers/settings.js
Due: lint-js, jest

Fix: Mentions modal doesn't fetch accounts
  app/soapbox/features/ui/components/mentions_modal.js
Due: lint-js, jest

Gate developers pages from non-developers
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/react_router_helpers.js
Due: lint-js, jest

Fix hashtag placeholder style
  app/styles/placeholder.scss
Due: lint-sass

Replying-to: fix order of mentions
  app/soapbox/__fixtures__/status-unordered-mentions.json
  app/soapbox/reducers/__tests__/statuses-test.js
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

Developers: add challenge to become a developer
  app/soapbox/features/developers/developers_challenge.js
  app/soapbox/features/developers/developers_menu.js
  app/soapbox/features/developers/index.js
  app/soapbox/features/preferences/index.js
  app/soapbox/features/ui/index.js
  app/styles/application.scss
  app/styles/developers.scss
Due: lint-js, lint-sass, jest

Developers: add "Leave developers" button
  app/soapbox/features/developers/developers_menu.js
Due: lint-js, jest

Only show scheduled status media attachments if there are any
  app/soapbox/features/scheduled_statuses/components/scheduled_status.js
Due: lint-js, jest

Ask for confirmation before canceling scheduled post
  app/soapbox/containers/status_container.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status_action_bar.js
  app/soapbox/locales/pl.json
Due: lint-js, jest

Do not insert pending statuses for scheduled statuses
  app/soapbox/reducers/timelines.js
Due: lint-js, jest

change icon for confirmation modal
  app/soapbox/features/scheduled_statuses/components/scheduled_status_action_bar.js
Due: lint-js, jest

FilterBar: remove handleKeyDown
  app/soapbox/components/filter_bar.js
Due: lint-js, jest

FilterBar: or actually implement it properly
  app/soapbox/components/filter_bar.js
Due: lint-js, jest

Fix hotkeys modal 'link'
  app/soapbox/features/ui/components/link_footer.js
Due: lint-js, jest

Settings: allow immediately saving a changed setting, fixes #800
  app/soapbox/actions/settings.js
  app/soapbox/features/developers/developers_challenge.js
  app/soapbox/features/developers/developers_menu.js
  app/soapbox/globals.js
Due: lint-js, jest

DevelopersChallenge: 'fizz|buzz' --> 'soap|box'
  app/soapbox/features/developers/developers_challenge.js
Due: lint-js, jest

LoadingSpinner: fix two warnings
  app/soapbox/components/loading_spinner.js
Due: lint-js, jest

LoginPage: fix crash
  app/soapbox/features/auth_login/components/login_page.js
Due: lint-js, jest

Fix empty media gallery (account page) style
  app/styles/accounts.scss
Due: lint-sass

Update de.json 120122
  app/soapbox/locales/de.json
Due: jest

i18n: de.json restore "Oops!"
  app/soapbox/locales/de.json
Due: jest

MFA login: be less sensitive about the error response
  app/soapbox/features/auth_login/components/otp_auth_form.js
Due: lint-js, jest

User endorsements
  app/soapbox/actions/accounts.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/ui/components/pinned_accounts_panel.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/locales/pl.json
  app/soapbox/pages/profile_page.js
  app/soapbox/reducers/__tests__/user_lists-test.js
  app/soapbox/reducers/user_lists.js
  app/soapbox/utils/features.js
  app/styles/components/wtf-panel.scss
Due: lint-js, lint-sass, jest

MFA: setupMfa/confirmMfa, throw errors to component, don't be optimistic
  app/soapbox/actions/mfa.js
  app/soapbox/features/security/mfa_form.js
  app/soapbox/reducers/security.js
Due: lint-js, jest

MfaForm: improve styles and usability
  app/soapbox/components/button.js
  app/soapbox/features/security/mfa_form.js
  app/soapbox/locales/en.json
  app/styles/components/mfa_form.scss
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

MFA: pass scopes to MFA challenge
  app/soapbox/actions/auth.js
Due: lint-js, jest

PinnedAccounts: add icon
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

Add "Replying to ..." to pending statuses
  app/soapbox/features/ui/components/pending_status.js
  app/soapbox/features/ui/util/pending_status_builder.js
Due: lint-js, jest
