Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Create AutosuggestAccountInput component, display it in DirectTimeline (WIP)
  app/soapbox/actions/compose.js
  app/soapbox/components/autosuggest_account_input.js
  app/soapbox/features/direct_timeline/index.js
Due: lint-js, jest

AutosuggestAccountInput: prevent race condition by cancelling pending requests
  app/soapbox/actions/accounts.js
  app/soapbox/components/autosuggest_account_input.js
Due: lint-js, jest

AutosuggestAccountInput: configurable limit prop
  app/soapbox/components/autosuggest_account_input.js
Due: lint-js, jest

AutosuggestInput: refactor CSS, fix hotkeys
  app/soapbox/components/autosuggest_input.js
  app/styles/application.scss
  app/styles/autosuggest.scss
  app/styles/components/compose-form.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Create AccountSearch component to do more than AutosuggestAccountInput
  app/soapbox/components/account_search.js
  app/soapbox/components/autosuggest_account_input.js
  app/soapbox/features/direct_timeline/index.js
  app/styles/components/search.scss
Due: lint-js, lint-sass, jest

DisplayName: add `key` in rendered list
  app/soapbox/components/display_name.js
Due: lint-js, jest

Conversations: add account search
  app/soapbox/features/conversations/index.js
Due: lint-js, jest

Chats: add account search
  app/soapbox/actions/chats.js
  app/soapbox/containers/status_container.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/chats/components/chat_panes.js
  app/soapbox/features/chats/index.js
  app/soapbox/features/status/containers/detailed_status_container.js
  app/soapbox/features/status/index.js
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

Direct/Conversations: improve search placeholder text
  app/soapbox/features/conversations/index.js
  app/soapbox/features/direct_timeline/index.js
Due: lint-js, jest

AutosuggestInput: fix autofocus
  app/soapbox/components/autosuggest_input.js
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/poll_form.js
Due: lint-js, jest

Search: autofocus
  app/soapbox/features/compose/components/search.js
  app/soapbox/features/search/index.js
Due: lint-js, jest

SubNavigation: render tab title depending on message
  app/soapbox/components/sub_navigation.js
Due: lint-js, jest

Delete ColumnBackButtonSlim, fix runtime warnings
  app/soapbox/components/__tests__/column_back_button_slim-test.js
  app/soapbox/components/column_back_button_slim.js
  app/soapbox/components/sub_navigation.js
  app/soapbox/features/admin/awaiting_approval.js
  app/soapbox/features/admin/index.js
  app/soapbox/features/admin/moderation_log.js
  app/soapbox/features/aliases/index.js
  app/soapbox/features/blocks/index.js
  app/soapbox/features/crypto_donate/index.js
  app/soapbox/features/domain_blocks/index.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/export_data/index.js
  app/soapbox/features/federation_restrictions/index.js
  app/soapbox/features/filters/index.js
  app/soapbox/features/follow_requests/index.js
  app/soapbox/features/import_data/index.js
  app/soapbox/features/lists/index.js
  app/soapbox/features/mutes/index.js
  app/soapbox/features/preferences/index.js
  app/soapbox/features/scheduled_statuses/index.js
  app/soapbox/features/security/index.js
  app/soapbox/features/security/mfa_form.js
  app/soapbox/features/server_info/index.js
  app/soapbox/features/soapbox_config/index.js
  app/soapbox/features/ui/components/profile_info_panel.js
Due: lint-js, jest

jest: remove unused snapshot
  app/soapbox/components/__tests__/__snapshots__/column_back_button_slim-test.js.snap
Due: jest

Swap out a few more icons for svg icons
  app/soapbox/features/status/components/detailed_status.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/styles/components/detailed-status.scss
  app/styles/components/profile-info-panel.scss
Due: lint-js, lint-sass, jest

Update ca.json
  app/soapbox/locales/ca.json
Due: jest

Snackbar: display above ThumbNavigation on mobile
  app/styles/components/snackbar.scss
Due: lint-sass

AccountHeader: make profile share button work
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

ThumbNavigation: display labels
  app/styles/navigation.scss
Due: lint-sass

ThumbNavigation: fix truncated notification counter
  app/styles/navigation.scss
Due: lint-sass

Search: display WhoToFollowPanel if supported
  app/soapbox/features/compose/components/search_results.js
  app/soapbox/features/compose/containers/search_results_container.js
  app/styles/components/search.scss
  app/styles/components/wtf-panel.scss
Due: lint-js, lint-sass, jest

ThumbNavigation: improve styles
  app/styles/navigation.scss
Due: lint-sass

Display Slack-like favicon unread badge (yoinked from Pleroma FE)
  app/soapbox/components/helmet.js
  app/soapbox/main.js
  app/soapbox/utils/favicon_service.js
Due: lint-js, jest

Favicon unread badge: improve behavior & style
  app/soapbox/components/helmet.js
  app/soapbox/main.js
  app/soapbox/utils/favicon_service.js
Due: lint-js, jest

Make thumb nav look ok-ish with Polish language
  app/soapbox/components/thumb_navigation.js
  app/soapbox/locales/pl.json
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Share: support title and url params
  app/soapbox/actions/compose.js
  app/soapbox/features/share/index.js
Due: lint-js, jest

Handle /statuses/new route instead of just redirecting
  app/soapbox/features/new_status/index.js
  app/soapbox/features/share/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Favicon badge: clear on pageload
  app/soapbox/components/helmet.js
Due: lint-js, jest

Add `autoloadTimelines` user setting to configure timeline loading behavior
  app/soapbox/actions/settings.js
  app/soapbox/components/timeline_queue_button_header.js
  app/soapbox/features/preferences/index.js
Due: lint-js, jest

Local timeline: restore column settings
  app/soapbox/components/sub_navigation.js
  app/soapbox/features/community_timeline/components/column_settings.js
  app/soapbox/features/community_timeline/index.js
  app/soapbox/features/ui/components/component_modal.js
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/util/async-components.js
  app/styles/components/columns.scss
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Federated timeline: restore column settings
  app/soapbox/features/public_timeline/components/column_settings.js
  app/soapbox/features/public_timeline/index.js
Due: lint-js, jest

Fix Fediverse timeline settings title
  app/soapbox/features/public_timeline/components/column_settings.js
  app/soapbox/features/public_timeline/index.js
Due: lint-js, jest

EmojiReacts: consistent hover behavior, isUserTouching()
  app/soapbox/components/status_action_bar.js
Due: lint-js, jest

MediaGallery: only display eye icon when marked as sensitive
  app/soapbox/components/media_gallery.js
  app/soapbox/features/video/index.js
Due: lint-js, jest

SubNavigation: add a11y titles
  app/soapbox/components/sub_navigation.js
Due: lint-js, jest

Notifications: add back column settings
  app/soapbox/features/notifications/components/column_settings.js
  app/soapbox/features/notifications/index.js
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

Prepare Home ColumnSettings
  app/soapbox/features/home_timeline/components/column_settings.js
Due: lint-js, jest

Add scrolling SubNavigation to Home and Account timelines
  app/soapbox/components/sub_navigation.js
  app/soapbox/features/account_timeline/components/column_settings.js
  app/soapbox/features/account_timeline/index.js
  app/soapbox/features/home_timeline/index.js
  app/styles/components/account-header.scss
  app/styles/components/columns.scss
  app/styles/components/timeline-queue-header.scss
  app/styles/components/wtf-panel.scss
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Revert "Add scrolling SubNavigation to Home and Account timelines"
  app/soapbox/components/sub_navigation.js
  app/soapbox/features/account_timeline/components/column_settings.js
  app/soapbox/features/account_timeline/index.js
  app/soapbox/features/home_timeline/index.js
  app/styles/components/account-header.scss
  app/styles/components/columns.scss
  app/styles/components/timeline-queue-header.scss
  app/styles/components/wtf-panel.scss
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Demetricator: hide follower/following stats
  app/styles/demetricator.scss
Due: lint-sass

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
