Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

[FIX] Fix wrong default privacy after first compose modal (#229)
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

[FIX] Fix Quoted status CW not being forwarded nor hidden (#230)
  app/soapbox/components/status.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/compose_form_container.js
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

bump version
  package.json
Due: jest

[FIX] refacto + privacy indicator on detailed status
  app/soapbox/components/status.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

[FIX] privacy icon visible only when translation
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

[FIX] Bug on default privacy when set to local
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Start to fix filters
  app/soapbox/features/filters/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/selectors/index.ts
  app/styles/components/filters.scss
Due: lint-js, lint-sass, jest

List ok
  app/soapbox/actions/notifications.ts
  app/soapbox/features/filters/index.tsx
  app/styles/components/filters.scss
Due: lint-js, lint-sass, jest

Update README.md
  README.md
Due: none

WIP filters
  app/soapbox/components/status.tsx
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

Expose backups again
  CHANGELOG.md
  app/soapbox/features/backups/index.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/utils/features.ts
  app/styles/components/backups.scss
Due: lint-js, lint-sass, jest

Move "Import data" under settings
  CHANGELOG.md
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/components/link_footer.tsx
Due: lint-js, jest

Fix translation for french
  app/soapbox/locales/fr.json
  app/styles/application.scss
Due: lint-sass, jest

Add customization doc
  docs/customization.md
Due: docs-deploy

Fix translation
  app/soapbox/locales/fr.json
Due: jest

New filter + CW ui
  app/soapbox/actions/filters.ts
  app/soapbox/actions/importer/index.ts
  app/soapbox/components/status.tsx
  app/soapbox/components/status_content.tsx
  app/soapbox/locales/fr.json
  app/soapbox/reducers/statuses.ts
  app/soapbox/selectors/index.ts
Due: lint-js, jest

Better backup ui + make available on akkoma
  app/soapbox/features/backups/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/utils/features.ts
Due: lint-js, jest

Refacto status
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

Fix collapse
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/status_content.tsx
  app/soapbox/components/ui/button/button.tsx
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Add media attachment counter + hide media on detailed status too
  app/soapbox/components/status_content.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

Apply filters when they are just retrieved
  app/soapbox/actions/filters.ts
  app/soapbox/actions/statuses.ts
  app/soapbox/reducers/statuses.ts
Due: lint-js, jest

Fix error on filter delete
  app/soapbox/features/filters/index.tsx
Due: lint-js, jest

Fix status overflow column
  app/soapbox/components/account.tsx
  app/soapbox/components/status.tsx
Due: lint-js, jest

Fix atoms on tag
  app/soapbox/components/announcements/announcement-content.tsx
  app/soapbox/components/hashtag.tsx
  app/soapbox/components/status_content.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Change error icon to avoid close confusion
  app/styles/components/snackbar.scss
Due: lint-sass

Add store for tags
  app/soapbox/actions/tags.ts
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/tags.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Hashtag timeline to typescript
  app/soapbox/features/hashtag_timeline/index.js
  app/soapbox/features/hashtag_timeline/index.tsx
Due: lint-js, jest

Add button
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/hashtag_timeline/index.tsx
Due: lint-js, jest

Working button
  app/soapbox/actions/tags.ts
  app/soapbox/features/hashtag_timeline/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/reducers/tags.ts
Due: lint-js, jest

Iterate throught pages
  app/soapbox/actions/tags.ts
  app/soapbox/reducers/tags.ts
Due: lint-js, jest

Manage loading
  app/soapbox/features/hashtag_timeline/index.tsx
  app/soapbox/reducers/tags.ts
Due: lint-js, jest

Followed hashtag view wip
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

WIP page and links
  .vscode/settings.json
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

Page ok
  app/soapbox/features/followed_tags/index.tsx
Due: lint-js, jest

Follow hashtag ok
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/features/followed_tags/index.tsx
Due: lint-js, jest
