Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

GitLab CI: install-dependencies --> deps, simplify
  .gitlab-ci.yml
Due: none

GitLab CI: move build-production to test step
  .gitlab-ci.yml
Due: none

GitLab CI: allow failure on review job
  .gitlab-ci.yml
Due: none

Add outline in some places
  app/soapbox/components/account.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/menu/menu.css
  app/soapbox/components/ui/tabs/tabs.css
  app/styles/components/dropdown-menu.scss
Due: lint-js, lint-sass, jest

Add Bug issue template
  .gitlab/issue_templates/Bug.md
Due: none

GitLab CI: only run deps if yarn.lock changes
  .gitlab-ci.yml
Due: none

Convert blocks action to TypeScript
  app/soapbox/__fixtures__/blocks.json
  app/soapbox/__mocks__/api.ts
  app/soapbox/actions/__tests__/blocks.test.ts
  app/soapbox/actions/blocks.js
  app/soapbox/actions/blocks.ts
Due: lint-js, jest

Convert ServiceWorker to TypeScript
  app/soapbox/service_worker/entry.ts
  app/soapbox/service_worker/web_push_notifications.ts
  tsconfig.json
  webpack/production.js
Due: lint-js, jest

ServiceWorker: add jsdoc comments
  app/soapbox/service_worker/web_push_notifications.ts
Due: lint-js, jest

ServiceWorker: alphabetize type definitions
  app/soapbox/service_worker/web_push_notifications.ts
Due: lint-js, jest

Improve Quote Status visuals
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/status/components/quoted_status.tsx
Due: lint-js, jest

ServiceWorker: add missing jsdoc comment to expandNotification
  app/soapbox/service_worker/web_push_notifications.ts
Due: lint-js, jest

Jest: fix ServiceWorker filename in collectCoverageFrom
  jest.config.js
Due: lint-js, jest

Add coverage definition
  .gitlab-ci.yml
Due: none

Add covertura report location
  .gitlab-ci.yml
  jest.config.js
Due: lint-js, jest

Remove artifacts
  .gitlab-ci.yml
Due: none

Add back other reporters
  jest.config.js
Due: lint-js, jest

Fix hotkey navigation in threads
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Convert about action to TypeScript
  app/soapbox/actions/__tests__/about.test.ts
  app/soapbox/actions/about.js
  app/soapbox/actions/about.ts
Due: lint-js, jest

Use BirthdayInput on Edit profile page
  app/soapbox/components/birthday_input.tsx
  app/soapbox/features/auth_login/components/registration_form.tsx
  app/soapbox/features/edit_profile/index.tsx
Due: lint-js, jest

Add tests for account-notes action
  app/soapbox/actions/__tests__/account-notes.test.ts
  app/soapbox/actions/account-notes.ts
  app/soapbox/actions/account_notes.js
  app/soapbox/actions/modals.ts
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/ui/components/account_note_modal.js
  app/soapbox/reducers/account_notes.ts
  app/soapbox/reducers/relationships.js
Due: lint-js, jest

Add tests for alerts action
  app/soapbox/actions/__tests__/alerts.test.ts
  app/soapbox/actions/alerts.js
  app/soapbox/actions/alerts.ts
  app/soapbox/actions/snackbar.ts
Due: lint-js, jest

Chats: fix unread counter
  app/soapbox/features/chats/components/chat_panes.js
  app/soapbox/features/chats/components/chat_window.js
Due: lint-js, jest

Chats: fix audio toggle styles
  app/styles/chats.scss
Due: lint-sass

Improve very long title on homepage
  app/soapbox/features/landing_page/index.tsx
Due: lint-js, jest

Upgrade to React 17
  package.json
  yarn.lock
Due: jest

TS, FC
  app/soapbox/features/auth_login/components/otp_auth_form.js
  app/soapbox/features/auth_login/components/otp_auth_form.tsx
  app/soapbox/features/auth_login/components/password_reset.js
  app/soapbox/features/auth_login/components/password_reset.tsx
  app/soapbox/features/new_status/index.js
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/remote_timeline/components/pinned_hosts_picker.tsx
  app/soapbox/features/reply_mentions/account.js
  app/soapbox/features/reply_mentions/account.tsx
  app/soapbox/features/server_info/index.js
  app/soapbox/features/server_info/index.tsx
  app/soapbox/features/settings/media_display.tsx
  app/soapbox/features/share/index.js
  app/soapbox/features/share/index.tsx
  app/soapbox/features/soapbox_config/components/site-preview.tsx
  app/soapbox/features/ui/components/reply_mentions_modal.tsx
  app/soapbox/features/verification/email_passthru.tsx
  app/soapbox/features/verification/waitlist_page.tsx
Due: lint-js, jest

Update de.json Ergänzungen III
  app/soapbox/locales/de.json
Due: jest

Fix: Change scope button no longer works
  app/soapbox/features/compose/components/privacy_dropdown.js
Due: lint-js, jest

TypeScript, FC
  app/soapbox/components/radio_button.tsx
  app/soapbox/features/admin/components/latest_accounts_panel.tsx
  app/soapbox/features/conversations/components/conversation.js
  app/soapbox/features/conversations/components/conversation.tsx
  app/soapbox/features/conversations/components/conversations_list.js
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/conversations/containers/conversation_container.js
  app/soapbox/features/conversations/containers/conversations_list_container.js
  app/soapbox/features/conversations/index.js
  app/soapbox/features/conversations/index.tsx
  app/soapbox/features/developers/developers_challenge.tsx
  app/soapbox/features/direct_timeline/index.js
  app/soapbox/features/direct_timeline/index.tsx
  app/soapbox/features/directory/components/account_card.js
  app/soapbox/features/directory/components/account_card.tsx
  app/soapbox/features/directory/index.js
  app/soapbox/features/directory/index.tsx
  app/soapbox/features/edit_password/index.tsx
  app/soapbox/features/export_data/components/csv_exporter.tsx
  app/soapbox/features/federation_restrictions/components/restricted_instance.js
  app/soapbox/features/federation_restrictions/components/restricted_instance.tsx
  app/soapbox/features/federation_restrictions/index.js
  app/soapbox/features/federation_restrictions/index.tsx
  app/soapbox/features/import_data/components/csv_importer.tsx
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/reply_mentions/account.tsx
  app/soapbox/features/ui/components/reactions_modal.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Warning: convert to TSX
  app/soapbox/features/compose/components/warning.js
  app/soapbox/features/compose/components/warning.tsx
Due: lint-js, jest

TextIconButton: convert to TSX
  app/soapbox/features/compose/components/text_icon_button.js
  app/soapbox/features/compose/components/text_icon_button.tsx
Due: lint-js, jest

UploadButton: convert to TSX
  app/soapbox/features/compose/components/upload_button.js
  app/soapbox/features/compose/components/upload_button.tsx
Due: lint-js, jest

Upload: convert to TSX
  app/soapbox/features/compose/components/upload.js
  app/soapbox/features/compose/components/upload.tsx
Due: lint-js, jest

ScheduleButton: convert to TSX
  app/soapbox/features/compose/components/schedule_button.js
  app/soapbox/features/compose/components/schedule_button.tsx
Due: lint-js, jest

TypeScript, FC
  app/soapbox/actions/aliases.js
  app/soapbox/features/admin/moderation_log.js
  app/soapbox/features/admin/moderation_log.tsx
  app/soapbox/features/aliases/components/account.js
  app/soapbox/features/aliases/components/account.tsx
  app/soapbox/features/aliases/index.js
  app/soapbox/features/aliases/index.tsx
Due: lint-js, jest

ReplyIndicator: convert to TSX
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/features/compose/components/reply_indicator.js
  app/soapbox/features/compose/components/reply_indicator.tsx
Due: lint-js, jest

PrivacyDropdown: convert to TSX
  app/soapbox/features/compose/components/privacy_dropdown.js
  app/soapbox/features/compose/components/privacy_dropdown.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
