Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Fix: recent change reverted view context in expanded media view link
  app/soapbox/features/ui/components/media_modal.js
Due: lint-js, jest

Revert "Merge branch 'pending-replying-to' into 'develop'"
  app/soapbox/features/ui/components/pending_status.js
  app/soapbox/features/ui/util/pending_status_builder.js
Due: lint-js, jest

Revert "Merge branch 'revert-db7c7b36' into 'develop'"
  app/soapbox/features/ui/components/pending_status.js
  app/soapbox/features/ui/util/pending_status_builder.js
Due: lint-js, jest

Support the blockers_visible option when it's available
  app/soapbox/features/account_gallery/index.js
  app/soapbox/features/account_timeline/index.js
  app/soapbox/features/favourited_statuses/index.js
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Fix crash in pending_status_builder
  app/soapbox/features/ui/util/pending_status_builder.js
Due: lint-js, jest

Fix typo in Polish translation
  app/soapbox/locales/pl.json
Due: jest

Update de.json
  app/soapbox/locales/de.json
Due: jest

Update de.json - "Reply to"
  app/soapbox/locales/de.json
Due: jest

Update de.json - Reply to "und weitere Nutzer" (experimentell)
  app/soapbox/locales/de.json
Due: jest

Mentions regex should be case-insensitive
  app/soapbox/actions/compose.js
Due: lint-js, jest

Fix account endorsements
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Do not let users report their own chat messages
  app/soapbox/features/chats/components/chat_message_list.js
  app/soapbox/locales/pl.json
Due: lint-js, jest

Birth dates
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/utils/features.js
  app/styles/components/profile-info-panel.scss
  app/styles/forms.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

Show birth date field on registration page when required
  app/soapbox/components/birth_date_input.js
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/edit_profile/index.js
  app/styles/forms.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

Add birthday reminder notification
  app/soapbox/actions/accounts.js
  app/soapbox/actions/settings.js
  app/soapbox/components/birthday_reminders.js
  app/soapbox/features/notifications/components/column_settings.js
  app/soapbox/features/notifications/containers/column_settings_container.js
  app/soapbox/features/notifications/index.js
  app/soapbox/features/ui/components/birthdays_modal.js
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/reducers/user_lists.js
  app/styles/components/notification.scss
  docs/store.md
Due: lint-js, lint-sass, jest, docs-deploy

Modal improvements, profile information
  app/soapbox/components/birthday_reminders.js
  app/soapbox/features/birthdays/account.js
  app/soapbox/features/ui/components/birthdays_modal.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/reducers/__tests__/user_lists-test.js
  app/styles/accounts.scss
  docs/store.md
Due: lint-js, lint-sass, jest, docs-deploy

birth_date -> birthday, hide_birth_date -> show_birthday
  app/soapbox/components/birth_date_input.js
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/birthdays/account.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/ui/components/profile_info_panel.js
Due: lint-js, jest

Limit number of lines in .status-card__description
  app/styles/components/status.scss
Due: lint-sass

Display quoted posts
  app/soapbox/actions/importer/index.js
  app/soapbox/components/status.js
  app/soapbox/features/status/components/detailed_status.js
  app/soapbox/features/status/components/quoted_status.js
  app/styles/components/status.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

wip quote post composing
  app/soapbox/actions/compose.js
  app/soapbox/components/modal_root.js
  app/soapbox/components/status.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/containers/status_container.js
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/quoted_status_container.js
  app/soapbox/features/status/components/detailed_status.js
  app/soapbox/features/status/components/quoted_status.js
  app/soapbox/features/status/containers/quoted_status_container.js
  app/soapbox/features/status/index.js
  app/soapbox/features/ui/components/compose_modal.js
  app/soapbox/reducers/compose.js
  app/soapbox/reducers/search.js
  app/styles/components/reply-mentions.scss
Due: lint-js, lint-sass, jest

Update @tabler/icons
  package.json
  yarn.lock
Due: jest

Use dropdown for reposts, do not display cards for quote posts
  app/soapbox/components/dropdown_menu.js
  app/soapbox/components/status.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/features/status/components/detailed_status.js
  app/soapbox/features/status/components/quoted_status.js
  app/soapbox/utils/features.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Quote posts: do not mention anyone
  app/soapbox/reducers/compose.js
Due: lint-js, jest

Do not use reblogIcon before initialization
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/reducers/compose.js
Due: lint-js, jest

Fix normal reblogging
  app/soapbox/containers/status_container.js
Due: lint-js, jest

Normalization, process quotes in importFetchedStatuses
  app/soapbox/actions/importer/index.js
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/components/status.js
  app/soapbox/features/status/components/detailed_status.js
  app/soapbox/features/status/containers/quoted_status_container.js
Due: lint-js, jest

Quote posts: Compose box improvements
  app/soapbox/features/compose/containers/quoted_status_container.js
  app/soapbox/features/status/components/quoted_status.js
  app/styles/components/compose-form.scss
  app/styles/components/dropdown-menu.scss
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

change reblogIcon
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/status/components/action_bar.js
Due: lint-js, jest

Fedibird compatibility, because why not
  app/soapbox/actions/importer/index.js
  app/soapbox/actions/importer/normalizer.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Quote post performance improvements
  app/soapbox/actions/importer/normalizer.js
Due: lint-js, jest

Importer: handle multiple statuses from Fedibird
  app/soapbox/actions/importer/index.js
Due: lint-js, jest

Fedibird: fall back to quote_id
  app/soapbox/actions/importer/normalizer.js
Due: lint-js, jest

Importer: remove the extremely stupid pushUnique function
  app/soapbox/actions/importer/index.js
Due: lint-js, jest

Prevent a quoted status overriding the quote of its parent
  app/soapbox/__fixtures__/fedibird-quote-of-quote-post.json
  app/soapbox/__fixtures__/fedibird-quote-post.json
  app/soapbox/__fixtures__/pleroma-quote-of-quote-post.json
  app/soapbox/__fixtures__/pleroma-quote-post.json
  app/soapbox/reducers/__tests__/statuses-test.js
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

Birthdays: use the new route
  app/soapbox/actions/accounts.js
Due: lint-js, jest

Birthdays: Accessibility improvements/fixes
  app/soapbox/components/birthday_reminders.js
  app/soapbox/features/notifications/index.js
Due: lint-js, jest

StatusContent: delete inline quote from markup
  app/soapbox/components/status_content.js
Due: lint-js, jest

AccountHeader: remove .page__top__no-header
  app/styles/ui.scss
Due: lint-sass

Hide recipients inlined by ForceMentionsInContent MRF
  app/soapbox/components/status_content.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Status: strip compatibility features from markup when importing
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/components/status_content.js
  app/soapbox/utils/html.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
