Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Show user what options they have voted
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/components/poll.js
  app/styles/polls.scss
Due: lint-js, lint-sass, jest

Change vote results to display tied leading options as leading
  app/soapbox/components/poll.js
Due: lint-js, jest

Add voters count support
  app/soapbox/components/poll.js
Due: lint-js, jest

Fix poll options not being selectable via keyboard
  app/soapbox/components/poll.js
  app/soapbox/features/compose/components/poll_form.js
  app/styles/polls.scss
Due: lint-js, lint-sass, jest

Add single option votes tooltip in polls
  app/soapbox/components/poll.js
Due: lint-js, jest

Do not use voters_count for now
  app/soapbox/components/poll.js
Due: lint-js, jest

Change audio/video playback to stop playback when out of view
  app/soapbox/features/video/index.js
Due: lint-js, jest

Add tooltips to audio/video player buttons
  app/soapbox/features/video/index.js
Due: lint-js, jest

Fix video not reacting to window resizes
  app/soapbox/features/video/index.js
Due: lint-js, jest

Add hotkeys for video control
  app/soapbox/features/video/index.js
Due: lint-js, jest

Notifications: refactor makeGetNotification, pass the full rebuilt notification all the way through
  app/soapbox/features/notifications/components/notification.js
  app/soapbox/features/notifications/containers/notification_container.js
  app/soapbox/features/notifications/index.js
  app/soapbox/selectors/index.js
Due: lint-js, jest

PrimaryNavigation, ThumbNavigation: move Search to after Home
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/thumb_navigation.js
Due: lint-js, jest

TabsBar: move Profile menu to the left on mobile
  app/styles/components/tabs-bar.scss
Due: lint-sass

TabsBar: fix unauthenticated buttons on mobile
  app/soapbox/features/ui/components/tabs_bar.js
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

Timelines: push pending statuses into queue
  app/soapbox/reducers/timelines.js
Due: lint-js, jest

Fix polls for unauthenticated users
  app/soapbox/components/poll.js
  app/soapbox/containers/poll_container.js
Due: lint-js, jest

Update app/soapbox/components/poll.js
  app/soapbox/components/poll.js
Due: lint-js, jest

Use ScrollableList for search results
  app/soapbox/actions/search.js
  app/soapbox/features/compose/components/search_results.js
  app/soapbox/features/placeholder/components/placeholder_hashtag.js
  app/soapbox/reducers/search.js
  app/styles/placeholder.scss
Due: lint-js, lint-sass, jest

ScrollableList: Add option to disable loading more items when scrolling to bottom
  app/soapbox/actions/settings.js
  app/soapbox/components/scrollable_list.js
  app/soapbox/features/preferences/index.js
Due: lint-js, jest

Fix styles for account page with Demetricator enabled
  app/styles/demetricator.scss
Due: lint-sass

Fix profile menu button
  app/styles/components/tabs-bar.scss
Due: lint-sass

Styles, set focus to sidebar on open
  app/soapbox/components/sidebar_menu.js
  app/styles/components/account-header.scss
  app/styles/loading.scss
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Partially fix post navigation
  app/soapbox/components/column.js
  app/soapbox/components/material_status.js
  app/soapbox/components/status.js
  app/soapbox/components/status_list.js
  app/soapbox/features/status/index.js
Due: lint-js, jest

TabsBar: fix profile menu position (mobile)
  app/styles/components/tabs-bar.scss
Due: lint-sass

Show unauthorized modal when toggling poll options
  app/soapbox/components/poll.js
  app/soapbox/containers/poll_container.js
Due: lint-js, jest

Link to Line Awesome icon list
  app/soapbox/features/soapbox_config/index.js
  docs/customization.md
Due: lint-js, jest, docs-deploy

use baseURL for /invites
  app/soapbox/components/primary_navigation.js
Due: lint-js, jest

Search: refactor search reducer, add tests
  app/soapbox/reducers/__tests__/search-test.js
  app/soapbox/reducers/search.js
Due: lint-js, jest

Improve search input on aliases/list editor pages
  app/soapbox/features/aliases/components/search.js
  app/soapbox/features/list_editor/components/search.js
  app/styles/components/aliases.scss
  app/styles/components/list-forms.scss
  app/styles/components/search.scss
Due: lint-js, lint-sass, jest

Filters page: adjust margin
  app/styles/components/filters.scss
Due: lint-sass

Use correct 'Import data' link for Mastodon
  app/soapbox/components/sidebar_menu.js
  app/soapbox/features/ui/components/link_footer.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Compose: pull accept content types from backend if available, fallback to all types
  app/soapbox/features/compose/components/upload_button.js
  app/soapbox/reducers/__tests__/media_attachments-test.js
  app/soapbox/reducers/index.js
  app/soapbox/reducers/media_attachments.js
Due: lint-js, jest

Search: fix icon alignment
  app/styles/components/search.scss
Due: lint-sass

Button: fix follow button icon padding
  app/styles/components/buttons.scss
Due: lint-sass

Search: integration suggestions better
  app/soapbox/features/compose/components/search_results.js
Due: lint-js, jest

Search: nuke the popout
  app/soapbox/features/compose/components/search.js
Due: lint-js, jest

Search: autosuggest accounts in search bar on desktop
  app/soapbox/components/autosuggest_input.js
  app/soapbox/features/compose/components/search.js
  app/soapbox/features/compose/containers/search_container.js
  app/soapbox/features/ui/components/tabs_bar.js
  app/styles/components/search.scss
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

Search: add menu to AutosuggestInput
  app/soapbox/components/autosuggest_input.js
  app/soapbox/features/compose/components/search.js
  app/styles/autosuggest.scss
Due: lint-js, lint-sass, jest

AutosuggestInput: add icon to menu
  app/soapbox/components/autosuggest_input.js
  app/soapbox/features/compose/components/search.js
  app/styles/autosuggest.scss
Due: lint-js, lint-sass, jest

Search: only show suggestions when not submitted
  app/soapbox/features/compose/components/search_results.js
  app/styles/components/search.scss
Due: lint-js, lint-sass, jest
