Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Fix follow button on tag timeline being case sensitive
  app/soapbox/features/hashtag_timeline/index.tsx
  app/soapbox/locales/de.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

Update webpack.yml
  .github/workflows/webpack.yml
Due: none

Fix pipeline
  .github/workflows/webpack.yml
Due: none

get rid of upstream name, according to en.json
  app/soapbox/locales/de.json
Due: jest

french and spanish as well
  app/soapbox/locales/es.json
  app/soapbox/locales/fr.json
Due: jest

Trying to fix parts of #148 - add new ids for account badges admin, mod, patron, donor - place them accordingly to defaultMessages - add DE & EN strings as reference for other locales
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/features/ui/components/profile_info_panel.tsx
  app/soapbox/locales/de.json
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/en.json
Due: lint-js, jest

It's a login form, not a register one
  app/soapbox/locales/de.json
Due: jest

It's a login form, not a register one (#255)
  app/soapbox/locales/de.json
Due: jest

Revert "It's a login form, not a register one (#255)"
  app/soapbox/locales/de.json
Due: jest

[FIX] make badges translatable
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/features/ui/components/profile_info_panel.tsx
  app/soapbox/locales/de.json
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/en.json
Due: lint-js, jest

Update fr.json
  app/soapbox/locales/fr.json
Due: jest

[FIX] Remove soapbox name from de and fr translations (#253)
  app/soapbox/locales/de.json
  app/soapbox/locales/es.json
  app/soapbox/locales/fr.json
Due: jest

[FIX] Fix unfollow block uk (#245)
  app/soapbox/locales/uk.json
Due: jest

Update Bulgarian translation
  app/soapbox/locales/bg.json
Due: jest

feat: improve bulgarian translation (#266)
  app/soapbox/locales/bg.json
Due: jest

chore: add new mangane logo and use it in readme
  README.md
  app/icons/mangane-dark-full-horizontal.svg
  app/icons/mangane-dark-full.svg
  app/icons/mangane-dark.svg
  app/icons/mangane-full-horizontal.svg
  app/icons/mangane-full.svg
  app/icons/mangane.svg
Due: none

fix: wrong api endpoint
  app/soapbox/actions/accounts.ts
  app/soapbox/actions/security.ts
Due: lint-js, jest

fix: minor ui changes on edit email and password
  app/soapbox/features/edit_email/index.tsx
  app/soapbox/features/edit_password/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: an outdated dep
  package.json
  yarn.lock
Due: jest

refactor: minor ui changes and calls order
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/selectors/index.ts
Due: lint-js, jest

fix: call endpoint with uri params
  app/soapbox/actions/accounts.ts
Due: lint-js, jest

fix: dedup posts in timeline
  app/soapbox/selectors/index.ts
  app/soapbox/utils/timelines.ts
Due: lint-js, jest

fix: wrong react count in statusActionBar
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/utils/emoji_reacts.ts
Due: lint-js, jest

wip: emji bar
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/emoji_picker.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
Due: lint-js, jest

wip: actually send custom emojis
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
Due: lint-js, jest

wip: improve emoji react
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/emoji_picker.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/containers/emoji_picker_dropdown_container.js
Due: lint-js, jest

feat: allow to remove customReact
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/ui/emoji-react/emoji-react.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/locales/fr.json
  app/soapbox/utils/__tests__/emoji_reacts.test.ts
  app/soapbox/utils/emoji_reacts.ts
  app/styles/components/dropdown-menu.scss
Due: lint-js, lint-sass, jest

fix: remove useless files and hide feature behind a feature flag
  app/soapbox/components/__tests__/emoji_selector.test.tsx
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/emoji_selector.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

feat: add loading state on directory screen
  app/soapbox/actions/directory.ts
  app/soapbox/features/directory/index.tsx
Due: lint-js, jest

feat: add explanation in directory
  app/soapbox/features/directory/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: filter outdated scheduled posts on the frontend
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/compose_form_container.ts
Due: lint-js, jest

feat: add scheduled post deletion
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/account.ts
  app/soapbox/reducers/accounts_meta.ts
  app/soapbox/selectors/index.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest
