Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Chats: fix ChatPane z-index above AccountHeader
  app/styles/chats.scss
Due: lint-sass

SubNavigation: fix transparency of Back button
  app/styles/navigation.scss
Due: lint-sass

Trends: fix Hashtag component and TrendsPanel, display trends in Search
  app/soapbox/components/hashtag.js
  app/soapbox/features/compose/components/search_results.js
  app/soapbox/features/compose/containers/search_results_container.js
  app/soapbox/features/ui/components/trends_panel.js
  app/soapbox/pages/default_page.js
  app/soapbox/pages/home_page.js
  app/soapbox/pages/status_page.js
Due: lint-js, jest

ProfileInfoPanel: fix text overflow
  app/styles/components/profile-info-panel.scss
Due: lint-sass

ProfileInfoPanel: fix date padding when there's no bio
  app/styles/components/profile-info-panel.scss
Due: lint-sass

IntentionalError: display an ErrorBoundary preview at /error
  app/soapbox/features/intentional_error/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Developers: scaffold with WIP developers page
  app/soapbox/actions/settings.js
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/sidebar_menu.js
  app/soapbox/features/developers/index.js
  app/soapbox/features/preferences/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
  app/styles/components/icon.scss
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Developers: display dashcounters
  app/soapbox/features/developers/index.js
  app/styles/components/admin.scss
Due: lint-js, lint-sass, jest

Developers: scaffold createApp page at /developers/apps/create
  app/soapbox/features/developers/apps/create.js
  app/soapbox/features/developers/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

ThumbNavigation: fix z-index on Profile pages
  app/styles/navigation.scss
Due: lint-sass

Developers: create an app through a form
  app/soapbox/features/developers/apps/create.js
Due: lint-js, jest

Developers: become a developer through the console
  app/soapbox/containers/soapbox.js
  app/soapbox/globals.js
Due: lint-js, jest

SidebarMenu: add invites button
  app/soapbox/components/sidebar_menu.js
Due: lint-js, jest

Fix search results
  app/soapbox/reducers/search.js
Due: lint-js, jest

Column: remove top gap on mobile, implement pulling feedback
  app/soapbox/components/pullable.js
  app/soapbox/features/account_timeline/index.js
  app/soapbox/features/chats/index.js
  app/soapbox/features/compose/components/search_results.js
  app/soapbox/features/notifications/index.js
  app/soapbox/features/search/index.js
  app/soapbox/features/status/index.js
  app/soapbox/features/ui/components/column.js
  app/soapbox/features/ui/components/column_loading.js
  app/soapbox/pages/profile_page.js
  app/styles/components/admin.scss
  app/styles/components/columns.scss
  app/styles/components/profile-info-panel.scss
  app/styles/loading.scss
  app/styles/ui.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

Thread: fix pullable styles
  app/styles/components/detailed-status.scss
Due: lint-sass

Webpack: refactor devserver env
  webpack/development.js
Due: lint-js, jest

ExternalLoginForm: improve mobile text input
  app/soapbox/features/external_login/components/external_login_form.js
  app/soapbox/features/forms/index.js
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

Registration/Login: improve text inputs on mobile
  app/soapbox/features/auth_login/components/captcha.js
  app/soapbox/features/auth_login/components/login_form.js
  app/soapbox/features/auth_login/components/registration_form.js
Due: lint-js, jest

Jest: update snapshots
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/captcha-test.js.snap
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_form-test.js.snap
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_page-test.js.snap
Due: jest

Restyle actions modal
  app/soapbox/features/ui/components/actions_modal.js
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Status: implement actual Pull to Refresh on threads, add PullToRefresh custom component
  app/soapbox/components/pull_to_refresh.js
  app/soapbox/components/pullable.js
  app/soapbox/features/status/index.js
Due: lint-js, jest

Add icons for status action bars
  app/soapbox/components/dropdown_menu.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/status/components/action_bar.js
  app/styles/components/dropdown-menu.scss
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Status: implement proper Pull to Refresh, refactor horrible status actions
  app/soapbox/actions/statuses.js
  app/soapbox/features/reactions/index.js
  app/soapbox/features/reblogs/index.js
  app/soapbox/features/status/index.js
Due: lint-js, jest

Fix icons opacity
  app/styles/components/modal.scss
Due: lint-sass

HomeTimeline: pull to refresh
  app/soapbox/components/scrollable_list.js
  app/soapbox/features/home_timeline/index.js
Due: lint-js, jest

Pull to Refresh on public timelines
  app/soapbox/features/community_timeline/index.js
  app/soapbox/features/public_timeline/index.js
Due: lint-js, jest

Add icons to all? dropdown menus
  app/soapbox/features/account/components/header.js
  app/soapbox/features/admin/components/report.js
  app/soapbox/features/admin/components/report_status.js
  app/soapbox/features/admin/reports.js
  app/soapbox/features/backups/index.js
  app/soapbox/features/chats/components/chat_message_list.js
  app/soapbox/features/groups/timeline/components/header.js
  app/soapbox/features/ui/components/instance_info_panel.js
  app/soapbox/features/ui/components/instance_moderation_panel.js
  app/soapbox/features/ui/components/profile_dropdown.js
Due: lint-js, jest

Pull to Refresh: Notifications, Chats, Bookmarks
  app/soapbox/actions/bookmarks.js
  app/soapbox/features/bookmarks/index.js
  app/soapbox/features/chats/index.js
  app/soapbox/features/notifications/index.js
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

Column: fix PullToRefresh border-radius
  app/styles/components/columns.scss
Due: lint-sass

Card: fix empty card icon
  app/soapbox/features/status/components/card.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Add missing icon to account menu
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

eslint: error on wrong indentation
  .eslintrc.js
  app/soapbox/features/ui/components/profile_dropdown.js
Due: lint-js, jest

DropdownMenu: disable svg icon transition for better hover state
  app/styles/components/dropdown-menu.scss
Due: lint-sass

Start adding Typescript support
  .lintstagedrc.json
  app/soapbox/utils/accounts.js
  app/soapbox/utils/accounts.ts
  package.json
  tsconfig.json
  webpack/configuration.js
  webpack/rules/babel.js
  webpack/rules/index.js
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

Poll: fix crash when voting
  app/soapbox/components/poll.js
  app/soapbox/containers/poll_container.js
Due: lint-js, jest

Key navigation
  app/soapbox/components/scrollable_list.js
  app/soapbox/features/notifications/components/notification.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Use warning color for delete actions
  app/soapbox/components/dropdown_menu.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/admin/components/report_status.js
  app/soapbox/features/chats/components/chat_message_list.js
  app/soapbox/features/groups/timeline/components/header.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/features/ui/components/actions_modal.js
  app/styles/components/dropdown-menu.scss
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Use high contrast color
  app/styles/components/dropdown-menu.scss
  app/styles/components/modal.scss
  app/styles/themes.scss
Due: lint-sass

Use .destructive
  app/soapbox/components/dropdown_menu.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/admin/components/report_status.js
  app/soapbox/features/chats/components/chat_message_list.js
  app/soapbox/features/groups/timeline/components/header.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/features/ui/components/actions_modal.js
  app/styles/components/dropdown-menu.scss
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
