Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

More Akkoma features
  docs/administration/akkoma.md
Due: docs-deploy

Typo
  docs/administration/akkoma.md
Due: docs-deploy

From Soapbox to Mangane
  docs/administration/updating.md
Due: docs-deploy

Extend customization instructions
  docs/customization.md
Due: docs-deploy

Adapt to Mangane, Akkoma & Pleroma
  docs/customization.md
Due: docs-deploy

Remove outdated information & switch to Mangane
  docs/contributing.md
Due: docs-deploy

Added local poste, chat, and more
  docs/administration/akkoma.md
Due: docs-deploy

[CH] Better documentation (#169)
  docs/administration/akkoma.md
  docs/administration/updating.md
  docs/contributing.md
  docs/customization.md
  docs/history.md
Due: docs-deploy

[CH] Better doc for Upgrade, Mastodon, Yunohost and more (#164)
  README.md
Due: none

First draft
  docs/administration/yunohost.md
Due: docs-deploy

Remove outated instructions
  docs/administration/install-yunohost.md
Due: docs-deploy

Add link to Yunohost Package code repositories
  docs/administration/yunohost.md
Due: docs-deploy

Corrections + Upgrade information
  docs/administration/yunohost.md
Due: docs-deploy

Add Mangane pre-installed with Akkoma YNH
  docs/administration/yunohost.md
Due: docs-deploy

CLI command correction
  docs/administration/yunohost.md
Due: docs-deploy

Link to Mangane documentation for Yunohost
  README.md
Due: none

Yunohost: complete instructions
  docs/administration/yunohost.md
Due: docs-deploy

Correct instructions are in README
  docs/administration/updating.md
Due: docs-deploy

[FIX] Fix Quote Feature
  app/soapbox/utils/features.ts
Due: lint-js, jest

fix api url
  app/soapbox/__fixtures__/config_db.json
  app/soapbox/__fixtures__/pleroma-admin-config.json
  app/soapbox/__fixtures__/pleroma_initial_results.json
  app/soapbox/actions/accounts.ts
  app/soapbox/actions/admin.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/import_data.ts
  app/soapbox/actions/mfa.ts
  app/soapbox/actions/security.ts
Due: lint-js, jest

Update webpack.yml
  .github/workflows/webpack.yml
Due: none

fix /api/pleroma/accounts/mfa/
  app/soapbox/actions/mfa.ts
Due: lint-js, jest

fix api url
  app/soapbox/actions/accounts.ts
Due: lint-js, jest

fix urls
  app/soapbox/__fixtures__/pleroma-admin-config.json
Due: jest

fix api/pleroma/accounts/user_id/endorsements url
  app/soapbox/actions/accounts.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Yunohost: complete instructions (#177)
  README.md
  docs/administration/install-yunohost.md
  docs/administration/updating.md
  docs/administration/yunohost.md
Due: docs-deploy

[FIX] Fix Quote Feature (#198)
  app/soapbox/utils/features.ts
Due: lint-js, jest

[FIX] Fix Akkoma V1 endpoints + falsy endorsment endpoint (#199)
  .github/workflows/webpack.yml
  app/soapbox/__fixtures__/config_db.json
  app/soapbox/__fixtures__/pleroma-admin-config.json
  app/soapbox/__fixtures__/pleroma_initial_results.json
  app/soapbox/actions/accounts.ts
  app/soapbox/actions/admin.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/import_data.ts
  app/soapbox/actions/security.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Fix changes in workflow
  .github/workflows/webpack.yml
  package.json
Due: jest

Release Dashing peacock (#200)
  README.md
  app/soapbox/__fixtures__/config_db.json
  app/soapbox/__fixtures__/pleroma-admin-config.json
  app/soapbox/__fixtures__/pleroma_initial_results.json
  app/soapbox/actions/accounts.ts
  app/soapbox/actions/admin.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/import_data.ts
  app/soapbox/actions/security.ts
  app/soapbox/utils/features.ts
  docs/administration/install-yunohost.md
  docs/administration/updating.md
  docs/administration/yunohost.md
  package.json
Due: lint-js, jest, docs-deploy

Bump version name
  package.json
Due: jest

add admin dashboard to sidebar menu
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

Update package.json
  package.json
Due: jest

fix app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

some fix
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/ui/components/profile_info_panel.tsx
Due: lint-js, jest

[FIX] editing post with the original content_type
  app/soapbox/actions/statuses.ts
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
