Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

chore(release): 1.21.11
  CHANGELOG.md
  package.json
Due: jest

fix: rules to hide fab
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

chore(release): 1.21.12
  CHANGELOG.md
  package.json
Due: jest

fix: better scroll restoration method
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

feat: better thread loading
  app/soapbox/components/pull-to-refresh.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

fix: better scroll restoration method (#462)
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

chore(release): 1.21.13
  CHANGELOG.md
  package.json
Due: jest

fix: handle error
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

feat: better thread loading (#463)
  app/soapbox/components/pull-to-refresh.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

chore(release): 1.22.0
  CHANGELOG.md
  package.json
Due: jest

fix: status page link footer position
  app/soapbox/pages/status_page.tsx
Due: lint-js, jest

chore(release): 1.22.1
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.22.2
  CHANGELOG.md
  package.json
Due: jest

chore: wip
  app/soapbox/components/account.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/account_timeline/index.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/timeline.tsx
  app/soapbox/pages/profile_page.tsx
  package.json
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

phase 0: add executable routing inventory drift gate (#20)
  config/routing-inventory.json
  docs/architecture/ROUTING_INVENTORY_DRIFT_GATE.md
  scripts/check-routing-inventory.js
  scripts/check-routing-inventory.test.js
Due: lint-js, jest, docs-deploy

fix: enforce routing inventory drift gate
  scripts/__tests__/check-routing-inventory.test.js
  scripts/check-routing-inventory.js
  scripts/check-routing-inventory.test.js
Due: lint-js, jest

phase 0: enforce Redux authority drift gate
  .github/workflows/architecture-inventory.yml
  config/redux-authority-inventory.json
  docs/architecture/REDUX_AUTHORITY_DRIFT_GATE.md
  scripts/__tests__/check-redux-authority-inventory.test.js
  scripts/check-redux-authority-inventory.js
Due: lint-js, jest, docs-deploy

fix: structurally enforce Redux logout invariants
  scripts/check-redux-authority-inventory.js
Due: lint-js, jest

test: cover logout action and whitelist mutation bypasses
  scripts/__tests__/check-redux-authority-inventory.test.js
Due: lint-js, jest

phase 0: add React Query authority inventory
  config/react-query-authority-inventory.json
Due: jest

phase 0: add React Query authority drift checker
  scripts/check-react-query-authority-inventory.js
Due: lint-js, jest

test: cover React Query authority drift gate
  scripts/__tests__/check-react-query-authority-inventory.test.js
Due: lint-js, jest

docs: add React Query authority drift gate
  docs/architecture/REACT_QUERY_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

ci: enforce React Query authority drift gate
  .github/workflows/react-query-authority.yml
Due: none

fix: parse React Query keys independently of generic syntax
  scripts/check-react-query-authority-inventory.js
Due: lint-js, jest

fix: locate the React Query call rather than its import
  scripts/check-react-query-authority-inventory.js
Due: lint-js, jest

Phase 0: add browser persistence authority drift gate
  .github/workflows/architecture-inventory.yml
  .github/workflows/browser-persistence-authority.yml
  config/browser-persistence-authority-inventory.json
  docs/architecture/BROWSER_PERSISTENCE_AUTHORITY_DRIFT_GATE.md
  docs/architecture/README.md
  scripts/__tests__/check-browser-persistence-authority-inventory.test.js
  scripts/check-browser-persistence-authority-inventory.js
Due: lint-js, jest, docs-deploy

Phase 0: add HTML safety authority drift gate
  .github/workflows/architecture-inventory.yml
  .github/workflows/html-safety-authority.yml
  config/html-safety-authority-inventory.json
  docs/architecture/HTML_SAFETY_AUTHORITY_DRIFT_GATE.md
  scripts/__tests__/check-html-safety-authority-inventory.test.js
  scripts/check-html-safety-authority-inventory.js
Due: lint-js, jest, docs-deploy

Fix PR26 HTML safety pinning gaps (#27)
  scripts/__tests__/check-html-safety-authority-inventory.test.js
  scripts/check-html-safety-authority-inventory.js
Due: lint-js, jest

Phase 0: add Sentry authority drift gate (#28)
  .github/workflows/architecture-inventory.yml
  .github/workflows/sentry-authority.yml
  config/sentry-authority-inventory.json
  docs/architecture/README.md
  docs/architecture/SENTRY_AUTHORITY_DRIFT_GATE.md
  scripts/__tests__/check-sentry-authority-inventory.test.js
  scripts/check-sentry-authority-inventory.js
Due: lint-js, jest, docs-deploy

noop
  tmp-placeholder
Due: none

Remove accidental placeholder
  tmp-placeholder
Due: none

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
