Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Rework account and domain list screens
  app/soapbox/components/domain.tsx
  app/soapbox/features/blocks/index.tsx
  app/soapbox/features/domain_blocks/index.tsx
  app/soapbox/features/follow_requests/index.tsx
  app/soapbox/features/mutes/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/reducers/domain_lists.ts
  app/soapbox/reducers/user_lists.ts
Due: lint-js, jest

Fetch when showing view
  app/soapbox/features/followed_tags/index.tsx
Due: lint-js, jest

Fix in ukrainian
  app/soapbox/locales/uk.json
Due: jest

Fix follow request pending button being too long
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

Remove test code
  app/soapbox/features/ui/components/action-button.tsx
Due: lint-js, jest

WIP try fix TL jump on back from status
  app/soapbox/actions/timelines.ts
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

Fix scroll to top button
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/features/ui/components/timeline.tsx
Due: lint-js, jest

Fix TL jump
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

Ignore unseen when older
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

[ADD] Add export (#248)
  CHANGELOG.md
  app/soapbox/features/backups/index.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/utils/features.ts
  app/styles/application.scss
  app/styles/components/backups.scss
Due: lint-js, lint-sass, jest

Fix status overflow column (#239)
  app/soapbox/components/account.tsx
  app/soapbox/components/status.tsx
Due: lint-js, jest

Fix atoms on tag (#240)
  app/soapbox/components/announcements/announcement-content.tsx
  app/soapbox/components/hashtag.tsx
  app/soapbox/components/status_content.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

[CH] Change error icon to avoid close confusion (#241)
  app/styles/components/snackbar.scss
Due: lint-sass

[ADD] Follow hashtags (#243)
  .vscode/settings.json
  app/soapbox/actions/tags.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/hashtag_timeline/index.js
  app/soapbox/features/hashtag_timeline/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/fr.json
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/tags.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Rework account and domain list screens (#244)
  app/soapbox/components/domain.tsx
  app/soapbox/features/blocks/index.tsx
  app/soapbox/features/domain_blocks/index.tsx
  app/soapbox/features/follow_requests/index.tsx
  app/soapbox/features/mutes/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/reducers/domain_lists.ts
  app/soapbox/reducers/user_lists.ts
Due: lint-js, jest

[FIX] follow request pending button being too long (#246)
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

[FIX] client-side filters, rework spoilers and hide media of status with spoiler (#238)
  app/soapbox/actions/filters.ts
  app/soapbox/actions/importer/index.ts
  app/soapbox/actions/notifications.ts
  app/soapbox/actions/statuses.ts
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/status_content.tsx
  app/soapbox/components/ui/button/button.tsx
  app/soapbox/features/filters/index.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/locales/fr.json
  app/soapbox/reducers/statuses.ts
  app/soapbox/selectors/index.ts
  app/styles/components/filters.scss
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

[Fix] Timeline jump (#247)
  app/soapbox/actions/timelines.ts
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/features/ui/components/timeline.tsx
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

bump version
  package.json
Due: jest

Remove stupid file
  COFE_OF_CONDUCT.md
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Update workflow for pages
  .github/workflows/webpack.yml
Due: none

Fix workflow
  .github/workflows/gh-pages.yml
  .github/workflows/webpack.yml
Due: none

test workflow
  .github/workflows/gh-pages.yml
Due: none

test
  .env
Due: none

Update pages
  .DS_Store
  .github/workflows/gh-pages.yml
Due: none

Fix french translations
  app/soapbox/locales/fr.json
Due: jest

Adding more DE translations, fixing typos
  app/soapbox/locales/de.json
Due: jest

Fix CW translation
  app/soapbox/locales/fr.json
Due: jest

Fix hashtag layout, remove follow button from tag timeline
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/hashtag_timeline/index.tsx
Due: lint-js, jest

going further
  app/soapbox/locales/de.json
Due: jest

more string translations
  app/soapbox/locales/de.json
Due: jest

DE translation more or less complete
  app/soapbox/locales/de.json
Due: jest

Fix hidden media when sensitive
  app/soapbox/reducers/statuses.ts
Due: lint-js, jest

Fix Hide all media settings not working
  app/soapbox/components/media_gallery.js
Due: lint-js, jest

Fix poll overriding content when collapse
  app/soapbox/components/status_content.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[CH] German translation (#249)
  .github/FUNDING.yml
  .github/workflows/gh-pages.yml
  .github/workflows/webpack.yml
  COFE_OF_CONDUCT.md
  app/soapbox/locales/de.json
Due: jest
