Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Suggestions: chunk the wtf panel
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/pages/default_page.js
  app/soapbox/pages/home_page.js
  app/soapbox/pages/profile_page.js
Due: lint-js, jest

Suggestions: make DRY, fix isLoading state
  app/soapbox/features/follow_recommendations/components/follow_recommendations_container.js
  app/soapbox/features/follow_recommendations/index.js
  app/soapbox/features/home_timeline/index.js
Due: lint-js, jest

Chunk modal components into features/ui
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Load panels async
  app/soapbox/components/profile_hover_card.js
  app/soapbox/containers/soapbox.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/pages/default_page.js
  app/soapbox/pages/home_page.js
  app/soapbox/pages/profile_page.js
  app/soapbox/pages/remote_instance_page.js
Due: lint-js, jest

Rip out react-redux-loading-bar
  app/soapbox/features/ui/components/image_loader.js
  app/soapbox/features/ui/containers/loading_bar_container.js
  app/soapbox/features/ui/index.js
  app/soapbox/middleware/loading_bar.js
  app/soapbox/reducers/index.js
  app/soapbox/store/configureStore.js
  app/styles/loading.scss
  app/styles/ui.scss
  docs/store.md
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest, docs-deploy

Profile: make account panels async
  app/soapbox/features/account/components/header.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/pages/profile_page.js
Due: lint-js, jest

RemoteInstance: async panels
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/pages/remote_instance_page.js
Due: lint-js, jest

Admin: async components
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/pages/admin_page.js
Due: lint-js, jest

UI: async UI components
  app/soapbox/features/public_layout/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Don't load TabsBar async
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

StatusPage: async components
  app/soapbox/pages/status_page.js
Due: lint-js, jest

Update Polish translation
  app/soapbox/locales/pl.json
Due: jest

RemoteTimeline: fix typos in async components
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Mastodon: hide notifications counter
  app/soapbox/reducers/notifications.js
Due: lint-js, jest

noscript: "Soapbox" --> "this website"
  app/index.ejs
Due: none

Add Tabler icons
  app/soapbox/components/icon.js
  app/soapbox/components/sidebar_menu.js
  app/styles/components/icon.scss
  app/styles/components/sidebar-menu.scss
  package.json
  webpack/rules/assets.js
  webpack/shared.js
  yarn.lock
Due: lint-js, lint-sass, jest

Tabler: add icons to ThumbNavigation
  app/icons/dashboard-filled.svg
  app/icons/home-2-filled.svg
  app/soapbox/components/icon.js
  app/soapbox/components/icon_with_counter.js
  app/soapbox/components/thumb_navigation.js
  app/styles/navigation.scss
  app/styles/ui.scss
  webpack/rules/assets.js
  webpack/shared.js
Due: lint-js, lint-sass, jest

Make column panels sticky
  app/soapbox/pages/default_page.js
  app/soapbox/pages/home_page.js
  app/soapbox/pages/profile_page.js
  app/soapbox/pages/status_page.js
  package.json
  yarn.lock
Due: lint-js, jest

PrimaryNavigation: use Tabler icons, add timelines
  app/icons/fediverse.svg
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/thumb_navigation.js
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Nuke HomeColumnHeader from most timelines
  app/soapbox/features/community_timeline/index.js
  app/soapbox/features/public_timeline/index.js
Due: lint-js, jest

SubNavigation: use Tabler back icon
  app/soapbox/components/sub_navigation.js
Due: lint-js, jest

PrimaryNavigation: remove unused 'federating' field
  app/soapbox/components/primary_navigation.js
Due: lint-js, jest

StatusActionBar: update icons
  app/soapbox/components/icon_button.js
  app/soapbox/components/status_action_bar.js
  app/styles/components/emoji-reacts.scss
  app/styles/components/status.scss
  app/styles/navigation.scss
  app/styles/ui.scss
  package.json
  webpack/rules/assets.js
  yarn.lock
Due: lint-js, lint-sass, jest

Don't use display: hidden on articles after all
  app/styles/ui.scss
Due: lint-sass

PrimaryNavigation: active fill states
  app/soapbox/components/primary_navigation.js
  app/styles/components/icon.scss
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Use rounded buttons
  app/styles/components/buttons.scss
Due: lint-sass

Style the floating action button
  app/soapbox/features/ui/index.js
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Icon css: increase specificity
  app/styles/components/icon.scss
  app/styles/navigation.scss
Due: lint-sass

Fix janky IconButton (Compose issues) and restore lock/envelope icon for un-repostable posts
  app/soapbox/components/icon_button.js
  app/soapbox/components/status_action_bar.js
Due: lint-js, jest

Return to 10px status gaps
  app/styles/components/status.scss
Due: lint-sass

Fix Chats on mobile
  app/styles/chats.scss
Due: lint-sass

DetailedStatus: use svg icons
  app/soapbox/features/status/components/action_bar.js
  app/styles/components/detailed-status.scss
  app/styles/components/emoji-reacts.scss
Due: lint-js, lint-sass, jest

SubNavigation: constrain width on desktop
  app/soapbox/components/sub_navigation.js
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Improve secondary button legibility
  app/styles/components/buttons.scss
Due: lint-sass

StatusPage: accomodate SubNavigation in sticky columns
  app/soapbox/pages/status_page.js
Due: lint-js, jest

Status: use svg icon for h-menu
  app/soapbox/components/dropdown_menu.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/status/components/action_bar.js
  app/styles/components/emoji-reacts.scss
Due: lint-js, lint-sass, jest

DisplayName: call isVerified()
  app/soapbox/components/display_name.js
Due: lint-js, jest

iOS: fix floating action button icon
  app/styles/ui.scss
Due: lint-sass

Add Mastodon compatibility routes for /web and /web/timelines/home
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Media: round corners 10px of attachments and cards
  app/styles/components/audio-player.scss
  app/styles/components/media-gallery.scss
  app/styles/components/status.scss
  app/styles/components/video-player.scss
  app/styles/ui.scss
Due: lint-sass
