Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Load exif.js library asynchronously
  app/soapbox/utils/resize_image.js
Due: lint-js, jest

Drop IE11 support
  package.json
Due: jest

Webpack: chunk Sentry to reduce entrypoint size
  app/soapbox/components/error_boundary.js
  app/soapbox/monitoring.js
Due: lint-js, jest

Webpack: fix CryptoDonateModal being added to the right chunk
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Start navigation changes
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/sub_navigation.js
  app/soapbox/components/thumb_navigation.js
  app/soapbox/features/ui/index.js
  app/soapbox/pages/home_page.js
  app/styles/application.scss
  app/styles/navigation.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Improve SidebarMenu design
  app/soapbox/components/sidebar_menu.js
  app/styles/components/sidebar-menu.scss
Due: lint-js, lint-sass, jest

Gut the TabsBar
  app/soapbox/components/thumb_navigation.js
  app/soapbox/features/ui/components/tabs_bar.js
  app/styles/components/search.scss
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

Add SVG icon support
  app/soapbox/components/svg_icon.js
  app/styles/application.scss
  app/styles/components/emoji-reacts.scss
  app/styles/components/icon.scss
  app/styles/components/search.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

Display PrimaryNavigation on DefaultPage
  app/soapbox/pages/default_page.js
Due: lint-js, jest

TabsBar: move search to left
  app/soapbox/features/ui/components/tabs_bar.js
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

Add StatusPage
  app/soapbox/features/ui/index.js
  app/soapbox/pages/status_page.js
Due: lint-js, jest

Add 10px gap between statuses
  app/soapbox/pages/home_page.js
  app/soapbox/pages/status_page.js
  app/styles/components/columns.scss
  app/styles/components/detailed-status.scss
  app/styles/components/drawer.scss
  app/styles/components/notification.scss
  app/styles/components/promo-panel.scss
  app/styles/components/status.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Status: hide column header and back button
  app/soapbox/features/status/index.js
  app/soapbox/features/ui/components/column.js
Due: lint-js, jest

HomeTimeline: nuke HomeColumnHeader
  app/soapbox/features/home_timeline/index.js
Due: lint-js, jest

Pass iconset into IconButton, IconWithCounter
  app/soapbox/components/icon_button.js
  app/soapbox/components/icon_with_counter.js
Due: lint-js, jest

ProfilePage: add status gaps
  app/soapbox/pages/profile_page.js
Due: lint-js, jest

SidebarMenu: fix opening/closing animation
  app/styles/components/sidebar-menu.scss
Due: lint-sass

SidebarMenu: fix background lightbox opacity animation
  app/styles/components/sidebar-menu.scss
Due: lint-sass

SidebarMenu: use foreground color
  app/styles/components/sidebar-menu.scss
Due: lint-sass

Profile: remove border from avatar
  app/styles/components/account-header.scss
Due: lint-sass

Profile: add smaller header image breakpoints
  app/styles/components/account-header.scss
Due: lint-sass

Profile: hide Column back button
  app/soapbox/features/account_timeline/index.js
Due: lint-js, jest

Profile: nudge the avatar to the right on mobile
  app/styles/components/account-header.scss
Due: lint-sass

Conditionally display subscription button for Pleroma >= 1.0.0
  app/soapbox/features/account/components/header.js
  app/soapbox/utils/features.js
Due: lint-js, jest

ProfileInfoPanel: move joined date below bio
  app/soapbox/features/ui/components/profile_info_panel.js
Due: lint-js, jest

ProfileInfoPanel: don't render badges unless some are found
  app/soapbox/features/ui/components/profile_info_panel.js
Due: lint-js, jest

Add ProfileStats component
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/features/ui/components/profile_stats.js
Due: lint-js, jest

ProfileStats: prettify code
  app/soapbox/features/ui/components/profile_stats.js
  app/styles/components/sidebar-menu.scss
Due: lint-js, lint-sass, jest

ProfileStats: move scss to its own file
  app/styles/application.scss
  app/styles/components/profile-stats.scss
  app/styles/components/sidebar-menu.scss
Due: lint-sass

ProfileInfoPanel: style join date and stats
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/features/ui/components/profile_stats.js
  app/styles/components/profile-info-panel.scss
  app/styles/components/profile-stats.scss
Due: lint-js, lint-sass, jest

AccountHeader: nuke 'extra' links
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

Columns: allow transparent columns to extend to the full screen width on mobile
  app/styles/components/columns.scss
Due: lint-sass

AccountHeader: use foreground color for account bar
  app/styles/components/account-header.scss
  app/styles/components/profile-info-panel.scss
Due: lint-sass

UI: restyle filter bar active state
  app/styles/ui.scss
Due: lint-sass

Lint: remove unused variables
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

Fix timeline scrolling issue, lol "Intersection Observer Article", "Block Formatting Context"... I know some of these words
  app/styles/components/status.scss
  app/styles/ui.scss
Due: lint-sass

Minor accessibility improvements
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/index.js
  app/styles/accounts.scss
  app/styles/components/account-header.scss
Due: lint-js, lint-sass, jest

Minor accessibility improvements
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/index.js
  app/soapbox/features/reactions/index.js
  app/styles/accounts.scss
  app/styles/components/account-header.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Lint code on commit with Husky npm
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Due: jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
