Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Allow to clear BirthdayInput
  app/soapbox/components/birthday_input.tsx
  app/soapbox/features/edit_profile/index.tsx
  app/styles/components/datepicker.scss
Due: lint-js, lint-sass, jest

Update index.tsx
  app/soapbox/features/edit_profile/index.tsx
Due: lint-js, jest

Login: strip whitespace around username, strip leading @
  app/soapbox/actions/auth.ts
  app/soapbox/features/auth_login/components/login_form.tsx
  app/soapbox/features/public_layout/components/header.tsx
Due: lint-js, jest

Actually, remove pattern from login inputs (it can be an email too)
  app/soapbox/features/auth_login/components/login_form.tsx
  app/soapbox/features/public_layout/components/header.tsx
Due: lint-js, jest

Add cursor-pointer to emoji reactions in StatusInteractionBar
  app/soapbox/features/status/components/status-interaction-bar.tsx
Due: lint-js, jest

Add Import Cost to recommended extensions
  .vscode/extensions.json
Due: jest

Sync up TruthSocial features
  app/soapbox/utils/features.ts
Due: lint-js, jest

[FIX] fix trads
  app/soapbox/locales/fr.json
Due: jest

[CH] Add local and fediverse timeline in thumb menu, move serach icon in top navigation (#13)
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/ui/components/navbar.tsx
Due: lint-js, jest

[CH] Fediverse becomes Discover
  app/soapbox/locales/fr.json
Due: jest

[FIX] Fix trads
  app/soapbox/locales/fr.json
Due: jest

Pullable: Remove pullingContent={undefined}
  app/soapbox/components/pullable.tsx
Due: lint-js, jest

Docs: add Soapbox Worker to "Deploy at scale" doc
  docs/administration/deploy-at-scale.md
Due: docs-deploy

Set the ref on the actual carousel div
  app/soapbox/components/ui/hstack/hstack.tsx
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

Fix backdrop-blur for Firefox
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

Restore autocomplete in some cases
  app/soapbox/features/auth_login/components/login_form.tsx
  app/soapbox/features/external_login/components/external-login-form.tsx
  app/soapbox/features/public_layout/components/header.tsx
Due: lint-js, jest

Refetch timeline if user stops following someone
  app/soapbox/actions/timelines.ts
  app/soapbox/features/home_timeline/index.tsx
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

Improve mobile display of feed suggestions
  app/soapbox/features/feed-suggestions/feed-suggestions.tsx
Due: lint-js, jest

Add eslint-plugin-compat
  .eslintrc.js
  app/soapbox/actions/push_notifications/registerer.ts
  app/soapbox/components/error_boundary.tsx
  app/soapbox/features/audio/index.js
  package.json
  yarn.lock
Due: lint-js, jest

Add Mastodon admin scopes
  app/soapbox/utils/features.ts
Due: lint-js, jest

Restore featured accounts
  app/soapbox/actions/accounts.ts
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/ui/components/pinned_accounts_panel.tsx
  app/soapbox/features/ui/components/subscription-button.tsx
  app/soapbox/pages/profile_page.tsx
Due: lint-js, jest

Fix: When I visit a link to a status, the user's avatar is focused
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

ExternalLogin: display snackbar errors
  app/soapbox/features/external_login/components/external-login-form.tsx
Due: lint-js, jest

DevelopersMenu: refactor DashWidget into a React.FC
  app/soapbox/features/developers/developers-menu.tsx
Due: lint-js, jest

DevelopersMenu: display source code version
  app/soapbox/features/developers/developers-menu.tsx
Due: lint-js, jest

Danger: only care about UI components, actions, and reducers
  dangerfile.ts
Due: lint-js

conditionally show endorse toggle
  app/soapbox/features/account/components/header.js
  app/soapbox/features/ui/components/pinned_accounts_panel.tsx
Due: lint-js, jest

Add vscode snippets
  .vscode/soapbox.code-snippets
Due: none

For multi-response polls, show the number of people that voted instead of the sum of all votes submitted
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/polls/poll-option.tsx
Due: lint-js, jest

SoapboxMount: break SoapboxLoad into a separate component
  app/soapbox/containers/soapbox.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useLocale.ts
Due: lint-js, jest

Add configurable GDPR alert
  app/soapbox/containers/soapbox.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useGdpr.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: lint-js, jest

SoapboxMount: break even more out into SoapboxHead
  app/soapbox/containers/soapbox.tsx
Due: lint-js, jest

Add useTheme hook
  app/soapbox/components/site-logo.tsx
  app/soapbox/containers/soapbox.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useTheme.ts
Due: lint-js, jest

Snippets: use default export for component
  .vscode/soapbox.code-snippets
Due: none

Always send the "to" field
  app/soapbox/actions/compose.ts
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Use a perfect regex
  app/soapbox/actions/compose.ts
Due: lint-js, jest

Copy react-notification's source code directly into the project
  app/soapbox/actions/alerts.ts
  app/soapbox/features/ui/containers/notifications_container.tsx
  app/soapbox/hooks/useGdpr.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/react-notification/defaultPropTypes.js
  app/soapbox/react-notification/index.d.ts
  app/soapbox/react-notification/index.js
  app/soapbox/react-notification/notification.js
  app/soapbox/react-notification/notificationStack.js
  app/soapbox/react-notification/stackedNotification.js
  package.json
  yarn.lock
Due: lint-js, jest

Add break-words to profile fields content
  app/soapbox/features/ui/components/profile_fields_panel.tsx
Due: lint-js, jest
