Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Normalize Mastodon RC version
  app/soapbox/__fixtures__/mastodon-instance-rc.json
  app/soapbox/normalizers/__tests__/instance-test.js
  app/soapbox/normalizers/instance.ts
Due: lint-js, jest

External auth: normalize instance
  app/soapbox/actions/external_auth.js
Due: lint-js, jest

Update README
  README.md
  soapbox-screenshot.png
Due: none

Support account `website` field
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.ts
Due: lint-js, jest

Change default avatar, add default header
  app/images/avatar-missing.png
  app/images/avatar-missing.svg
  app/images/header-missing.png
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.ts
Due: lint-js, jest

Account: normalize fqn
  app/soapbox/__fixtures__/mastodon-account.json
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.ts
  app/soapbox/utils/accounts.ts
Due: lint-js, jest

Revert "Merge branch 'msw' into 'develop'"
  app/soapbox/__mocks__/api.js
  app/soapbox/__tests__/api.js
  app/soapbox/actions/__tests__/preload-test.js
  app/soapbox/actions/__tests__/statuses-test.js
  app/soapbox/msw.js
  app/soapbox/test_helpers.js
  app/soapbox/test_setup.js
  package.json
  yarn.lock
Due: lint-js, jest

Add @types/http-link-header
  package.json
  yarn.lock
Due: jest

Fix API mock
  app/soapbox/__mocks__/api.js
  app/soapbox/__mocks__/api.ts
  app/soapbox/actions/__tests__/statuses-test.js
  app/soapbox/test_helpers.js
Due: lint-js, jest

Fix Typescript eslint
  .eslintrc.js
  app/soapbox/__mocks__/api.ts
  package.json
  yarn.lock
Due: lint-js, jest

tsconfig: exclude Jest files
  tsconfig.json
Due: jest

Throw out accidental badge.tsx changes
  app/soapbox/components/badge.tsx
Due: jest

gitlab-ci: lint on ts/tsx changes
  .gitlab-ci.yml
Due: none

Fix Instance types
  app/soapbox/actions/instance.ts
  app/soapbox/storage/kv_store.ts
  app/soapbox/store.ts
Due: jest

Lint redux-immutable/index.d.ts
  types/redux-immutable/index.d.ts
Due: none

Fix build >:(
  app/soapbox/actions/instance.ts
Due: jest

Improve redux-immutable type definition
  types/redux-immutable/index.d.ts
Due: none

Add Tailwind
  .stylelintrc.json
  package.json
  postcss.config.js
  tailwind.config.js
  yarn.lock
Due: lint-js, lint-sass, jest

Typescript: reducers/accounts.ts
  app/soapbox/normalizers/account.ts
  app/soapbox/reducers/accounts.ts
Due: jest

Typescript: reducers/statuses.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/statuses.ts
Due: jest

Statuses reducer: refactor search_index
  app/soapbox/reducers/statuses.ts
Due: jest

Fix calculateStatus export
  app/soapbox/reducers/statuses.ts
Due: jest

Fix Soapbox Config
  app/soapbox/__fixtures__/pleroma-admin-config.json
  app/soapbox/reducers/__tests__/instance-test.js
  app/soapbox/reducers/instance.ts
Due: lint-js, jest

Typescript: utils/config_db.ts
  app/soapbox/utils/config_db.ts
Due: jest

Generalize some language
  app/soapbox/actions/soapbox.js
  app/soapbox/components/error_boundary.js
  app/soapbox/components/helmet.js
  app/soapbox/features/follow_recommendations/components/follow_recommendations_container.js
  app/soapbox/features/public_layout/components/pre_header.js
  app/soapbox/features/verification/registration.js
  app/soapbox/locales/en.json
Due: lint-js, jest

Use localhost:3036
  webpack/development.js
Due: lint-js, jest

SidebarMenu: fix missing message
  app/soapbox/components/sidebar_menu.js
Due: lint-js, jest

AgeVerification: generalize language
  app/soapbox/features/verification/steps/age_verification.js
Due: lint-js, jest

Generalize homepage
  app/soapbox/features/landing_page/index.js
  app/soapbox/features/public_layout/components/header.js
  app/soapbox/features/ui/components/modals/landing-page-modal.js
Due: lint-js, jest

Move @types deps into non-dev dependencies
  package.json
Due: jest

Restore locale-data/README.md
  app/soapbox/locales/locale-data/README.md
Due: jest

Remove dynamic import of Tabler icons
  app/soapbox/features/notifications/components/notification.js
Due: lint-js, jest

Use new Icon comp with Tabler version
  app/soapbox/features/ui/components/navbar.tsx
Due: jest

Properly handle navigating to previous page if 'backHref' is undefined
  app/soapbox/components/ui/column/column.tsx
  app/soapbox/features/edit_profile/index.js
Due: lint-js, jest

Fetch frontend_configurations once again, reenable /soapbox/config route
  app/soapbox/actions/soapbox.js
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Use MenuItem if action
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

Fix tests
  app/soapbox/components/ui/column/__tests__/__snapshots__/column.test.js.snap
Due: jest

UnauthorizedModal: use withRouter history
  app/soapbox/features/ui/components/unauthorized_modal.js
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
