Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

ThumbNavigation: increase height 50px --> 60px
  app/styles/chats.scss
  app/styles/navigation.scss
  app/styles/ui.scss
Due: lint-sass

Dropdown: fix PropType error
  app/soapbox/components/dropdown_menu.js
Due: lint-js, jest

ProfileInfoPanel: call isVerified()
  app/soapbox/features/ui/components/profile_info_panel.js
Due: lint-js, jest

Add 3-level Mastodon compatibility route
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Preload: import accounts from Mastodon's initial-state
  app/soapbox/actions/preload.js
Due: lint-js, jest

Add Conversations to async-components
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

SidebarMenu: update X icon, caret, and plus
  app/soapbox/components/icon_button.js
  app/soapbox/components/sidebar_menu.js
  app/styles/components/sidebar-menu.scss
Due: lint-js, lint-sass, jest

Preload: fix Mastodon accounts import
  app/soapbox/actions/__tests__/preload-test.js
  app/soapbox/actions/preload.js
Due: lint-js, jest

Webpack: allow any host to access devServer
  webpack/development.js
Due: lint-js, jest

Chats: fix fetching when instance is delayed
  app/soapbox/features/ui/index.js
Due: lint-js, jest

ThumbNavigation: probably fix padding for iOS PWA
  app/styles/chats.scss
  app/styles/navigation.scss
  app/styles/ui.scss
  app/styles/variables.scss
Due: lint-sass

IconButton: use opacity instead of hsla to avoid svg transparency issues (improves status icons)
  app/soapbox/components/icon_button.js
  app/styles/components/emoji-reacts.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

StatusActionBar: increase size of emoji reaction
  app/styles/components/emoji-reacts.scss
Due: lint-sass

StatusActionBar: update "share" icon to Feather svg
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/status/components/action_bar.js
Due: lint-js, jest

Composer: use Tabler svg icons
  app/soapbox/features/compose/components/markdown_button.js
  app/soapbox/features/compose/components/poll_button.js
  app/soapbox/features/compose/components/privacy_dropdown.js
  app/soapbox/features/compose/components/schedule_button.js
  app/soapbox/features/compose/components/spoiler_button.js
  app/soapbox/features/compose/components/upload_button.js
  app/soapbox/features/compose/containers/markdown_button_container.js
  app/soapbox/features/compose/containers/spoiler_button_container.js
  app/styles/components/compose-form.scss
Due: lint-js, lint-sass, jest

ComposeForm: icon alignment tweaks
  app/styles/components/compose-form.scss
Due: lint-sass

ComposeForm: yank circular svg character counter from Gab
  app/soapbox/components/progress_circle.js
  app/soapbox/features/compose/components/character_counter.js
  app/styles/application.scss
  app/styles/components/compose-form.scss
  app/styles/components/progress-circle.scss
Due: lint-js, lint-sass, jest

Upgrade core-js: fix redundant entrypoint bloat
  yarn.lock
Due: jest

Status: fix annoying height difference when doing an emoji react
  app/styles/components/emoji-reacts.scss
  app/styles/components/status.scss
Due: lint-sass

Emoji reaction fixes
  app/styles/components/detailed-status.scss
  app/styles/components/emoji-reacts.scss
  app/styles/components/status.scss
Due: lint-sass

Fix ui at width 895
  app/styles/components/account-header.scss
  app/styles/components/columns.scss
  app/styles/components/profile-info-panel.scss
  app/styles/components/search.scss
  app/styles/components/tabs-bar.scss
  app/styles/demetricator.scss
  app/styles/ui.scss
Due: lint-sass

Move RegistrationForm to auth_login directory
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/landing_page/index.js
Due: lint-js, jest

Add basic invite route, fix Chats fetch
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/register_invite/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

RegistrationForm: refactor isOpen logic
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/landing_page/index.js
Due: lint-js, jest

RegisterInvite: make registrations by invite token work
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/register_invite/index.js
  app/styles/application.scss
  app/styles/components/register-invite.scss
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

RegistrationForm: redirect home on success (if not already)
  app/soapbox/features/auth_login/components/registration_form.js
Due: lint-js, jest

Preload: call verifyCredentials after Mastodon preload to get the "source" parameter of the account
  app/soapbox/__mocks__/api.js
  app/soapbox/actions/__tests__/preload-test.js
  app/soapbox/actions/auth.js
  app/soapbox/actions/preload.js
  app/soapbox/reducers/accounts_meta.js
Due: lint-js, jest

Fix accounts_meta reducer
  app/soapbox/reducers/accounts_meta.js
Due: lint-js, jest

Update zh-CN translation
  app/soapbox/locales/zh-CN.json
Due: jest

Move logo to center on mobile
  app/styles/components/tabs-bar.scss
Due: lint-sass

SidebarMenu: add links to local and Fediverse timelines
  app/soapbox/components/sidebar_menu.js
Due: lint-js, jest

Status: css fix to only target tabler icons
  app/styles/components/emoji-reacts.scss
Due: lint-sass

Mastodon: clear token on 401 in VERIFY_CREDENTIALS_FAIL
  app/soapbox/reducers/auth.js
Due: lint-js, jest

SubNavigation: add non-Home timelines
  app/soapbox/components/sub_navigation.js
Due: lint-js, jest

Improve scrolling desynchronization https://gitlab.com/soapbox-pub/soapbox-fe/-/issues/749
  app/styles/components/columns.scss
  app/styles/components/status.scss
  app/styles/ui.scss
Due: lint-sass

Fix status overflow issue *and* scroll bar
  app/soapbox/containers/status_container.js
  app/styles/components/status.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Webpack: serve SVG icons as files
  package.json
  webpack/production.js
  webpack/rules/assets.js
  yarn.lock
Due: lint-js, jest

Replace ForkAwesome with LineAwesome
  app/styles/application.scss
  package.json
  webpack/rules/assets.js
  yarn.lock
Due: lint-js, lint-sass, jest

Improve display of LineAwesome icons
  app/soapbox/components/status.js
  app/soapbox/features/soapbox_config/forkawesome.json
  app/soapbox/features/ui/components/instance_info_panel.js
  app/styles/components/columns.scss
  app/styles/components/profile-media-panel.scss
  app/styles/components/promo-panel.scss
  app/styles/components/theme-toggle.scss
  app/styles/components/wtf-panel.scss
Due: lint-js, lint-sass, jest

CharacterCounter: make thinner
  app/soapbox/features/compose/components/character_counter.js
Due: lint-js, jest
