Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

use instance title
  app/soapbox/features/directory/index.js
Due: lint-js, jest

fix some icons
  app/styles/components/datepicker.scss
  app/styles/forms.scss
Due: lint-sass

Profile directory: styles, cleanup
  app/soapbox/components/sidebar_menu.js
  app/soapbox/features/directory/components/account_card.js
  app/soapbox/features/directory/index.js
  app/soapbox/features/ui/components/link_footer.js
  app/soapbox/utils/features.js
  app/styles/application.scss
  app/styles/components/directory.scss
  app/styles/components/radio-button.scss
  app/styles/components/sidebar-menu.scss
Due: lint-js, lint-sass, jest

Fix another race condition in search results
  app/soapbox/actions/search.js
  app/soapbox/reducers/search.js
Due: lint-js, jest

Add to /settings/profile
  app/soapbox/features/edit_profile/index.js
Due: lint-js, jest

Use some icon from Tabler for profile directory
  app/soapbox/components/sidebar_menu.js
Due: lint-js, jest

fix styling
  app/styles/components/directory.scss
Due: lint-sass

Check username availability
  app/soapbox/actions/accounts.js
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Fix: PlaceholderStatus not flush against SubNavigation
  app/styles/components/columns.scss
Due: lint-sass

Use /lookup for username availability with Pleroma
  app/soapbox/utils/features.js
Due: lint-js, jest

Show 'Follows you' in profile directory
  app/soapbox/components/profile_hover_card.js
  app/soapbox/features/directory/components/account_card.js
  app/styles/components/directory.scss
Due: lint-js, lint-sass, jest

Slightly restyle filtered statuses
  app/styles/components/detailed-status.scss
  app/styles/components/status.scss
Due: lint-sass

Fix dropdown icon
  app/styles/forms.scss
Due: lint-sass

Minor styles improvements
  app/soapbox/features/filters/index.js
  app/soapbox/features/list_adder/index.js
  app/soapbox/features/list_editor/index.js
  app/styles/components/list-forms.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Support account subscriptions on Mastodon
  app/soapbox/actions/accounts.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/ui/components/subscription_button.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Use account lookup in fetchAccountByUsername
  app/soapbox/actions/accounts.js
Due: lint-js, jest

Fix close button in report modal
  app/styles/components/modal.scss
Due: lint-sass

Add headlines to confirmation modals
  app/soapbox/actions/moderation.js
  app/soapbox/components/modal_root.js
  app/soapbox/containers/account_container.js
  app/soapbox/containers/domain_container.js
  app/soapbox/containers/status_container.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/list_timeline/index.js
  app/soapbox/features/notifications/containers/column_settings_container.js
  app/soapbox/features/status/containers/detailed_status_container.js
  app/soapbox/features/status/index.js
  app/soapbox/features/ui/components/compose_modal.js
  app/soapbox/features/ui/components/confirmation_modal.js
  app/soapbox/features/ui/components/mute_modal.js
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Add lazy load to emoji-mart
  app/styles/emoji_picker.scss
  package.json
  yarn.lock
Due: lint-sass, jest

Another PlaceholderStatus style fix
  app/styles/components/columns.scss
Due: lint-sass

Add column header to reactions page
  app/soapbox/features/reactions/index.js
Due: lint-js, jest

Add column header to users page in dashboard
  app/soapbox/features/admin/user_index.js
Due: lint-js, jest

Add column headers to some more pages
  app/soapbox/features/account_gallery/index.js
  app/soapbox/features/favourited_statuses/index.js
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
  app/soapbox/features/pinned_statuses/index.js
Due: lint-js, jest

Remote interactions modal
  app/soapbox/actions/interactions.js
  app/soapbox/components/poll.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/components/status_content.js
  app/soapbox/containers/poll_container.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/features/ui/components/action_button.js
  app/soapbox/features/ui/components/unauthorized_modal.js
  app/soapbox/locales/pl.json
  app/soapbox/utils/features.js
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

fix reblogs with confirmation modal enabled
  app/soapbox/containers/status_container.js
Due: lint-js, jest

Restrict pages access by unauthorized users
  app/soapbox/features/ui/components/column_forbidden.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/react_router_helpers.js
Due: lint-js, jest

AccountHeader: restrict privileged actions, fixes #713
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

Actually fix reblogs
  app/soapbox/containers/status_container.js
Due: lint-js, jest

Unset line-height for modals action bar
  app/styles/components/modal.scss
Due: lint-sass

Interactions: optimistic unreblogs
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

Support explicit addressing
  app/soapbox/actions/compose.js
  app/soapbox/actions/statuses.js
  app/soapbox/components/status.js
  app/soapbox/components/status_reply_mentions.js
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/reply_mentions.js
  app/soapbox/features/compose/containers/reply_mentions_container.js
  app/soapbox/features/mentions/index.js
  app/soapbox/features/reply_mentions/account.js
  app/soapbox/features/status/components/detailed_status.js
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/reply_mentions_modal.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/locales/pl.json
  app/soapbox/reducers/compose.js
  app/soapbox/utils/features.js
  app/styles/application.scss
  app/styles/components/modal.scss
  app/styles/components/reply-mentions.scss
Due: lint-js, lint-sass, jest

ReplyMentions: to.length --> to.size, fix bug replying to self
  app/soapbox/features/compose/components/reply_mentions.js
Due: lint-js, jest

Explicit addressing: remove "Show thread" button, handle StatusReplyMentions edge cases, fixes #793
  app/soapbox/components/status.js
  app/soapbox/components/status_list.js
  app/soapbox/components/status_reply_mentions.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status.js
  app/soapbox/features/ui/components/pending_status.js
Due: lint-js, jest

Update de.json
  app/soapbox/locales/de.json
Due: jest

Filter bar animation
  app/soapbox/components/filter_bar.js
  app/soapbox/features/compose/components/search_results.js
  app/soapbox/features/notifications/components/filter_bar.js
  app/soapbox/features/reactions/index.js
  app/soapbox/features/search/components/filter_bar.js
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Turn some pages into modals
  app/soapbox/components/status_reply_mentions.js
  app/soapbox/features/favourites/index.js
  app/soapbox/features/mentions/index.js
  app/soapbox/features/reactions/index.js
  app/soapbox/features/reblogs/index.js
  app/soapbox/features/status/components/status_interaction_bar.js
  app/soapbox/features/ui/components/favourites_modal.js
  app/soapbox/features/ui/components/mentions_modal.js
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/reactions_modal.js
  app/soapbox/features/ui/components/reblogs_modal.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

change label
  app/soapbox/containers/status_container.js
  app/soapbox/features/status/containers/detailed_status_container.js
  app/soapbox/features/status/index.js
Due: lint-js, jest

Minor changes, port 'Generalize “press back to close modal” to any modal and to public pages' from Mastodon
  app/soapbox/components/modal_root.js
  app/soapbox/components/status_reply_mentions.js
  app/soapbox/containers/soapbox.js
  app/soapbox/features/status/components/status_interaction_bar.js
  app/soapbox/features/ui/components/media_modal.js
  app/soapbox/features/ui/components/video_modal.js
  app/styles/components/emoji-reacts.scss
  app/styles/components/reply-mentions.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

Add max-height to the new modals
  app/styles/components/modal.scss
Due: lint-sass

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
