Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Account lookup: fetch relationship
  app/soapbox/actions/accounts.js
Due: lint-js, jest

Fix actions/accounts test for accountLookup
  app/soapbox/actions/__tests__/accounts.test.ts
Due: lint-js, jest

Ensure whole number
  app/soapbox/features/compose/components/polls/duration-selector.tsx
Due: lint-js, jest

Lint
  app/soapbox/features/verification/registration.tsx
Due: lint-js, jest

TypeScript: ChatPanes, CryptoDonate, utils/ethereum
  app/soapbox/features/chats/components/chat_panes.js
  app/soapbox/features/chats/components/chat_panes.tsx
  app/soapbox/features/crypto_donate/utils/manifest_map.js
  app/soapbox/features/crypto_donate/utils/manifest_map.ts
  app/soapbox/utils/ethereum.js
  app/soapbox/utils/ethereum.ts
  package.json
  yarn.lock
Due: lint-js, jest

Precheck: don't take <title> into consideration
  app/soapbox/precheck.ts
Due: lint-js, jest

TypeScript: actions
  app/soapbox/actions/apps.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/backups.ts
  app/soapbox/actions/external_auth.ts
  app/soapbox/actions/oauth.ts
  app/soapbox/api.ts
  app/soapbox/components/birthday_input.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/auth_login/components/captcha.tsx
  app/soapbox/features/auth_login/components/login_page.tsx
  app/soapbox/features/auth_login/components/logout.tsx
  app/soapbox/features/auth_login/components/otp_auth_form.tsx
  app/soapbox/features/backups/index.tsx
  app/soapbox/features/chats/components/chat.tsx
  app/soapbox/features/chats/components/chat_list.tsx
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/features/verification/registration.tsx
  app/soapbox/features/verification/waitlist_page.tsx
  app/soapbox/hooks/useAppDispatch.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/selectors/index.ts
  app/soapbox/utils/auth.ts
Due: lint-js, jest

fix instance test
  app/soapbox/normalizers/__tests__/instance.test.ts
Due: lint-js, jest

Change confirmation modal for edited posts
  app/soapbox/components/modal_root.js
  app/soapbox/locales/pl.json
Due: lint-js, jest

TypeScript, React.FC
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/compose/components/reply_indicator.tsx
  app/soapbox/features/crypto_donate/components/crypto_address.tsx
  app/soapbox/features/scheduled_statuses/components/scheduled_status.tsx
  app/soapbox/features/ui/components/boost_modal.js
  app/soapbox/features/ui/components/boost_modal.tsx
  app/soapbox/features/ui/components/confirmation_modal.js
  app/soapbox/features/ui/components/confirmation_modal.tsx
  app/soapbox/features/ui/components/crypto_donate_modal.js
  app/soapbox/features/ui/components/crypto_donate_modal.tsx
  app/soapbox/features/ui/components/list_panel.js
  app/soapbox/features/ui/components/list_panel.tsx
  app/soapbox/features/ui/components/mute_modal.js
  app/soapbox/features/ui/components/mute_modal.tsx
  app/soapbox/features/ui/components/pending_status.tsx
  app/soapbox/features/ui/components/poll_preview.js
  app/soapbox/features/ui/components/poll_preview.tsx
  app/soapbox/reducers/mutes.ts
Due: lint-js, jest

TypeScript
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/features/emoji/emoji_mart_data_light.ts
  app/soapbox/features/emoji/emoji_picker.ts
  app/soapbox/features/filters/index.js
  app/soapbox/features/filters/index.tsx
  app/soapbox/normalizers/filter.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/reducers/custom_emojis.ts
  app/soapbox/reducers/filters.ts
  app/soapbox/reducers/filters.tsx
  app/soapbox/reducers/profile_hover_card.js
  app/soapbox/reducers/profile_hover_card.ts
  app/soapbox/selectors/index.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

prefer TypeScript for tests
  app/soapbox/actions/__tests__/compose.test.ts
  app/soapbox/components/__tests__/autosuggest_emoji.test.tsx
  app/soapbox/components/__tests__/avatar.test.tsx
  app/soapbox/components/__tests__/avatar_overlay.test.tsx
  app/soapbox/components/__tests__/badge.test.tsx
  app/soapbox/components/__tests__/display_name.test.tsx
  app/soapbox/components/__tests__/emoji_selector.test.tsx
  app/soapbox/components/__tests__/scroll-top-button.test.tsx
  app/soapbox/features/auth_login/components/__tests__/captcha.test.tsx
  app/soapbox/features/auth_login/components/__tests__/login_form.test.tsx
  app/soapbox/features/auth_login/components/__tests__/login_page.test.tsx
  app/soapbox/features/emoji/emoji_picker.js
  app/soapbox/features/ui/components/__tests__/compose-button.test.tsx
  app/soapbox/features/ui/components/list_panel.tsx
  app/soapbox/features/verification/steps/__tests__/age-verification.test.tsx
  app/soapbox/features/verification/steps/__tests__/email-verification.test.tsx
  app/soapbox/features/verification/steps/__tests__/sms-verification.test.tsx
  app/soapbox/reducers/__tests__/compose.test.ts
  app/soapbox/reducers/__tests__/contexts.test.ts
  app/soapbox/reducers/__tests__/list_adder.test.ts
  app/soapbox/reducers/__tests__/modals.test.ts
  app/soapbox/reducers/__tests__/mutes.test.ts
  app/soapbox/utils/__tests__/config_db.test.ts
  app/soapbox/utils/__tests__/numbers.test.tsx
Due: lint-js, jest

Handle custom error messages from API
  app/soapbox/features/verification/steps/sms-verification.tsx
Due: lint-js, jest

GitLab CI: display pretty test coverage
  .gitlab-ci.yml
Due: none

Produce a junit.xml during test:coverage
  .gitignore
  .gitlab-ci.yml
  jest.config.js
  package.json
  yarn.lock
Due: lint-js, jest

GitLab CI: add back coverage regex
  .gitlab-ci.yml
Due: none

Rerun tests when .gitlab-ci.yml changes
  .gitlab-ci.yml
Due: none

Actions: TypeScript
  app/soapbox/actions/push_notifications/index.ts
  app/soapbox/actions/push_notifications/registerer.ts
  app/soapbox/actions/push_notifications/setter.js
  app/soapbox/actions/push_notifications/setter.ts
  app/soapbox/actions/push_subscriptions.js
  app/soapbox/actions/push_subscriptions.ts
Due: lint-js, jest

Correctly autofocus on poll input
  app/soapbox/features/compose/components/polls/poll-form.tsx
  app/soapbox/features/compose/containers/poll_form_container.js
Due: lint-js, jest

Get rid of PollFormContainer
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/polls/poll-form.tsx
  app/soapbox/features/compose/containers/poll_form_container.js
Due: lint-js, jest

Add danger-link button
  app/soapbox/components/ui/button/useButtonStyles.ts
  app/soapbox/features/compose/components/polls/poll-form.tsx
Due: lint-js, jest

Fix selecting emojis in Poll
  app/soapbox/features/compose/components/polls/poll-form.tsx
Due: lint-js, jest

Jest: add back default reporter, fix empty cli output
  jest.config.js
Due: lint-js, jest

guestExperience: add alternate user routes
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

Add Danger https://danger.systems/js/
  .gitlab-ci.yml
  dangerfile.ts
  package.json
  yarn.lock
Due: lint-js, jest

GitLab CI: add `only: merge_requests` to danger
  .gitlab-ci.yml
Due: none

Dangerfile: warn when MR needs tests, thank when updating docs
  dangerfile.ts
Due: lint-js

Undo some accidental changes
  app/soapbox/__fixtures__/pleroma-status-with-poll-with-emojis.json
  app/soapbox/components/relative_timestamp.js
  app/soapbox/features/test_timeline/index.tsx
  app/soapbox/features/ui/components/poll_preview.tsx
Due: lint-js, jest

Refactor polls
  app/soapbox/components/poll.tsx
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/polls/poll-option.tsx
  app/soapbox/components/polls/poll.tsx
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

Redesign Poll within Status
  app/soapbox/__fixtures__/pleroma-status-with-poll-with-emojis.json
  app/soapbox/components/poll.tsx
  app/soapbox/components/relative_timestamp.js
  app/soapbox/components/status_content.tsx
  app/soapbox/features/test_timeline/index.tsx
  app/soapbox/features/ui/components/poll_preview.tsx
  app/soapbox/locales/en.json
Due: lint-js, jest

Add tests for PollFooter
  app/soapbox/components/polls/__tests__/poll-footer.test.tsx
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/polls/poll.tsx
Due: lint-js, jest

Improve PollPreview
  app/soapbox/features/scheduled_statuses/components/scheduled_status.tsx
  app/soapbox/features/ui/components/pending_status.tsx
  app/soapbox/features/ui/components/poll_preview.tsx
  app/styles/application.scss
  app/styles/polls.scss
Due: lint-js, lint-sass, jest

GitLab CI: don't cache danger job, switch to npx
  .gitlab-ci.yml
Due: none

Add test for handling the Refresh button
  app/soapbox/components/polls/__tests__/poll-footer.test.tsx
  app/soapbox/components/polls/poll-footer.tsx
Due: lint-js, jest

Lint
  app/soapbox/features/scheduled_statuses/components/scheduled_status.tsx
  app/soapbox/features/ui/components/pending_status.tsx
Due: lint-js, jest

Dark mode support for Polls
  app/soapbox/components/polls/poll-option.tsx
  app/soapbox/components/status_content.tsx
  app/soapbox/components/ui/text/text.tsx
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

add status reply hover
  app/soapbox/actions/status_hover_card.js
  app/soapbox/components/hover_status_wrapper.tsx
  app/soapbox/components/status-hover-card.tsx
  app/soapbox/components/status-reply-mentions.tsx
  app/soapbox/components/status.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/status_hover_card.ts
Due: lint-js, jest
