Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

fix: click on share button shouldnt redirect to status (#395)
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

fix: awaiting approval show bad password on connection (#393)
  app/soapbox/actions/auth.ts
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: action bar icons are not centered (#392)
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

chore(release): 1.16.10
  CHANGELOG.md
  package.json
Due: jest

feat: add account popover on reblogs
  app/soapbox/components/account.tsx
  app/soapbox/components/hover_ref_wrapper.tsx
  app/soapbox/components/status.tsx
Due: lint-js, jest

feat: add share_target
  app/manifest.json
  app/soapbox/features/new_status/index.tsx
  app/soapbox/main.tsx
  app/soapbox/service_worker/entry.ts
  app/soapbox/service_worker/share_target.js
  webpack/development.js
Due: lint-js, jest

feat: add account popover on reblogs (#396)
  app/soapbox/components/account.tsx
  app/soapbox/components/hover_ref_wrapper.tsx
  app/soapbox/components/status.tsx
Due: lint-js, jest

feat: add share_target (#397)
  app/manifest.json
  app/soapbox/features/new_status/index.tsx
  app/soapbox/main.tsx
  app/soapbox/service_worker/entry.ts
  app/soapbox/service_worker/share_target.js
  webpack/development.js
Due: lint-js, jest

chore(release): 1.17.0
  CHANGELOG.md
  package.json
Due: jest

chore: remove useless files
  app/soapbox/features/compose/components/text_icon_button.tsx
  app/soapbox/features/compose/containers/upload_progress_container.js
  app/soapbox/features/groups/timeline/components/header.js
  app/soapbox/features/groups/timeline/containers/header_container.js
  app/soapbox/features/placeholder/components/placeholder_material_status.tsx
  app/soapbox/features/public_timeline/containers/column_settings_container.js
  app/soapbox/features/soapbox_config/components/crypto-address-input.tsx
  app/soapbox/features/ui/components/account_list_panel.js
  app/soapbox/features/ui/components/list_panel.tsx
  app/soapbox/features/ui/util/schedule_idle_task.js
  app/soapbox/pages/group_page.js
  app/soapbox/pages/groups_page.js
  app/soapbox/queries/suggestions.ts
  app/soapbox/react-notification/index.d.ts
  app/soapbox/reducers/height_cache.js
  app/soapbox/types/colors.ts
  app/soapbox/types/soapbox.ts
  app/soapbox/utils/soapbox_prop_types.ts
Due: lint-js, jest

feat: rework detailed status details
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

chore: fix workflow
  .github/workflows/pages.yml
  .gitlab-ci.yml
Due: none

chore: add eslint hooks enforcing
  .eslintrc.js
  package.json
  yarn.lock
Due: lint-js, jest

fix: report ui
  app/soapbox/components/status_content.tsx
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/report/components/status_check_box.tsx
  app/soapbox/features/ui/components/modals/report-modal/report-modal.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/other-actions-step.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/reason-step.tsx
  app/soapbox/locales/fr.json
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

feat: rework detailed status details (#400)
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: report ui (#404)
  app/soapbox/components/status_content.tsx
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/report/components/status_check_box.tsx
  app/soapbox/features/ui/components/modals/report-modal/report-modal.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/other-actions-step.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/reason-step.tsx
  app/soapbox/locales/fr.json
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

chore: remove useless files (#398)
  app/soapbox/features/compose/components/text_icon_button.tsx
  app/soapbox/features/compose/containers/upload_progress_container.js
  app/soapbox/features/groups/timeline/components/header.js
  app/soapbox/features/groups/timeline/containers/header_container.js
  app/soapbox/features/placeholder/components/placeholder_material_status.tsx
  app/soapbox/features/public_timeline/containers/column_settings_container.js
  app/soapbox/features/soapbox_config/components/crypto-address-input.tsx
  app/soapbox/features/ui/components/account_list_panel.js
  app/soapbox/features/ui/components/list_panel.tsx
  app/soapbox/features/ui/util/schedule_idle_task.js
  app/soapbox/pages/group_page.js
  app/soapbox/pages/groups_page.js
  app/soapbox/queries/suggestions.ts
  app/soapbox/react-notification/index.d.ts
  app/soapbox/reducers/height_cache.js
  app/soapbox/types/colors.ts
  app/soapbox/types/soapbox.ts
  app/soapbox/utils/soapbox_prop_types.ts
Due: lint-js, jest

chore(release): 1.17.1
  CHANGELOG.md
  package.json
Due: jest

fix: hide fab on compose page
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

fix: add bigger spacing between statusContent and media
  app/soapbox/components/status.tsx
Due: lint-js, jest

chore: wip
  app/soapbox/actions/timelines.ts
  app/soapbox/components/timeline_settings.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

feat: add timeline settings
  app/soapbox/actions/timelines.ts
  app/soapbox/components/list.tsx
  app/soapbox/components/timeline_settings.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/components/button-pin.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: add bigger spacing between statusContent and media (#408)
  app/soapbox/components/status.tsx
Due: lint-js, jest

fix: hide fab on compose page (#405)
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

chore(release): 1.17.2
  CHANGELOG.md
  package.json
Due: jest

feat: add timeline settings (#410)
  app/soapbox/actions/timelines.ts
  app/soapbox/components/list.tsx
  app/soapbox/components/timeline_settings.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/components/button-pin.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

chore(release): 1.18.0
  CHANGELOG.md
  package.json
Due: jest

fix: bad locale for captcha registration en
  app/soapbox/locales/en.json
Due: jest

fix: timeline header is now centered
  app/soapbox/components/sub_navigation.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/index.tsx
Due: lint-js, jest

fix: wrong lang in language dropdown when editing
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

chore: remove useless log
  app/soapbox/features/compose/components/language_dropdown.tsx
Due: lint-js, jest

fix: wrong lang in language dropdown when editing (#419)
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

fix: timeline header is now centered (#415)
  app/soapbox/components/sub_navigation.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/index.tsx
Due: lint-js, jest

fix: bad locale for captcha registration en (#412)
  app/soapbox/locales/en.json
Due: jest

chore(release): 1.18.1
  CHANGELOG.md
  package.json
Due: jest
