Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Optimistic statuses: prepend with 末 to sort it at the end
  app/soapbox/components/status_list.js
  app/soapbox/features/status/index.js
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/reducers/contexts.js
  app/soapbox/reducers/timelines.js
Due: lint-js, jest

Importer: fix order of imports in importFetchedStatus
  app/soapbox/actions/importer/index.js
Due: lint-js, jest

Optimistic statuses: add .thread__status className
  app/soapbox/features/status/index.js
  app/soapbox/features/ui/components/pending_status.js
Due: lint-js, jest

Remove react-content-loader I will create custom placeholder components
  package.json
  yarn.lock
Due: jest

StatusList: fix crash
  app/soapbox/components/status_list.js
Due: lint-js, jest

Timelines: push to timeline regardless of if it's "online"
  app/soapbox/reducers/timelines.js
Due: lint-js, jest

ErrorBoundary: improve icons and styles
  app/soapbox/components/error_boundary.js
  app/styles/components/error-boundary.scss
Due: lint-js, lint-sass, jest

Suppression des mentions à soapbox dans les fichiers
  README.md
  package.json
Due: jest

Suppression des mentions à soapbox dans l'UI
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/ui/components/link_footer.js
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

Passage en layout deux colonnes, agrandissement du chat
  app/soapbox/pages/home_page.js
  app/styles/chats.scss
  app/styles/components/user-panel.scss
Due: lint-js, lint-sass, jest

Update ca.json
  app/soapbox/locales/ca.json
Due: jest

ScrollableList: break up render function into smaller pieces
  app/soapbox/components/scrollable_list.js
Due: lint-js, jest

Placeholder: display placeholder statuses while timelines are loading
  app/soapbox/components/scrollable_list.js
  app/soapbox/components/status_list.js
  app/soapbox/features/placeholder/components/placeholder_avatar.js
  app/soapbox/features/placeholder/components/placeholder_display_name.js
  app/soapbox/features/placeholder/components/placeholder_material_status.js
  app/soapbox/features/placeholder/components/placeholder_status.js
  app/soapbox/features/placeholder/components/placeholder_status_content.js
  app/soapbox/features/placeholder/utils.js
  app/styles/basics.scss
  app/styles/components/columns.scss
  app/styles/components/profile_hover_card.scss
Due: lint-js, lint-sass, jest

Fediverse timeline: column transparency fixes
  app/soapbox/features/remote_timeline/components/pinned_hosts_picker.js
  app/styles/components/accordion.scss
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

PlaceholderMaterialStatus: fix border-radius
  app/styles/components/columns.scss
Due: lint-sass

PlaceholderStatus: display wiping animation over post
  app/styles/basics.scss
  app/styles/themes.scss
Due: lint-sass

Instead of str.replaceAll, use str.replace with regex (for better browser support)
  app/soapbox/components/scrollable_list.js
  app/soapbox/features/scheduled_statuses/builder.js
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/utils/rich_content.js
Due: lint-js, jest

MediaGallery: fix audio attachment thumb crash
  app/soapbox/components/media_gallery.js
Due: lint-js, jest

ScrollableList: remove accidental changes in commit
  app/soapbox/components/scrollable_list.js
Due: lint-js, jest

Placeholder: display placeholders for Notifications, refactor scss
  app/soapbox/features/notifications/index.js
  app/soapbox/features/placeholder/components/placeholder_account.js
  app/soapbox/features/placeholder/components/placeholder_display_name.js
  app/soapbox/features/placeholder/components/placeholder_notification.js
  app/soapbox/features/placeholder/components/placeholder_status_content.js
  app/styles/application.scss
  app/styles/basics.scss
  app/styles/placeholder.scss
Due: lint-js, lint-sass, jest

ScrollableList, PlaceholderDisplayName: fix runtime warnings
  app/soapbox/components/scrollable_list.js
  app/soapbox/features/placeholder/components/placeholder_display_name.js
Due: lint-js, jest

Helmet: wrap withRouter, probably fix page title getting stuck
  app/soapbox/components/helmet.js
  app/soapbox/containers/soapbox.js
Due: lint-js, jest

Placeholder: display placeholders in slist while next page is loading
  app/soapbox/components/scrollable_list.js
  app/styles/placeholder.scss
Due: lint-js, lint-sass, jest

Placeholder: render placeholder parent status in thread
  app/soapbox/features/status/components/thread_status.js
Due: lint-js, jest

ActionButton: remove minus icon from Unfollow button
  app/soapbox/features/ui/components/action_button.js
Due: lint-js, jest

AccountHeader: improve style of DropdownMenu, use Tabler icon
  app/soapbox/features/account/components/header.js
  app/styles/components/account-header.scss
Due: lint-js, lint-sass, jest

ProfileMediaPanel: fix navigating between profiles, display LoadingIndicator, display empty message
  app/soapbox/actions/timelines.js
  app/soapbox/features/ui/components/profile_media_panel.js
  app/styles/components/profile-media-panel.scss
Due: lint-js, lint-sass, jest

Add Chat/DM button back to AccountHeader
  app/soapbox/features/account/components/header.js
  app/styles/components/account-header.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Add conditional Chat/DM buttons throughout the interface
  app/soapbox/actions/chats.js
  app/soapbox/components/status.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/containers/status_container.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/features/status/containers/detailed_status_container.js
  app/soapbox/features/status/index.js
Due: lint-js, jest

Gavel icon: remove unnecessary (redundant) path
  app/icons/gavel.svg
Due: none

FAB: replace pen icon with new custom Tabler icon
  app/icons/COPYING.md
  app/icons/pen-add.svg
  app/icons/pen-plus.svg
  app/soapbox/features/ui/index.js
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

ComposeModal, ComposeForm: adapt depending on privacy scope
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/ui/components/compose_modal.js
  app/styles/components/buttons.scss
Due: lint-js, lint-sass, jest

WarningContainer: hide "Learn more" button for now
  app/soapbox/features/compose/containers/warning_container.js
Due: lint-js, jest

WarningContainer: use <Link/> to account settings page
  app/soapbox/features/compose/containers/warning_container.js
Due: lint-js, jest

ProfileMediaPanel: fix crash from syncronous noOp
  app/soapbox/actions/timelines.js
Due: lint-js, jest

Button: remove text-decoration when wrapped with a <Link/>
  app/soapbox/components/button.js
  app/styles/components/buttons.scss
Due: lint-js, lint-sass, jest

Status: conditional column title depending on visibility scope
  app/soapbox/features/status/index.js
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
