Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Fix error in ErrorBoundary
  app/soapbox/components/error_boundary.js
Due: lint-js, jest

Compose: Show 'Replying to a post' if unchecked all mentions
  app/soapbox/features/compose/components/reply_mentions.js
  app/soapbox/features/compose/containers/reply_mentions_container.js
Due: lint-js, jest

Fix PendingStatus
  app/soapbox/features/scheduled_statuses/builder.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status.js
  app/soapbox/features/ui/components/pending_status.js
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

Fix post without mentions
  app/soapbox/normalizers/status.js
Due: lint-js, jest

Fix 'View context' in media modals
  app/soapbox/components/modal_root.js
Due: lint-js, jest

normalizeInstance: break out instance normalization into its own module
  app/soapbox/normalizers/__tests__/instance-test.js
  app/soapbox/normalizers/instance.js
  app/soapbox/reducers/instance.js
Due: lint-js, jest

Fix custom emoji parsing
  app/soapbox/__fixtures__/status-custom-emoji.json
  app/soapbox/reducers/__tests__/statuses-test.js
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

ErrorBoundary: display Soapbox version
  app/soapbox/components/error_boundary.js
  app/styles/components/error-boundary.scss
Due: lint-js, lint-sass, jest

Fix typescript imports
  tsconfig.json
Due: jest

Convert Badge component to typescript
  app/soapbox/components/badge.tsx
Due: jest

pendingStatus: fix media uploads
  app/soapbox/features/ui/util/pending_status_builder.js
Due: lint-js, jest

normalizeStatus: refactor baseStatus
  app/soapbox/normalizers/status.js
Due: lint-js, jest

Add GoToSocial fixtures
  app/soapbox/__fixtures__/gotosocial-account.json
  app/soapbox/__fixtures__/gotosocial-instance.json
  app/soapbox/__fixtures__/gotosocial-status.json
Due: jest

normalizeStatus: normalize quote post
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/status.js
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

Simplify scheduled/pending status builders
  app/soapbox/features/scheduled_statuses/builder.js
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/normalizers/status.js
Due: lint-js, jest

Simplify pending status builder
  app/soapbox/features/ui/util/pending_status_builder.js
Due: lint-js, jest

More defensive status normalization
  app/soapbox/features/scheduled_statuses/builder.js
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/normalizers/status.js
Due: lint-js, jest

Normalize mentions, add tests
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/status.js
Due: lint-js, jest

normalizeInstance(): add fixtures and tests for Fedibird, Mitra
  app/soapbox/__fixtures__/fedibird-instance.json
  app/soapbox/__fixtures__/mitra-instance.json
  app/soapbox/normalizers/__tests__/instance-test.js
Due: lint-js, jest

normalizeInstance(): add tests for GoToSocial and Friendica
  app/soapbox/__fixtures__/friendica-instance.json
  app/soapbox/normalizers/__tests__/instance-test.js
Due: lint-js, jest

normalizeStatus(): test GoToSocial and Friendica normalization
  app/soapbox/__fixtures__/friendica-status.json
  app/soapbox/normalizers/__tests__/status-test.js
Due: lint-js, jest

Status reducer: fix search_index
  app/soapbox/__fixtures__/status-with-poll.json
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/reducers/__tests__/statuses-test.js
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

Normalize poll and poll options
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/status.js
Due: lint-js, jest

Let accent color be configurable
  app/soapbox/actions/soapbox.js
  app/soapbox/containers/soapbox.js
  app/soapbox/features/soapbox_config/components/site_preview.js
  app/soapbox/features/soapbox_config/index.js
  app/soapbox/locales/pl.json
  app/soapbox/locales/uk.json
  app/soapbox/utils/theme.js
  app/styles/forms.scss
  app/styles/themes.scss
Due: lint-js, lint-sass, jest

Single user mode
  app/soapbox/actions/soapbox.js
  app/soapbox/containers/soapbox.js
  app/soapbox/features/soapbox_config/index.js
  app/soapbox/features/ui/components/sign_up_panel.js
  app/soapbox/features/ui/components/tabs_bar.js
  app/soapbox/features/ui/components/unauthorized_modal.js
Due: lint-js, jest

Use gavel icon from Tabler icons
  app/icons/COPYING.md
  app/icons/gavel.svg
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/admin/components/admin_nav.js
  app/soapbox/features/status/components/action_bar.js
Due: lint-js, jest

Account notes
  app/soapbox/actions/account_notes.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/ui/components/account_note_modal.js
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/reducers/account_notes.js
  app/soapbox/reducers/index.js
  app/soapbox/reducers/relationships.js
  app/soapbox/utils/features.js
  app/styles/components/modal.scss
  app/styles/components/profile-info-panel.scss
Due: lint-js, lint-sass, jest

Improve phrasing
  app/soapbox/features/account/components/header.js
  app/soapbox/features/ui/components/account_note_modal.js
Due: lint-js, jest

Fedibird birthdays
  app/soapbox/features/birthdays/account.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/reducers/accounts.js
Due: lint-js, jest

Fix "Feature on profile" feature breaks when emojis are present in name
  app/soapbox/features/ui/components/pinned_accounts_panel.js
Due: lint-js, jest

Revert "Merge branch 'typescript' into 'develop'"
  .eslintrc.js
  .lintstagedrc.json
  app/soapbox/components/badge.js
  app/soapbox/utils/accounts.js
  app/soapbox/utils/accounts.ts
  babel.config.js
  package.json
  tsconfig.json
  webpack/configuration.js
  webpack/rules/babel.js
  webpack/rules/index.js
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

Revert "Merge branch 'revert-f59d977a' into 'develop'"
  .eslintrc.js
  .lintstagedrc.json
  app/soapbox/components/badge.tsx
  app/soapbox/utils/accounts.js
  app/soapbox/utils/accounts.ts
  babel.config.js
  package.json
  tsconfig.json
  webpack/configuration.js
  webpack/rules/babel.js
  webpack/rules/index.js
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

Update Ukrainian translation
  app/soapbox/locales/uk.json
Due: jest

Create account normalizer
  app/soapbox/__fixtures__/fedibird-account.json
  app/soapbox/__fixtures__/pleroma-account.json
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.js
  app/soapbox/reducers/accounts.js
  app/soapbox/utils/__tests__/accounts-test.js
Due: lint-js, jest

Don't use accent color in Halloween mode
  app/soapbox/containers/soapbox.js
Due: lint-js, jest

normalizeAccount(): normalize Pleroma legacy fields
  app/soapbox/__fixtures__/pleroma-2.2.2-account.json
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.js
  app/soapbox/normalizers/instance.js
  app/soapbox/normalizers/status.js
  app/soapbox/reducers/accounts.js
  app/soapbox/utils/normalizers.js
  app/soapbox/utils/pleroma.js
Due: lint-js, jest

normalizeAccount(): normalize "verified" field
  app/soapbox/__fixtures__/mk.json
  app/soapbox/__fixtures__/realDonaldTrump.json
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.js
  app/soapbox/utils/accounts.js
Due: lint-js, jest

Remove isVerified() function
  app/soapbox/components/display_name.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/edit_profile/components/profile_preview.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/features/ui/components/user_panel.js
  app/soapbox/utils/accounts.js
Due: lint-js, jest

Typescript, Compose: use forEach
  app/soapbox/actions/compose.js
Due: lint-js, jest

Display account location on profile
  app/soapbox/__fixtures__/truthsocial-account.json
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.js
  app/styles/components/profile-info-panel.scss
Due: lint-js, lint-sass, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
