Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

chore: ok
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

fix: sometimes loading older post does not work (#449)
  app/soapbox/actions/timelines.ts
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/features/ui/components/timeline.tsx
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

chore(release): 1.19.4
  CHANGELOG.md
  package.json
Due: jest

fix: privacy selector behind media in thread
  app/soapbox/features/compose/components/privacy_dropdown.tsx
Due: lint-js, jest

fix: timeline jump
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/features/ui/components/timeline.tsx
Due: lint-js, jest

fix: timeline jump (#450)
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/features/ui/components/timeline.tsx
Due: lint-js, jest

chore(release): 1.19.5
  CHANGELOG.md
  package.json
Due: jest

feat: refreshing tl actually dequeue it too
  app/soapbox/components/pull-to-refresh.tsx
  app/soapbox/features/bookmarks/index.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/home_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
Due: lint-js, jest

fix: interesting mess with notification list
  app/soapbox/features/notifications/index.tsx
Due: lint-js, jest

fix: missing dispatch
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/home_timeline/index.tsx
Due: lint-js, jest

feat: refreshing tl actually dequeue it too (#451)
  app/soapbox/components/pull-to-refresh.tsx
  app/soapbox/features/bookmarks/index.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/home_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
Due: lint-js, jest

ci: update ci after branch change
  .github/workflows/release.yml
Due: none

chore(release): 1.19.6
  CHANGELOG.md
  package.json
Due: jest

refactor: improve performances
  app/soapbox/features/notifications/components/filter_bar.tsx
  app/soapbox/features/notifications/components/notification.tsx
Due: lint-js, jest

fix: improve french translations
  app/soapbox/locales/fr.json
Due: jest

feat: add automatic language post detection
  app/soapbox/actions/compose.ts
  app/soapbox/features/compose/containers/compose_form_container.ts
  app/soapbox/reducers/compose.ts
  package.json
  yarn.lock
Due: lint-js, jest

feat: add automatic language post detection (#455)
  app/soapbox/actions/compose.ts
  app/soapbox/features/compose/containers/compose_form_container.ts
  app/soapbox/reducers/compose.ts
  package.json
  yarn.lock
Due: lint-js, jest

chore(release): 1.20.0
  CHANGELOG.md
  package.json
Due: jest

chore: wip
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

refactor: move history out of reducer
  app/soapbox/actions/compose.ts
  app/soapbox/actions/statuses.ts
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/compose/containers/compose_form_container.ts
  app/soapbox/features/conversations/index.tsx
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/compose-button.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

feat: redirect after delete and post (#453)
  app/soapbox/actions/compose.ts
  app/soapbox/actions/statuses.ts
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/compose/containers/compose_form_container.ts
  app/soapbox/features/conversations/index.tsx
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/compose-button.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

chore(release): 1.21.0
  CHANGELOG.md
  package.json
Due: jest

chore: fix conflicts
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

chore: add yarn state to ignore
  .gitignore
Due: none

chore: use yarn 4
  .yarn/install-state.gz
  package.json
  scripts/download-twemoji-assets.js
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

build: update deps (#456)
  .gitignore
  .yarnrc.yml
  package.json
  scripts/download-twemoji-assets.js
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

chore(release): 1.21.1
  CHANGELOG.md
  package.json
Due: jest

ci: enable corepack
  .github/workflows/webpack.yml
Due: none

chore(release): 1.21.2
  CHANGELOG.md
  package.json
Due: jest

ci: enable corepack
  .github/workflows/pages.yml
Due: none

chore(release): 1.21.3
  CHANGELOG.md
  package.json
Due: jest

ci: prevent writing to config
  .github/workflows/pages.yml
  .github/workflows/webpack.yml
Due: none

chore(release): 1.21.4
  CHANGELOG.md
  package.json
Due: jest

ci: do not clone
  package.json
  yarn.lock
Due: jest

chore(release): 1.21.5
  CHANGELOG.md
  package.json
Due: jest
