Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Remove accidental placeholder
  tmp-placeholder
Due: none

noop
  tmp-placeholder
Due: none

Pin Sentry lockfile authority
  config/sentry-authority-inventory.json
Due: jest

Enforce Sentry lockfile resolutions
  scripts/check-sentry-authority-inventory.js
Due: lint-js, jest

Test Sentry lockfile drift enforcement
  scripts/__tests__/check-sentry-authority-inventory.test.js
Due: lint-js, jest

Run Sentry gate on lockfile changes
  .github/workflows/sentry-authority.yml
Due: none

Run architecture gates on lockfile changes
  .github/workflows/architecture-inventory.yml
Due: none

Add API transport authority inventory
  config/api-transport-authority-inventory.json
Due: jest

Add API transport authority drift checker
  scripts/check-api-transport-authority-inventory.js
Due: lint-js, jest

Test API transport authority drift gate
  scripts/__tests__/check-api-transport-authority-inventory.test.js
Due: lint-js, jest

Add API transport authority workflow
  .github/workflows/api-transport-authority.yml
Due: none

Document API transport authority drift gate
  docs/architecture/API_TRANSPORT_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

Run API transport authority gate in architecture inventory
  .github/workflows/architecture-inventory.yml
Due: none

Index API transport authority gate
  docs/architecture/README.md
Due: docs-deploy

chore: wip
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/status-media.tsx
  app/soapbox/components/sticky.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/pages/admin_page.tsx
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/empty_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
  package.json
  yarn.lock
Due: lint-js, jest

phase0: add push worker authority inventory
  config/push-worker-authority-inventory.json
Due: jest

phase0: add push worker authority checker
  scripts/check-push-worker-authority-inventory.js
Due: lint-js, jest

test: cover push worker authority drift
  scripts/__tests__/check-push-worker-authority-inventory.test.js
Due: lint-js, jest

ci: add push worker authority workflow
  .github/workflows/push-worker-authority.yml
Due: none

docs: add push worker authority drift gate
  docs/architecture/PUSH_WORKER_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

ci: enforce push worker authority in architecture inventory
  .github/workflows/architecture-inventory.yml
Due: none

docs: index push worker authority gate
  docs/architecture/README.md
Due: docs-deploy

Pin push worker call-site bindings and canonical documentation
  config/push-worker-authority-inventory.json
Due: jest

Enforce push worker call-site and documentation bindings
  scripts/check-push-worker-authority-inventory.js
Due: lint-js, jest

Add adversarial push worker binding and documentation tests
  scripts/__tests__/check-push-worker-authority-inventory.test.js
Due: lint-js, jest

Run push worker gate for canonical documentation changes
  .github/workflows/push-worker-authority.yml
Due: none

Run architecture gate for push worker documentation changes
  .github/workflows/architecture-inventory.yml
Due: none

fix: validate executable push worker call sites
  scripts/check-push-worker-authority-inventory.js
Due: lint-js, jest

fix: scope push call-site bindings to functions
  config/push-worker-authority-inventory.json
Due: jest

test: reject inert push call-site evidence
  scripts/__tests__/check-push-worker-authority-inventory.test.js
Due: lint-js, jest

fix: use token structural validation for push bindings
  scripts/check-push-worker-authority-inventory.js
Due: lint-js, jest

feat: complete React Query authority manifest
  config/react-query-authority-inventory.json
Due: jest

feat: harden React Query authority enumeration
  scripts/check-react-query-authority-inventory.js
Due: lint-js, jest

test: harden React Query authority gate
  scripts/__tests__/check-react-query-authority-inventory.test.js
Due: lint-js, jest

ci: complete React Query authority workflow
  .github/workflows/react-query-authority.yml
Due: none

ci: enforce React Query authority in architecture inventory
  .github/workflows/architecture-inventory.yml
Due: none

docs: complete React Query authority gate
  docs/architecture/REACT_QUERY_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

fix: avoid unrelated method false positives in query scan
  scripts/check-react-query-authority-inventory.js
Due: lint-js, jest

fix(phase-0): harden React Query invocation inventory
  scripts/check-react-query-authority-inventory.js
Due: lint-js, jest
