Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Birthdays: use maxDate
  app/soapbox/components/birth_date_input.js
  app/soapbox/features/auth_login/components/registration_form.js
Due: lint-js, jest

Birthdays: renames
  app/soapbox/components/birthday_input.js
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/birthdays/account.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/notifications/components/column_settings.js
  app/soapbox/features/notifications/containers/column_settings_container.js
  app/soapbox/features/notifications/index.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/utils/features.js
  app/styles/accounts.scss
  app/styles/components/profile-info-panel.scss
Due: lint-js, lint-sass, jest

Quote posts: Shift+Click for normal repost
  app/soapbox/components/dropdown_menu.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/status/components/action_bar.js
Due: lint-js, jest

"birth date" --> "birthday", move the toggle next to the picker
  app/soapbox/components/birthday_input.js
  app/soapbox/features/birthdays/account.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/ui/components/profile_info_panel.js
Due: lint-js, jest

Birthdays: Try to fix timezones
  app/soapbox/components/birthday_input.js
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/edit_profile/index.js
Due: lint-js, jest

Birthdays: Use custom header
  app/soapbox/components/birthday_input.js
  app/styles/components/datepicker.scss
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

Add quotes for pending statuses
  app/soapbox/features/ui/components/pending_status.js
  app/soapbox/features/ui/util/pending_status_builder.js
Due: lint-js, jest

PendingStatus: Do not display PlaceholderCard if it has a quote
  app/soapbox/features/ui/components/pending_status.js
Due: lint-js, jest

Add "demo" mode for taking screenshots
  app/images/soapbox-logo.svg
  app/soapbox/containers/soapbox.js
  app/soapbox/features/ui/components/tabs_bar.js
Due: lint-js, jest

Add 'View' action link to some notifications
  app/soapbox/actions/compose.js
  app/soapbox/actions/interactions.js
  app/soapbox/actions/snackbar.js
  app/soapbox/containers/status_container.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/status/containers/detailed_status_container.js
  app/soapbox/features/status/index.js
  app/soapbox/features/ui/containers/notifications_container.js
  app/soapbox/reducers/alerts.js
  app/soapbox/selectors/index.js
  app/styles/components/snackbar.scss
Due: lint-js, lint-sass, jest

Add quoted status tombstone
  app/soapbox/components/status.js
  app/soapbox/features/status/components/detailed_status.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Apply 1 suggestion(s) to 1 file(s)
  app/soapbox/utils/accounts.ts
Due: jest

Fix quote_visible for nested quote
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

sw.js: Fix display of RT line in push notifications
  app/soapbox/service_worker/web_push_notifications.js
Due: lint-js, jest

Add line-clamp to quoted post content
  app/styles/components/status.scss
Due: lint-sass

Fix RT spacing in the other place
  app/soapbox/utils/html.js
Due: lint-js, jest

Strip all instances of compat features from statuses
  app/soapbox/utils/html.js
Due: lint-js, jest

Use stack for modals
  app/soapbox/actions/modal.js
  app/soapbox/components/modal_root.js
  app/soapbox/containers/dropdown_menu_container.js
  app/soapbox/features/compose/containers/compose_form_container.js
  app/soapbox/features/compose/containers/privacy_dropdown_container.js
  app/soapbox/features/compose/containers/reply_mentions_container.js
  app/soapbox/features/compose/containers/upload_container.js
  app/soapbox/features/ui/components/compose_modal.js
  app/soapbox/features/ui/components/confirmation_modal.js
  app/soapbox/features/ui/components/favourites_modal.js
  app/soapbox/features/ui/components/mentions_modal.js
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/reactions_modal.js
  app/soapbox/features/ui/components/reblogs_modal.js
  app/soapbox/features/ui/components/reply_mentions_modal.js
  app/soapbox/features/ui/containers/modal_container.js
  app/soapbox/reducers/__tests__/modal-test.js
  app/soapbox/reducers/modal.js
Due: lint-js, jest

Update de.json
  app/soapbox/locales/de.json
Due: jest

Fix quoted status content with multiple paragraphs on Firefox
  app/styles/components/status.scss
Due: lint-sass

Delay rendering until instance has loaded or failed (for feature detection)
  app/soapbox/containers/soapbox.js
Due: lint-js, jest

Mastodon: fall back to account lookup API
  app/soapbox/actions/accounts.js
Due: lint-js, jest

Set instance version default, just in case...
  app/soapbox/containers/soapbox.js
Due: lint-js, jest

Normalize instance configuration for Mastodon
  app/soapbox/__fixtures__/mastodon-3.0.0-instance.json
  app/soapbox/__fixtures__/mastodon-instance.json
  app/soapbox/__fixtures__/pleroma-instance.json
  app/soapbox/features/compose/components/poll_form.js
  app/soapbox/features/compose/containers/compose_form_container.js
  app/soapbox/reducers/__tests__/instance-test.js
  app/soapbox/reducers/instance.js
Due: lint-js, jest

Set attachment limit from instance
  app/soapbox/actions/compose.js
  app/soapbox/reducers/__tests__/instance-test.js
  app/soapbox/reducers/instance.js
  app/soapbox/utils/__tests__/features-test.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Shavian transliteration
  app/soapbox/features/preferences/index.js
  app/soapbox/locales/en-Shaw.json
  app/soapbox/locales/messages.js
Due: lint-js, jest

Format birthday as UTC
  app/soapbox/features/ui/components/profile_info_panel.js
Due: lint-js, jest

Update app/soapbox/locales/he.json
  app/soapbox/locales/he.json
Due: jest

Fix icons to show in the picker for promotional items
  app/soapbox/features/soapbox_config/components/icon_picker_dropdown.js
Due: lint-js, jest

Add css to center only the icons created by the hack in icon_picker_dropdown.js
  app/styles/emoji_picker.scss
Due: lint-sass

Update app/soapbox/features/soapbox_config/components/icon_picker_dropdown.js
  app/soapbox/features/soapbox_config/components/icon_picker_dropdown.js
Due: lint-js, jest

fix spacing
  app/styles/emoji_picker.scss
Due: lint-sass

State why you can't follow someone, don't just disable the button
  app/soapbox/features/ui/components/action_button.js
Due: lint-js, jest
