Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

RegistrationForm: validate password mismatch
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/forms/index.js
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

Jest: update snapshot
  app/soapbox/features/forms/__tests__/__snapshots__/forms-test.js.snap
Due: jest

RegistrationForm: prevent small error with password matching
  app/soapbox/features/auth_login/components/registration_form.js
Due: lint-js, jest

ThumbNavigation: balance the width of the icons so the labels overflow
  app/styles/navigation.scss
Due: lint-sass

Statuses: optimistic reply counter
  app/soapbox/reducers/__tests__/statuses-test.js
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

ComposeModal: conditional title when replying
  app/soapbox/features/ui/components/compose_modal.js
Due: lint-js, jest

SubNavigation: increase Back button size, constrain message width
  app/styles/navigation.scss
Due: lint-sass

Interactions: don't reimport updated status with unfavourite and unreblog. Mastodon doesn't decrement the counter in the API response, and we actually don't want updated counters anyway.
  app/soapbox/actions/interactions.js
Due: lint-js, jest

Notifications: drop status notifications if status is null
  app/soapbox/reducers/__tests__/notifications-test.js
  app/soapbox/reducers/notifications.js
Due: lint-js, jest

SubNavigation: fix weird overflow issue
  app/styles/navigation.scss
Due: lint-sass

sw.js: fix match against undefined pathname
  webpack/production.js
Due: lint-js, jest

resizeImage: output error to console
  app/soapbox/utils/resize_image.js
Due: lint-js, jest

resizeImage: skip canvas reliability check for now (it's unreliable)
  app/soapbox/utils/resize_image.js
Due: lint-js, jest

Bundle: componentWillReceiveProps --> componentDidUpdate, React 17 compatibility
  app/soapbox/features/ui/components/bundle.js
Due: lint-js, jest

Search: don't infer filter from results, leave it alone
  app/soapbox/reducers/search.js
Due: lint-js, jest

Search: clear search when backspaced all the way
  app/soapbox/actions/search.js
Due: lint-js, jest

Search: only search for results in the current filter
  app/soapbox/actions/search.js
Due: lint-js, jest

Search: resubmit when changing tabs
  app/soapbox/actions/search.js
Due: lint-js, jest

Offline: persist Soapbox config (eg frontend_configurations or soapbox.json)
  app/soapbox/actions/instance.js
  app/soapbox/actions/soapbox.js
  app/soapbox/containers/soapbox.js
  app/soapbox/reducers/soapbox.js
  app/soapbox/utils/instance.js
Due: lint-js, jest

Status: display a placeholder Card on own links, poll for updated card
  app/soapbox/actions/statuses.js
  app/soapbox/components/status.js
  app/soapbox/features/placeholder/components/placeholder_card.js
  app/soapbox/features/status/components/card.js
  app/soapbox/utils/status.js
  app/styles/placeholder.scss
Due: lint-js, lint-sass, jest

Fix navigating between profiles
  app/soapbox/features/account_gallery/index.js
  app/soapbox/features/account_timeline/index.js
  app/soapbox/features/favourited_statuses/index.js
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
  app/soapbox/pages/profile_page.js
Due: lint-js, jest

PendingStatus: display PlaceholderCard when a card is expected
  app/soapbox/features/ui/components/pending_status.js
Due: lint-js, jest

Admin: fix display of 0% retention
  app/soapbox/features/admin/index.js
  app/soapbox/utils/numbers.js
Due: lint-js, jest

ActionsModal: check props before calling .map, fixes delete post on mobile
  app/soapbox/features/ui/components/actions_modal.js
Due: lint-js, jest

Revert "Merge branch 'react-17-deprecated' into 'develop'"
  app/soapbox/features/ui/components/bundle.js
Due: lint-js, jest

PlaceholderCard: add .status-card--link so it's responsive
  app/soapbox/features/placeholder/components/placeholder_card.js
Due: lint-js, jest

Web Push fixes
  app/soapbox/actions/push_notifications/registerer.js
  app/soapbox/features/ui/index.js
  app/soapbox/reducers/__tests__/push_notifications-test.js
  app/soapbox/reducers/push_notifications.js
  app/soapbox/utils/auth.js
Due: lint-js, jest

update zh-CN
  app/soapbox/locales/zh-CN.json
Due: jest

fix hint messages when creating new poll
  app/soapbox/features/compose/components/poll_form.js
Due: lint-js, jest

Add icons for chat previews with attachments
  app/soapbox/features/chats/components/chat.js
  app/soapbox/locales/pl.json
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

Chats: fix styling of autosuggest account in main pane
  app/styles/chats.scss
Due: lint-sass

MaterialStatus: stack avatars on top
  app/styles/components/status.scss
Due: lint-sass

MaterialStatus: improve padding for stacked avatar
  app/styles/components/status.scss
Due: lint-sass

Revert "MaterialStatus: improve padding for stacked avatar"
  app/styles/components/status.scss
Due: lint-sass

Revert "MaterialStatus: stack avatars on top"
  app/styles/components/status.scss
Due: lint-sass

Status: protect against infinite context loops
  app/soapbox/features/status/index.js
Due: lint-js, jest

Contexts: check for cyclical in_reply_tos and prevent stitching them with tombstones
  app/soapbox/reducers/contexts.js
Due: lint-js, jest

eslint: add key-spacing and space-unary-ops rules
  .eslintrc.js
  app/soapbox/actions/lists.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/conversations/components/conversation.js
  app/soapbox/features/ui/components/accordion.js
  app/soapbox/features/ui/components/columns_area.js
  app/soapbox/features/ui/components/modal_root.js
  app/soapbox/features/ui/components/profile_dropdown.js
  webpack/translationRunner.js
Due: lint-js, jest

Link to manifest.json
  app/index.ejs
Due: none

v2 Suggestions: add AdminAPI, rearrange sidebars, check instance feature flag
  app/soapbox/actions/admin.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/pages/default_page.js
  app/soapbox/pages/home_page.js
  app/soapbox/pages/status_page.js
  app/soapbox/reducers/accounts.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
