Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

[FIX] Fix usage of deprecated dep
  app/soapbox/features/emoji/emoji_compressed.js
  app/soapbox/locales/fr.json
Due: lint-js, jest

Bump version
  package.json
Due: jest

add ukrainian localization
  app/soapbox/locales/uk.json
Due: jest

translate to ukrainian
  app/soapbox/locales/uk.json
Due: jest

[ADD] ukrainian localization (#137)
  app/soapbox/locales/uk.json
Due: jest

fix bugs ukrainian translate
  app/soapbox/locales/uk.json
Due: jest

fix#2 bugs ukrainian translate
  app/soapbox/locales/uk.json
Due: jest

final fix bugs ukrainian translate
  app/soapbox/locales/uk.json
Due: jest

[FIX] translation problems in Ukrainian (#138)
  app/soapbox/locales/uk.json
Due: jest

final_2 fix bugs ukrainian translate.
  app/soapbox/locales/uk.json
Due: jest

final_3 fix bugs ukrainian translate.
  app/soapbox/locales/uk.json
Due: jest

final_4 fix bugs ukrainian translate.
  app/soapbox/locales/uk.json
Due: jest

final_5 fix bugs ukrainian translate.
  app/soapbox/locales/uk.json
Due: jest

added possibility to redirect users to third party account registration page
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/pl.json
  app/soapbox/locales/uk.json
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  docs/administration/custom_registration.md
Due: lint-js, jest, docs-deploy

[FIX] Final translation fix in Ukrainian (#140)
  app/soapbox/locales/uk.json
Due: jest

(sorry)fix bugs ukrainian translate.
  app/soapbox/locales/uk.json
Due: jest

[Fix] Crash on remote instance page, remove Remote Instance layout with unmaintained instance pin feature
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/pages/remote_instance_page.tsx
  app/soapbox/utils/config_db.ts
Due: lint-js, jest

[FIX] translation and bubble timeline are not accessible for auth users only
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[FIX] default configuration is now equal to what's shown in ui
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/reducers/soapbox.js
Due: lint-js, jest

[ADD] Local only publication
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/compose/components/privacy_dropdown.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update chats.scss
  app/styles/chats.scss
Due: lint-sass

[FIX] better ukrainian translation (#144)
  app/soapbox/locales/uk.json
Due: jest

[Fix] Crash on remote instance page, remove Remote Instance layout with unmaintained instance pin feature (#145)
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/pages/remote_instance_page.tsx
  app/soapbox/utils/config_db.ts
Due: lint-js, jest

[FIX] translation and bubble timeline are not accessible for auth users only (#146)
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[FIX] default configuration is now equal to what's shown in ui (#147)
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/reducers/soapbox.js
Due: lint-js, jest

[ADD] Local only publication (#150)
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/compose/components/privacy_dropdown.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/utils/features.ts
Due: lint-js, jest

[FIX #156] Update typed text color in Chats | chats.scss (#157)
  app/styles/chats.scss
Due: lint-sass

[ADD] possibility to redirect users to third party account registration page (#143)
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/pl.json
  app/soapbox/locales/uk.json
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  docs/administration/custom_registration.md
Due: lint-js, jest, docs-deploy

fix translations after conflict
  app/soapbox/locales/uk.json
Due: jest

[CH] Change default logo, color and fix some color issue on landing page
  app/images/mangane-logo.svg
  app/images/soapbox-logo-white.svg
  app/images/soapbox-logo.svg
  app/instance/soapbox.example.json
  app/soapbox/actions/soapbox.ts
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/hooks/useLogo.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/reducers/soapbox.js
Due: lint-js, jest

[REM] Remove usage of voters_count for polls which seems to be broken on pleroma/akkoma
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/polls/poll-option.tsx
Due: lint-js, jest

Edit local only option position
  app/soapbox/features/compose/components/privacy_dropdown.tsx
Due: lint-js, jest

[ADD] Add troubleshooting section to the readme
  README.md
  docs/installing.md
Due: docs-deploy

[CH] Change default logo, color and fix some color issue on landing page (#161)
  app/images/mangane-logo.svg
  app/images/soapbox-logo-white.svg
  app/images/soapbox-logo.svg
  app/instance/soapbox.example.json
  app/soapbox/actions/soapbox.ts
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/hooks/useLogo.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/reducers/soapbox.js
Due: lint-js, jest

[REM] Remove usage of voters_count for polls which seems to be broken on pleroma/akkoma (#162)
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/components/polls/poll-option.tsx
Due: lint-js, jest

[ADD] Add troubleshooting section to the readme (#163)
  README.md
  docs/installing.md
Due: docs-deploy

Upgrade, Mastodon, Yunohost and more
  README.md
Due: none

Remove numbering of sub/sections
  README.md
Due: none

Minimal project history (WiP)
  docs/history.md
Due: docs-deploy

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
