Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

fix: page header lacks padding on mobile (list view)
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/list_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/index.tsx
Due: lint-js, jest

chore: wip
  .eslintrc.js
  app/soapbox/actions/compose.ts
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/compose_form_container.ts
  app/soapbox/features/status/index.tsx
  package.json
  yarn.lock
Due: lint-js, jest

feat: redirect to newly created status when posted
  app/soapbox/actions/compose.ts
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

feat: reply composing is now made directly in threads (#422)
  .eslintrc.js
  app/soapbox/actions/compose.ts
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/compose_form_container.ts
  app/soapbox/features/status/index.tsx
  package.json
  yarn.lock
Due: lint-js, jest

fix: page header lacks padding on mobile (list view) (#421)
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/list_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/index.tsx
Due: lint-js, jest

chore(release): 1.18.2
  CHANGELOG.md
  package.json
Due: jest

fix: reply in thread does not prevent editing nor quoting
  app/soapbox/actions/compose.ts
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

fix: reply in thread does not prevent editing nor quoting (#425)
  app/soapbox/actions/compose.ts
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

chore(release): 1.18.3
  CHANGELOG.md
  package.json
Due: jest

fix: hide fab on posts to avoid missclick when writing replies
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

feat: show language on status
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

feat: show language on status (#427)
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

fix: hide fab on posts to avoid missclick when writing replies (#426)
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

chore(release): 1.18.4
  CHANGELOG.md
  package.json
Due: jest

fix: default language is not applied when composing
  app/soapbox/actions/statuses.ts
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/features/compose/containers/language_dropdown_container.ts
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

fix: prevent crash on thread in visitor mode
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

fix: default language is not applied when composing (#428)
  app/soapbox/actions/statuses.ts
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/features/compose/containers/language_dropdown_container.ts
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

chore(release): 1.18.5
  CHANGELOG.md
  package.json
Due: jest

fix: reply composing is reset when selecting an emoji
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

fix: reply_to is not reset when quoting
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

fix: reply_to is not reset when quoting (#432)
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

fix: reply composing is reset when selecting an emoji (#431)
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

chore(release): 1.18.6
  CHANGELOG.md
  package.json
Due: jest

chore: bump version
  package.json
Due: jest

chore(release): 1.18.7
  CHANGELOG.md
  package.json
Due: jest

refactor: use adoptedStyleSheets if available
  app/soapbox/components/inline-style.tsx
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/soapbox_config/components/site-preview.tsx
Due: lint-js, jest

More strings translated into Spanish
  app/soapbox/locales/es.json
Due: jest

fix: bottom bar is too thick on Ios
  .husky/commit-msg
  app/soapbox/components/thumb_navigation.tsx
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

fix: commit lint
  .husky/commit-msg
Due: none

chore(release): 1.18.8
  CHANGELOG.md
  package.json
Due: jest

fix: remove weird feature flag to remove remote follower
  app/soapbox/features/account/components/header.tsx
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest
