Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

feat(phase-0): add error recovery authority manifest
  config/error-recovery-authority-inventory.json
Due: jest

feat(phase-0): add error recovery authority checker
  scripts/check-error-recovery-authority-inventory.js
Due: lint-js, jest

test(phase-0): cover error recovery authority drift
  scripts/__tests__/check-error-recovery-authority-inventory.test.js
Due: lint-js, jest

docs(phase-0): document error recovery authority
  docs/architecture/ERROR_RECOVERY_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

ci(phase-0): add error recovery authority workflow
  .github/workflows/error-recovery-authority.yml
Due: none

ci(phase-0): enforce error recovery authority
  .github/workflows/architecture-inventory.yml
Due: none

docs(phase-0): index error recovery authority
  docs/architecture/README.md
Due: docs-deploy

test(phase-0): use production error recovery evidence
  scripts/__tests__/check-error-recovery-authority-inventory.test.js
Due: lint-js, jest

test(phase-0): isolate inert recovery evidence
  scripts/__tests__/check-error-recovery-authority-inventory.test.js
Due: lint-js, jest

test(phase-0): exercise recovery checker end to end
  scripts/__tests__/check-error-recovery-authority-inventory.test.js
Due: lint-js, jest

fix: end is not triggered
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/features/status/index.tsx
  yarn.lock
Due: lint-js, jest

fix(phase-0): harden recovery call-context validation
  scripts/check-error-recovery-authority-inventory.js
Due: lint-js, jest

test(phase-0): cover recovery call-context drift
  scripts/__tests__/check-error-recovery-authority-inventory.test.js
Due: lint-js, jest

feat(phase-0): complete telemetry redaction authority
  .github/workflows/sentry-authority.yml
  app/application.ts
  app/soapbox/build_config.js
  app/soapbox/store.ts
  app/soapbox/utils/__tests__/diagnostics.test.ts
  app/soapbox/utils/console.ts
  app/soapbox/utils/diagnostics.ts
  config/dependency-advisory-snapshot.json
  config/dependency-authority-inventory.json
  config/sentry-authority-inventory.json
  docs/architecture/ADVISORY_DISPOSITION_REGISTER.md
  docs/architecture/CONTENT_SAFETY_AND_TEST_INVENTORY.md
  docs/architecture/DEPENDENCY_AND_LICENSE_INVENTORY.md
  docs/architecture/DEPENDENCY_REPLACEMENT_QUEUE.md
  docs/architecture/OBSERVABILITY_AND_CI_INVENTORY.md
  docs/architecture/PHASE_0_EVIDENCE_AND_GATES.md
  docs/architecture/README.md
  docs/architecture/SENTRY_AUTHORITY_DRIFT_GATE.md
  docs/architecture/SENTRY_RUNTIME_AND_REDACTION_INVENTORY.md
  docs/architecture/SOURCE_MAP_AND_BUILD_ARTIFACT_POLICY.md
  docs/architecture/TELEMETRY_CONSENT_AND_OPT_OUT_CONTRACT.md
  docs/architecture/TELEMETRY_SECRET_EXPOSURE_MATRIX.md
  docs/development/build-config.md
  package.json
  scripts/__tests__/check-dependency-authority-inventory.test.js
  scripts/__tests__/check-sentry-authority-inventory.test.js
  scripts/check-sentry-authority-inventory.js
  scripts/generate-dependency-authority-inventory.js
  scripts/generate-telemetry-authority-inventory.js
  scripts/telemetry-inventory-lib.js
  webpack/production.js
  yarn.lock
Due: lint-js, jest, docs-deploy

feat(phase-0): complete design accessibility inventory
  .github/workflows/design-authority.yml
  app/soapbox/features/ui/containers/notifications_container.tsx
  app/styles/accessibility.scss
  config/component-ownership-manifest.json
  config/dependency-authority-inventory.json
  config/design-component-authority-inventory.json
  config/sentry-authority-inventory.json
  docs/architecture/ACCESSIBILITY_BEHAVIOR_MATRIX.md
  docs/architecture/DEPENDENCY_AND_LICENSE_INVENTORY.md
  docs/architecture/DESIGN_AND_COMPONENT_INVENTORY.md
  docs/architecture/ICON_MIGRATION_MATRIX.md
  docs/architecture/KEYBOARD_AND_GESTURE_INVENTORY.md
  docs/architecture/PHASE_0_EVIDENCE_AND_GATES.md
  docs/architecture/README.md
  docs/architecture/SCREENSHOT_AND_INTERACTION_BASELINE_PLAN.md
  docs/architecture/STYLE_AND_TOKEN_SOURCE_MAP.md
  docs/architecture/TELEMETRY_SECRET_EXPOSURE_MATRIX.md
  package.json
  scripts/__tests__/check-design-component-authority-inventory.test.js
  scripts/check-design-component-authority-inventory.js
  scripts/design-inventory-lib.js
  scripts/generate-design-component-authority-inventory.js
Due: lint-js, lint-sass, jest, docs-deploy

fix(ci): harden Twemoji asset preparation
  .github/workflows/phase-0g-quality.yml
  config/dependency-authority-inventory.json
  config/sentry-authority-inventory.json
  config/test-ci-baseline.json
  docs/architecture/DEPENDENCY_AND_LICENSE_INVENTORY.md
  docs/architecture/DEPENDENCY_REPLACEMENT_QUEUE.md
  docs/architecture/TEST_AND_CI_BASELINE.md
  package.json
  scripts/__tests__/check-ci-baseline.test.js
  scripts/__tests__/check-dependency-authority-inventory.test.js
  scripts/__tests__/download-twemoji-assets.test.js
  scripts/check-ci-baseline.js
  scripts/dependency-inventory-lib.js
  scripts/download-twemoji-assets.js
  scripts/generate-dependency-authority-inventory.js
Due: lint-js, jest, docs-deploy

fix(test): stabilize Cache Storage cleanup
  app/soapbox/persistence/__tests__/cache-storage.test.ts
  app/soapbox/persistence/cache-storage.ts
  config/browser-persistence-authority-inventory.json
  config/test-ci-baseline.json
  docs/architecture/TEST_AND_CI_BASELINE.md
  scripts/check-service-worker-cache-authority-inventory.js
Due: lint-js, jest, docs-deploy

fix(ci): enforce persistence manifest drift gate
  .github/workflows/phase-0g-quality.yml
  config/dependency-authority-inventory.json
  config/persistence-manifest.json
  config/test-ci-baseline.json
  docs/architecture/TEST_AND_CI_BASELINE.md
  scripts/__tests__/check-ci-baseline.test.js
  scripts/__tests__/check-persistence-manifest.test.js
  scripts/check-ci-baseline.js
  scripts/persistence-inventory-lib.js
Due: lint-js, jest, docs-deploy

docs(ci): record repository enforcement status
  config/test-ci-baseline.json
  docs/architecture/TEST_AND_CI_BASELINE.md
  scripts/__tests__/check-ci-baseline.test.js
  scripts/check-ci-baseline.js
Due: lint-js, jest, docs-deploy

fix(docs): harden authority link validation
  config/documentation-authority-registry.json
  config/sentry-authority-inventory.json
  config/test-ci-baseline.json
  docs/architecture/TEST_AND_CI_BASELINE.md
  scripts/__tests__/check-documentation-authority.test.js
  scripts/documentation-authority-lib.js
Due: lint-js, jest, docs-deploy

fix(auth): tolerate legacy account selectors
  app/soapbox/actions/__tests__/accounts.test.ts
  app/soapbox/actions/accounts.ts
  config/documentation-authority-registry.json
  config/network-callsite-manifest.json
  config/test-ci-baseline.json
  docs/architecture/PHASE_1_ARCHITECTURE_CONTRACTS.md
  docs/architecture/TEST_AND_CI_BASELINE.md
Due: lint-js, jest, docs-deploy

docs(architecture): close phase 1
  config/documentation-authority-registry.json
  docs/architecture/CURRENT_STATE.md
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_1_ARCHITECTURE_CONTRACTS.md
Due: jest, docs-deploy

test(architecture): cover account lookup rollback
  app/soapbox/actions/__tests__/accounts.test.ts
  config/documentation-authority-registry.json
  config/test-ci-baseline.json
  docs/architecture/PHASE_1_ARCHITECTURE_CONTRACTS.md
  docs/architecture/TEST_AND_CI_BASELINE.md
Due: lint-js, jest, docs-deploy

test(queries): wait for settled trends error state
  app/soapbox/queries/__tests__/trends.test.ts
Due: lint-js, jest

feat(design): establish semantic token foundation
  .github/workflows/design-authority.yml
  app/styles/application.scss
  app/styles/design-tokens.generated.scss
  config/component-ownership-manifest.json
  config/dependency-authority-inventory.json
  config/design-component-authority-inventory.json
  config/design-tokens.json
  config/documentation-authority-registry.json
  config/sentry-authority-inventory.json
  docs/architecture/ACCESSIBILITY_BEHAVIOR_MATRIX.md
  docs/architecture/CURRENT_STATE.md
  docs/architecture/DEPENDENCY_AND_LICENSE_INVENTORY.md
  docs/architecture/DESIGN_AND_COMPONENT_INVENTORY.md
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_2_DESIGN_FOUNDATION.md
  docs/architecture/STYLE_AND_TOKEN_SOURCE_MAP.md
  package.json
  scripts/__tests__/check-design-component-authority-inventory.test.js
  scripts/__tests__/design-token-foundation.test.js
  scripts/check-design-component-authority-inventory.js
  scripts/check-design-tokens.js
  scripts/design-inventory-lib.js
  scripts/design-token-lib.js
  scripts/generate-design-tokens.js
  tailwind.config.js
Due: lint-js, lint-sass, jest, docs-deploy

fix(ci): isolate Tailwind token contract
  config/sentry-authority-inventory.json
  scripts/__tests__/design-token-foundation.test.js
  scripts/check-design-tokens.js
  tailwind.config.js
  tailwind/design-token-extension.js
Due: lint-js, jest

fix(design): honor runtime accessibility state
  app/soapbox/features/soapbox_config/components/site-preview.tsx
  app/styles/design-tokens.generated.scss
  config/design-component-authority-inventory.json
  scripts/__tests__/design-token-foundation.test.js
  scripts/design-token-lib.js
Due: lint-js, lint-sass, jest

feat(design): establish semantic icon authority
  .github/workflows/design-authority.yml
  app/soapbox/components/__tests__/validation-checkmark.test.tsx
  app/soapbox/components/ui/icon/__tests__/semantic-icon.test.tsx
  app/soapbox/components/ui/icon/semantic-icon-registry.ts
  app/soapbox/components/ui/icon/semantic-icon.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/components/validation-checkmark.tsx
  config/component-ownership-manifest.json
  config/dependency-authority-inventory.json
  config/design-component-authority-inventory.json
  config/documentation-authority-registry.json
  config/icon-migration-baseline.json
  config/sentry-authority-inventory.json
  docs/architecture/CURRENT_STATE.md
  docs/architecture/DEPENDENCY_AND_LICENSE_INVENTORY.md
  docs/architecture/DESIGN_AND_COMPONENT_INVENTORY.md
  docs/architecture/ICON_MIGRATION_MATRIX.md
  docs/architecture/PHASE_2_DESIGN_FOUNDATION.md
  docs/architecture/SOURCE_INVENTORY.md
  jest.config.js
  jest/phosphor-icon-mock.js
  package.json
  scripts/__tests__/check-dependency-authority-inventory.test.js
  scripts/__tests__/check-design-component-authority-inventory.test.js
  scripts/__tests__/icon-migration-foundation.test.js
  scripts/check-design-component-authority-inventory.js
  scripts/check-icon-migration.js
  scripts/design-inventory-lib.js
  scripts/generate-icon-migration-baseline.js
  scripts/icon-migration-lib.js
  yarn.lock
Due: lint-js, jest, docs-deploy

Build Phase 2 foundational control contracts
  .github/workflows/design-authority.yml
  app/soapbox/components/ui/__tests__/foundational-controls.test.tsx
  app/soapbox/components/ui/avatar/avatar.tsx
  app/soapbox/components/ui/button/__tests__/button.test.tsx
  app/soapbox/components/ui/button/button.tsx
  app/soapbox/components/ui/button/useButtonStyles.ts
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/checkbox/checkbox.tsx
  app/soapbox/components/ui/chip/chip.tsx
  app/soapbox/components/ui/focus/focus-utils.ts
  app/soapbox/components/ui/form-group/__tests__/form-group.test.tsx
  app/soapbox/components/ui/form-group/form-group.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/components/ui/list-row/list-row.tsx
  app/soapbox/components/ui/menu/menu.tsx
  app/soapbox/components/ui/segmented-control/segmented-control.tsx
  app/soapbox/components/ui/textarea/textarea.tsx
  app/styles/application.scss
  app/styles/components/foundational-controls.scss
  config/component-ownership-manifest.json
  config/dependency-authority-inventory.json
  config/design-component-authority-inventory.json
  config/documentation-authority-registry.json
  config/foundational-control-contracts.json
  config/sentry-authority-inventory.json
  docs/architecture/COMPONENT_STATE_CONTRACTS.md
  docs/architecture/CURRENT_STATE.md
  docs/architecture/DEPENDENCY_AND_LICENSE_INVENTORY.md
  docs/architecture/DESIGN_AND_COMPONENT_INVENTORY.md
  docs/architecture/PHASE_2_DESIGN_FOUNDATION.md
  docs/architecture/SOURCE_INVENTORY.md
  package.json
  scripts/__tests__/foundational-control-contracts.test.js
  scripts/check-foundational-control-contracts.js
Due: lint-js, lint-sass, jest, docs-deploy

Record Phase 2C completion
  config/documentation-authority-registry.json
  config/foundational-control-contracts.json
  docs/architecture/COMPONENT_STATE_CONTRACTS.md
  docs/architecture/PHASE_2_DESIGN_FOUNDATION.md
  scripts/check-foundational-control-contracts.js
Due: lint-js, jest, docs-deploy

Address foundational control review feedback
  app/soapbox/components/ui/__tests__/foundational-controls.test.tsx
  app/soapbox/components/ui/button/button.tsx
  app/soapbox/components/ui/form-group/form-group.tsx
  app/soapbox/components/ui/list-row/list-row.tsx
  config/design-component-authority-inventory.json
Due: lint-js, jest

feat(shell): install Framework7 and implement Phase 3A adaptive shell (#52)
  .eslintrc.js
  app/soapbox/actions/settings.ts
  app/soapbox/features/f7-shell/components/bottom-tabs.tsx
  app/soapbox/features/f7-shell/components/desktop-layout.tsx
  app/soapbox/features/f7-shell/components/sidebar-navigation.tsx
  app/soapbox/features/f7-shell/hooks/use-breakpoint.ts
  app/soapbox/features/f7-shell/index.tsx
  app/soapbox/features/ui/index.tsx
  app/styles/application.scss
  app/styles/components/f7-shell.scss
  config/build-budget.json
  config/component-ownership-manifest.json
  config/dependency-authority-inventory.json
  config/design-component-authority-inventory.json
  config/documentation-authority-registry.json
  config/sentry-authority-inventory.json
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_3_FRAMEWORK7_SHELL.md
  jest.config.js
  jest/framework7-mock.js
  jest/framework7-react-mock.js
  package.json
  scripts/__tests__/check-dependency-authority-inventory.test.js
  scripts/check-design-component-authority-inventory.js
  scripts/check-eslint-warning-baseline.js
  yarn.lock
Due: lint-js, lint-sass, jest, docs-deploy

feat(shell): Phase 3B route manifest, deep-link preservation, and state persistence (#53)
  app/soapbox/features/f7-shell/__tests__/route-manifest.test.ts
  app/soapbox/features/f7-shell/hooks/use-route-state.ts
  app/soapbox/features/f7-shell/index.tsx
  app/soapbox/features/f7-shell/route-manifest.ts
  config/component-ownership-manifest.json
  config/design-component-authority-inventory.json
  config/documentation-authority-registry.json
  config/persistence-manifest.json
  docs/architecture/PHASE_3_FRAMEWORK7_SHELL.md
Due: lint-js, jest, docs-deploy

feat(shell): Phase 3C page transitions, viewport/keyboard, and safe-area handling (#54)
  app/soapbox/features/f7-shell/__tests__/transitions.test.ts
  app/soapbox/features/f7-shell/hooks/use-viewport.ts
  app/soapbox/features/f7-shell/index.tsx
  app/soapbox/features/f7-shell/transitions.ts
  app/styles/components/f7-shell.scss
  config/component-ownership-manifest.json
  config/design-component-authority-inventory.json
  config/documentation-authority-registry.json
  docs/architecture/PHASE_3_FRAMEWORK7_SHELL.md
Due: lint-js, lint-sass, jest, docs-deploy

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
