Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Presentation/introduction WiP
  README.md
Due: none

Wording & links
  README.md
Due: none

Add reducer support
  app/soapbox/actions/statuses.ts
  app/soapbox/components/account.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/statuses.ts
Due: lint-js, jest

Add suport for enabling / disabled translation
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/locales/fr.json
  app/soapbox/utils/features.ts
Due: lint-js, jest

[FIX] Hide scheduledStatuses button since it doesnt work on pleroma (#110)
  app/soapbox/utils/features.ts
Due: lint-js, jest

[FIX] Fix some french translations about scheduled posts (#111)
  app/soapbox/locales/fr.json
Due: jest

[FIX] Fix crash when deleting scheduled post (#112)
  app/soapbox/features/scheduled_statuses/builder.tsx
  app/soapbox/features/scheduled_statuses/components/scheduled_status.tsx
Due: lint-js, jest

[FIX] Fix bug when changing search tab + change tabs order to search on statuses by default
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/reducers/search.ts
Due: lint-js, jest

[REM] Remove banner, signup prompts are only availalble if registrations are enabled
  app/soapbox/features/status/components/thread-login-cta.tsx
  app/soapbox/features/ui/components/panels/sign-up-panel.tsx
  app/soapbox/locales/fr.json
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
Due: lint-js, jest

[CH] Move content settings into ... settings
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

Remove duplicate links from footer
  app/soapbox/features/ui/components/link_footer.tsx
Due: lint-js, jest

add feature detection for bubble
  app/soapbox/actions/streaming.ts
  app/soapbox/actions/timelines.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

timeline ok
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

Navigation ok
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: lint-js, jest

Add doc'
  docs/administration/akkoma.md
Due: docs-deploy

[FIX] Fix bug when changing search tab + change tabs order to search on statuses by default (#117)
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/reducers/search.ts
Due: lint-js, jest

[ADD] Add support for machine translation (#116)
  app/soapbox/actions/statuses.ts
  app/soapbox/components/account.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/statuses.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

[CH] Improve README file for a better documentation (#114)
  README.md
  admin-fe.png
  admin-fe2.png
  docs/admin-ui-1.png
  docs/admin-ui-2.png
  docs/ui-dark.png
  docs/ui-light.png
  docs/ui-mixed.png
  ui-dark.png
  ui-light.png
  ui-mixed.png
Due: docs-deploy

Move setting from instance level to user level
  app/soapbox/actions/settings.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/onboarding/steps/feeds.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  docs/administration/akkoma.md
Due: lint-js, jest, docs-deploy

[REM] Remove banner, signup prompts are only availalble if registrations are enabled (#119)
  app/soapbox/features/status/components/thread-login-cta.tsx
  app/soapbox/features/ui/components/panels/sign-up-panel.tsx
  app/soapbox/locales/fr.json
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
Due: lint-js, jest

[CH] Move content settings into ... settings (#120)
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[ADD] Add emoji picker on chats
  app/soapbox/features/chats/components/chat-box.tsx
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

Desktop ok
  app/soapbox/features/compose/components/emoji_picker.tsx
  app/soapbox/features/compose/components/emoji_picker_menu.js
  app/soapbox/features/compose/containers/emoji_picker_dropdown_container.js
Due: lint-js, jest

Mobile ok
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/compose/components/emoji_picker.tsx
  app/soapbox/features/compose/components/emoji_picker_menu.js
  app/styles/emoji_picker.scss
Due: lint-js, lint-sass, jest

Desktop ok
  app/soapbox/features/compose/components/emoji_picker.tsx
  app/soapbox/features/compose/components/emoji_picker_menu.js
  app/styles/emoji_picker.scss
Due: lint-js, lint-sass, jest

Fix hover priority
  app/styles/emoji_picker.scss
Due: lint-sass

[ADD] Add support for the Akkoma bubble timeline (#121)
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/actions/settings.ts
  app/soapbox/actions/streaming.ts
  app/soapbox/actions/timelines.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/onboarding/steps/feeds.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
  app/soapbox/utils/features.ts
  docs/administration/akkoma.md
Due: lint-js, jest, docs-deploy

[CH] Replace Favorite Tab in a profilePage by custom links
  app/soapbox/features/profile_fields/index.tsx
  app/soapbox/features/ui/components/profile_fields_panel.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/fr.json
  app/soapbox/pages/profile_page.tsx
Due: lint-js, jest

[CH] Disable server statuses streaming when on small devices as it can disturb user navigation
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/home_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
Due: lint-js, jest

[ADD] Add emoji picker on chats (#122)
  app/soapbox/features/chats/components/chat-box.tsx
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

[CH] Disable server statuses streaming when on small devices as it can disturb user navigation (#128)
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/home_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
Due: lint-js, jest

[CH] Replace Favorite Tab in a profilePage by custom links (#127)
  app/soapbox/features/profile_fields/index.tsx
  app/soapbox/features/ui/components/profile_fields_panel.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/fr.json
  app/soapbox/pages/profile_page.tsx
Due: lint-js, jest

[CH] Better emoji selection on mobile, fix hover priority (#126)
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/compose/components/emoji_picker.tsx
  app/soapbox/features/compose/components/emoji_picker_menu.js
  app/soapbox/features/compose/containers/emoji_picker_dropdown_container.js
  app/styles/emoji_picker.scss
Due: lint-js, lint-sass, jest

[FIX] Fix emoji selector in chat
  app/soapbox/features/chats/components/chat-box.tsx
  app/soapbox/features/compose/components/emoji_picker.tsx
  app/soapbox/features/compose/components/emoji_picker_menu.js
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

[FIX] Fix translate button position
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

[CH] Reduce emoji mart css footprint
  app/soapbox/features/compose/components/emoji_picker.tsx
  app/soapbox/features/compose/components/emoji_picker_menu.js
  app/soapbox/features/compose/containers/emoji_picker_dropdown_container.js
  app/soapbox/features/emoji/emoji_picker.js
  app/soapbox/features/soapbox_config/components/icon_picker_dropdown.js
  app/soapbox/features/ui/util/async-components.ts
  app/styles/emoji_picker.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

[FIX] Fix Icon picker in Mangane config, use emoji instead of legacy fa icons
  app/soapbox/components/announcements/reactions-bar.tsx
  app/soapbox/components/emoji_picker.tsx
  app/soapbox/containers/emoji_picker_dropdown_container.js
  app/soapbox/features/chats/components/chat-box.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/soapbox_config/components/icon-picker.tsx
  app/soapbox/features/soapbox_config/components/icon_picker_dropdown.js
  app/soapbox/features/soapbox_config/components/promo-panel-input.tsx
  app/soapbox/features/ui/components/promo_panel.tsx
Due: lint-js, jest

[FIX] Fix chat icons
  app/soapbox/features/chats/components/chat-box.tsx
  app/soapbox/features/chats/components/chat-message-list.tsx
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

[CH] Minor button size changes in the chat window
  app/soapbox/features/chats/components/chat-box.tsx
  app/styles/chats.scss
Due: lint-js, lint-sass, jest
