Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

[CH] Change instance logo for timelines (#25)
  app/icons/bdx.svg
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation.tsx
Due: lint-js, jest

[ADD] Add onboarding for new user explaining how the instance works (#26)
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/actions/settings.ts
  app/soapbox/features/enlistment/enlistment.tsx
  app/soapbox/features/enlistment/steps/step0.tsx
  app/soapbox/features/enlistment/steps/step1.tsx
  app/soapbox/features/enlistment/steps/step2.tsx
  app/soapbox/features/enlistment/steps/step3.tsx
  app/soapbox/features/enlistment/steps/step4.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/fr.json
  app/styles/application.scss
  app/styles/components/enlistment.scss
Due: lint-js, lint-sass, jest

Minor UI fix on mobile
  app/soapbox/features/chats/index.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/enlistment/steps/step1.tsx
  app/soapbox/features/enlistment/steps/step2.tsx
  app/soapbox/features/enlistment/steps/step3.tsx
  app/soapbox/features/search/index.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/locales/fr.json
  app/soapbox/pages/home_page.tsx
  app/styles/components/enlistment.scss
Due: lint-js, lint-sass, jest

Use current trends for hashtag searching in composer
  app/soapbox/actions/compose.ts
  app/soapbox/reducers/__tests__/compose.test.ts
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

[ADD] Add follow request entry on side menu on mobile
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

[ADD] Screenshots to the readme
  README.md
  soapbox-screenshot.png
  ui-dark.png
  ui-light.png
  ui-mixed.png
Due: none

[ADD] Screenshots to the readme (#35)
  README.md
  soapbox-screenshot.png
  ui-dark.png
  ui-light.png
  ui-mixed.png
Due: none

[ADD] Add follow request entry on side menu on mobile (#33)
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

[FIX] Fix non-french onboarding
  app/soapbox/features/enlistment/steps/step0.tsx
  app/soapbox/features/enlistment/steps/step1.tsx
  app/soapbox/features/enlistment/steps/step2.tsx
  app/soapbox/features/enlistment/steps/step3.tsx
  app/soapbox/features/enlistment/steps/step4.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[ADD] add manifest.json for PWA
  app/application.ts
  app/manifest.json
  webpack/rules/assets.js
Due: lint-js, jest

Update README.md
  README.md
Due: none

Create webpack.yml
  .github/workflows/webpack.yml
Due: none

Update webpack.yml
  .github/workflows/webpack.yml
Due: none

Add Akkoma feature detection
  app/soapbox/actions/notifications.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/reducers/compose.ts
  app/soapbox/utils/features.ts
  app/soapbox/utils/quirks.ts
Due: lint-js, jest

Change translations in french
  app/soapbox/locales/fr.json
Due: jest

Update tsconfig.json
  tsconfig.json
Due: jest

[FIX] fix hashtag column layout
  app/soapbox/features/hashtag_timeline/index.js
Due: lint-js, jest

Update test-setup.ts
  app/soapbox/jest/test-setup.ts
Due: lint-js, jest

[CH] Now mention people when repyling
  app/soapbox/locales/fr.json
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

[FIX] Fix errors on test on production ci build
  webpack/development.js
  webpack/shared.js
Due: lint-js, jest

[FIX] Fix errors on test on production ci build (#55)
  webpack/development.js
  webpack/shared.js
Due: lint-js, jest

Update package.json
  package.json
Due: jest

[CH] Update the installation instructions
  README.md
  admin-fe.png
  admin-fe2.png
Due: none

Remove falsy instructions
  README.md
Due: none

Fix instructions
  README.md
Due: none

Choose a better approach
  app/soapbox/reducers/compose.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Add Akkoma feature detection (#49)
  app/soapbox/actions/notifications.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/reducers/compose.ts
  app/soapbox/utils/features.ts
  app/soapbox/utils/quirks.ts
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
