Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

RegistrationForm: remove unused import, use single-quotes on string
  app/soapbox/features/auth_login/components/registration_form.tsx
Due: lint-js, jest

FormGroup: use hasError variable (tiny refactor)
  app/soapbox/components/ui/form-group/form-group.tsx
Due: lint-js, jest

Checkbox: add jsdoc comment
  app/soapbox/components/ui/checkbox/checkbox.tsx
Due: lint-js, jest

Account moving API is not part of Pleroma yet
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update Polish translation
  app/soapbox/locales/pl.json
Due: jest

Stop doing Tabler import hack, use our forked version from git
  package.json
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

Allow custom module imports
  custom/modules/.gitkeep
  webpack/rules/assets.js
  webpack/shared.js
Due: lint-js, jest

RemoteInstancePage: convert to TSX
  app/soapbox/pages/remote_instance_page.js
  app/soapbox/pages/remote_instance_page.tsx
Due: lint-js, jest

InstanceInfoPanel: convert to TSX
  app/soapbox/features/ui/components/instance_info_panel.js
  app/soapbox/features/ui/components/instance_info_panel.tsx
  app/soapbox/pages/remote_instance_page.tsx
Due: lint-js, jest

PinnedHostsPicker: convert to TSX
  app/soapbox/features/remote_timeline/components/pinned_hosts_picker.js
  app/soapbox/features/remote_timeline/components/pinned_hosts_picker.tsx
Due: lint-js, jest

RemoteTimeline: convert to TSX
  app/soapbox/features/remote_timeline/index.js
  app/soapbox/features/remote_timeline/index.tsx
Due: lint-js, jest

InstanceModerationPanel: convert to tsx
  app/soapbox/features/ui/components/instance_moderation_panel.js
  app/soapbox/features/ui/components/instance_moderation_panel.tsx
Due: lint-js, jest

EditFederationModal: convert to tsx
  app/soapbox/features/forms/index.tsx
  app/soapbox/features/ui/components/edit_federation_modal.js
  app/soapbox/features/ui/components/edit_federation_modal.tsx
Due: lint-js, jest

Rename SignUpPanel
  app/soapbox/features/ui/components/panels/sign-up-panel.tsx
  app/soapbox/features/ui/components/sign_up_panel.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/defaultMessages.json
Due: lint-js, jest

Add CtaBanner component
  app/soapbox/features/ui/components/__tests__/cta-banner.test.tsx
  app/soapbox/features/ui/components/cta-banner.tsx
Due: lint-js, jest

Include CtaBanner in layouts
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.js
Due: lint-js, jest

README: update download URL to v2.0.0
  README.md
Due: none

Check in default mastodon.conf
  installation/mastodon.conf
Due: none

Mastodon nginx: make it mostly work
  installation/mastodon.conf
Due: none

Remove beta page
  app/soapbox/actions/beta.js
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/beta/index.js
  app/soapbox/features/public_layout/index.js
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/styles/about.scss
Due: lint-js, lint-sass, jest

Add Dark Mode support to landing page header
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/public_layout/components/sonar.tsx
Due: lint-js, jest

Add custom HTML to Tailwind Purge config
  tailwind.config.js
Due: lint-js, jest

Add dark mode support to landing page
  app/soapbox/components/landing-gradient.tsx
  app/soapbox/components/ui/checkbox/checkbox.tsx
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/features/public_layout/index.js
Due: lint-js, jest

Mastodon nginx: tweak backend locations
  installation/mastodon.conf
Due: none

Mastodon nginx: ActivityPub routing
  installation/mastodon.conf
Due: none

Add Mastodon installation docs
  docs/administration/mastodon.md
Due: docs-deploy

Mastodon nginx: fix streaming API location
  installation/mastodon.conf
Due: none

Mastodon nginx: route pghero and sidekiq to Mastodon
  installation/mastodon.conf
Due: none

Mastodon nginx: route /.well-known/host-meta, fix /packs
  installation/mastodon.conf
Due: none

Treat Pepe API as an extension, not a feature
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/ui/components/modals/landing-page-modal.tsx
  app/soapbox/utils/__tests__/features-test.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

Registrations aren't really open unless accountCreation is supported
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/ui/components/modals/landing-page-modal.tsx
Due: lint-js, jest

Fix LandingPage test. Fix rememberSoapboxConfig not importing (!!)
  app/soapbox/features/landing_page/__tests__/landing_page.test.tsx
  app/soapbox/reducers/soapbox.js
Due: lint-js, jest

SidebarNavigation: add back search button
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

Account for different 'rule_type' on rules
  app/soapbox/components/modal_root.js
  app/soapbox/features/ui/components/modals/report-modal/report-modal.tsx
  app/soapbox/features/ui/components/modals/report-modal/steps/reason-step.tsx
  app/soapbox/features/ui/containers/modal_container.js
Due: lint-js, jest

RemoteTimeline: reorganize useEffect
  app/soapbox/features/remote_timeline/index.tsx
Due: lint-js, jest

Delete unused files
  app/icons/COPYING.md
  app/icons/dashboard-filled.svg
  app/icons/home-square.svg
  app/styles/application.scss
  app/styles/components/group-card.scss
  app/styles/components/group-detail.scss
  app/styles/components/group-form.scss
  app/styles/components/group-sidebar-panel.scss
  app/styles/introduction.scss
Due: lint-sass

Create a logged-out call-to-action on threads
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/status/components/thread-login-cta.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Simplify signup routing
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/ui/components/modals/landing-page-modal.tsx
Due: lint-js, jest

Link various sign up buttons to /signup
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/panels/sign-up-panel.tsx
  app/soapbox/features/ui/components/unauthorized_modal.js
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
