Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

fix: unlisted status should be shareable (#377)
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

feat: add page for status composition (#378)
  app/soapbox/actions/statuses.ts
  app/soapbox/components/autosuggest_textarea.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/sub_navigation.tsx
  app/soapbox/components/ui/stack/stack.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/ui/components/compose-button.tsx
  app/soapbox/locales/fr.json
  app/soapbox/pages/status_page.tsx
Due: lint-js, jest

feat: modern bottom nav (#379)
  app/soapbox/components/thumb_navigation-link.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

feat: better looking status on phone (#380)
  app/soapbox/components/status.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/placeholder/components/placeholder_status.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

chore(release): 1.16.0
  CHANGELOG.md
  package.json
Due: jest

fix: various ui fixes after last release
  app/soapbox/components/status.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/placeholder/components/placeholder_status.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

fix: compose fab button should redirect to compose page
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

fix: compose fab button should redirect to compose page (#384)
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

fix: various ui fixes after last release (#383)
  app/soapbox/components/status.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/placeholder/components/placeholder_status.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

chore(release): 1.16.1
  CHANGELOG.md
  package.json
Due: jest

ci: add pages workflow
  .github/workflows/pages.yml
  .github/workflows/webpack.yml
Due: none

chore(release): 1.16.2
  CHANGELOG.md
  package.json
Due: jest

Revert "fix: compose fab button should redirect to compose page (#384)"
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

chore(release): 1.16.3
  CHANGELOG.md
  package.json
Due: jest

fix: compose now asks for confirmation en correctly set state
  app/soapbox/actions/compose.ts
  app/soapbox/actions/statuses.ts
  app/soapbox/components/account.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/compose-button.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

chore: remove unused files
  app/soapbox/components/attachment_list.tsx
  app/soapbox/components/avatar_composite.js
  app/soapbox/components/more_follows.tsx
  app/soapbox/features/bubble_timeline/components/column_settings.js
  app/soapbox/features/bubble_timeline/containers/column_settings_container.js
  app/soapbox/features/community_timeline/components/column_settings.js
  app/soapbox/features/community_timeline/containers/column_settings_container.js
  app/soapbox/features/introduction/index.js
  app/soapbox/jest/test-helpers.tsx
  app/soapbox/jest/test-setup.ts
  app/soapbox/locales/locale-data/README.md
  app/soapbox/queries/ads.ts
Due: lint-js, jest

fix: transparent background on bookmarks
  app/soapbox/components/status.tsx
  app/soapbox/features/bookmarks/index.tsx
Due: lint-js, jest

chore(release): 1.16.4
  CHANGELOG.md
  package.json
Due: jest

chore: fix en
  app/soapbox/locales/en.json
Due: jest

fix: compose now asks for confirmation en correctly set state (#388)
  app/soapbox/actions/compose.ts
  app/soapbox/actions/statuses.ts
  app/soapbox/components/account.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/compose-button.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: lint-js, jest

chore: remove unused files (#389)
  app/soapbox/components/attachment_list.tsx
  app/soapbox/components/avatar_composite.js
  app/soapbox/components/more_follows.tsx
  app/soapbox/features/bubble_timeline/components/column_settings.js
  app/soapbox/features/bubble_timeline/containers/column_settings_container.js
  app/soapbox/features/community_timeline/components/column_settings.js
  app/soapbox/features/community_timeline/containers/column_settings_container.js
  app/soapbox/features/introduction/index.js
  app/soapbox/jest/test-helpers.tsx
  app/soapbox/jest/test-setup.ts
  app/soapbox/locales/locale-data/README.md
  app/soapbox/queries/ads.ts
Due: lint-js, jest

chore(release): 1.16.5
  CHANGELOG.md
  package.json
Due: jest

ci: fix deploy
  .github/workflows/pages.yml
Due: none

chore(release): 1.16.6
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.16.7
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.16.8
  CHANGELOG.md
  package.json
Due: jest

fix: click on compose should reset if editing or quoting
  app/soapbox/actions/compose.ts
Due: lint-js, jest

chore(release): 1.16.9
  CHANGELOG.md
  package.json
Due: jest

fix: action bar icons are not centered
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

fix: awaiting approval show bad password on connection
  app/soapbox/actions/auth.ts
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: click on share button shouldnt redirect to status
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
