Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Improve color normalization
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/utils/theme.ts
Due: jest

MediaGallery: use original image
  app/soapbox/components/media_gallery.js
Due: lint-js, jest

tintify: tweak color intensity
  app/soapbox/utils/__tests__/colors-test.js
  app/soapbox/utils/__tests__/tailwind-test.js
  app/soapbox/utils/colors.ts
Due: lint-js, jest

Helmet: fix title
  app/soapbox/components/helmet.tsx
Due: jest

ui/column: add `relative` class
  app/soapbox/components/ui/column/column.tsx
Due: jest

ui/column: fix snapshot
  app/soapbox/components/ui/column/__tests__/__snapshots__/column.test.js.snap
Due: jest

wip dark mode
  app/soapbox/components/autosuggest_textarea.js
  app/soapbox/components/list.js
  app/soapbox/components/scrollable_list.js
  app/soapbox/components/status.js
  app/soapbox/components/thumb_navigation.js
  app/soapbox/components/ui/form-group/form-group.tsx
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/components/ui/tabs/tabs.css
  app/soapbox/components/ui/tabs/tabs.tsx
  app/soapbox/features/chats/components/audio_toggle.js
  app/soapbox/features/compose/components/reply_indicator.js
  app/soapbox/features/notifications/components/notification.js
  app/soapbox/features/notifications/index.js
  app/soapbox/features/ui/components/confirmation_modal.js
  app/styles/components/display-name.scss
Due: lint-js, lint-sass, jest

Update snapshots
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_form-test.js.snap
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_page-test.js.snap
Due: jest

remove duplicate column headings
  app/soapbox/features/admin/awaiting_approval.js
  app/soapbox/features/admin/index.js
  app/soapbox/features/admin/moderation_log.js
  app/soapbox/features/admin/reports.js
  app/soapbox/features/admin/user_index.js
  app/soapbox/features/aliases/index.js
  app/soapbox/features/backups/index.js
  app/soapbox/features/directory/index.js
  app/soapbox/features/domain_blocks/index.js
  app/soapbox/features/export_data/index.js
  app/soapbox/features/federation_restrictions/index.js
  app/soapbox/features/filters/index.js
  app/soapbox/features/follow_requests/index.js
  app/soapbox/features/import_data/index.js
  app/soapbox/features/lists/index.js
  app/soapbox/features/migration/index.js
  app/soapbox/features/pinned_statuses/index.js
  app/soapbox/features/scheduled_statuses/index.js
  app/soapbox/features/server_info/index.js
Due: lint-js, jest

quote posts?
  app/soapbox/components/account.tsx
  app/soapbox/components/ui/stack/stack.tsx
  app/soapbox/features/status/components/quoted_status.js
  app/soapbox/features/status/components/quoted_status.tsx
Due: lint-js, jest

Support trending statuses from Mastodon 3.5
  app/soapbox/actions/trending_statuses.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

WIP emoji reacts
  app/soapbox/components/emoji_selector.js
  app/soapbox/components/status_action_bar.js
  app/styles/components/emoji-reacts.scss
Due: lint-js, lint-sass, jest

Actually, keep some of the good locale changes
  app/soapbox/locales/en.json
Due: jest

Styles, dark mode
  app/soapbox/components/poll.tsx
  app/soapbox/components/thumb_navigation.js
  app/soapbox/components/ui/column/column.tsx
  app/soapbox/components/ui/menu/menu.css
  app/soapbox/components/ui/menu/menu.tsx
  app/soapbox/features/developers/developers_menu.js
  app/soapbox/features/directory/components/account_card.js
  app/soapbox/features/placeholder/components/placeholder_notification.js
  app/soapbox/features/ui/components/column_forbidden.js
  app/styles/accounts.scss
  app/styles/components/accordion.scss
  app/styles/components/compose-form.scss
  app/styles/components/directory.scss
  app/styles/components/dropdown-menu.scss
  app/styles/emoji_picker.scss
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Use intl to format messages
  app/soapbox/actions/__tests__/compose.test.js
  app/soapbox/actions/compose.js
  app/soapbox/features/compose/containers/compose_form_container.js
  app/soapbox/features/compose/containers/upload_button_container.js
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Handle max file size before we process with server
  app/soapbox/actions/__tests__/compose.test.js
  app/soapbox/actions/compose.js
  app/soapbox/utils/media.ts
Due: lint-js, jest

Convert media.js to TSX
  app/soapbox/utils/media.ts
Due: jest

Add fallback for missing errors
  app/soapbox/actions/alerts.js
  app/soapbox/utils/errors.js
  app/soapbox/utils/errors.ts
Due: lint-js, jest

Improve error handling
  app/soapbox/actions/alerts.js
  app/soapbox/components/modal_root.js
  app/styles/components/snackbar.scss
Due: lint-js, lint-sass, jest

Convert UploadProgress to TSX
  app/soapbox/features/chats/components/chat_box.js
  app/soapbox/features/compose/components/upload-progress.tsx
  app/soapbox/features/compose/components/upload_form.js
  app/soapbox/features/compose/components/upload_progress.js
  app/soapbox/features/compose/containers/upload_progress_container.js
Due: lint-js, jest

Improve style of UploadProgress
  app/soapbox/features/compose/components/upload-progress.tsx
  app/styles/chats.scss
  app/styles/components/compose-form.scss
Due: lint-sass, jest

typescript, ThumbNavigationLink component
  app/soapbox/components/icon_with_counter.tsx
  app/soapbox/components/thumb_navigation-link.tsx
  app/soapbox/components/thumb_navigation.js
  app/soapbox/components/thumb_navigation.tsx
Due: lint-js, jest

Preserve TruthSocial "external_video_id" in attachments
  app/soapbox/__fixtures__/truthsocial-status-with-external-video.json
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/attachment.ts
Due: lint-js, jest

Enable Trends and Suggestions for TruthSocial
  app/soapbox/utils/features.ts
Due: jest

external_video_id: render card html instead of hardcoding the provider
  app/soapbox/components/status.js
  app/soapbox/features/status/components/detailed_status.js
Due: lint-js, jest

ThumbNavigationLink: fix runtime error No clue why that was happening
  app/soapbox/components/thumb_navigation-link.tsx
Due: jest

Polish translation
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/security/mfa_form.js
  app/soapbox/locales/pl.json
  app/styles/components/compose-form.scss
Due: lint-js, lint-sass, jest

Fix background shapes for dark mode
  app/soapbox/features/ui/components/background_shapes.js
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: lint-js, jest

Improve bg-shape-1 color normalization
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: jest

external_video_id hotfix
  app/soapbox/components/status.js
  app/soapbox/features/status/components/detailed_status.js
Due: lint-js, jest

LinkFooter: convert to TSX
  app/soapbox/features/ui/components/link_footer.js
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useFeatures.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

LinkFooter: don't use <ul> tag
  app/soapbox/features/ui/components/link_footer.tsx
Due: jest

LinkFooter: replace account aliases with account migration
  app/soapbox/features/ui/components/link_footer.tsx
Due: jest

utils/features: don't call .get
  app/soapbox/utils/features.ts
Due: jest

Change copy for generic 500 error
  app/soapbox/utils/errors.ts
Due: jest

Convert components/status to Typescript
  app/soapbox/components/scrollable_list.js
  app/soapbox/components/status.tsx
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

Improve status.card normalization (it will never be a string)
  app/soapbox/components/status.tsx
  app/soapbox/normalizers/status.ts
Due: jest

Fix Jest snapshot
  app/soapbox/components/__tests__/__snapshots__/emoji_selector-test.js.snap
Due: jest

Convert selectors/index to Typescript
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/attachment.ts
  app/soapbox/normalizers/notification.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/accounts.ts
  app/soapbox/reducers/filters.js
  app/soapbox/reducers/filters.tsx
  app/soapbox/reducers/statuses.ts
  app/soapbox/selectors/index.js
  app/soapbox/selectors/index.ts
  app/soapbox/utils/__tests__/accounts-test.js
  app/soapbox/utils/accounts.ts
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
