Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

test(phase-0): cover React Query invocation and hydration drift
  scripts/__tests__/check-react-query-authority-inventory.test.js
Due: lint-js, jest

fix(phase-0): preserve query key literals and scope hydration scan
  scripts/check-react-query-authority-inventory.js
Due: lint-js, jest

test(phase-0): cover literal whitespace and TS assertion false positives
  scripts/__tests__/check-react-query-authority-inventory.test.js
Due: lint-js, jest

noop
  noop
Due: none

chore: remove accidental noop artifact
  noop
Due: none

noop
  noop2
Due: none

chore: remove accidental branch probe artifact
  noop2
Due: none

feat(phase-0): add share target authority manifest
  config/share-target-authority-inventory.json
Due: jest

feat(phase-0): add share target authority checker
  scripts/check-share-target-authority-inventory.js
Due: lint-js, jest

test(phase-0): add share target authority regressions
  scripts/__tests__/check-share-target-authority-inventory.test.js
Due: lint-js, jest

docs(phase-0): document share target authority boundary
  docs/architecture/SHARE_TARGET_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

ci(phase-0): add share target authority workflow
  .github/workflows/share-target-authority.yml
Due: none

ci(phase-0): enforce share target authority gate
  .github/workflows/architecture-inventory.yml
Due: none

docs(phase-0): index share target authority gate
  docs/architecture/README.md
Due: docs-deploy

fix(phase-0): reconcile exact share target registration syntax
  config/share-target-authority-inventory.json
Due: jest

fix(phase-0): pin exact share target registration syntax
  scripts/check-share-target-authority-inventory.js
Due: lint-js, jest

fix(phase-0): normalize both sides of share target evidence
  scripts/check-share-target-authority-inventory.js
Due: lint-js, jest

fix(phase-0): reconcile canonical share target documentation case
  scripts/check-share-target-authority-inventory.js
Due: lint-js, jest

feat(phase-0): add service worker cache authority manifest
  config/service-worker-cache-authority-inventory.json
Due: jest

feat(phase-0): add service worker cache authority checker
  scripts/check-service-worker-cache-authority-inventory.js
Due: lint-js, jest

test(phase-0): add service worker cache authority regressions
  scripts/__tests__/check-service-worker-cache-authority-inventory.test.js
Due: lint-js, jest

docs(phase-0): document service worker cache authority gate
  docs/architecture/SERVICE_WORKER_CACHE_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

ci(phase-0): add service worker cache authority workflow
  .github/workflows/service-worker-cache-authority.yml
Due: none

ci(phase-0): integrate service worker cache authority gate
  .github/workflows/architecture-inventory.yml
Due: none

docs(phase-0): index service worker cache authority gate
  docs/architecture/README.md
Due: docs-deploy

fix(phase-0): preserve cache array trailing commas
  scripts/check-service-worker-cache-authority-inventory.js
Due: lint-js, jest

docs(phase-0): align cache purge evidence wording
  docs/architecture/SERVICE_WORKER_CACHE_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

chore: wip
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

chore: wip
  app/soapbox/containers/soapbox.tsx
Due: lint-js, jest

refactor: remove useless prop
  app/soapbox/components/scrollable_list.tsx
  yarn.lock
Due: lint-js, jest

fix: random scroll jump to top
  app/soapbox/actions/streaming.ts
  app/soapbox/actions/timelines.ts
  app/soapbox/components/__tests__/scroll-top-button.test.tsx
  app/soapbox/components/scroll-to-button.tsx
  app/soapbox/features/notifications/index.tsx
  app/soapbox/features/ui/components/timeline.tsx
  yarn.lock
Due: lint-js, jest

feat(phase-0): add bootstrap provider authority manifest
  config/bootstrap-provider-authority-inventory.json
Due: jest

feat(phase-0): enforce bootstrap provider authority
  scripts/check-bootstrap-provider-authority-inventory.js
Due: lint-js, jest

test(phase-0): cover bootstrap provider authority drift
  scripts/__tests__/check-bootstrap-provider-authority-inventory.test.js
Due: lint-js, jest

docs(phase-0): document bootstrap provider authority gate
  docs/architecture/BOOTSTRAP_PROVIDER_AUTHORITY_DRIFT_GATE.md
Due: docs-deploy

ci(phase-0): add bootstrap provider authority workflow
  .github/workflows/bootstrap-provider-authority.yml
Due: none

ci(phase-0): integrate bootstrap provider authority gate
  .github/workflows/architecture-inventory.yml
Due: none

docs(phase-0): index bootstrap provider authority gate
  docs/architecture/README.md
Due: docs-deploy

fix(phase-0): harden bootstrap authority evidence
  scripts/check-bootstrap-provider-authority-inventory.js
Due: lint-js, jest

test(phase-0): cover inert evidence and full manifest drift
  scripts/__tests__/check-bootstrap-provider-authority-inventory.test.js
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
