Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

LinkFooter: add breathing room
  app/soapbox/components/ui/layout/layout.tsx
Due: lint-js, jest

LinkFooter: improve style of repo link
  app/soapbox/features/ui/components/link_footer.tsx
Due: lint-js, jest

CryptoAddress: improve icon size
  app/soapbox/features/crypto_donate/components/crypto_address.tsx
  app/soapbox/features/crypto_donate/index.tsx
  app/soapbox/features/ui/components/accordion.tsx
  app/styles/components/accordion.scss
Due: lint-js, lint-sass, jest

FundingPanel: remove unused history variable
  app/soapbox/features/ui/components/funding_panel.tsx
Due: lint-js, jest

Fix Patron tests
  app/soapbox/reducers/__tests__/patron-test.js
Due: lint-js, jest

Nvm, definitely do cache icon requests
  app/soapbox/components/ui/icon/svg-icon.tsx
Due: lint-js, jest

Add support for formatting numbers in millions
  app/soapbox/utils/__tests__/numbers-test.js
  app/soapbox/utils/__tests__/numbers-test.tsx
  app/soapbox/utils/numbers.tsx
Due: lint-js, jest

Add new Pulse effect in vanilla CSS
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/public_layout/components/pulse.tsx
  tailwind.config.js
Due: lint-js, jest

Remove Lottie
  app/images/circles.json
  app/soapbox/components/lottie.tsx
  app/styles/truth.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

pulse -> sonar
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/public_layout/components/pulse.tsx
  app/soapbox/features/public_layout/components/sonar.tsx
  tailwind.config.js
Due: lint-js, jest

Add redux-toolkit, configureStore()
  app/soapbox/store.ts
  package.json
  yarn.lock
Due: lint-js, jest

Convert actions/instance to use createAsyncThunk()
  app/soapbox/actions/instance.ts
  app/soapbox/reducers/instance.ts
  app/soapbox/reducers/meta.ts
Due: lint-js, jest

Update tests relying on actions/instance
  app/soapbox/features/landing_page/__tests__/landing_page.test.tsx
  app/soapbox/reducers/__tests__/instance-test.js
Due: lint-js, jest

maybe add some links to sidebar menu
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

createAsyncThunk(): .toString() --> .type
  app/soapbox/features/landing_page/__tests__/landing_page.test.tsx
  app/soapbox/reducers/__tests__/instance-test.js
  app/soapbox/reducers/instance.ts
  app/soapbox/reducers/meta.ts
Due: lint-js, jest

dark styles on public pages
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/auth_layout/index.tsx
  app/soapbox/features/auth_login/components/password_reset.js
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/public_layout/index.js
  app/soapbox/features/verification/waitlist_page.js
  app/styles/about.scss
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

StatusInteractionBar: fix emoji react styles
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/styles/components/emoji-reacts.scss
Due: lint-js, lint-sass, jest

StatusContent: fix markdown styles
  app/styles/components/status.scss
Due: lint-sass

Toggle visiblity --> Hide
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/components/media_gallery.js
  app/soapbox/locales/ast.json
  app/soapbox/locales/bg.json
  app/soapbox/locales/br.json
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/en.json
  app/soapbox/locales/ga.json
  app/soapbox/locales/hi.json
  app/soapbox/locales/lt.json
  app/soapbox/locales/lv.json
  app/soapbox/locales/mk.json
  app/soapbox/locales/ms.json
  app/soapbox/locales/nn.json
Due: lint-js, jest

ComposeForm: move EmojiPickerDropdown beside UploadButton
  app/soapbox/features/compose/components/compose_form.js
Due: lint-js, jest

Add network error preview to Developers (/error/network)
  app/soapbox/features/developers/developers_menu.tsx
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Make error routes developerOnly
  app/soapbox/features/ui/index.js
Due: lint-js, jest

BundleColumnError: convert to TSX
  app/soapbox/features/ui/components/bundle_column_error.js
  app/soapbox/features/ui/components/bundle_column_error.tsx
Due: lint-js, jest

BundleColumnError: improve styles
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/ui/components/bundle_column_error.tsx
  app/soapbox/features/ui/components/bundle_modal_error.js
  app/soapbox/locales/ast.json
  app/soapbox/locales/bg.json
  app/soapbox/locales/br.json
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/en.json
  app/soapbox/locales/ga.json
  app/soapbox/locales/hi.json
  app/soapbox/locales/hr.json
  app/soapbox/locales/io.json
  app/soapbox/locales/lt.json
  app/soapbox/locales/ms.json
Due: lint-js, jest

SidebarMenu: make accounts clickable
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

Restore mobile account switcher, make it available to everyone
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/styles/components/sidebar-menu.scss
Due: lint-js, lint-sass, jest

Allow text selection in the Status component
  app/soapbox/components/status.tsx
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

Revert "Merge branch 'allow-text-selection' into 'next'"
  app/soapbox/components/status.tsx
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

WrappedRoute: refactor with TSX+FC
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/ui/components/columns_area.js
  app/soapbox/features/ui/components/columns_area.tsx
  app/soapbox/features/ui/containers/columns_area_container.js
  app/soapbox/features/ui/util/react_router_helpers.js
  app/soapbox/features/ui/util/react_router_helpers.tsx
Due: lint-js, jest

async-components: convert to TS
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

BackgroundShapes: convert to TSX
  app/soapbox/features/ui/components/background_shapes.tsx
Due: lint-js, jest

Add disabled
  app/soapbox/components/ui/input/input.tsx
Due: lint-js, jest

Convert mfa_form to typescript
  app/soapbox/features/security/mfa/disable_otp_form.tsx
  app/soapbox/features/security/mfa/enable_otp_form.tsx
  app/soapbox/features/security/mfa/otp_confirm_form.tsx
  app/soapbox/features/security/mfa_form.js
  app/soapbox/features/security/mfa_form.tsx
Due: lint-js, jest

ui/index: convert to TSX+FC
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/react_router_helpers.tsx
  app/soapbox/normalizers/instance.ts
Due: lint-js, jest

SoapboxMount: do load, even if something fails
  app/soapbox/containers/soapbox.tsx
Due: lint-js, jest

Delete FUNDING.yml
  .github/FUNDING.yml
Due: none

[CH] Some translations on index view
  app/soapbox/features/auth_login/components/captcha.js
  app/soapbox/locales/fr.json
Due: lint-js, jest

[CH] Some translations on index view (#16)
  app/soapbox/features/auth_login/components/captcha.js
  app/soapbox/locales/fr.json
Due: lint-js, jest

Fix Gif picker appearance (#14)
  app/styles/gif_picker.scss
Due: lint-sass

Features: support backend build name (eg `+soapbox`)
  app/soapbox/utils/__tests__/features-test.js
  app/soapbox/utils/features.ts
Due: lint-js, jest
