Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

[CH] Translation email validation in french (#50)
  app/soapbox/locales/fr.json
Due: jest

[FIX] fix hashtag column layout (#51)
  app/soapbox/features/hashtag_timeline/index.js
Due: lint-js, jest

[CH] Update the installation instructions (#57)
  README.md
  admin-fe.png
  admin-fe2.png
Due: none

[CH] Now mention people when repyling (#52)
  app/soapbox/locales/fr.json
  app/soapbox/utils/features.ts
Due: lint-js, jest

Maj version
  package.json
Due: jest

Fix some translations
  app/soapbox/locales/fr.json
Due: jest

Release Hot Snowleopard (#58)
  README.md
  admin-fe.png
  admin-fe2.png
  app/soapbox/actions/notifications.ts
  app/soapbox/features/hashtag_timeline/index.js
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/instance.ts
  app/soapbox/reducers/compose.ts
  app/soapbox/utils/features.ts
  app/soapbox/utils/quirks.ts
  package.json
Due: lint-js, jest

Update README.md
  README.md
Due: none

dev ok
  webpack/development.js
Due: lint-js, jest

Use config logo for local icon
  app/icons/bdx.svg
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/site-logo.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/soapbox_config/components/site-preview.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useLogo.ts
  app/soapbox/hooks/useTheme.ts
Due: lint-js, jest

Remove name in manifest.json
  app/manifest.json
  webpack/rules/assets.js
Due: lint-js, jest

Edit chat check
  app/soapbox/utils/features.ts
Due: lint-js, jest

Fix translations
  app/soapbox/locales/fr.json
Due: jest

Remove background
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

Make a difference bewteen radio and checkbox
  app/soapbox/components/polls/poll-option.tsx
Due: lint-js, jest

translate bookmark
  app/soapbox/locales/fr.json
Due: jest

Remove crypto bullshit, translate in french
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

Rework onboarding
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/enlistment/enlistment.tsx
  app/soapbox/features/enlistment/steps/step0.tsx
  app/soapbox/features/enlistment/steps/step1.tsx
  app/soapbox/features/enlistment/steps/step2.tsx
  app/soapbox/features/enlistment/steps/step3.tsx
  app/soapbox/features/enlistment/steps/step4.tsx
  app/soapbox/features/onboarding/onboarding-wizard.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/onboarding/steps/enlistement-1-step.tsx
  app/soapbox/features/onboarding/steps/enlistment-2-step.tsx
  app/soapbox/features/onboarding/steps/enlistment-3-step.tsx
  app/soapbox/features/onboarding/steps/enlistment-4-step.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[FIX] use actualStatus hidden state boosted status with CW are now working correctly
  app/soapbox/components/status.tsx
Due: lint-js, jest

[CH] Rework the profile directory
  app/soapbox/features/directory/components/account_card.tsx
  app/soapbox/features/directory/index.tsx
  app/soapbox/locales/fr.json
  app/styles/components/directory.scss
Due: lint-js, lint-sass, jest

Fix feedbacks
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/features/directory/components/account_card.tsx
  app/soapbox/features/directory/index.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

Update github repo url
  README.md
  app/soapbox/utils/features.ts
  package.json
Due: lint-js, jest

Update github repo url (#80)
  README.md
  app/soapbox/utils/features.ts
  package.json
Due: lint-js, jest

[CH] Local timeline logo is now instance logo. Instance logo must be svg only. Remove name from Manifest.json (#64)
  app/icons/bdx.svg
  app/manifest.json
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/site-logo.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/soapbox_config/components/site-preview.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useLogo.ts
  app/soapbox/hooks/useTheme.ts
  webpack/rules/assets.js
Due: lint-js, jest

Edit chat check (#65)
  app/soapbox/utils/features.ts
Due: lint-js, jest

[CH] Better UX for polls (#66)
  app/soapbox/components/polls/poll-option.tsx
  app/soapbox/components/status_content.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[FIX] Translate config panel, bookmark,muted words, import data pages in French (#67)
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[FIX] use actualStatus hidden state boosted status with CW are now working correctly (#76)
  app/soapbox/components/status.tsx
Due: lint-js, jest

[CH] Rework the profile directory (#77)
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/features/directory/components/account_card.tsx
  app/soapbox/features/directory/index.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/locales/fr.json
  app/styles/components/directory.scss
Due: lint-js, lint-sass, jest

Fix Non working configuration
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/soapbox_config/components/icon_picker_dropdown.js
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

Change landing page
  app/soapbox/actions/instance.ts
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/instance.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/reducers/instance.ts
Due: lint-js, jest

[ADD][FIX] Add a detailed home description, Show admins and moderators on front page. Fix footer links on mangane settings page. (#83)
  app/soapbox/actions/instance.ts
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/soapbox_config/components/icon_picker_dropdown.js
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/instance.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/reducers/instance.ts
Due: lint-js, jest

Fix translations (#84)
  app/soapbox/locales/fr.json
Due: jest

Fix wrong request
  app/soapbox/actions/admin.ts
  app/soapbox/locales/fr.json
Due: lint-js, jest

[CH] Back arrow should stick to the top of the screen
  app/soapbox/components/sticky.tsx
  app/soapbox/features/status/index.tsx
  app/styles/application.scss
  app/styles/components/sticky.scss
Due: lint-js, lint-sass, jest

[CH] Back arrow should stick to the top of the screen (#86)
  app/soapbox/components/sticky.tsx
  app/soapbox/features/status/index.tsx
  app/styles/application.scss
  app/styles/components/sticky.scss
Due: lint-js, lint-sass, jest

Fix wrong request (#85)
  app/soapbox/actions/admin.ts
  app/soapbox/locales/fr.json
Due: lint-js, jest
