Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

[FIX] editing post with the original content_type
  app/soapbox/actions/statuses.ts
Due: lint-js, jest

[ADD] Open original profile button, #204
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

[ADD] Open original profile button
  app/soapbox/features/account/components/header.tsx
Due: lint-js, jest

[FIX] editing post with the original content_type (#205)
  app/soapbox/actions/statuses.ts
Due: lint-js, jest

add "admin dashboard" to sidebar menu(mobile menu) (#203)
  .github/workflows/webpack.yml
  app/soapbox/components/profile-hover-card.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/ui/components/profile_info_panel.tsx
  package.json
Due: lint-js, jest

[ADD] add dashboard entry
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

[ADD] add dashboard entry (#208)
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

[ADD] Add troubleshooting for too strict CSP
  README.md
Due: none

[ADD] Update Readme to add info about csp (#209)
  README.md
Due: none

[CH] Remove mention to soapbox in some doc files
  docs/contributing.md
  docs/customization.md
Due: docs-deploy

[CH] Remove mention to soapbox in some doc files (#210)
  docs/contributing.md
  docs/customization.md
Due: docs-deploy

[FIX] Fix follow imports
  app/soapbox/actions/import_data.ts
Due: lint-js, jest

[FIX] Fix follow imports (#211)
  app/soapbox/actions/import_data.ts
Due: lint-js, jest

Update package json
  package.json
Due: jest

[ADD] Custom emoji installation documentation
  docs/custom_reactions_emoji.md
Due: docs-deploy

Update custom_reactions_emoji.md
  docs/custom_reactions_emoji.md
Due: docs-deploy

[FIX] Fix bad menu entry declaration
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

[FIX] the reply content type is missing
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Update README.md
  README.md
Due: none

Update customization.md
  docs/customization.md
Due: docs-deploy

[FIX] the reply content type is missing (#214)
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

[ADD] Custom emoji installation documentation (#213)
  docs/custom_reactions_emoji.md
Due: docs-deploy

[CH] Move custom emoji doc in customization doc
  docs/custom_reactions_emoji.md
  docs/customization.md
Due: docs-deploy

[ADD] Add option to disable quote RT
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: lint-js, jest

[FIX] Fix double message entry when no chats
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

[CH] Remove settings password options when using ldap
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

[ADD] Add an icon to describe privacy
  app/soapbox/components/status.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

fix icons
  app/soapbox/features/compose/components/privacy_dropdown.tsx
  app/soapbox/features/onboarding/steps/privacy.tsx
Due: lint-js, jest

Update and rename README.md to Add manifesto to README.md
  Add manifesto to README.md
Due: none

Rename Add manifesto to README.md to README.md
  README.md
Due: none

Revert "[CH] Disable server statuses streaming when on small devices as it can disturb user navigation (#128)"
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/home_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
Due: lint-js, jest

[FIX] Fix wrong default privacy after first compose modal
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

[FIX] Fix Quoted status CW not being forwarded nor hidden
  app/soapbox/components/status.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/compose_form_container.js
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

[ADD] Add option to disable quote RT (#220)
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: lint-js, jest

[FIX] Fix double message entry when no chats (#221)
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

[CH] Remove settings password options when using ldap (#222)
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

[ADD] Add an icon to describe privacy (#223)
  app/soapbox/components/status.tsx
  app/soapbox/features/compose/components/privacy_dropdown.tsx
  app/soapbox/features/onboarding/steps/privacy.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
