Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Add Rumble AdProvider
  app/soapbox/features/ads/providers/index.ts
  app/soapbox/features/ads/providers/rumble.ts
Due: lint-js, jest

Jest: include QueryClientProvider in tests
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
  app/soapbox/jest/test-helpers.tsx
Due: lint-js, jest

add step3
  app/soapbox/features/enlistment/enlistment.tsx
  app/soapbox/features/enlistment/steps/step0.tsx
  app/soapbox/features/enlistment/steps/step1.tsx
  app/soapbox/features/enlistment/steps/step2.tsx
  app/soapbox/features/enlistment/steps/step3.tsx
  app/soapbox/locales/fr.json
  app/styles/components/enlistment.scss
Due: lint-js, lint-sass, jest

Make ads horizontal cards
  app/soapbox/features/ads/components/ad.tsx
  app/soapbox/features/ads/providers/rumble.ts
  app/soapbox/features/status/components/card.tsx
Due: lint-js, jest

Ads: display tooltip
  app/soapbox/components/ui/stack/stack.tsx
  app/soapbox/features/ads/components/ad.tsx
Due: lint-js, jest

Fix height of horizontal link cards
  app/soapbox/features/status/components/card.tsx
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Refactor status Card description
  app/soapbox/features/status/components/card.tsx
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Refactor status Card description with UI components
  app/soapbox/features/status/components/card.tsx
Due: lint-js, jest

Don't add title to Rumble ads provider
  app/soapbox/features/ads/providers/rumble.ts
Due: lint-js, jest

Status Card: shrink link text size
  app/soapbox/features/status/components/card.tsx
Due: lint-js, jest

Display popover in ad
  app/soapbox/features/ads/components/ad.tsx
Due: lint-js, jest

Ad: dismiss the infobox when clicked outside
  app/soapbox/features/ads/components/ad.tsx
Due: lint-js, jest

AccountGallery: fix thumbnails wrapping too soon, fixes #1057
  app/styles/accounts.scss
Due: lint-sass

Update Polish translation
  app/soapbox/locales/pl.json
Due: jest

Use different confirmation modal/snackbar text for post editing
  app/soapbox/actions/compose.ts
  app/soapbox/features/ui/components/compose_modal.tsx
  app/soapbox/locales/pl.json
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Add instructions for creating about pages, fixes #1059
  docs/customization.md
Due: docs-deploy

Fix: markdown post background not distinguished
  app/styles/components/status.scss
Due: lint-sass

fix test
  app/soapbox/features/ui/components/compose_modal.tsx
  app/soapbox/locales/pl.json
  app/soapbox/reducers/__tests__/compose.test.ts
Due: lint-js, jest

Refetch birthday reminders on midnight
  app/soapbox/actions/accounts.ts
  app/soapbox/components/birthday-panel.tsx
Due: lint-js, jest

Notifications: fix markers string ID comparison
  app/soapbox/actions/__tests__/notifications.test.ts
  app/soapbox/actions/notifications.ts
  app/soapbox/compare_id.ts
Due: lint-js, jest

Add compare_id tests
  app/soapbox/__tests__/compare_id.test.ts
Due: lint-js, jest

Danger: modified --> edited
  dangerfile.ts
Due: lint-js

Don't increase replies count when editing a post
  app/soapbox/actions/statuses.ts
  app/soapbox/reducers/statuses.ts
Due: lint-js, jest

Show 'public poll' label
  app/soapbox/components/polls/poll-footer.tsx
  app/soapbox/normalizers/poll.ts
Due: lint-js, jest

Allow to search for posts from given account
  app/soapbox/actions/search.ts
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/reducers/search.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update tests
  app/soapbox/reducers/__tests__/search-test.js
Due: lint-js, jest

Add React Query
  app/soapbox/actions/__tests__/carousels.test.ts
  app/soapbox/actions/auth.ts
  app/soapbox/actions/carousels.ts
  app/soapbox/containers/soapbox.tsx
  app/soapbox/contexts/auth-context.tsx
  app/soapbox/features/feed-filtering/feed-carousel.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/queries/carousels.ts
  app/soapbox/queries/client.ts
  app/soapbox/reducers/__tests__/carousels.test.ts
  app/soapbox/reducers/auth.js
  app/soapbox/reducers/carousels.ts
  app/soapbox/reducers/index.ts
Due: lint-js, jest

Lint
  app/soapbox/features/ui/index.tsx
  app/soapbox/queries/carousels.ts
Due: lint-js, jest

Do not center actions modalitems
  app/styles/components/modal.scss
Due: lint-sass

Use redux auth for now
  app/soapbox/actions/auth.ts
  app/soapbox/api.ts
  app/soapbox/containers/soapbox.tsx
  app/soapbox/contexts/auth-context.tsx
  app/soapbox/reducers/auth.js
Due: lint-js, jest

Fix debounce in search, clear accountId on submit from navbar
  app/soapbox/actions/search.ts
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/reducers/search.ts
Due: lint-js, jest

Change color of edited status indicator icon
  app/soapbox/components/account.tsx
Due: lint-js, jest

Add tests
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
  app/soapbox/jest/test-helpers.tsx
  app/soapbox/queries/__tests__/carousels.test.ts
  app/soapbox/queries/carousels.ts
Due: lint-js, jest

Add default MR template
  .gitlab/merge_request_templates/Default.md
Due: none

RumbleAdProvider: send Accept-Language header with request
  app/soapbox/features/ads/providers/rumble.ts
Due: lint-js, jest

Convert About page to TSX
  app/soapbox/features/about/index.js
  app/soapbox/features/about/index.tsx
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: lint-js, jest

Delete unused SettingsCheckbox component
  app/soapbox/components/settings_checkbox.js
Due: lint-js, jest

Thread: convert to functional component
  app/soapbox/features/status/index.tsx
  app/soapbox/utils/status.ts
Due: lint-js, jest

Status --> Thread
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

DetailedStatus: convert to React.FC
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest
