Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

SoapboxConfig: convert to TSX
  app/soapbox/features/forms/index.tsx
  app/soapbox/features/soapbox_config/index.js
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

Streamfield: export generic StreamfieldComponent<T> type
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/edit_profile/index.tsx
Due: lint-js, jest

Streamfield: labelText, hintText --> label, hint
  app/soapbox/components/ui/streamfield/streamfield.tsx
  app/soapbox/features/edit_profile/index.tsx
Due: lint-js, jest

SoapboxConfig: use Streamfield for cryptoAddresses
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

Move CryptoAddressInput into its own file
  app/soapbox/features/soapbox_config/components/crypto-address-input.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

[CH] Add local and fediverse timeline in thumb menu, move serach icon in top navigation (#13)
  app/soapbox/components/thumb_navigation.js
  app/soapbox/features/ui/components/tabs_bar.js
  app/styles/components/icon.scss
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

SoapboxConfig: use Streamfield for PromoPanelInput, refactor getter/setters
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

PromoPanelInput: remove icon label
  app/soapbox/features/soapbox_config/components/icon-picker.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: move PromoPanelInput into its own file
  app/soapbox/features/soapbox_config/components/promo-panel-input.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

Streamfield: don't render values container unless it has values
  app/soapbox/components/ui/streamfield/streamfield.tsx
Due: lint-js, jest

SoapboxConfig: convert home footer links into Streamfield
  app/soapbox/features/soapbox_config/components/footer-link-input.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/normalizers/soapbox/soapbox_config.ts
Due: lint-js, jest

SoapboxConfig: improve spacing
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: refactor inputs
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: improve layout
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/features/soapbox_config/index.tsx
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

Restore icon picker styles
  app/styles/emoji_picker.scss
Due: lint-sass

SoapboxConfig: improve style of IconPicker
  app/soapbox/features/soapbox_config/components/icon-picker.tsx
  app/soapbox/features/soapbox_config/components/icon_picker_dropdown.js
  app/soapbox/features/soapbox_config/components/promo-panel-input.tsx
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

SoapboxConfig: improve ColorPicker styles
  app/soapbox/features/soapbox_config/components/color-with-picker.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: refactor Textarea
  app/soapbox/components/ui/form-group/form-group.tsx
  app/soapbox/components/ui/textarea/textarea.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: improve style of file uploader
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: fix theme selector
  app/soapbox/features/soapbox_config/index.tsx
  app/soapbox/features/ui/components/theme-selector.tsx
  app/soapbox/features/ui/components/theme-toggle.tsx
Due: lint-js, jest

SoapboxConfig: expand input widths
  app/soapbox/features/soapbox_config/components/footer-link-input.tsx
  app/soapbox/features/soapbox_config/components/promo-panel-input.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: change checkboxes to Toggle list
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: put theme items into List
  app/soapbox/features/soapbox_config/components/color-with-picker.tsx
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SoapboxConfig: reorganize and add headings
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

SitePreview: clean up links
  app/soapbox/features/soapbox_config/components/site-preview.tsx
Due: lint-js, jest

LinkFooter: add /soapbox/config link back
  app/soapbox/features/ui/components/link_footer.tsx
Due: lint-js, jest

ThemeSelector: okay but definitely use onChange, not onBlur
  app/soapbox/features/ui/components/theme-selector.tsx
Due: lint-js, jest

SitePreview: make it actually work
  app/soapbox/features/soapbox_config/components/site-preview.tsx
  app/soapbox/features/ui/components/background_shapes.tsx
  app/styles/forms.scss
  app/styles/truth.scss
Due: lint-js, lint-sass, jest

Dark style for divide-gray-200
  app/soapbox/features/compose/components/search_results.js
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
  app/soapbox/features/ui/components/modals/landing-page-modal.tsx
Due: lint-js, jest

Use Tabler Icons for attachment icons
  app/soapbox/components/media_gallery.js
  app/soapbox/features/compose/components/upload.js
  app/styles/components/compose-form.scss
Due: lint-js, lint-sass, jest

Search: fix crash on paginating hashtags
  app/soapbox/reducers/__tests__/search-test.js
  app/soapbox/reducers/search.js
Due: lint-js, jest

ErrorBoundary: only limit the logo's height (not width)
  app/soapbox/components/error_boundary.tsx
Due: lint-js, jest

Improve Waitlist UX
  app/soapbox/features/verification/waitlist_page.js
Due: lint-js, jest

Fix external video embed height
  app/soapbox/features/status/components/detailed-status.tsx
Due: lint-js, jest

EditProfile: use Toggle instead of Checkbox
  app/soapbox/features/edit_profile/index.tsx
Due: lint-js, jest

Add custom Toggle component (wrapper around react-toggle)
  app/soapbox/components/toggle.tsx
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/features/notifications/components/setting_toggle.js
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

Toggle: improve styles (and on dark theme)
  app/styles/components/react-toggle.scss
Due: lint-sass

SettingToggle: convert to TSX
  app/soapbox/features/notifications/components/setting_toggle.js
  app/soapbox/features/notifications/components/setting_toggle.tsx
  app/soapbox/features/preferences/index.tsx
Due: lint-js, jest

AccountSearch: fix text being too huge
  app/soapbox/components/account_search.js
  app/styles/components/search.scss
Due: lint-js, lint-sass, jest

AccountSearch: convert to tsx
  app/soapbox/components/account_search.js
  app/soapbox/components/account_search.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
