Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

UnauthorizedModal: convert to TSX
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/ui/components/unauthorized_modal.js
  app/soapbox/features/ui/components/unauthorized_modal.tsx
Due: lint-js, jest

SidebarNavigation: display follow requests counter
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

SidebarNavigation: use the bell icon
  app/icons/alert.svg
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

Soapbox nginx: fix ld+json ActivityPub route
  installation/mastodon.conf
Due: none

Mastodon nginx: pull from Mastodon's /packs too
  installation/mastodon.conf
Due: none

Mastodon nginx: simplify some regexes
  installation/mastodon.conf
Due: none

Mastodon nginx: simplify static files
  installation/mastodon.conf
Due: none

Mastodon nginx: add .well-known routes, remove unneeded outbox route
  installation/mastodon.conf
Due: none

Mastodon nginx: use `@soapbox` named location for consistency
  installation/mastodon.conf
Due: none

Mastodon nginx: add commented out CSP
  installation/mastodon.conf
Due: none

Mastodon nginx: rename `@proxy` to `@mastodon`
  installation/mastodon.conf
Due: none

Mastodon nginx: enable CSP
  installation/mastodon.conf
Due: none

Break out useSystemTheme into a hook
  app/soapbox/containers/soapbox.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useSystemTheme.ts
Due: lint-js, jest

SitePreview: take advantage of useSystemTheme
  app/soapbox/features/soapbox_config/components/site-preview.tsx
Due: lint-js, jest

Replace logos throughout the UI with SiteLogo component
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/site-logo.tsx
  app/soapbox/features/auth_layout/index.tsx
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/ui/components/modals/landing-page-modal.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/verification/waitlist_page.js
Due: lint-js, jest

Delete legacy site_logo and site_banner components
  app/soapbox/features/public_layout/components/site_banner.js
  app/soapbox/features/public_layout/components/site_logo.js
Due: lint-js, jest

SiteLogo: fall back to Soapbox logo instead of Tabler's home.svg
  app/images/soapbox-logo-white.svg
  app/soapbox/components/site-logo.tsx
Due: lint-js, jest

eslint: enforce jsdoc comments on UI components
  .eslintrc.js
  app/soapbox/components/ui/button/useButtonStyles.ts
  app/soapbox/components/ui/progress-bar/progress-bar.tsx
  package.json
  yarn.lock
Due: lint-js, jest

Fix post scheduling styles
  app/soapbox/features/compose/components/schedule_form.js
  app/styles/components/datepicker.scss
Due: lint-js, lint-sass, jest

dark styles for datepicker
  app/styles/components/datepicker.scss
Due: lint-sass

Replace questionable icons
  app/icons/compose.svg
  app/icons/feed.svg
  app/icons/user.svg
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/developers/developers_menu.tsx
  app/soapbox/features/ui/components/compose-button.tsx
Due: lint-js, jest

Convert ScheduleForm to typescript, remove openDatePicker()
  app/soapbox/features/compose/components/schedule_form.js
  app/soapbox/features/compose/components/schedule_form.tsx
Due: lint-js, jest

Restore session management
  app/soapbox/features/auth_token_list/index.tsx
  app/soapbox/features/settings/index.tsx
  app/soapbox/features/ui/components/compare_history_modal.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/reducers/security.tsx
  app/soapbox/utils/features.ts
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

Rearrange SidebarNavigation
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

SidebarNavigationLink: add jsdoc comments
  app/soapbox/components/sidebar-navigation-link.tsx
Due: lint-js, jest

Fix external links in sidebar/sidenav
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
Due: lint-js, jest

Allow markdown on glitch-soc
  app/soapbox/utils/features.ts
Due: lint-js, jest

Add a const for glitch-soc
  app/soapbox/utils/features.ts
Due: lint-js, jest

Display favourites/reblogs on Mastodon
  app/soapbox/utils/features.ts
Due: lint-js, jest

Convert PublicLayout to TSX
  app/soapbox/features/public_layout/index.js
  app/soapbox/features/public_layout/index.tsx
Due: lint-js, jest

Pass through props like 'strokeWidth' to SvgIcon
  app/soapbox/components/ui/icon/svg-icon.tsx
Due: lint-js, jest

Mastodon nginx: route /unsubscribe (and /media) to Mastodon
  installation/mastodon.conf
Due: none

Lint switch
  app/soapbox/features/ui/containers/modal_container.js
Due: lint-js, jest

Add dynamic help links to landing page
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/public_layout/components/header.tsx
  app/soapbox/features/ui/components/modals/landing-page-modal.tsx
Due: lint-js, jest

Valor pleases you, Crom
  app/soapbox/containers/soapbox.tsx
Due: lint-js, jest

Add login form to navbar
  app/soapbox/components/ui/button/useButtonStyles.ts
  app/soapbox/components/ui/tooltip/tooltip.css
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/containers/notifications_container.js
Due: lint-js, lint-sass, jest

Use onSubmit in remote interactions form
  app/soapbox/features/ui/components/unauthorized_modal.tsx
Due: lint-js, jest

Improve design of CTA Banner
  app/soapbox/features/ui/components/cta-banner.tsx
Due: lint-js, jest

Italian translation update (v.3.x develop)
  app/soapbox/locales/it.json
Due: jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
