Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Add @ts-ignore lines for strictFunctionTypes
  app/soapbox/actions/instance.ts
  app/soapbox/features/ui/components/who-to-follow-panel.tsx
  app/soapbox/reducers/index.ts
Due: jest

Wrap profile fields
  app/soapbox/features/ui/components/profile_info_panel.js
Due: lint-js, jest

Put Typescript in "strict" mode, fix or ignore errors
  app/soapbox/components/account.tsx
  app/soapbox/components/blurhash.js
  app/soapbox/components/missing_indicator.tsx
  app/soapbox/components/pull-to-refresh.tsx
  app/soapbox/components/ui/avatar/avatar.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/hstack/hstack.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/components/ui/stack/stack.tsx
  app/soapbox/components/ui/tabs/tabs.tsx
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/hooks/useOwnAccount.ts
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/normalizers/poll.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/accounts.ts
  app/soapbox/reducers/statuses.ts
  app/soapbox/types/entities.ts
  app/soapbox/types/entities/account.ts
  app/soapbox/types/entities/index.ts
  app/soapbox/types/entities/status.ts
  app/soapbox/utils/normalizers.js
  app/soapbox/utils/normalizers.ts
  tsconfig.json
Due: lint-js, jest

Jest: fix tests
  app/soapbox/components/__tests__/__snapshots__/timeline_queue_button_header-test.js.snap
Due: jest

Update caniuse browserlist
  yarn.lock
Due: jest

ThemeToggle: convert to TSX
  app/soapbox/features/ui/components/theme_toggle.js
  app/soapbox/features/ui/components/theme_toggle.tsx
  app/soapbox/features/ui/components/theme_toggle_container.js
  package.json
  yarn.lock
Due: lint-js, jest

Add ThemeToggle to Navbar (developers only)
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/theme_toggle.tsx
Due: jest

LinkFooter: remove "Legal" link
  app/soapbox/features/ui/components/link_footer.js
Due: lint-js, jest

Improve dark mode
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/status/index.js
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

Jest: update snapshots
  app/soapbox/components/ui/column/__tests__/__snapshots__/column.test.js.snap
Due: jest

Display CryptoDonatePanel, convert to tsx
  app/soapbox/features/crypto_donate/components/crypto_donate_panel.js
  app/soapbox/features/crypto_donate/components/crypto_donate_panel.tsx
  app/soapbox/pages/home_page.js
Due: lint-js, jest

Refactor sidebar panels with Widget component
  app/soapbox/components/ui/index.ts
  app/soapbox/components/ui/widget/widget.tsx
  app/soapbox/features/crypto_donate/components/crypto_donate_panel.tsx
  app/soapbox/features/ui/components/trends-panel.tsx
  app/soapbox/features/ui/components/who-to-follow-panel.tsx
Due: jest

SiteWallet: convert to tsx
  app/soapbox/features/crypto_donate/components/crypto_donate_panel.tsx
  app/soapbox/features/crypto_donate/components/site_wallet.js
  app/soapbox/features/crypto_donate/components/site_wallet.tsx
Due: lint-js, jest

Restore /crypto/donate page
  app/soapbox/features/crypto_donate/components/site_wallet.tsx
  app/soapbox/features/crypto_donate/index.js
  app/soapbox/features/ui/index.js
Due: lint-js, jest

CryptoDonate: convert to tsx
  app/soapbox/features/crypto_donate/index.js
  app/soapbox/features/crypto_donate/index.tsx
Due: lint-js, jest

CryptoIcon: convert to tsx
  app/soapbox/features/crypto_donate/components/crypto_icon.js
  app/soapbox/features/crypto_donate/components/crypto_icon.tsx
Due: lint-js, jest

DetailedCryptoAddress: convert to tsx
  app/soapbox/features/crypto_donate/components/detailed_crypto_address.js
  app/soapbox/features/crypto_donate/components/detailed_crypto_address.tsx
  package.json
  yarn.lock
Due: lint-js, jest

CryptoDonate: convert utils to ts
  app/soapbox/features/crypto_donate/utils/block_explorer.js
  app/soapbox/features/crypto_donate/utils/block_explorer.ts
  app/soapbox/features/crypto_donate/utils/coin_db.ts
  tsconfig.json
Due: lint-js, jest

CryptoAddress: convert to tsx
  app/soapbox/features/crypto_donate/components/crypto_address.js
  app/soapbox/features/crypto_donate/components/crypto_address.tsx
  app/soapbox/features/crypto_donate/components/site_wallet.tsx
  app/soapbox/features/crypto_donate/utils/coin_db.ts
Due: lint-js, jest

CryptoDonate tailwind refactors
  app/soapbox/features/crypto_donate/components/crypto_address.tsx
  app/soapbox/features/crypto_donate/components/crypto_donate_panel.tsx
  app/soapbox/features/crypto_donate/components/site_wallet.tsx
  app/soapbox/features/forms/index.js
Due: lint-js, jest

Fix filtering, allow filtering by mentioned usernames
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/statuses.ts
Due: jest

Add test for search_index with mentions
  app/soapbox/__fixtures__/pleroma-status-reply-with-mentions.json
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/__tests__/statuses-test.js
  app/soapbox/reducers/statuses.ts
Due: lint-js, jest

Filter statuses by full acct with @ symbol
  app/soapbox/reducers/__tests__/statuses-test.js
  app/soapbox/reducers/statuses.ts
Due: lint-js, jest

Features conditional routing
  app/soapbox/features/explore/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

utils/features.js: TruthSocial features
  app/soapbox/utils/features.js
Due: lint-js, jest

Convert utils/features.ts to TypeScript
  app/soapbox/normalizers/__tests__/instance-test.js
  app/soapbox/normalizers/instance.ts
  app/soapbox/utils/__tests__/features-test.js
  app/soapbox/utils/features.ts
  package.json
  yarn.lock
Due: lint-js, jest

Make polls look mostly okay
  app/soapbox/components/poll.js
Due: lint-js, jest

Typescript: reducers/polls.ts
  app/soapbox/reducers/polls.js
  app/soapbox/reducers/polls.ts
  app/soapbox/reducers/statuses.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

Update Polish translation
  app/soapbox/locales/pl.json
Due: jest

Convert OptionalMotion and ReducedMotion to TypeScript
  app/soapbox/features/ui/util/optional_motion.js
  app/soapbox/features/ui/util/optional_motion.tsx
  app/soapbox/features/ui/util/reduced_motion.js
  app/soapbox/features/ui/util/reduced_motion.tsx
Due: lint-js, jest

Convert Polls to TSX
  app/soapbox/components/poll.tsx
  app/soapbox/containers/poll_container.js
  app/soapbox/containers/poll_container.ts
  package.json
  yarn.lock
Due: lint-js, jest

Polls: break out PollPercentageBar into separate component
  app/soapbox/components/poll.tsx
Due: jest

Polls: break out PollOptionText into a React.FC
  app/soapbox/components/poll.tsx
Due: jest

Poll: break into smaller components
  app/soapbox/components/poll.tsx
Due: jest

Polls: style with Tailwind
  app/soapbox/components/poll.tsx
  app/styles/application.scss
  app/styles/polls.scss
Due: lint-sass, jest

Poll: convert to React.FC, remove PollContainer
  app/soapbox/components/poll.tsx
  app/soapbox/components/status_content.js
  app/soapbox/containers/poll_container.ts
Due: lint-js, jest

ComposeForm minor improvements
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/compose_form_button.tsx
  app/styles/application.scss
  app/styles/polls.scss
Due: lint-js, lint-sass, jest

Chats: remove duplicate navigation
  app/soapbox/features/chats/index.js
Due: lint-js, jest

Normalize SoapboxConfig
  app/soapbox/actions/soapbox.js
  app/soapbox/features/crypto_donate/components/site_wallet.tsx
  app/soapbox/features/soapbox_config/index.js
  app/soapbox/hooks/useSoapboxConfig.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/soapbox/__tests__/soapbox_config-test.js
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/types/soapbox.ts
Due: lint-js, jest

SoapboxConfig: normalize cryptoAddresses
  app/soapbox/features/crypto_donate/components/site_wallet.tsx
  app/soapbox/normalizers/soapbox/__tests__/soapbox_config-test.js
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/types/soapbox.ts
Due: lint-js, jest
