Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Use Tabler for missing LineAwesome icons
  app/soapbox/features/crypto_donate/components/crypto_address.js
  app/soapbox/features/crypto_donate/components/crypto_donate_panel.js
  app/soapbox/features/crypto_donate/components/detailed_crypto_address.js
  app/soapbox/features/ui/components/funding_panel.js
  app/soapbox/features/ui/components/subscription_button.js
  app/styles/components/account-header.scss
  app/styles/components/crypto-donate.scss
  app/styles/components/wtf-panel.scss
Due: lint-js, lint-sass, jest

Remove unavailable LineAwesome icons from forkawesome.json
  app/soapbox/features/export_data/index.js
  app/soapbox/features/import_data/index.js
  app/soapbox/features/soapbox_config/forkawesome.json
Due: lint-js, jest

Update zh-CN locale
  app/soapbox/locales/zh-CN.json
Due: jest

LineAwesome: fix "close" icon
  app/soapbox/features/admin/components/unapproved_account.js
  app/soapbox/features/chats/components/chat_window.js
  app/soapbox/features/federation_restrictions/components/instance_restrictions.js
  app/soapbox/features/remote_timeline/index.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status_action_bar.js
Due: lint-js, jest

SubNavigation: refactor to be contextual based on Column
  app/soapbox/components/column_header.js
  app/soapbox/components/sub_navigation.js
  app/soapbox/features/community_timeline/index.js
  app/soapbox/features/public_timeline/index.js
  app/soapbox/features/status/index.js
  app/soapbox/features/ui/components/column.js
  app/soapbox/features/ui/components/column_header.js
  app/soapbox/features/ui/index.js
  app/soapbox/pages/status_page.js
  app/styles/components/columns.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Remove ColumnHeader test It's not very useful anyway
  app/soapbox/components/__tests__/__snapshots__/column_header-test.js.snap
  app/soapbox/components/__tests__/column_header-test.js
Due: lint-js, jest

SubNavigation: improve display of DetailedStatus
  app/soapbox/features/status/index.js
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

SubNavigation: round out corners on desktop
  app/styles/navigation.scss
Due: lint-sass

DetailedStatus: fix rounded corners
  app/soapbox/features/status/index.js
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

Audio: fix timeline jitter caused by Audio player
  app/soapbox/components/status.js
Due: lint-js, jest

iOS: improve PWA support Fixes: https://gitlab.com/soapbox-pub/soapbox-fe/-/issues/747
  app/index.ejs
  app/styles/components/account-header.scss
  app/styles/components/modal.scss
  app/styles/components/tabs-bar.scss
  app/styles/emoji_picker.scss
Due: lint-sass

Snackbar: LineAwesome fix
  .stylelintrc.json
  app/styles/components/snackbar.scss
Due: lint-sass, jest

TimelineQueueButtonHeader: make it sticky
  app/soapbox/components/status_list.js
  app/soapbox/components/timeline_queue_button_header.js
  app/styles/components/timeline-queue-header.scss
Due: lint-js, lint-sass, jest

TimelineQueueButtonHeader: fix tests
  app/soapbox/components/__mocks__/react-inlinesvg.js
  app/soapbox/components/__tests__/__snapshots__/timeline_queue_button_header-test.js.snap
Due: lint-js, jest

TimelineQueueButtonHeader: z-index 500
  app/styles/components/timeline-queue-header.scss
Due: lint-sass

TimelineQueueButtonHeader: improve spacing
  app/styles/components/timeline-queue-header.scss
Due: lint-sass

Replace a lot more icons with SVG icons
  app/soapbox/components/media_gallery.js
  app/soapbox/features/chats/components/audio_toggle.js
  app/soapbox/features/chats/components/chat_window.js
  app/soapbox/features/compose/components/search.js
  app/soapbox/features/ui/components/compose_modal.js
  app/soapbox/features/ui/components/features_panel.js
  app/soapbox/features/ui/components/funding_panel.js
  app/soapbox/features/ui/components/theme_toggle.js
  app/styles/chats.scss
  app/styles/components/modal.scss
  app/styles/components/promo-panel.scss
  app/styles/components/search.scss
  app/styles/components/spoiler-button.scss
  app/styles/components/theme-toggle.scss
Due: lint-js, lint-sass, jest

FeaturesPanel: fix margin on icon with counter
  app/styles/components/promo-panel.scss
Due: lint-sass

Use SVG icons in more places
  app/soapbox/components/account.js
  app/soapbox/components/display_name.js
  app/soapbox/components/status.js
  app/soapbox/features/admin/components/admin_nav.js
  app/soapbox/features/admin/components/latest_accounts_panel.js
  app/soapbox/features/admin/components/unapproved_account.js
  app/soapbox/features/crypto_donate/components/crypto_address.js
  app/soapbox/features/crypto_donate/components/detailed_crypto_address.js
  app/soapbox/features/groups/removed_accounts/index.js
  app/soapbox/features/notifications/components/notification.js
  app/soapbox/features/status/components/status_interaction_bar.js
  app/soapbox/features/ui/components/account_list_panel.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/features/ui/components/profile_media_panel.js
  app/soapbox/features/ui/components/who_to_follow_panel.js
  app/soapbox/features/video/index.js
  app/styles/accounts.scss
  app/styles/components/crypto-donate.scss
  app/styles/components/icon.scss
  app/styles/components/profile-info-panel.scss
  app/styles/components/profile-media-panel.scss
  app/styles/components/promo-panel.scss
  app/styles/components/video-player.scss
Due: lint-js, lint-sass, jest

tachometer -> tachometer-alt
  app/soapbox/features/admin/components/admin_nav.js
  app/soapbox/features/admin/index.js
Due: lint-js, jest

Fix inability to delete a status
  app/soapbox/containers/status_container.js
Due: lint-js, jest

Mastodon: SidebarMenu: link to rendered pages for Preferences and Security
  app/soapbox/components/sidebar_menu.js
Due: lint-js, jest

Snackbar: fix icons
  app/styles/components/snackbar.scss
Due: lint-sass

Fix crashing MediaItem
  app/soapbox/features/account_gallery/components/media_item.js
Due: lint-js, jest

Implement /share route
  app/soapbox/features/share/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/features/ui/util/react_router_helpers.js
Due: lint-js, jest

Dashboard: add custom Gavel icon
  app/icons/COPYING.md
  app/icons/gavel.svg
  app/soapbox/features/admin/components/admin_nav.js
  app/styles/components/icon.scss
  app/styles/components/promo-panel.scss
Due: lint-js, lint-sass, jest

Mastodon: redirect status route for "Share" functionality to work
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Card: fix icons in embedded video player
  app/soapbox/features/status/components/card.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Status: fix size of lock icon
  app/styles/components/emoji-reacts.scss
Due: lint-sass

Suggestions: fix optimistic dismissal
  app/soapbox/reducers/__tests__/suggestions-test.js
  app/soapbox/reducers/suggestions.js
Due: lint-js, jest

Accounts: call isVerified in the places it's missing
  app/soapbox/features/edit_profile/components/profile_preview.js
  app/soapbox/features/ui/components/user_panel.js
Due: lint-js, jest

AccountHeader: refactor Follow button, remove Message button in favor of a menu item This is better on mobile and simpler to newcomers
  app/soapbox/features/account/components/header.js
  app/soapbox/features/ui/components/action_button.js
  app/styles/components/buttons.scss
Due: lint-js, lint-sass, jest

AccountTimeline: fix fetchAccountByUsername when switching between two profiles
  app/soapbox/features/account_timeline/index.js
Due: lint-js, jest

Suggestions: display whole ActionButton instead of plus icon
  app/soapbox/actions/suggestions.js
  app/soapbox/features/follow_recommendations/components/account.js
Due: lint-js, jest

Notifications: use Markers for unread count This works consistently across all backends
  app/soapbox/actions/markers.js
  app/soapbox/actions/notifications.js
  app/soapbox/features/ui/index.js
  app/soapbox/reducers/__tests__/notifications-test.js
  app/soapbox/reducers/notifications.js
Due: lint-js, jest

Fix PropType warnings in ColumnHeader and SubNavigation
  app/soapbox/components/column_header.js
  app/soapbox/components/sub_navigation.js
Due: lint-js, jest

LoadingIndicator: refactor styles, improve look of ColumnLoading
  app/index.ejs
  app/soapbox/components/loading_indicator.js
  app/soapbox/features/ui/components/column_loading.js
  app/styles/components/columns.scss
  app/styles/loading.scss
Due: lint-js, lint-sass, jest

Audio: ingest attachment metadata
  app/soapbox/components/status.js
  app/soapbox/features/audio/index.js
  app/soapbox/features/status/components/detailed_status.js
  app/soapbox/features/ui/components/media_modal.js
Due: lint-js, jest

Preferences: conditionally display post format (Markdown) settings
  app/soapbox/features/preferences/index.js
Due: lint-js, jest

ComposeForm: display autosuggestions above TimelineQueueButtonHeader
  app/styles/components/compose-form.scss
Due: lint-sass

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
