Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

fix: improve modal performances and fix sizing issues
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/modal_root.js
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/ui/components/actions_modal.tsx
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

fix: can not 'block notifications from strangers' (#277)
  app/soapbox/actions/accounts.ts
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/selectors/index.ts
Due: lint-js, jest

fix: dedup posts in timeline (#278)
  app/soapbox/selectors/index.ts
  app/soapbox/utils/timelines.ts
Due: lint-js, jest

fix: add custom reactions (#280)
  app/soapbox/components/__tests__/emoji_selector.test.tsx
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/emoji_picker.tsx
  app/soapbox/components/emoji_selector.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/ui/emoji-react/emoji-react.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/containers/emoji_picker_dropdown_container.js
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/locales/fr.json
  app/soapbox/utils/__tests__/emoji_reacts.test.ts
  app/soapbox/utils/emoji_reacts.ts
  app/soapbox/utils/features.ts
  app/styles/components/dropdown-menu.scss
Due: lint-js, lint-sass, jest

feat: add loader and explanation to directory view (#281)
  app/soapbox/actions/directory.ts
  app/soapbox/features/directory/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: filter outdated scheduled posts on the frontend (#282)
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/compose_form_container.ts
Due: lint-js, jest

feat: add scheduled post deletion (#283)
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/locales/fr.json
  app/soapbox/normalizers/account.ts
  app/soapbox/reducers/accounts_meta.ts
  app/soapbox/selectors/index.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

fix: unable to change email (#276)
  app/soapbox/actions/security.ts
  app/soapbox/features/edit_email/index.tsx
  app/soapbox/features/edit_password/index.tsx
  app/soapbox/locales/fr.json
  package.json
  yarn.lock
Due: lint-js, jest

fix: improve modal performances and fix sizing issues (#284)
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/modal_root.js
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/features/ui/components/actions_modal.tsx
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

Update webpack.yml
  .github/workflows/webpack.yml
Due: none

fix: minor issues on mobile with dropdownMenu and emojiReactMenu
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/modal_root.js
Due: lint-js, jest

wip: new layout
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
Due: lint-js, jest

wip: rework navigation
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

wip: rework left panel nav
  app/soapbox/actions/settings.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/features/bubble_timeline/components/column_settings.js
  app/soapbox/features/bubble_timeline/containers/column_settings_container.js
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
Due: lint-js, jest

wip: rework thumb nav
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation-link.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/locales/fr.json
  app/styles/components/sidebar-menu.scss
Due: lint-js, lint-sass, jest

wip: rework mobile navigation
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/ui/index.tsx
  app/styles/components/sidebar-menu.scss
  tsconfig.json
Due: lint-js, lint-sass, jest

wip: add labels to timelines
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
Due: lint-js, jest

wip: rework
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/public_timeline/index.tsx
Due: lint-js, jest

fix: minor ui issues
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/ui/components/actions_modal.tsx
Due: lint-js, jest

feat: new UI with no top navbar, reworked hashtag screen, reworked bottom nav on mobile (#286)
  app/soapbox/actions/settings.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation-link.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/bubble_timeline/components/column_settings.js
  app/soapbox/features/bubble_timeline/containers/column_settings_container.js
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/features/ui/components/actions_modal.tsx
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/fr.json
  app/styles/components/sidebar-menu.scss
  tsconfig.json
Due: lint-js, lint-sass, jest

fix: remove dahboardCount from settings entry
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

fix: fix unresponsive hide_network toggle in profile + hide followers and counters accordingly
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
  app/soapbox/features/ui/components/profile_stats.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

feat: remove animations on status on mobile in order to improve performances
  app/styles/components/status.scss
Due: lint-sass

fix: remove weird event handlers
  app/soapbox/components/status_content.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: prevent keypress event to trigger hotkeys in emoji selection modal
  app/soapbox/components/emoji_picker.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

feat: add mangane logo on link footer and remove useless logout
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/pages/home_page.tsx
Due: lint-js, jest

fix: translation issue with community entry in thumbnav
  app/soapbox/components/thumb_navigation.tsx
Due: lint-js, jest

feat: avatar in sidebarnav now redirects to user profile
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

chore: remove unused deps and unwanted features
  app/soapbox/actions/external_auth.ts
  app/soapbox/components/error_boundary.tsx
  app/soapbox/main.tsx
  app/soapbox/monitoring.ts
  app/soapbox/utils/ethereum.ts
  app/soapbox/utils/features.ts
  package.json
  yarn.lock
Due: lint-js, jest

fix: remove useless deps
  app/soapbox/features/account_timeline/components/moved_note.tsx
  app/soapbox/features/notifications/components/filter_bar.tsx
  package.json
  webpack/rules/assets.js
  yarn.lock
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
