Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

chore(release): 1.24.1
  CHANGELOG.md
  package.json
Due: jest

fix: wrong queue counter on timelines
  app/soapbox/actions/timelines.ts
Due: lint-js, jest

chore(release): 1.24.2
  CHANGELOG.md
  package.json
Due: jest

fix: do not show divider on empty scroll list element
  tailwind.config.js
  tailwind/divide-ignore-empty.js
Due: lint-js, jest

fix: toggle media visibility was not working as expected
  app/soapbox/components/quoted-status.tsx
  app/soapbox/components/status-media.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

chore(release): 1.24.3
  CHANGELOG.md
  package.json
Due: jest

fix: add feedback on login actions
  app/soapbox/components/ui/form-actions/form-actions.tsx
  app/soapbox/components/ui/form-group/form-group.tsx
  app/soapbox/components/ui/tooltip/tooltip.tsx
  app/soapbox/features/auth_login/components/login_form.tsx
  app/soapbox/features/auth_login/components/login_page.tsx
  app/soapbox/features/public_layout/components/header.tsx
Due: lint-js, jest

fix: do not show avatar alt on avatars
  app/soapbox/components/ui/avatar/avatar.tsx
Due: lint-js, jest

chore(release): 1.24.4
  CHANGELOG.md
  package.json
Due: jest

fix: do not restrict compose form width
  app/soapbox/features/new_status/index.tsx
Due: lint-js, jest

chore(release): 1.24.5
  CHANGELOG.md
  package.json
Due: jest

fix: better date visibility on conversation items
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/features/conversations/components/conversation.tsx
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/ui/index.tsx
Due: lint-js, jest

fix: better handle muti-participants conversations
  .vscode/settings.json
  app/soapbox/components/account.tsx
  app/soapbox/components/hover_ref_wrapper.tsx
  app/soapbox/components/still_image.tsx
  app/soapbox/components/ui/avatar/avatar.tsx
  app/soapbox/features/conversations/components/conversation.tsx
Due: lint-js, jest

feat: new convo
  app/soapbox/actions/compose.ts
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/conversations/components/conversation.tsx
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/conversations/index.tsx
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

feat: better search
  app/soapbox/actions/conversations.ts
  app/soapbox/components/account_search.tsx
  app/soapbox/components/autosuggest_account_input.tsx
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/conversations/components/conversations_search.tsx
  app/soapbox/features/conversations/index.tsx
  app/soapbox/reducers/conversations.ts
Due: lint-js, jest

fix: do not show divider on empty scroll list element (#474)
  tailwind.config.js
  tailwind/divide-ignore-empty.js
Due: lint-js, jest

chore(release): 1.24.6
  CHANGELOG.md
  package.json
Due: jest

chore(i18n): update Spanish translation
  app/soapbox/locales/es.json
Due: jest

fix: better french copy link status translation
  app/soapbox/locales/fr.json
Due: jest

chore(i18n): update Spanish translation (#477)
  app/soapbox/locales/es.json
Due: jest

chore(release): 1.24.7
  CHANGELOG.md
  package.json
Due: jest

feat: better conversations ui (#475)
  .vscode/settings.json
  app/soapbox/actions/compose.ts
  app/soapbox/actions/conversations.ts
  app/soapbox/components/account.tsx
  app/soapbox/components/account_search.tsx
  app/soapbox/components/autosuggest_account_input.tsx
  app/soapbox/components/hover_ref_wrapper.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/still_image.tsx
  app/soapbox/components/ui/avatar/avatar.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/features/conversations/components/conversation.tsx
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/conversations/components/conversations_search.tsx
  app/soapbox/features/conversations/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/reducers/compose.ts
  app/soapbox/reducers/conversations.ts
Due: lint-js, jest

chore(release): 1.25.0
  CHANGELOG.md
  package.json
Due: jest

Deploying to gh-pages from @ BDX-town/Mangane@7e5e4229c63779444ce7e2becb4c0289ce26e215 🚀
  404.html
  assets-manifest.json
  index.html
  packs/js/application-2f8ad607c4b991c8cf2b.js
  packs/js/application-2f8ad607c4b991c8cf2b.js.map
  packs/js/application-63aea38b713aefccbfb1.js
  packs/js/application-63aea38b713aefccbfb1.js.LICENSE.txt
  packs/js/application-63aea38b713aefccbfb1.js.map
  packs/js/common-e3d14f537907f152aef8.js
  packs/js/common-e3d14f537907f152aef8.js.map
  packs/js/common-e706f1a2afe6fb68680b.js
  packs/js/common-e706f1a2afe6fb68680b.js.LICENSE.txt
  packs/js/common-e706f1a2afe6fb68680b.js.map
  packs/js/locale_es-json-143332e50729c00f0e8f.chunk.js
  packs/js/locale_es-json-61f3019adf3bd2a87322.chunk.js
  packs/js/locale_fr-json-27ca684ac116d4bc2ad1.chunk.js
  packs/js/locale_fr-json-c87e132812b70ec42611.chunk.js
  report.html
  sw.js
Due: lint-js, jest

fix: no more infinite loading when status.in_reply_to_id is invalid
  app/soapbox/features/status/index.tsx
  app/soapbox/reducers/__tests__/contexts.test.ts
  app/soapbox/reducers/contexts.ts
Due: lint-js, jest

fix: reacts ui and account card
  app/soapbox/components/hover_ref_wrapper.tsx
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/reactions_modal.tsx
  app/soapbox/features/ui/components/reblogs_modal.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: no more infinite loading when status.in_reply_to_id is invalid (#478)
  app/soapbox/features/status/index.tsx
  app/soapbox/reducers/__tests__/contexts.test.ts
  app/soapbox/reducers/contexts.ts
Due: lint-js, jest

chore(release): 1.25.1
  CHANGELOG.md
  package.json
Due: jest

Deploying to gh-pages from @ BDX-town/Mangane@5553f40e1f1877da541d0c2d6b0a181c324ab710 🚀
  404.html
  assets-manifest.json
  index.html
  packs/js/application-b6df3181bf001a6f9698.js
  packs/js/application-b6df3181bf001a6f9698.js.LICENSE.txt
  packs/js/application-b6df3181bf001a6f9698.js.map
  packs/js/application-d51146c2aaff87dc5c7c.js
  packs/js/application-d51146c2aaff87dc5c7c.js.map
  packs/js/common-88dada7ec67125f75561.js
  packs/js/common-88dada7ec67125f75561.js.map
  packs/js/common-ec935fa941c9f4d250a8.js
  packs/js/common-ec935fa941c9f4d250a8.js.LICENSE.txt
  packs/js/common-ec935fa941c9f4d250a8.js.map
  packs/js/features/status-3bb6c8c3967270516635.chunk.js
  packs/js/features/status-3bb6c8c3967270516635.chunk.js.map
  packs/js/features/status-9950b2d6ba190e2435c9.chunk.js
  packs/js/features/status-9950b2d6ba190e2435c9.chunk.js.map
  report.html
  sw.js
Due: lint-js, jest

fix: fab position overlapping thumb nav on some phones
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/ui/index.tsx
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

fix: minor conversation fixes
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/conversations/index.tsx
Due: lint-js, jest

chore(release): 1.25.2
  CHANGELOG.md
  package.json
Due: jest

Deploying to gh-pages from @ BDX-town/Mangane@b9962324764f41399403b80da85e85045a4120a2 🚀
  404.html
  assets-manifest.json
  index.html
  packs/css/application-0e3438f8.css
  packs/css/application-0e3438f8.css.map
  packs/css/application-c29b44e1.css
  packs/css/application-c29b44e1.css.map
  packs/js/application-5fce39861c9a13d60f90.js
  packs/js/application-5fce39861c9a13d60f90.js.LICENSE.txt
  packs/js/application-5fce39861c9a13d60f90.js.map
  packs/js/application-b6df3181bf001a6f9698.js
  packs/js/application-b6df3181bf001a6f9698.js.map
  packs/js/common-e57cdec634f39810c5e7.js
  packs/js/common-e57cdec634f39810c5e7.js.LICENSE.txt
  packs/js/common-e57cdec634f39810c5e7.js.map
  packs/js/common-ec935fa941c9f4d250a8.js
  packs/js/common-ec935fa941c9f4d250a8.js.map
  packs/js/features/conversations-01cee0461b94f0927f04.chunk.js
  packs/js/features/conversations-01cee0461b94f0927f04.chunk.js.map
  packs/js/features/conversations-16b9897721adcac68519.chunk.js
  packs/js/features/conversations-16b9897721adcac68519.chunk.js.map
  report.html
  sw.js
Due: lint-js, lint-sass, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
