Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

ComposeForm: convert buttons to ComposeFormButton component
  app/soapbox/features/compose/components/compose_form_button.tsx
  app/soapbox/features/compose/components/markdown_button.js
  app/soapbox/features/compose/components/poll_button.js
  app/soapbox/features/compose/components/privacy_dropdown.js
  app/soapbox/features/compose/components/schedule_button.js
  app/soapbox/features/compose/components/spoiler_button.js
Due: lint-js, jest

ComposeForm: convert some buttons into TSX
  app/soapbox/features/compose/components/markdown_button.js
  app/soapbox/features/compose/components/markdown_button.tsx
  app/soapbox/features/compose/components/poll_button.js
  app/soapbox/features/compose/components/poll_button.tsx
  app/soapbox/features/compose/components/spoiler_button.js
  app/soapbox/features/compose/components/spoiler_button.tsx
  app/soapbox/features/compose/containers/markdown_button_container.js
Due: lint-js, jest

Set Tailwind colors with CSS variables
  app/styles/themes.scss
  tailwind.config.js
Due: lint-js, lint-sass, jest

Use colors from soapbox.json at runtime
  app/soapbox/actions/soapbox.js
  app/soapbox/containers/soapbox.js
  app/soapbox/utils/theme.js
  app/styles/themes.scss
Due: lint-js, lint-sass, jest

Typescript: utils/theme.ts
  app/soapbox/utils/theme.ts
Due: jest

Use React Router Link in MenuLink
  app/soapbox/features/account/components/header.js
  app/soapbox/features/ui/components/profile-dropdown.tsx
Due: lint-js, jest

Use React Router hook for 'history'
  app/soapbox/components/account.tsx
  app/soapbox/components/profile_hover_card.js
  app/soapbox/components/ui/column/column.tsx
  app/soapbox/components/ui/tabs/tabs.tsx
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/developers/developers_menu.js
  app/soapbox/features/notifications/components/notification.js
  app/soapbox/features/settings/index.js
  app/soapbox/features/settings/media_display.js
  app/soapbox/features/verification/email_passthru.js
  package.json
  yarn.lock
Due: lint-js, jest

Add hint to clarify Feed settings
  app/soapbox/features/preferences/index.tsx
  app/soapbox/locales/en.json
Due: jest

Improve design of sensitive media
  app/soapbox/components/media_gallery.js
Due: lint-js, jest

Remove unneeded 'event' when using Reach Menu
  app/soapbox/features/ui/components/profile-dropdown.tsx
Due: jest

Generate Tailwind colors from brandColor/accentColor
  app/soapbox/containers/soapbox.js
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/types/colors.ts
  app/soapbox/utils/__tests__/colors-test.js
  app/soapbox/utils/colors.ts
  app/soapbox/utils/theme.ts
Due: lint-js, jest

Make bg-shape colors configurable
  app/images/bg-shape.svg
  app/soapbox/features/ui/components/background_shapes.js
  app/soapbox/utils/theme.ts
Due: lint-js, jest

index.ejs: remove Matomo snippet
  app/index.ejs
Due: none

LinkFooter: restore copyright message, let it be overridden
  app/soapbox/features/ui/components/link_footer.js
Due: lint-js, jest

Dynamically truncate the Account's name/username in hidden content
  app/soapbox/components/account.tsx
  app/soapbox/components/ui/hstack/hstack.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useOnScreen.ts
Due: jest

Improve style of Snackbar action
  app/styles/components/snackbar.scss
Due: lint-sass

Convert Permalink to TSX
  app/soapbox/components/permalink.js
  app/soapbox/components/permalink.tsx
Due: lint-js, jest

Fix prop warnings
  app/soapbox/components/permalink.js
  app/soapbox/components/status_list.js
  app/soapbox/features/compose/components/privacy_dropdown.js
Due: lint-js, jest

utils/tailwind.ts: Tailwind/SoapboxConfig conversion functions
  app/soapbox/types/colors.ts
  app/soapbox/utils/__tests__/tailwind-test.js
  app/soapbox/utils/tailwind.ts
Due: lint-js, jest

Normalize Tailwind colors from SoapboxConfig
  app/soapbox/actions/soapbox.js
  app/soapbox/containers/soapbox.js
  app/soapbox/features/soapbox_config/components/site_preview.js
  app/soapbox/utils/__tests__/tailwind-test.js
  app/soapbox/utils/tailwind.ts
  app/soapbox/utils/theme.ts
Due: lint-js, jest

Refactor Tailwind config, add tests
  jest.config.js
  tailwind.config.js
  tailwind/__tests__/colors-test.js
  tailwind/colors.js
Due: lint-js, jest

tailwind.config.js: parse single-tint values in the matrix
  tailwind.config.js
  tailwind/__tests__/colors-test.js
  tailwind/colors.js
Due: lint-js, jest

Make BG shapes colors configurable
  app/soapbox/features/ui/components/background_shapes.js
  tailwind.config.js
Due: lint-js, jest

Start adding dark mode
  .stylelintrc.json
  app/soapbox/components/autosuggest_textarea.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/components/status_list.js
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/components/ui/textarea/textarea.tsx
  app/soapbox/containers/soapbox.js
  app/soapbox/features/placeholder/components/placeholder_avatar.js
  app/soapbox/features/placeholder/components/placeholder_display_name.js
  app/soapbox/features/placeholder/components/placeholder_status.tsx
  app/soapbox/features/placeholder/components/placeholder_status_content.js
  app/styles/application.scss
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Custom hooks: useAccount, useSettings, useSoapboxConfig
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useAccount.ts
  app/soapbox/hooks/useSettings.ts
  app/soapbox/hooks/useSoapboxConfig.ts
Due: jest

Hooks: get rid of useAccount, create useOwnAccount
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useOwnAccount.ts
Due: jest

Typescript: start fixing 'strict' mode errors
  app/soapbox/actions/instance.ts
  app/soapbox/reducers/statuses.ts
  app/soapbox/storage/kv_store.ts
  app/soapbox/utils/config_db.ts
  app/soapbox/utils/theme.ts
  tsconfig.json
Due: jest

Dark mode: navbar bg, update snapshots
  app/soapbox/components/ui/column/__tests__/__snapshots__/column.test.js.snap
  app/soapbox/features/ui/components/navbar.tsx
Due: jest

Fix bug when clicking on a Status
  app/soapbox/components/status.js
Due: lint-js, jest

Make sure the current element is present before execution
  app/soapbox/hooks/useOnScreen.ts
Due: jest

Resolve missing CSS variables in the theme
  app/soapbox/components/helmet.js
  app/soapbox/components/helmet.tsx
  app/soapbox/containers/soapbox.js
  package.json
  yarn.lock
Due: lint-js, jest

Prime tsconfig to turn on strict mode one rule at a time
  tsconfig.json
Due: jest

tsconfig: enable noImplicitThis
  tsconfig.json
Due: jest

tsconfig: enable useUnknownInCatchVariables
  tsconfig.json
Due: jest

tsconfig: enable strictBindCallApply
  tsconfig.json
Due: jest

tsconfig: enable alwaysStrict
  tsconfig.json
Due: jest

Revert lazy type changes to actions/instance.ts
  app/soapbox/actions/instance.ts
Due: jest

Remove conditional to run style logic
  app/soapbox/components/account.tsx
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
Due: lint-js, jest

Typescript: Start fixing strictFunctionTypes errors
  app/soapbox/reducers/accounts.ts
  app/soapbox/reducers/statuses.ts
  tsconfig.json
Due: jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
