Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Upgrade immutable.js to v14
  package.json
  yarn.lock
Due: jest

Fix scroll-to-top on Notifications
  app/soapbox/components/timeline_queue_button_header.js
Due: lint-js, jest

ReactionsModal: defensive property checks
  app/soapbox/features/ui/components/reactions_modal.js
Due: lint-js, jest

Create custom build directory
  .gitignore
  custom/.gitkeep
Due: none

Support adding custom locale files at build time
  .eslintrc.js
  app/soapbox/locales/messages.js
  webpack/shared.js
Due: lint-js, jest

gitkeep custom/locales directory
  .gitignore
  custom/locales/.gitkeep
Due: none

Fix custom locale imports
  .gitignore
  app/soapbox/locales/messages.js
Due: lint-js, jest

Allow features overrides, document `custom/` directory
  app/soapbox/utils/features.js
  docs/development/build-config.md
Due: lint-js, jest, docs-deploy

custom: fix import leak
  app/soapbox/custom.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Polyfill require.context in tests only
  babel.config.js
  package.json
  yarn.lock
Due: lint-js, jest

ComposeForm: conditional features
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/compose_form_container.js
  app/soapbox/utils/features.js
Due: lint-js, jest

MarkdownButton: don't do the availability check in the component itself
  app/soapbox/features/compose/components/markdown_button.js
  app/soapbox/features/compose/containers/markdown_button_container.js
Due: lint-js, jest

Use an SVG verified icon
  app/icons/COPYING.md
  app/icons/verified.svg
  app/soapbox/components/svg_icon.js
  app/soapbox/components/verification_badge.js
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Allow setting a custom verified icon
  app/soapbox/actions/soapbox.js
  app/soapbox/components/verification_badge.js
  app/styles/components/dropdown-menu.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Copy custom instance files into the build
  custom/instance/.gitkeep
  docs/development/build-config.md
  webpack/shared.js
Due: lint-js, jest, docs-deploy

Fix: User is returned to a previously viewed page after replying to a post
  app/soapbox/components/modal_root.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status.js
  app/soapbox/features/ui/components/pending_status.js
Due: lint-js, jest

AttachmentThumbs: sensitive tag
  app/soapbox/components/attachment_thumbs.js
  app/soapbox/components/media_gallery.js
  app/soapbox/components/status.js
  app/soapbox/features/compose/components/reply_indicator.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status.js
  app/soapbox/features/status/components/quoted_status.js
  app/soapbox/features/ui/components/boost_modal.js
  app/styles/components/media-gallery.scss
Due: lint-js, lint-sass, jest

verified.svg: use currentColor instead of .bg class
  app/icons/verified.svg
  app/styles/ui.scss
Due: lint-sass

VerificationBadge: use tsx, add className prop
  app/soapbox/components/verification_badge.tsx
Due: jest

eslint: don't enforce PropTypes in tsx files
  .eslintrc.js
Due: lint-js, jest

Store statuses as StatusRecord
  app/soapbox/normalizers/status.js
Due: lint-js, jest

Create Records for Account and Status
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/normalizers/__tests__/instance-test.js
  app/soapbox/normalizers/account.js
  app/soapbox/normalizers/instance.js
  app/soapbox/normalizers/status.js
  app/soapbox/reducers/__tests__/instance-test.js
  app/soapbox/reducers/accounts.js
Due: lint-js, jest

Normalizers: fix tests
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/normalizers/__tests__/instance-test.js
  app/soapbox/normalizers/status.js
  app/soapbox/reducers/statuses.js
Due: lint-js, jest

Test that reducers parse as Records
  app/soapbox/reducers/__tests__/accounts-test.js
  app/soapbox/reducers/__tests__/instance-test.js
  app/soapbox/reducers/__tests__/statuses-test.js
Due: lint-js, jest

EditProfile: convert to Map before mutations
  app/soapbox/features/edit_profile/index.js
Due: lint-js, jest

Fix account relationships
  app/soapbox/normalizers/account.js
Due: lint-js, jest

Account normalizer: convert to Typescript, add type
  app/soapbox/normalizers/account.ts
Due: jest

eslint: fix typescript undefined globals
  .eslintrc.js
Due: lint-js, jest

Move Account interface to types/ directory
  app/soapbox/normalizers/account.ts
  app/soapbox/types/account.ts
  app/soapbox/types/index.ts
Due: jest

Convert Status Normalizer to TypeScript
  app/soapbox/normalizers/status.ts
  app/soapbox/types/index.ts
  app/soapbox/types/status.ts
Due: jest

Parse the Redux state as an Immutable.Record
  app/soapbox/reducers/__tests__/index-test.js
  app/soapbox/reducers/index.js
Due: lint-js, jest

Load react-datepicker asynchronously
  app/soapbox/components/birthday_input.js
  app/soapbox/features/birthdays/date_picker.js
  app/soapbox/features/compose/components/schedule_form.js
  app/soapbox/features/ui/util/async-components.js
Due: lint-js, jest

Record --> ImmutableRecord
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/instance.js
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Instance normalizer: add default stats, remove default media_attachments
  app/soapbox/normalizers/__tests__/instance-test.js
  app/soapbox/normalizers/instance.js
Due: lint-js, jest

Actually, we can access state.instance.version directly now
  app/soapbox/reducers/__tests__/index-test.js
Due: lint-js, jest

Include media attachments when redrafting on Mastodon
  app/soapbox/actions/statuses.js
  app/soapbox/reducers/compose.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Set max-height to chat preview message
  app/styles/chats.scss
Due: lint-sass

Improve Poll normalization, store as Immutable.Record
  app/soapbox/__fixtures__/pleroma-status-with-poll.json
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/__tests__/polls-test.js
  app/soapbox/reducers/polls.js
Due: lint-js, jest

More poll normalization fixes
  app/soapbox/components/poll.js
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/__tests__/polls-test.js
Due: lint-js, jest

PollContainer: don't pass `me` as a prop
  app/soapbox/components/poll.js
  app/soapbox/containers/poll_container.js
Due: lint-js, jest
