Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

feat(shell): Phase 3D account-switch, session restoration, error/offline states — completes Phase 3 (#55)
  app/soapbox/features/f7-shell/__tests__/session-and-offline.test.ts
  app/soapbox/features/f7-shell/components/offline-banner.tsx
  app/soapbox/features/f7-shell/components/route-error-boundary.tsx
  app/soapbox/features/f7-shell/hooks/use-account-switch.ts
  app/soapbox/features/f7-shell/hooks/use-online-status.ts
  app/soapbox/features/f7-shell/hooks/use-session-restore.ts
  app/soapbox/features/f7-shell/index.tsx
  app/styles/components/f7-shell.scss
  config/component-ownership-manifest.json
  config/design-component-authority-inventory.json
  config/documentation-authority-registry.json
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_3_FRAMEWORK7_SHELL.md
Due: lint-js, lint-sass, jest, docs-deploy

feat(pwa): Phase 4 — PWA hardening, Safari compatibility, and offline resilience (#56)
  app/application.ts
  app/index.ejs
  app/manifest.json
  app/soapbox/hooks/usePlatformCapabilities.ts
  app/soapbox/utils/pwa/__tests__/safari-compat.test.ts
  app/soapbox/utils/pwa/index.ts
  app/soapbox/utils/pwa/safari-compat.ts
  config/documentation-authority-registry.json
  config/sentry-authority-inventory.json
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_4_PWA_OFFLINE_HARDENING.md
Due: lint-js, jest, docs-deploy

feat(db): Phase 5 foundation — account-scoped IndexedDB store with IDOR protection (#57)
  app/soapbox/db/__tests__/repository.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/instance.ts
  app/soapbox/db/repository.ts
  app/soapbox/db/schema.ts
  app/soapbox/jest/test-setup.ts
  config/dependency-authority-inventory.json
  jest.config.js
  package.json
  scripts/__tests__/check-dependency-authority-inventory.test.js
  yarn.lock
Due: lint-js, jest

feat(db): Phase 5B — schema versioning, resumable migrations, and corruption detection (#58)
  app/soapbox/db/__tests__/integrity.test.ts
  app/soapbox/db/__tests__/migrations.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/integrity.ts
  app/soapbox/db/migrations.ts
  config/persistence-manifest.json
Due: lint-js, jest

feat(db): Phase 5C — storage quota monitoring, TTL retention, and eviction policy (#59)
  app/soapbox/db/__tests__/quota.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/quota.ts
Due: lint-js, jest

feat(db): Phase 5D — local store sync bridge with Redux/API data flow (#60)
  app/soapbox/actions/settings.ts
  app/soapbox/db/__tests__/sync.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/sync.ts
  config/sentry-authority-inventory.json
Due: lint-js, jest

docs(architecture): define Home, For You, and Custom Feed phases (#61)
  config/documentation-authority-registry.json
  docs/architecture/ARCHITECTURAL_DECISIONS.md
  docs/architecture/CURRENT_STATE.md
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_23A_CUSTOM_FEEDS.md
  docs/architecture/PHASE_8_HOME_AND_BUILT_IN_FEEDS.md
  docs/architecture/README.md
  scripts/documentation-authority-lib.js
Due: lint-js, jest, docs-deploy

feat(db): Phase 5E — timeline membership, projections, and fail-closed visibility (#62)
  app/soapbox/db/__tests__/projections.test.ts
  app/soapbox/db/__tests__/sync.test.ts
  app/soapbox/db/__tests__/timelines.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/projections.ts
  app/soapbox/db/schema.ts
  app/soapbox/db/sync.ts
  app/soapbox/db/timelines.ts
Due: lint-js, jest

Document FediBuzz integration and Durable Streams phase
  config/documentation-authority-registry.json
  docs/architecture/ARCHITECTURAL_DECISIONS.md
  docs/architecture/FEDIBUZZ_CUSTOM_FEED_SOURCE.md
  docs/architecture/PHASE_6A_DURABLE_STREAMS.md
  docs/architecture/README.md
Due: jest, docs-deploy

Document compression, origin authority, and timeline continuity phases
  config/documentation-authority-registry.json
  docs/architecture/ARCHITECTURAL_DECISIONS.md
  docs/architecture/PHASE_4A_ZSTD_AND_GZIP_COMPRESSION.md
  docs/architecture/PHASE_5E_TIMELINE_POSITION_CONTINUITY.md
  docs/architecture/PHASE_8A_ORIGIN_AUTHORITY_RECONCILIATION.md
  docs/architecture/README.md
Due: jest, docs-deploy

Document subscribed post Stories phase (#66)
  config/documentation-authority-registry.json
  docs/architecture/ARCHITECTURAL_DECISIONS.md
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_23B_SUBSCRIBED_POST_STORIES.md
  docs/architecture/README.md
Due: jest, docs-deploy

Document creator attribution support
  config/documentation-authority-registry.json
  docs/architecture/ARCHITECTURAL_DECISIONS.md
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_8B_CREATOR_ATTRIBUTION.md
  docs/architecture/README.md
Due: jest, docs-deploy

Expand Phase 8B to entity resolution and creator attribution
  config/documentation-authority-registry.json
  docs/architecture/ARCHITECTURAL_DECISIONS.md
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_23A_CUSTOM_FEEDS.md
  docs/architecture/PHASE_8B_CREATOR_ATTRIBUTION.md
  docs/architecture/PHASE_8B_ENTITY_RESOLUTION_AND_CREATOR_ATTRIBUTION.md
  docs/architecture/README.md
  docs/architecture/SEARCH_AND_INTELLIGENCE.md
Due: jest, docs-deploy

Document Phase 8C shared aggregation and Shared Shelf
  config/documentation-authority-registry.json
  docs/architecture/ARCHITECTURAL_DECISIONS.md
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_8C_SHARED_ACTIVITY_AGGREGATION_AND_SHELF.md
  docs/architecture/README.md
Due: jest, docs-deploy

Fix subscribed-post notification wording (#70)
  app/soapbox/features/notifications/components/__tests__/notification.test.tsx
  app/soapbox/features/notifications/components/notification.tsx
Due: lint-js, jest

Add hardened bounded timeline hydration (#71)
  app/soapbox/db/__tests__/timeline-window.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/timeline-window.ts
  app/soapbox/db/timelines.ts
Due: lint-js, jest

feat(db): Phase 5E position continuity — semantic scroll anchor with throttled capture (#73)
  app/soapbox/db/__tests__/position-anchor.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/position-anchor.ts
  app/soapbox/db/schema.ts
  config/documentation-authority-registry.json
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
Due: lint-js, jest, docs-deploy

Add resilient thread context recovery coordination
  app/soapbox/actions/__tests__/statuses.test.ts
  app/soapbox/actions/statuses.ts
  app/soapbox/utils/__tests__/context-recovery.test.ts
  app/soapbox/utils/context-recovery.ts
  config/network-callsite-manifest.json
  config/sentry-authority-inventory.json
Due: lint-js, jest

Document Misskey, Markdown, and MFM compatibility phase
  config/documentation-authority-registry.json
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_8D_MISSKEY_MARKDOWN_MFM_COMPATIBILITY.md
Due: jest, docs-deploy

feat(scroll): Phase 5E UI — integrate scroll anchor with react-virtuoso (#74)
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/hooks/useScrollAnchor.ts
  config/build-budget.json
  config/design-component-authority-inventory.json
  config/persistence-manifest.json
Due: lint-js, jest

Document Phase 9 origin-authoritative conversation trees
  config/documentation-authority-registry.json
  docs/architecture/ARCHITECTURAL_DECISIONS.md
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_9_ORIGIN_AUTHORITATIVE_CONVERSATION_TREES.md
  docs/architecture/README.md
Due: jest, docs-deploy

feat(scroll): Phase 5E remaining criteria — stability, markers, and performance (#78)
  app/soapbox/db/__tests__/markers.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/markers.ts
  app/soapbox/hooks/useScrollAnchorStability.ts
  config/documentation-authority-registry.json
  docs/architecture/PHASE_5E_TIMELINE_POSITION_CONTINUITY.md
Due: lint-js, jest, docs-deploy

Resolve Framework7 shell icon and closure gaps (#79)
  app/soapbox/components/ui/icon/semantic-icon-registry.ts
  app/soapbox/components/ui/index.ts
  app/soapbox/features/f7-shell/components/bottom-tabs.tsx
  app/soapbox/features/f7-shell/components/sidebar-navigation.tsx
  config/component-ownership-manifest.json
  config/design-component-authority-inventory.json
  config/documentation-authority-registry.json
  docs/architecture/ICON_MIGRATION_MATRIX.md
  docs/architecture/PHASE_3_FRAMEWORK7_SHELL.md
  scripts/__tests__/f7-shell-icon-authority.test.js
Due: lint-js, jest, docs-deploy

Add Framework7 shell parity baseline (#81)
  e2e/fixtures-site/f7-shell/index.html
  e2e/tests/f7-shell-parity.spec.ts
  playwright.config.ts
Due: lint-js

docs: reconcile Phase 3 and Phase 5E completion status
  config/documentation-authority-registry.json
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_3_FRAMEWORK7_SHELL.md
Due: jest, docs-deploy

feat(phase-6): durable outbox with stable operation IDs, retry, reconciliation
  app/soapbox/db/__tests__/outbox-repository.test.ts
  app/soapbox/db/index.ts
  app/soapbox/db/outbox-repository.ts
  app/soapbox/db/schema.ts
  app/soapbox/domain/__tests__/outbox-operation.test.ts
  app/soapbox/domain/__tests__/outbox-retry.test.ts
  app/soapbox/domain/outbox-operation.ts
  app/soapbox/domain/outbox-retry.ts
  app/soapbox/infrastructure/outbox/__tests__/compose-bridge.test.ts
  app/soapbox/infrastructure/outbox/__tests__/conflict-resolver.test.ts
  app/soapbox/infrastructure/outbox/__tests__/outbox-transport.test.ts
  app/soapbox/infrastructure/outbox/__tests__/reconciliation.test.ts
  app/soapbox/infrastructure/outbox/compose-bridge.ts
  app/soapbox/infrastructure/outbox/conflict-resolver.ts
  app/soapbox/infrastructure/outbox/executors/__tests__/payload-validation.test.ts
  app/soapbox/infrastructure/outbox/executors/account-executors.ts
  app/soapbox/infrastructure/outbox/executors/index.ts
  app/soapbox/infrastructure/outbox/executors/interaction-executors.ts
  app/soapbox/infrastructure/outbox/executors/media-executor.ts
  app/soapbox/infrastructure/outbox/executors/misc-executors.ts
  app/soapbox/infrastructure/outbox/executors/status-executors.ts
  app/soapbox/infrastructure/outbox/failure-classifier.ts
  app/soapbox/infrastructure/outbox/index.ts
  app/soapbox/infrastructure/outbox/network-listener.ts
  app/soapbox/infrastructure/outbox/outbox-processor.ts
  app/soapbox/infrastructure/outbox/outbox-recovery.ts
  app/soapbox/infrastructure/outbox/outbox-service.ts
  app/soapbox/infrastructure/outbox/outbox-transport.ts
  app/soapbox/infrastructure/outbox/reconciliation.ts
  app/soapbox/infrastructure/outbox/use-outbox.ts
  docs/architecture/PHASE_6_DURABLE_OUTBOX.md
Due: lint-js, jest, docs-deploy

feat(phase-7): legacy state isolation and module migration framework
  app/soapbox/application/__tests__/migration-framework.test.ts
  app/soapbox/application/__tests__/migration-helpers.ts
  app/soapbox/application/__tests__/state-policy.test.ts
  app/soapbox/application/__tests__/timeline-read-model.test.ts
  app/soapbox/application/index.ts
  app/soapbox/application/migration-framework.ts
  app/soapbox/application/state-policy.ts
  app/soapbox/application/timeline-queries.ts
  app/soapbox/application/timeline-read-model.ts
  app/soapbox/application/use-timeline.ts
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_7_LEGACY_STATE_ISOLATION.md
Due: lint-js, jest, docs-deploy

feat(phase-8): Home and For You editorial migration with relationship-based routing
  app/soapbox/application/feeds/__tests__/feed-types.test.ts
  app/soapbox/application/feeds/__tests__/scroll-restoration.test.ts
  app/soapbox/application/feeds/feed-queries.ts
  app/soapbox/application/feeds/feed-types.ts
  app/soapbox/application/feeds/index.ts
  app/soapbox/application/feeds/scroll-restoration.ts
  app/soapbox/application/feeds/use-feed.ts
  app/soapbox/application/index.ts
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
  docs/architecture/PHASE_8_CLOSURE_REPORT.md
Due: lint-js, jest, docs-deploy

feat(phase-8b): canonical entity resolution contracts and local authority
  app/soapbox/domain/entity-resolution.ts
  app/soapbox/infrastructure/entity-resolution/__tests__/entity-repository.test.ts
  app/soapbox/infrastructure/entity-resolution/entity-repository.ts
  app/soapbox/infrastructure/entity-resolution/index.ts
Due: lint-js, jest

feat(phase-8b-2-3): native creator attribution and structured metadata extraction
  app/soapbox/infrastructure/entity-resolution/__tests__/creator-attribution.test.ts
  app/soapbox/infrastructure/entity-resolution/__tests__/metadata-extractor.test.ts
  app/soapbox/infrastructure/entity-resolution/creator-attribution.ts
  app/soapbox/infrastructure/entity-resolution/index.ts
  app/soapbox/infrastructure/entity-resolution/metadata-extractor.ts
Due: lint-js, jest

feat(phase-8b-4-5): Wikidata/DBpedia providers and semantic hashtag resolution
  app/soapbox/infrastructure/entity-resolution/__tests__/provider-client.test.ts
  app/soapbox/infrastructure/entity-resolution/__tests__/semantic-hashtags.test.ts
  app/soapbox/infrastructure/entity-resolution/index.ts
  app/soapbox/infrastructure/entity-resolution/providers/dbpedia-provider.ts
  app/soapbox/infrastructure/entity-resolution/providers/index.ts
  app/soapbox/infrastructure/entity-resolution/providers/provider-client.ts
  app/soapbox/infrastructure/entity-resolution/providers/wikidata-provider.ts
  app/soapbox/infrastructure/entity-resolution/semantic-hashtags.ts
Due: lint-js, jest

feat(phase-8b-6-7-8): Custom Feed entity rules, consumer integration, trusted resolver contract
  app/soapbox/infrastructure/entity-resolution/__tests__/entity-feed-rules.test.ts
  app/soapbox/infrastructure/entity-resolution/__tests__/trusted-resolver-contract.test.ts
  app/soapbox/infrastructure/entity-resolution/entity-consumers.ts
  app/soapbox/infrastructure/entity-resolution/entity-feed-rules.ts
  app/soapbox/infrastructure/entity-resolution/index.ts
  app/soapbox/infrastructure/entity-resolution/trusted-resolver-contract.ts
Due: lint-js, jest

feat(phase-8c-8d): Shared Activity aggregation and Misskey/Markdown/MFM compatibility
  app/soapbox/application/content-formats/__tests__/content-classifier.test.ts
  app/soapbox/application/content-formats/__tests__/content-pipeline.test.ts
  app/soapbox/application/content-formats/content-classifier.ts
  app/soapbox/application/content-formats/content-pipeline.ts
  app/soapbox/application/content-formats/content-types.ts
  app/soapbox/application/content-formats/index.ts
  app/soapbox/application/shared-activity/__tests__/event-deduplication.test.ts
  app/soapbox/application/shared-activity/__tests__/resurfacing-policy.test.ts
  app/soapbox/application/shared-activity/event-deduplication.ts
  app/soapbox/application/shared-activity/index.ts
  app/soapbox/application/shared-activity/resurfacing-policy.ts
  app/soapbox/application/shared-activity/shared-activity-types.ts
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
Due: lint-js, jest, docs-deploy

feat(phase-9): Origin-Authoritative Conversation Trees — graph contracts and builder
  app/soapbox/application/conversation-graph/__tests__/graph-builder.test.ts
  app/soapbox/application/conversation-graph/conversation-types.ts
  app/soapbox/application/conversation-graph/graph-builder.ts
  app/soapbox/application/conversation-graph/index.ts
Due: lint-js, jest

feat(phase-9.2-9.6): conversation coordinator, projections, and reading state
  app/soapbox/application/conversation-graph/conversation-coordinator.ts
  app/soapbox/application/conversation-graph/conversation-projections.ts
  app/soapbox/application/conversation-graph/conversation-reading-state.ts
  app/soapbox/application/conversation-graph/index.ts
Due: lint-js, jest

feat(phase-9.5-9.7): conversation hook with focused-path navigation and live updates
  app/soapbox/application/conversation-graph/index.ts
  app/soapbox/application/conversation-graph/use-conversation.ts
Due: lint-js, jest

feat(phase-9.8-9.9): conversation graph hardening, fuzz tests, and performance validation
  app/soapbox/application/conversation-graph/__tests__/conversation-hardening.test.ts
  app/soapbox/application/conversation-graph/conversation-hardening.ts
  app/soapbox/application/conversation-graph/index.ts
  docs/architecture/IMPLEMENTATION_ROADMAP_V2.md
Due: lint-js, jest, docs-deploy

feat: phanpy-style login page with FediDB instance autocomplete
  app/soapbox/api/fedidb.ts
  app/soapbox/features/auth_login/components/login_form.tsx
  app/soapbox/features/external_login/components/external-login-form.tsx
  app/soapbox/features/external_login/components/instance-autocomplete.tsx
  app/soapbox/features/external_login/components/popular-instances.tsx
  app/soapbox/features/external_login/components/recommended-accounts.tsx
Due: lint-js, jest

feat: phanpy-style inline translation with DeepL & LibreTranslate support
  app/soapbox/actions/settings.ts
  app/soapbox/components/status.tsx
  app/soapbox/components/translation-block.tsx
  app/soapbox/features/preferences/components/translation-settings.tsx
  app/soapbox/features/preferences/index.tsx
  app/soapbox/services/translation.ts
Due: lint-js, jest

fix: try to prevent card preview to mess with scrollable list height
  app/soapbox/components/status-media.tsx
  app/soapbox/features/status/components/card.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
