Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Use lint-staged with Husky to only lint changed files
  .husky/pre-commit
  package.json
  yarn.lock
Due: jest

lint-staged: move configuration to `.lintstagedrc.json` file
  .lintstagedrc.json
  package.json
Due: jest

Add sample initial-state from Mastodon
  app/soapbox/__fixtures__/mastodon_initial_state.json
Due: jest

Rename PRELOAD_IMPORT to PLEROMA_PRELOAD_IMPORT
  app/soapbox/actions/preload.js
  app/soapbox/reducers/instance.js
  app/soapbox/reducers/soapbox.js
Due: lint-js, jest

Preload: refactor actions, add MASTODON_PRELOAD_IMPORT action
  app/soapbox/actions/preload.js
Due: lint-js, jest

Add Pleroma initial-results sample fixture
  app/soapbox/__fixtures__/pleroma_initial_results.json
Due: jest

Preload: import auth credentials from Mastodon's initial-state
  app/soapbox/reducers/__tests__/auth-test.js
  app/soapbox/reducers/auth.js
Due: lint-js, jest

Upgrade websocket.js to @gamestdio/websocket
  app/soapbox/stream.js
  package.json
  yarn.lock
Due: lint-js, jest

Upgrade Redux to v4.1.1
  package.json
  yarn.lock
Due: jest

Upgrade axios to v0.21.4
  package.json
  yarn.lock
Due: jest

Revert "Merge branch 'upgrade-redux-4.1.1' into 'develop'"
  package.json
  yarn.lock
Due: jest

Upgrade redux and react-redux
  package.json
  yarn.lock
Due: jest

Webpack: disable fullySpecified resolving
  webpack/rules/index.js
Due: lint-js, jest

Upgrade react-swipeable-views to v0.14.0
  package.json
  yarn.lock
Due: jest

Upgrade babel to latest versions
  package.json
  yarn.lock
Due: jest

Properly upgrade axios, redux, react-redux, @gamestdio/websocket, and react-swipeable-views. Fixes redux.
  webpack/rules/index.js
  yarn.lock
Due: lint-js, jest

Remove unused file-loader package
  package.json
  yarn.lock
Due: jest

Upgrade eslint and related deps
  yarn.lock
Due: jest

Upgrade stylelint to latest versions
  package.json
  yarn.lock
Due: jest

Upgrade immutable to 4.0.0-rc.14
  package.json
  yarn.lock
Due: jest

Remove deprecated babel-runtime package
  package.json
  yarn.lock
Due: jest

Run `yarn upgrade`
  yarn.lock
Due: jest

Use math.div for division in scss https://sass-lang.com/d/slash-div
  app/styles/fonts.scss
Due: lint-sass

Display loading indicator while JS is loading
  app/index.ejs
  app/styles/basics.scss
  app/styles/loading.scss
Due: lint-sass

SuggestionsV2: pull in Mastodon's upstream code
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/actions/suggestions_v2.js
  app/soapbox/features/follow_recommendations/components/account.js
  app/soapbox/features/follow_recommendations/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/reducers/index.js
  app/soapbox/reducers/suggestions_v2.js
  app/soapbox/utils/features.js
  app/styles/accounts.scss
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

gitignore /dist
  .gitignore
Due: none

webpack/index.js --> webpack.config.js
  package.json
  webpack.config.js
Due: lint-js, jest

Suggestions: consolidate reducers
  app/soapbox/features/follow_recommendations/index.js
  app/soapbox/features/ui/components/who_to_follow_panel.js
  app/soapbox/reducers/index.js
  app/soapbox/reducers/suggestions.js
  app/soapbox/reducers/suggestions_v2.js
Due: lint-js, jest

Suggestions: consolidate actions
  app/soapbox/actions/suggestions.js
  app/soapbox/actions/suggestions_v2.js
  app/soapbox/features/follow_recommendations/index.js
  app/soapbox/reducers/suggestions.js
Due: lint-js, jest

Suggestions: break out FollowRecommendationsList component
  app/soapbox/features/follow_recommendations/components/account.js
  app/soapbox/features/follow_recommendations/components/follow_recommendations_list.js
  app/soapbox/features/follow_recommendations/index.js
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

Suggestions: display suggestions on Home timeline when there are no posts
  app/soapbox/features/home_timeline/index.js
Due: lint-js, jest

Always display FeaturesPanel at the top of the column
  app/soapbox/pages/default_page.js
  app/soapbox/pages/home_page.js
  app/soapbox/pages/remote_instance_page.js
Due: lint-js, jest

Suggestions: use standard-panel when displayed in Home timeline
  app/styles/components/columns.scss
Due: lint-sass

Suggestions: fix border-radius on mobile
  app/styles/components/columns.scss
Due: lint-sass

CryptoDonate: fall back to generic icon (fixes crash)
  app/soapbox/features/crypto_donate/components/crypto_icon.js
Due: lint-js, jest

Features: add Bookmarks, improve uglification
  app/soapbox/utils/features.js
Due: lint-js, jest

Features: add Lists
  app/soapbox/utils/features.js
Due: lint-js, jest

Remove unused component: compose/components/action_bar
  app/soapbox/features/compose/components/action_bar.js
Due: lint-js, jest

Put Bookmarks and Lists behind feature flags
  app/soapbox/components/sidebar_menu.js
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/features/ui/components/features_panel.js
Due: lint-js, jest

Mastodon: search account by username
  app/soapbox/actions/accounts.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
