Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

v2 Suggestions: conditionally display admin actions
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

gitignore configuration files from surge.sh
  .gitignore
Due: none

gitignore .DS_Store and .idea
  .gitignore
Due: none

Profile: add "Share" button as primary action to own profile
  app/soapbox/features/account/components/header.js
  app/styles/components/account-header.scss
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

PullToRefresh: increase pull resistance and threshold
  app/soapbox/components/pull_to_refresh.js
Due: lint-js, jest

PullToRefresh: use iOS style spinner
  app/soapbox/components/loading_spinner.js
  app/soapbox/components/pull_to_refresh.js
  app/styles/loading.scss
Due: lint-js, lint-sass, jest

PullToRefresh: switch back to the old loading indicator for now
  app/soapbox/components/pull_to_refresh.js
Due: lint-js, jest

PullToRefresh: don't transform the loading indicator
  app/styles/loading.scss
Due: lint-sass

Auth: logIn, don't create an unnecessary app token
  app/soapbox/actions/auth.js
Due: lint-js, jest

Mastodon: redirect ActivityPub ID for statuses
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Update Polish translation
  app/soapbox/locales/pl.json
Due: jest

DropdownMenu style changes
  app/styles/components/dropdown-menu.scss
Due: lint-sass

It looks uneven when first/last item is hovered
  app/styles/components/dropdown-menu.scss
Due: lint-sass

Don't show menu items requiring auth when not authenticated for detailed statuses
  app/soapbox/features/status/components/action_bar.js
Due: lint-js, jest

Fix: Race condition in search
  app/soapbox/actions/search.js
  app/soapbox/reducers/search.js
Due: lint-js, jest

Properly filter DMs from timelines
  app/soapbox/actions/settings.js
Due: lint-js, jest

Your followers from a blocked domain will not be removed
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/locales/ast.json
  app/soapbox/locales/br.json
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/en.json
  app/soapbox/locales/ga.json
  app/soapbox/locales/hi.json
  app/soapbox/locales/lt.json
  app/soapbox/locales/mk.json
  app/soapbox/locales/ms.json
Due: lint-js, jest

wip chat pagination
  app/soapbox/actions/chats.js
  app/soapbox/components/helmet.js
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/scrollable_list.js
  app/soapbox/components/thumb_navigation.js
  app/soapbox/features/chats/chat_room.js
  app/soapbox/features/chats/components/chat.js
  app/soapbox/features/chats/components/chat_box.js
  app/soapbox/features/chats/components/chat_list.js
  app/soapbox/features/chats/components/chat_panes.js
  app/soapbox/features/chats/components/chat_window.js
  app/soapbox/features/chats/index.js
  app/soapbox/features/placeholder/components/placeholder_chat.js
  app/soapbox/features/ui/components/tabs_bar.js
  app/soapbox/reducers/accounts.js
  app/soapbox/reducers/chat_message_lists.js
  app/soapbox/reducers/chat_messages.js
  app/soapbox/reducers/chats.js
  app/soapbox/selectors/index.js
  app/styles/chats.scss
  app/styles/placeholder.scss
Due: lint-js, lint-sass, jest

Suggestions: don't show suggestions if Home timeline failed
  app/soapbox/features/home_timeline/index.js
  app/soapbox/reducers/timelines.js
Due: lint-js, jest

Chats: Create next link if not provided
  app/soapbox/actions/chats.js
Due: lint-js, jest

Use old chats list API conditionally
  app/soapbox/actions/chats.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Make approval buttons larger, require confirmation when deleting users
  app/soapbox/actions/moderation.js
  app/soapbox/features/admin/components/unapproved_account.js
  app/soapbox/locales/pl.json
  app/styles/components/admin.scss
Due: lint-js, lint-sass, jest

Replace LineAwesome with Tabler Icons in some places
  app/soapbox/components/domain.js
  app/soapbox/features/admin/components/report.js
  app/soapbox/features/admin/components/report_status.js
  app/soapbox/features/aliases/components/account.js
  app/soapbox/features/chats/components/chat_box.js
  app/soapbox/features/chats/components/chat_message_list.js
  app/soapbox/features/compose/components/poll_form.js
  app/soapbox/features/compose/components/reply_indicator.js
  app/soapbox/features/compose/components/schedule_form.js
  app/soapbox/features/follow_requests/components/account_authorize.js
  app/soapbox/features/groups/timeline/components/header.js
  app/soapbox/features/list_adder/components/list.js
  app/soapbox/features/list_adder/index.js
  app/soapbox/features/list_editor/components/account.js
  app/soapbox/features/list_editor/index.js
  app/soapbox/features/lists/index.js
  app/soapbox/features/notifications/components/follow_request.js
  app/soapbox/features/public_layout/components/header.js
  app/soapbox/features/remote_timeline/index.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status_action_bar.js
  app/soapbox/features/status/components/action_bar.js
  app/soapbox/features/ui/components/accordion.js
  app/soapbox/features/ui/components/column_link.js
  app/soapbox/features/ui/components/hotkeys_modal.js
  app/soapbox/features/ui/components/instance_info_panel.js
  app/soapbox/features/ui/components/instance_moderation_panel.js
  app/soapbox/features/ui/components/media_modal.js
  app/soapbox/features/ui/components/report_modal.js
  app/soapbox/features/ui/components/unauthorized_modal.js
  app/styles/about.scss
  app/styles/accounts.scss
  app/styles/chats.scss
  app/styles/components/admin.scss
  app/styles/components/columns.scss
  app/styles/components/datepicker.scss
  app/styles/components/modal.scss
  app/styles/components/reply-indicator.scss
  app/styles/components/wtf-panel.scss
  app/styles/polls.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

remove size prop for them
  app/soapbox/features/admin/components/report.js
  app/soapbox/features/admin/components/report_status.js
  app/soapbox/features/groups/timeline/components/header.js
  app/soapbox/features/public_layout/components/header.js
  app/soapbox/features/ui/components/hotkeys_modal.js
  app/soapbox/features/ui/components/instance_moderation_panel.js
  app/soapbox/features/ui/components/unauthorized_modal.js
Due: lint-js, jest

Add ShowablePassword component
  app/soapbox/components/showable_password.js
  app/soapbox/features/auth_login/components/login_form.js
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/security/index.js
  app/soapbox/features/security/mfa_form.js
  app/soapbox/locales/pl.json
  app/styles/about.scss
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

no point in passing type=password
  app/soapbox/features/auth_login/components/login_form.js
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/security/index.js
  app/soapbox/features/security/mfa_form.js
Due: lint-js, jest

update snapshots
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_form-test.js.snap
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_page-test.js.snap
Due: jest

Admin: fix rejectUserModal import
  app/soapbox/features/admin/components/unapproved_account.js
Due: lint-js, jest

UI: fix the way initial data is loaded
  app/soapbox/features/ui/index.js
Due: lint-js, jest

ShowablePassword, IconButton: submit on Enter
  app/soapbox/components/icon_button.js
  app/soapbox/components/showable_password.js
Due: lint-js, jest

Update snapshots
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_form-test.js.snap
  app/soapbox/features/auth_login/components/__tests__/__snapshots__/login_page-test.js.snap
Due: jest

Replace LineAwesome with Tabler icons in some more places
  app/soapbox/features/account_timeline/components/moved_note.js
  app/soapbox/features/compose/components/poll_form.js
  app/soapbox/features/edit_profile/index.js
  app/soapbox/features/notifications/components/clear_column_button.js
  app/soapbox/features/soapbox_config/index.js
  app/soapbox/features/ui/components/trends_panel.js
  app/styles/components/columns.scss
  app/styles/forms.scss
Due: lint-js, lint-sass, jest

Change icon for briefcase
  app/soapbox/components/sidebar_menu.js
  app/soapbox/features/account_timeline/components/moved_note.js
  app/soapbox/features/notifications/components/filter_bar.js
  app/soapbox/features/notifications/components/notification.js
Due: lint-js, jest

Change icons for federation restrictions
  app/soapbox/features/federation_restrictions/components/instance_restrictions.js
  app/soapbox/features/federation_restrictions/components/restricted_instance.js
  app/styles/components/federation-restrictions.scss
Due: lint-js, lint-sass, jest

enlarge media modal close button
  app/styles/components/modal.scss
Due: lint-sass

PendingStatus: display placeholder attachments
  app/soapbox/features/placeholder/components/placeholder_media_gallery.js
  app/soapbox/features/placeholder/components/placeholder_status_content.js
  app/soapbox/features/ui/components/pending_status.js
  app/soapbox/features/ui/util/pending_status_builder.js
  app/styles/placeholder.scss
Due: lint-js, lint-sass, jest

fix suitcase icon stroke-width
  app/styles/components/sidebar-menu.scss
Due: lint-sass

ShowablePassword: switch icons
  app/soapbox/components/showable_password.js
Due: lint-js, jest

Show nav bar links when in dashboard
  app/soapbox/features/ui/components/tabs_bar.js
Due: lint-js, jest

Profile directories, adapted from Mastodon
  app/soapbox/actions/directory.js
  app/soapbox/components/radio_button.js
  app/soapbox/features/directory/components/account_card.js
  app/soapbox/features/directory/index.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/async-components.js
  app/soapbox/reducers/user_lists.js
  app/styles/application.scss
  app/styles/components/directory.scss
Due: lint-js, lint-sass, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
