Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

feat: add post language selection (#332)
  app/soapbox/actions/compose.ts
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/features/compose/components/privacy_dropdown.tsx
  app/soapbox/features/compose/containers/language_dropdown_container.ts
  app/soapbox/features/ui/components/actions_modal.tsx
  app/soapbox/locales/fr.json
  app/soapbox/reducers/compose.ts
  app/styles/components/compose-form.scss
  package.json
  yarn.lock
Due: lint-js, lint-sass, jest

feat: improve followed tags ui (#331)
  app/soapbox/features/followed_tags/index.tsx
Due: lint-js, jest

feat: improve basque translation (#323)
  app/soapbox/locales/eu.json
Due: jest

Revert "feat: improve basque translation (#323)"
  app/soapbox/locales/eu.json
Due: jest

fix: add visibility to desktop MenuProfile (#322)
  app/soapbox/components/ui/menu/menu.css
  app/soapbox/components/ui/menu/menu.tsx
Due: lint-js, lint-sass, jest

fix: overflow issues on navbar and cropeed outline (#321)
  app/soapbox/components/sidebar-navigation-link.tsx
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

fix: do not call endorsments on non-auth profile view (#320)
  app/soapbox/pages/profile_page.tsx
Due: lint-js, jest

feat: add timeline pin (#330)
  app/soapbox/actions/instance.ts
  app/soapbox/actions/remote_timeline.ts
  app/soapbox/components/account.tsx
  app/soapbox/components/sub_navigation.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/components/button-pin.tsx
  app/soapbox/features/remote_timeline/components/pinned_hosts_picker.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/ui/components/column.tsx
  app/soapbox/features/ui/components/instance_pin_panel.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/fr.json
  app/soapbox/pages/home_page.tsx
  tsconfig.json
Due: lint-js, jest

Update README.md
  README.md
Due: none

chore: bump version
  package.json
Due: jest

chore: bump description
  package.json
Due: jest

fix: vertial pinned host and better thumb navigation
  app/soapbox/components/thumb_navigation-link.tsx
  app/soapbox/components/thumb_navigation.tsx
Due: lint-js, jest

feat: remove text property from sharing on mobile to only share url
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

fix: language post seleciton was bugged
  app/soapbox/features/compose/components/language_dropdown.tsx
Due: lint-js, jest

build: fix deps
  package.json
  yarn.lock
Due: jest

chore: update version name
  package.json
Due: jest

fix: crash when no pinned hosts on mobile
  app/soapbox/components/thumb_navigation.tsx
Due: lint-js, jest

chore: update release system
  .commitlintrc.json
  .github/workflows/webpack.yml
  .husky/commit-msg
  CHANGELOG.md
  commitlint.config.js
  package.json
  yarn.lock
Due: lint-js, jest

chore: update release system
  .github/workflows/release.yml
  .github/workflows/webpack.yml
Due: none

chore: update release system
  .github/workflows/release.yml
Due: none

chore(release): 1.12.2
  CHANGELOG.md
  package.json
Due: jest

chore: update release system
  .github/workflows/webpack.yml
Due: none

chore(release): 1.12.3
  CHANGELOG.md
  package.json
Due: jest

chore: remove useless files
  .editorconfig
  .github/workflows/gh-pages.yml
  .gitlab/issue_templates/Bug.md
  .gitlab/merge_request_templates/Default.md
Due: none

chore: remove useless files
  renovate.json
Due: jest

chore(release): 1.12.4
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.5
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.6
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.7
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.8
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.9
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.10
  CHANGELOG.md
  package.json
Due: jest
