Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

fix: replying to a status wont reset tl scroll
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

fix: privacy dropdown z priority
  app/soapbox/features/compose/components/privacy_dropdown.tsx
Due: lint-js, jest

build: use reproductible build
  .yarnrc.yml
  package.json
  yarn.lock
Due: jest

fix: replace use of virtuoso by home made scroller allowing to actually correct scroll restore (#466)
  .yarnrc.yml
  app/soapbox/actions/streaming.ts
  app/soapbox/actions/timelines.ts
  app/soapbox/components/__tests__/scroll-top-button.test.tsx
  app/soapbox/components/account.tsx
  app/soapbox/components/scroll-to-button.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/status-media.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/components/sticky.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/account_timeline/index.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/privacy_dropdown.tsx
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/features/notifications/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/status/components/card.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/ui/components/timeline.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/pages/admin_page.tsx
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/empty_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
  app/soapbox/reducers/timelines.ts
  package.json
  webpack/shared.js
  yarn.lock
Due: lint-js, jest

chore(release): 1.22.3
  CHANGELOG.md
  package.json
Due: jest

refactor: remove unused files (#458)
  app/soapbox/components/filter_bar.js
  app/soapbox/components/radio_button.tsx
  app/soapbox/components/setting_text.js
  app/soapbox/features/compose/containers/reply_indicator_container.js
  app/soapbox/features/groups/sidebar_panel/index.js
  app/soapbox/features/groups/sidebar_panel/item.js
  app/soapbox/features/groups/timeline/components/panel.js
  app/soapbox/features/home_timeline/components/column_settings.js
  app/soapbox/features/home_timeline/containers/column_settings_container.js
  app/soapbox/features/notifications/components/column_settings.js
  app/soapbox/features/notifications/components/follow_request.js
  app/soapbox/features/notifications/components/multi_setting_toggle.js
  app/soapbox/features/notifications/containers/column_settings_container.js
  app/soapbox/features/notifications/containers/follow_request_container.js
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
  app/soapbox/features/placeholder/components/placeholder_chat.tsx
  app/soapbox/features/public_layout/components/sonar.tsx
  app/soapbox/features/public_timeline/components/column_settings.js
  app/soapbox/features/soapbox_config/forkawesome.json
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/locales/locale-data/co.js
  app/soapbox/locales/locale-data/oc.js
  app/soapbox/types/entities.ts
Due: lint-js, jest

chore(release): 1.22.4
  CHANGELOG.md
  package.json
Due: jest

feat: better search with cancellation control
  app/soapbox/actions/search.ts
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/features/search/index.tsx
Due: lint-js, jest

fix: add new composed status to queue
  app/soapbox/reducers/timelines.ts
Due: lint-js, jest

chore(release): 1.22.5
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.22.6
  CHANGELOG.md
  package.json
Due: jest

fix: keyboard navigation on scrollable list is working again
  app/soapbox/components/status.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/components/tombstone.tsx
  app/soapbox/components/ui/form/form.tsx
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/features/conversations/components/conversation.tsx
  app/soapbox/features/conversations/components/conversations_list.tsx
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/notifications/index.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/utils/scroll_into_view.ts
Due: lint-js, jest

fix: autoload of new status is not triggered when scrolling anymore
  app/soapbox/components/scroll-to-button.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/features/notifications/index.tsx
  app/soapbox/features/ui/components/timeline.tsx
Due: lint-js, jest

chore(release): 1.22.7
  CHANGELOG.md
  package.json
Due: jest

fix: crash on notification view
  app/soapbox/features/notifications/index.tsx
Due: lint-js, jest

chore(release): 1.22.8
  CHANGELOG.md
  package.json
Due: jest

fix: clean notification counter when showing notifications
  app/soapbox/features/notifications/index.tsx
Due: lint-js, jest

chore(release): 1.22.9
  CHANGELOG.md
  package.json
Due: jest

ci: do not spam releases
  .github/workflows/nightly.yml
  .github/workflows/pages.yml
  .github/workflows/webpack.yml
Due: none

chore(release): 1.22.10
  CHANGELOG.md
  package.json
Due: jest

fix: do not dequeue when going back on timeline
  package.json
  yarn.lock
Due: jest

chore(release): 1.22.11
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.23.0
  CHANGELOG.md
  package.json
Due: jest

feat: better search with cancellation control (#470)
  app/soapbox/actions/search.ts
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/status.tsx
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/compose/components/search_results.tsx
  app/soapbox/features/search/index.tsx
Due: lint-js, jest

chore(release): 1.24.0
  CHANGELOG.md
  package.json
Due: jest

ci: fix draft release not being deleted
  .github/workflows/nightly.yml
Due: none

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
