Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Compare hosts in findAccountByUsername, fixes #730
  app/soapbox/selectors/index.js
Due: lint-js, jest

Reblogs: add ColumnHeader
  app/soapbox/features/reblogs/index.js
Due: lint-js, jest

Seach: autosubmit from search page
  app/soapbox/features/admin/user_index.js
  app/soapbox/features/compose/containers/search_container.js
  app/soapbox/features/search/index.js
Due: lint-js, jest

ComposeForm: add back original character counter, commented out for now
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/text_character_counter.js
  app/soapbox/features/compose/components/visual_character_counter.js
  app/styles/components/compose-form.scss
Due: lint-js, lint-sass, jest

ScrollableList: fix border-radius on mobile
  app/styles/components/columns.scss
Due: lint-sass

Favourites: display favourites for Mastodon (if exposableReactions is manually toggled)
  app/soapbox/components/status_action_bar.js
  app/soapbox/features/favourites/index.js
  app/soapbox/features/status/components/status_interaction_bar.js
  app/soapbox/features/ui/index.js
  app/styles/components/detailed-status.scss
  app/styles/components/emoji-reacts.scss
Due: lint-js, lint-sass, jest

Profile: restore "extra" links on desktop
  app/soapbox/features/account/components/header.js
  app/styles/components/account-header.scss
Due: lint-js, lint-sass, jest

Get rid of unused DrawerLoading component
  app/soapbox/features/ui/components/drawer_loading.js
  app/styles/application.scss
  app/styles/components/columns.scss
  app/styles/components/drawer.scss
  app/styles/rtl.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Entirely remove unused "drawer" concept
  app/soapbox/features/search/index.js
  app/styles/components/columns.scss
  app/styles/components/list-forms.scss
  app/styles/components/search.scss
Due: lint-js, lint-sass, jest

Column: let columns only fill their needed height
  app/styles/components/columns.scss
  app/styles/components/search.scss
Due: lint-sass

Column: fix border-radius of .empty-column-indicator
  app/styles/components/columns.scss
Due: lint-sass

BetterColumn: remove ColumnBackButton, fix border-bottom
  app/soapbox/features/ui/components/better_column.js
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

Column: remove ColumnBackButton from most places, fix DetailedStatus border-bottom, improve HashtagTimeline
  app/soapbox/features/hashtag_timeline/index.js
  app/soapbox/features/ui/index.js
  app/styles/chats.scss
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

FollowRecommendations: fix transparent background
  app/soapbox/features/home_timeline/index.js
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

Chats: fix action button icons
  app/soapbox/features/chats/components/chat_box.js
  app/styles/chats.scss
Due: lint-js, lint-sass, jest

LinkFooter: pad bottom to make room for Chats
  app/styles/components/getting-started.scss
Due: lint-sass

AttachmentThumbs: display compact media thumbs instead of AttachmentList
  app/soapbox/components/attachment_thumbs.js
  app/soapbox/components/media_gallery.js
  app/soapbox/components/status.js
  app/soapbox/features/compose/components/reply_indicator.js
  app/soapbox/features/scheduled_statuses/components/scheduled_status.js
  app/soapbox/features/ui/components/boost_modal.js
  app/styles/components/media-gallery.scss
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

ProfilePreview: link to internal profile, improve styles
  app/soapbox/features/edit_profile/components/profile_preview.js
  app/styles/accounts.scss
Due: lint-js, lint-sass, jest

TimelineQueueButtonHeader: display only when scrolled down
  app/soapbox/components/timeline_queue_button_header.js
  app/styles/components/remote-timeline.scss
  app/styles/components/timeline-queue-header.scss
Due: lint-js, lint-sass, jest

TimelineQueueButtonHeader: always scroll to top
  app/soapbox/components/status_list.js
  app/soapbox/components/timeline_queue_button_header.js
Due: lint-js, jest

TimelineQueueButtonHeader: update snapshots
  app/soapbox/components/__tests__/__snapshots__/timeline_queue_button_header-test.js.snap
Due: jest

TimelineQueueButtonHeader: automatically load new items when scrolled to the top of the page
  app/soapbox/components/timeline_queue_button_header.js
Due: lint-js, jest

Modal: increase border-radius to 10px
  app/styles/components/modal.scss
Due: lint-sass

Status: add color to repost icon
  app/styles/components/status.scss
Due: lint-sass

RemoteTimeline: use SubNavigation
  app/soapbox/features/remote_timeline/index.js
Due: lint-js, jest

ListTimeline: use SubNavigation, nuke HomeColumnHeader once and for all
  app/soapbox/components/home_column_header.js
  app/soapbox/features/list_timeline/index.js
Due: lint-js, jest

RemoteInstancePage: use standard navigation like other pages
  app/soapbox/pages/remote_instance_page.js
Due: lint-js, jest

MediaModal: use Tabler next/prev arrows
  app/soapbox/features/ui/components/media_modal.js
  app/styles/components/modal.scss
Due: lint-js, lint-sass, jest

MaterialStatus: fix focused state
  app/soapbox/components/material_status.js
  app/soapbox/components/status.js
Due: lint-js, jest

Add react-content-loader
  package.json
  yarn.lock
Due: jest

VideoPlayer: use accent color for volume/seek progress bars
  app/styles/components/video-player.scss
Due: lint-sass

SubNavigation: border-radius 0 when scrolled
  app/soapbox/components/sub_navigation.js
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Thread: improve padding between posts
  app/soapbox/features/status/index.js
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

Column: more clearly indicate when scrolled to top on mobile
  app/styles/components/columns.scss
Due: lint-sass

AttachmentThumbs: click to expand post
  app/soapbox/components/attachment_thumbs.js
  app/soapbox/components/status.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Column: remove padding-bottom for perfect padding on mobile
  app/styles/components/columns.scss
Due: lint-sass

AccountHeader: disable &--missing functionality for now, since it messes up sticky sidebars
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

Optimistic, nonblocking statuses
  app/soapbox/actions/compose.js
  app/soapbox/actions/statuses.js
  app/soapbox/actions/timelines.js
  app/soapbox/components/status_list.js
  app/soapbox/features/ui/components/pending_status.js
  app/soapbox/features/ui/components/poll_preview.js
  app/soapbox/features/ui/util/pending_status_builder.js
  app/soapbox/reducers/index.js
  app/soapbox/reducers/pending_statuses.js
  app/soapbox/reducers/scheduled_statuses.js
  app/soapbox/reducers/timelines.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Optimistic threads
  app/soapbox/features/status/index.js
  app/soapbox/reducers/contexts.js
Due: lint-js, jest

Optimistic replies: fix duplicated statuses
  app/soapbox/actions/importer/index.js
  app/soapbox/actions/statuses.js
  app/soapbox/actions/timelines.js
  app/soapbox/reducers/contexts.js
Due: lint-js, jest
