Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Remove ReplyMentionsContainer
  app/soapbox/components/ui/select/select.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/reply_mentions_container.js
Due: lint-js, jest

typescript
  app/soapbox/components/autosuggest_textarea.js
  app/soapbox/features/compose/components/autosuggest_account.js
  app/soapbox/features/compose/components/autosuggest_account.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/text_character_counter.js
  app/soapbox/features/compose/components/text_character_counter.tsx
  app/soapbox/features/compose/components/upload_form.js
  app/soapbox/features/compose/components/upload_form.tsx
  app/soapbox/features/compose/components/visual_character_counter.js
  app/soapbox/features/compose/components/visual_character_counter.tsx
  app/soapbox/features/compose/containers/autosuggest_account_container.js
  app/soapbox/features/compose/containers/upload_form_container.js
  app/soapbox/features/compose/util/counter.ts
  app/soapbox/features/compose/util/url_regex.ts
  app/soapbox/features/generic_not_found/index.tsx
  app/soapbox/features/ui/components/accordion.js
  app/soapbox/features/ui/components/accordion.tsx
Due: lint-js, jest

lint
  app/soapbox/features/compose/components/upload_form.tsx
Due: jest

SvgIcon: pass className to loader
  app/soapbox/components/sidebar-navigation-link.tsx
  app/soapbox/components/ui/icon/svg-icon.tsx
Due: jest

SvgIcon: add tests
  app/soapbox/components/__mocks__/react-inlinesvg.js
  app/soapbox/components/__mocks__/react-inlinesvg.tsx
  app/soapbox/components/svg_icon.js
  app/soapbox/components/ui/icon/__tests__/svg-icon.test.tsx
  app/soapbox/components/ui/icon/svg-icon.tsx
Due: lint-js, jest

eslint: disallow importing react-inlinesvg directly
  .eslintrc.js
  app/soapbox/components/svg_icon.js
  app/soapbox/components/ui/icon/svg-icon.tsx
Due: lint-js, jest

SvgIcon: loader fallback
  app/soapbox/components/ui/icon/svg-icon.tsx
Due: jest

Make the ThemeToggle look decent, unhide it
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/features/ui/components/theme_toggle.tsx
  app/styles/components/theme-toggle.scss
Due: lint-sass, jest

Grammatical fix for birthday reminder text
  app/soapbox/components/birthday_reminders.js
Due: lint-js, jest

Fix ThumbNavigationLink icon
  app/soapbox/components/thumb_navigation-link.tsx
Due: jest

Move emoji utils into its own module
  app/soapbox/components/ui/emoji/emoji.tsx
  app/soapbox/utils/__tests__/emoji.test.ts
  app/soapbox/utils/emoji.ts
Due: jest

Perform better normalization of allowedEmoji
  app/soapbox/actions/__tests__/soapbox.test.ts
  app/soapbox/actions/soapbox.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

Fix action bar emoji labels
  app/soapbox/actions/soapbox.js
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/features/status/components/action-bar.tsx
Due: lint-js, jest

WIP: embeds
  app/soapbox/features/status/components/action-bar.tsx
  app/soapbox/features/ui/components/embed_modal.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

Add preliminary Pixelfed support
  app/soapbox/__fixtures__/pixelfed-instance.json
  app/soapbox/normalizers/__tests__/instance-test.js
  app/soapbox/utils/__tests__/features-test.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

eslint: scream if I try putting a JS comment in a JSX text node
  .eslintrc.js
  app/soapbox/components/ui/icon/svg-icon.tsx
Due: lint-js, jest

Create preliminary EmojiButtonWrapper component
  app/soapbox/actions/modals.ts
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/hoverable.tsx
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/components/ui/emoji-selector/emoji-selector.tsx
  app/soapbox/features/status/components/action-bar.tsx
Due: jest

EmojiButtonWrapper: handle click
  app/soapbox/components/emoji-button-wrapper.tsx
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/features/status/components/action-bar.tsx
Due: jest

Fix lint
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Upgrade to Node.js 16.x
  .gitlab-ci.yml
  .tool-versions
Due: none

Typescript, FC
  app/soapbox/features/follow_requests/components/account_authorize.js
  app/soapbox/features/follow_requests/components/account_authorize.tsx
  app/soapbox/features/follow_requests/containers/account_authorize_container.js
  app/soapbox/features/follow_requests/index.js
  app/soapbox/features/follow_requests/index.tsx
  app/soapbox/features/mutes/index.tsx
  app/soapbox/utils/timelines.ts
Due: lint-js, jest

Chats: typescript
  app/soapbox/features/chats/components/audio_toggle.js
  app/soapbox/features/chats/components/audio_toggle.tsx
  app/soapbox/features/chats/components/chat.js
  app/soapbox/features/chats/components/chat.tsx
  app/soapbox/features/chats/components/chat_list.js
  app/soapbox/features/chats/components/chat_list.tsx
  app/soapbox/features/chats/index.js
  app/soapbox/features/chats/index.tsx
  app/soapbox/features/compose/containers/upload_container.js
  app/soapbox/normalizers/chat.ts
  app/soapbox/normalizers/chat_message.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/reducers/chat_message_lists.ts
  app/soapbox/reducers/chat_messages.ts
  app/soapbox/reducers/chats.js
  app/soapbox/reducers/chats.ts
  app/soapbox/selectors/index.ts
  app/soapbox/types/entities.ts
Due: lint-js, jest

Fix API mock in verification test
  app/soapbox/__mocks__/api.ts
  app/soapbox/features/verification/__tests__/index.test.tsx
Due: jest

ForkTsCheckerWebpackPlugin: increase typescript memory limit to 8GB, fixes #865
  webpack/shared.js
Due: lint-js, jest

Let a custom auth app be embedded in the build
  app/soapbox/actions/auth.js
  app/soapbox/custom.ts
  docs/development/build-config.md
Due: lint-js, jest, docs-deploy

typescript, FC
  app/soapbox/features/aliases/components/search.js
  app/soapbox/features/aliases/components/search.tsx
  app/soapbox/features/follow_recommendations/components/account.js
  app/soapbox/features/follow_recommendations/components/account.tsx
  app/soapbox/features/follow_recommendations/components/follow_recommendations_container.js
  app/soapbox/features/follow_recommendations/components/follow_recommendations_container.tsx
  app/soapbox/features/follow_recommendations/components/follow_recommendations_list.js
  app/soapbox/features/follow_recommendations/components/follow_recommendations_list.tsx
  app/soapbox/features/follow_recommendations/index.js
  app/soapbox/features/follow_recommendations/index.tsx
  app/soapbox/features/intentional_error/index.tsx
Due: lint-js, jest

README
  README.md
Due: none

Make darkMode a feature (for now)
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/utils/features.ts
Due: jest

SidebarMenu: convert to tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/reducers/sidebar.ts
Due: jest

Add timeline links to navigation
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/utils/features.ts
Due: jest

Fix sidebar reducer test
  app/soapbox/reducers/__tests__/sidebar-test.js
Due: lint-js, jest

Add tests for WhoToFollowPanel
  app/soapbox/features/ui/components/__tests__/who-to-follow-panel.test.tsx
Due: jest

typescript
  app/soapbox/features/list_timeline/index.js
  app/soapbox/features/list_timeline/index.tsx
  app/soapbox/features/lists/components/new_list_form.js
  app/soapbox/features/lists/components/new_list_form.tsx
  app/soapbox/features/lists/index.js
  app/soapbox/features/lists/index.tsx
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/list.ts
  app/soapbox/reducers/list_adder.ts
  app/soapbox/reducers/list_editor.ts
  app/soapbox/reducers/lists.js
  app/soapbox/reducers/lists.ts
Due: lint-js, jest

TimelineQueueButtonHeader: add whitespace-nowrap
  app/soapbox/components/timeline_queue_button_header.js
Due: lint-js, jest

ComposeForm: make all buttons acessible on mobile (hotfix)
  app/soapbox/features/compose/components/compose_form.js
Due: lint-js, jest

tests
  app/soapbox/reducers/__tests__/list_adder-test.js
  app/soapbox/reducers/__tests__/list_editor-test.js
Due: lint-js, jest

EmojiButtonWrapper: improve touch behavior
  app/soapbox/components/emoji-button-wrapper.tsx
Due: jest

Restore Dashboard links to navigation
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/thumb_navigation.tsx
Due: jest

Disable PreHeader
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
