Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

chore(release): 1.13.4
  CHANGELOG.md
  package.json
Due: jest

fix: set maxHeight for compose textarea. (#351)
  app/soapbox/components/autosuggest_textarea.tsx
Due: lint-js, jest

chore(release): 1.13.5
  CHANGELOG.md
  package.json
Due: jest

fix: don't capitalize profile names on profile selector (#352)
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

chore(release): 1.13.6
  CHANGELOG.md
  package.json
Due: jest

fix typo in readme
  README.md
Due: none

pleroma now can follow hashtags too
  app/soapbox/utils/features.ts
Due: lint-js, jest

Update app/soapbox/utils/features.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

docs: fix typo in readme (#362)
  README.md
Due: none

chore(release): 1.13.7
  CHANGELOG.md
  package.json
Due: jest

feat: pleroma now can follow hashtags too (#364)
  app/soapbox/utils/features.ts
Due: lint-js, jest

chore(release): 1.14.0
  CHANGELOG.md
  package.json
Due: jest

fix: authorize_interaction not being found when remote following an user
  app/soapbox/features/authorize_interaction/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/utils/accounts.ts
Due: lint-js, jest

fix: even with counts hidden we should be able to see our own followee counts
  app/soapbox/features/ui/components/profile_stats.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: remove media from account page too much network while already being available in dedicated tab
  app/soapbox/pages/profile_page.tsx
Due: lint-js, jest

feat: change fediverse icon to use asterism
  app/icons/fediverse.svg
Due: none

feat: do not show bubble navigation when no bubble timelines set
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/reducers/instance.ts
Due: lint-js, jest

fix: authorize_interaction not being found when remote following an user (#366)
  app/soapbox/features/authorize_interaction/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/utils/accounts.ts
Due: lint-js, jest

fix: even with counts hidden we should be able to see our own followee counts (#367)
  app/soapbox/features/ui/components/profile_stats.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: remove media from account page too much network while already being available in dedicated tab (#368)
  app/soapbox/pages/profile_page.tsx
Due: lint-js, jest

chore(release): 1.14.1
  CHANGELOG.md
  package.json
Due: jest

feat: change fediverse icon to use asterism (#370)
  app/icons/fediverse.svg
Due: none

feat: do not show bubble navigation when no bubble timelines set (#371)
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/reducers/instance.ts
Due: lint-js, jest

chore(release): 1.15.0
  CHANGELOG.md
  package.json
Due: jest

fix: change follow button ui to prevent unwanted reflow on follow
  app/soapbox/features/ui/components/action-button.tsx
Due: lint-js, jest

feat: better action bar
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

fix: unlisted status should be shareable
  app/soapbox/components/status-action-bar.tsx
Due: lint-js, jest

feat: add page for status composition
  app/soapbox/actions/statuses.ts
  app/soapbox/components/autosuggest_textarea.tsx
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/sub_navigation.tsx
  app/soapbox/components/ui/stack/stack.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/new_status/index.tsx
  app/soapbox/features/ui/components/compose-button.tsx
  app/soapbox/locales/fr.json
  app/soapbox/pages/status_page.tsx
Due: lint-js, jest

feat: modern bottom nav
  app/soapbox/components/thumb_navigation-link.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

feat: better looking status on phone
  app/soapbox/components/status.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/placeholder/components/placeholder_status.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/pages/status_page.tsx
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

fix: change follow button ui to prevent unwanted reflow on follow (#372)
  app/soapbox/features/ui/components/action-button.tsx
Due: lint-js, jest

feat: better action bar (#373)
  app/soapbox/components/status-action-bar.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
