Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn test:lint:js

lint-sass:
  stage: lint
  script: yarn test:lint:sass

jest:
  stage: test
  script: yarn test:jest

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

public_layout/header: convert to tsx
  app/soapbox/components/ui/form/form.tsx
  app/soapbox/features/public_layout/components/header.tsx
Due: jest

public_layout/header: use "Email or username" and i18n "Forgot password?"
  app/soapbox/features/public_layout/components/header.tsx
Due: jest

Center the homepage logo
  app/soapbox/features/public_layout/components/header.tsx
Due: jest

Improve LandingPage layout
  app/soapbox/features/landing_page/index.tsx
Due: jest

Improve loading of initial data
  app/soapbox/containers/soapbox.js
Due: lint-js, jest

Use feature detection for frontendConfigurations
  app/soapbox/actions/soapbox.js
  app/soapbox/containers/soapbox.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

public_layout/header: pepe feature detection
  app/soapbox/features/public_layout/components/header.tsx
Due: jest

Restore PromoPanel
  app/soapbox/__fixtures__/spinster-soapbox.json
  app/soapbox/features/ui/components/promo_panel.js
  app/soapbox/features/ui/components/promo_panel.tsx
  app/soapbox/normalizers/soapbox/__tests__/soapbox_config-test.js
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/pages/home_page.js
Due: lint-js, jest

ErrorBoundary: clear IndexedDB too
  app/soapbox/components/error_boundary.tsx
Due: jest

Make handleShare use status.uri instead of status.url
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/features/status/components/action-bar.tsx
Due: jest

Onboarding: use a server setting instead of localStorage, fix steps when data is already present
  app/soapbox/actions/__tests__/onboarding.test.ts
  app/soapbox/actions/onboarding.ts
  app/soapbox/actions/settings.js
  app/soapbox/containers/soapbox.js
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
  app/soapbox/features/verification/registration.tsx
  app/soapbox/reducers/__tests__/onboarding.test.ts
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/onboarding.ts
Due: lint-js, jest

Onboarding: improve rendering of empty suggestions
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
Due: jest

SidebarNavigation: Do not show Bookmarks/Lists links if unauthenticated
  app/soapbox/components/sidebar-navigation.tsx
Due: jest

Lists links styling
  app/soapbox/features/lists/index.tsx
  app/soapbox/features/ui/components/column_link.js
Due: lint-js, jest

pl translation
  app/soapbox/locales/pl.json
Due: jest

Allow custom HTML snippets in build
  app/index.ejs
  docs/development/build-config.md
  webpack/shared.js
Due: lint-js, jest, docs-deploy

EmojiButtonWrapper: improve Popper positioning
  app/soapbox/components/emoji-button-wrapper.tsx
Due: jest

EmojiButtonWrapper: remove onBlur event (the desired outcome already happens with onMouseLeave)
  app/soapbox/components/emoji-button-wrapper.tsx
Due: jest

Use heart icon instead of thumb-up, fix focus ring
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/status_action_bar.tsx
Due: jest

Fix soapboxConfig propType errors
  app/soapbox/features/soapbox_config/components/site_preview.js
  app/soapbox/features/ui/index.js
Due: lint-js, jest

Make Soapbox component an FC, move console.log
  app/soapbox/containers/soapbox.js
  app/soapbox/main.tsx
  app/soapbox/utils/console.ts
Due: lint-js, jest

SoapboxMount: convert to React.FC
  app/soapbox/containers/soapbox.js
Due: lint-js, jest

Convert containers/soapbox into TSX
  app/soapbox/containers/soapbox.tsx
  app/soapbox/locales/messages.ts
Due: jest

ErrorBoundary: fix BuildConfig import
  app/soapbox/components/error_boundary.tsx
Due: jest

test-setup: mock uuid as a string
  app/soapbox/jest/test-setup.ts
Due: jest

Add basic tests to containers/soapbox
  app/soapbox/containers/__tests__/soapbox.test.js
  app/soapbox/containers/soapbox.tsx
  app/soapbox/features/external_login/components/external-login-form.tsx
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/features/onboarding/onboarding-wizard.tsx
Due: lint-js, jest

Mock IndexedDB in tests
  app/soapbox/jest/test-setup.ts
  package.json
  yarn.lock
Due: jest

Delete dysfunctional test
  app/soapbox/containers/__tests__/soapbox.test.js
Due: lint-js, jest

SoapboxMount: fix useEffect()
  app/soapbox/containers/soapbox.tsx
Due: jest

Fix useEffect() calls... whoops
  .eslintrc.js
  app/soapbox/features/auth_login/components/logout.tsx
  app/soapbox/features/external_login/components/external-login-form.tsx
  app/soapbox/features/public_layout/components/pulse.tsx
  app/soapbox/features/ui/components/promo_panel.tsx
Due: lint-js, jest

Refactor Account favicon into a button component, gets rid of console error
  app/soapbox/components/account.tsx
Due: jest

Chats propTypes fixes
  app/soapbox/features/chats/components/chat_box.js
  app/soapbox/features/chats/components/chat_window.js
Due: lint-js, jest

Notifications: use flex-none on icons
  app/soapbox/features/notifications/components/notification.tsx
Due: jest

Notifications: refactor placeholders loading state
  app/soapbox/features/notifications/index.js
Due: lint-js, jest

Notifications: typofix
  app/soapbox/features/notifications/index.js
Due: lint-js, jest

Reimplement ScrollableList with Virtuoso
  app/soapbox/components/scrollable_list.js
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

ScrollableList: fix empty children
  app/soapbox/components/scrollable_list.tsx
Due: jest

TypeScript, FC
  app/soapbox/components/list.js
  app/soapbox/components/load_more.js
  app/soapbox/components/load_more.tsx
  app/soapbox/components/more_follows.js
  app/soapbox/components/more_follows.tsx
  app/soapbox/components/progress_bar.js
  app/soapbox/components/progress_bar.tsx
  app/soapbox/components/progress_circle.js
  app/soapbox/components/progress_circle.tsx
Due: lint-js, jest

[CH] Agrandissement du chat
  app/styles/chats.scss
  webpack/shared.js
Due: lint-js, lint-sass, jest

[REM] Remove husky
  .husky/.gitignore
  .husky/pre-commit
  app/styles/chats.scss
Due: lint-sass

Path conditions:
  lint-js: any of: **/*.js, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
