Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Move dependencies
  package.json
Due: jest

Clean up `me` usage
  app/soapbox/api.ts
  app/soapbox/features/status/components/action-bar.tsx
  app/soapbox/features/ui/components/profile-dropdown.tsx
  app/soapbox/features/ui/components/sign_up_panel.tsx
  app/soapbox/reducers/accounts.ts
Due: jest

Add text color for columns
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/column/column.tsx
Due: jest

Display a thread loading state
  app/soapbox/features/status/index.tsx
Due: jest

Add tests for LoginForm
  app/soapbox/features/auth_login/components/__tests__/login_form.test.js
  app/soapbox/features/auth_login/components/login_form.js
  jest.config.js
Due: lint-js, jest

Convert ThreadStatus to tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/status_action_bar.tsx
  app/soapbox/features/status/components/thread-status.tsx
  app/soapbox/features/status/components/thread_status.js
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Fix sensitive content bugs
  app/soapbox/components/media_gallery.js
  app/soapbox/components/ui/button/useButtonStyles.ts
  app/styles/components/spoiler-button.scss
Due: lint-js, lint-sass, jest

Convert DetailedStatus to tsx, pretty much
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/containers/detailed_status_container.js
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

StatusInteractionBar: convert to tsx and React.FC
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/features/status/components/status_interaction_bar.js
Due: lint-js, jest

styles
  app/soapbox/components/birthday_reminders.js
  app/soapbox/components/status.tsx
  app/soapbox/components/ui/modal/modal.tsx
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/features/ui/components/reactions_modal.js
Due: lint-js, jest

Setup for Test Coverage badge
  .gitignore
  jest.config.js
Due: lint-js, jest

Add tests for Avatar
  app/soapbox/components/still_image.js
  app/soapbox/components/ui/avatar/__tests__/avatar.test.tsx
Due: lint-js, jest

Improve tests for Button
  app/soapbox/components/ui/button/__tests__/button.test.tsx
  app/soapbox/components/ui/button/button.tsx
  app/soapbox/components/ui/icon/icon.tsx
Due: jest

Add test for Emoji
  app/soapbox/components/ui/emoji/__tests__/emoji.test.tsx
Due: jest

Refactor VerificationBadge
  app/soapbox/components/verification_badge.tsx
Due: jest

Upgrade Jest to v27.5, remove jest-transform-stub, add a custom transformer
  jest.config.js
  jest/assetTransformer.js
  package.json
  yarn.lock
Due: lint-js, jest

Upgrade other jest-related packages
  package.json
  yarn.lock
Due: jest

Add cross-env again, so `yarn test` actually works without environment variables
  package.json
  yarn.lock
Due: jest

LandingPage: conditional registration flow
  app/soapbox/features/auth_login/components/registration_form.js
  app/soapbox/features/landing_page/__tests__/landing_page-test.tsx
  app/soapbox/features/landing_page/index.tsx
  app/soapbox/jest/test-helpers.tsx
  app/soapbox/utils/__tests__/features-test.js
  app/soapbox/utils/features.ts
Due: lint-js, jest

Enable the ServiceWorker
  app/soapbox/main.js
  webpack/production.js
Due: lint-js, jest

tsconfig: enable esModuleInterop
  tsconfig.json
Due: jest

Fix landing_page test filename
  app/soapbox/features/landing_page/__tests__/landing_page.test.tsx
Due: jest

update snapshot
  app/soapbox/components/ui/column/__tests__/__snapshots__/column.test.js.snap
Due: jest

Layout: convert to tsx, use react-stickynode again
  app/soapbox/components/ui/layout/layout.tsx
  package.json
  yarn.lock
Due: jest

Try using react-sticky-box instead of react-stickynode
  app/soapbox/components/ui/layout/layout.tsx
  package.json
  yarn.lock
Due: jest

Jest: transpile react-sticky-box
  jest.config.js
Due: lint-js, jest

next
  app/soapbox/components/attachment_list.js
  app/soapbox/components/attachment_list.tsx
Due: lint-js, jest

Add tests for Search
  app/soapbox/components/__tests__/autosuggest_emoji.test.js
  app/soapbox/components/account.tsx
  app/soapbox/components/autosuggest_input.js
  app/soapbox/features/compose/components/__tests__/search.test.tsx
  app/soapbox/jest/test-setup.ts
Due: lint-js, jest

Add simple test for FormActions
  app/soapbox/components/ui/form-actions/__tests__/form-actions.test.tsx
Due: jest

Add tests for Modal
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/components/ui/modal/__tests__/modal.test.tsx
  app/soapbox/components/ui/modal/modal.tsx
Due: jest

Refactor Emoji component, add more comprehensive tests
  app/soapbox/components/ui/emoji/__tests__/emoji.test.tsx
  app/soapbox/components/ui/emoji/emoji.tsx
Due: jest

Add tests for TrendsPanel
  app/soapbox/components/hashtag.js
  app/soapbox/features/ui/components/__tests__/trends-panel.test.tsx
Due: lint-js, jest

Use custom SvgIcon component wrapper around InlineSVG
  app/soapbox/components/sidebar-navigation-link.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/status-action-button.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/icon-button/icon-button.tsx
  app/soapbox/components/ui/icon/icon.tsx
  app/soapbox/components/ui/icon/svg-icon.tsx
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/features/account/components/header.js
  app/soapbox/features/compose/components/search.tsx
  app/soapbox/features/developers/developers_menu.js
Due: lint-js, jest

Fix typo in confirmation modal
  app/soapbox/features/ui/components/confirmation_modal.js
Due: lint-js, jest

Missing description modal
  app/soapbox/features/direct_timeline/index.js
  app/soapbox/features/ui/components/missing_description_modal.js
  app/soapbox/features/ui/components/missing_description_modal.tsx
  app/soapbox/locales/en-Shaw.json
  app/soapbox/locales/he.json
  app/soapbox/locales/pl.json
  app/soapbox/locales/zh-CN.json
Due: lint-js, jest

MissingDescriptionModal to functional component
  app/soapbox/features/ui/components/missing_description_modal.tsx
Due: jest

well, fix confirmation modal after fixing a typo
  app/soapbox/actions/compose.js
  app/soapbox/features/ui/components/confirmation_modal.js
Due: lint-js, jest

reply mentions modalto tsx
  app/soapbox/features/compose/containers/reply_mentions_container.js
  app/soapbox/features/ui/components/reactions_modal.js
  app/soapbox/features/ui/components/reactions_modal.tsx
  app/soapbox/features/ui/components/reply_mentions_modal.js
  app/soapbox/features/ui/components/reply_mentions_modal.tsx
  app/soapbox/reducers/compose.js
Due: lint-js, jest

ReplyMentions component to ts
  app/soapbox/components/media_gallery.js
  app/soapbox/components/status.tsx
  app/soapbox/features/compose/components/reply_mentions.js
  app/soapbox/features/compose/components/reply_mentions.tsx
Due: lint-js, jest

Dark styles for select component
  app/soapbox/components/ui/select/select.js
Due: lint-js, jest
