Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

[FIX] Fix translation tone
  app/soapbox/locales/fr.json
Due: jest

[REM] Remove useless onboarding setting
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/actions/settings.ts
  app/soapbox/features/preferences/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

Bump version
  package.json
Due: jest

Edit installation link
  README.md
Due: none

Update README.md
  README.md
Due: none

Add informations about the instance logo
  docs/customization.md
Due: docs-deploy

Update customization.md
  docs/customization.md
Due: docs-deploy

modified: app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/components/ui/layout/layout.tsx
Due: lint-js, jest

Maj version name
  package.json
Due: jest

[FIX] Fix crash when adding footer link
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

[FIX] Fix missing translation in directory + fix wrong text when yesterday
  app/soapbox/features/directory/components/account_card.tsx
  app/soapbox/features/directory/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[FIX] Fix poll translation in french
  app/soapbox/locales/fr.json
Due: jest

[ADD] Add support for custom emoji reaction (misskey for example, and probably akkoma itself)
  app/soapbox/components/account.tsx
  app/soapbox/components/ui/emoji-react/emoji-react.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/features/ui/components/reactions_modal.tsx
  app/soapbox/normalizers/notification.ts
  app/soapbox/reducers/user_lists.ts
  app/soapbox/utils/emoji_reacts.ts
Due: lint-js, jest

[FIX] Fix some pin related translations
  app/soapbox/locales/fr.json
Due: jest

Update fr.json
  app/soapbox/locales/fr.json
Due: jest

[FIX] Fix some pin related translations (#105)
  app/soapbox/locales/fr.json
Due: jest

[ADD] Add support for custom emoji reaction (misskey for example, and probably akkoma itself) (#103)
  app/soapbox/components/account.tsx
  app/soapbox/components/ui/emoji-react/emoji-react.tsx
  app/soapbox/components/ui/index.ts
  app/soapbox/features/notifications/components/notification.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/features/ui/components/reactions_modal.tsx
  app/soapbox/normalizers/notification.ts
  app/soapbox/reducers/user_lists.ts
  app/soapbox/utils/emoji_reacts.ts
Due: lint-js, jest

[FIX] Fix poll translation in french (#102)
  app/soapbox/locales/fr.json
Due: jest

[FIX] Fix crash when adding footer link (#100)
  app/soapbox/features/soapbox_config/index.tsx
Due: lint-js, jest

[FIX] Fix missing translation in directory + fix wrong text when yesterday (#101)
  app/soapbox/features/directory/components/account_card.tsx
  app/soapbox/features/directory/index.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[FIX] Hide scheduledStatuses button since it doesnt work on pleroma
  app/soapbox/utils/features.ts
Due: lint-js, jest

[FIX] Fix some french translations about scheduled posts
  app/soapbox/locales/fr.json
Due: jest

[FIX] Fix crash when deleting scheduled post
  app/soapbox/features/scheduled_statuses/builder.tsx
  app/soapbox/features/scheduled_statuses/components/scheduled_status.tsx
Due: lint-js, jest

Add translation button
  app/soapbox/features/status/components/detailed-status.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Direct link to `mastodon.conf` to Mangane repo
  README.md
Due: none

Remove confusing reference to Soapbox
  README.md
Due: none

Naming consitency Mangane/Mangane FE
  README.md
Due: none

Move description before screenshots + Wording
  README.md
Due: none

Add Tailwind credit
  README.md
Due: none

Correct first capital for Mangane
  README.md
Due: none

Licenses and credits wording
  README.md
Due: none

Pleroma/Akkoma install instruction wording
  README.md
Due: none

Updated screenshots
  docs/admin-ui-1.png
  docs/admin-ui-2.png
  docs/ui-dark.png
  docs/ui-light.png
  docs/ui-mixed.png
Due: docs-deploy

Updated images
  README.md
Due: none

Remove obsolete screenshots
  admin-fe.png
Due: none

Remove obsolete screenshots
  admin-fe2.png
Due: none

Remove obsolete screenshots
  ui-dark.png
Due: none

Remove obsolete screenshots
  ui-mixed.png
Due: none

Remove obsolete screenshots
  ui-light.png
Due: none

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
