Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Normalize Attachment entities as Immutable.Record
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/__tests__/statuses-test.js
Due: lint-js, jest

Parse Mentions as Immutable.Record
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/utils/__tests__/accounts-test.js
  app/soapbox/utils/accounts.ts
Due: lint-js, jest

Instance normalizer: remove unneeded line
  app/soapbox/normalizers/instance.js
Due: lint-js, jest

Revert "PollContainer: don't pass `me` as a prop"
  app/soapbox/components/poll.js
  app/soapbox/containers/poll_container.js
Due: lint-js, jest

Normalize poll emoji
  app/soapbox/__fixtures__/pleroma-status-with-poll-with-emojis.json
  app/soapbox/actions/importer/index.js
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/components/poll.js
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/statuses.js
  app/soapbox/utils/normalizers.js
  package.json
  yarn.lock
Due: lint-js, jest

Rename map --> entity
  app/soapbox/normalizers/status.ts
Due: jest

Normalize chat in reducer, not action
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/reducers/chats.js
Due: lint-js, jest

Create Notification normalizer
  app/soapbox/normalizers/__tests__/notification-test.js
  app/soapbox/normalizers/notification.ts
Due: lint-js, jest

Convert Instance normalizer into TypeScript
  app/soapbox/normalizers/instance.ts
Due: jest

StatusRecord: let account be null by default
  app/soapbox/normalizers/status.ts
Due: jest

Refactor Notifications reducer with Immutable.Record, start rewriting tests
  app/soapbox/reducers/__tests__/notifications-test.js
  app/soapbox/reducers/notifications.js
Due: lint-js, jest

Refactor applyActions() into test_helpers.js
  app/soapbox/reducers/__tests__/notifications-test.js
  app/soapbox/test_helpers.js
Due: lint-js, jest

Refactor some reducers with Immutable.Record
  app/soapbox/reducers/__tests__/admin-test.js
  app/soapbox/reducers/__tests__/alerts-test.js
  app/soapbox/reducers/__tests__/meta-test.js
  app/soapbox/reducers/admin.js
  app/soapbox/reducers/admin_log.js
  app/soapbox/reducers/alerts.js
  app/soapbox/reducers/meta.js
  app/soapbox/reducers/notifications.js
Due: lint-js, jest

Attachment: add missing internal fields
  app/soapbox/normalizers/status.ts
Due: jest

Remove importer/normalizer.js
  app/soapbox/actions/importer/index.js
  app/soapbox/actions/importer/normalizer.js
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/emoji.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/accounts.js
Due: lint-js, jest

Account normalizer emojification tests
  app/soapbox/__fixtures__/account-with-emojis.json
  app/soapbox/normalizers/__tests__/account-test.js
Due: lint-js, jest

Status normalizer: revert update() refactor
  app/soapbox/normalizers/status.ts
Due: jest

Test account.moved
  app/soapbox/__fixtures__/account-moved.json
  app/soapbox/reducers/__tests__/accounts-test.js
Due: lint-js, jest

Normalizers: add jsdoc heading
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/emoji.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/normalizers/notification.ts
  app/soapbox/normalizers/status.ts
Due: jest

Break Mention normalizer into its own module (with tests)
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/__tests__/mention-test.js
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/mention.ts
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Move Poll normalizer into its own module
  app/soapbox/normalizers/__tests__/poll-test.js
  app/soapbox/normalizers/poll.ts
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Break Attachment normalizer into its own module
  app/soapbox/normalizers/__tests__/attachment-test.js
  app/soapbox/normalizers/attachment.ts
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Normalize Card entity
  app/soapbox/__fixtures__/status-with-card.json
  app/soapbox/normalizers/__tests__/card-test.js
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/card.ts
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Fix: Delete end edit on Markdown post loses Markdown setting
  app/soapbox/actions/statuses.js
  app/soapbox/reducers/compose.js
Due: lint-js, jest

configureStore: typescript conversion
  app/soapbox/store/configureStore.js
  app/soapbox/store/configureStore.ts
  package.json
  yarn.lock
Due: lint-js, jest

Normalize Pleroma account location
  app/soapbox/normalizers/account.ts
Due: jest

soapbox/store/configureStore --> soapbox/store, add custom Hooks
  app/soapbox/containers/soapbox.js
  app/soapbox/hooks/index.ts
  app/soapbox/hooks/useAppSelector.ts
  app/soapbox/store.ts
  app/soapbox/store/configureStore.ts
Due: lint-js, jest

api: convert to typescript
  app/soapbox/api.ts
Due: jest

reducers/instance: typescript conversion
  app/soapbox/reducers/instance.ts
Due: jest

WIP: reducer typescript
  app/soapbox/actions/instance.ts
  app/soapbox/components/badge.tsx
  app/soapbox/reducers/index.ts
  app/soapbox/reducers/instance.js
  app/soapbox/storage/kv_store.ts
  package.json
  tsconfig.json
  types/redux-immutable/index.d.ts
  yarn.lock
Due: lint-js, jest

Mock API with MSW
  app/soapbox/__mocks__/api.js
  app/soapbox/__tests__/api.js
  app/soapbox/actions/__tests__/preload-test.js
  app/soapbox/actions/__tests__/statuses-test.js
  app/soapbox/msw.js
  app/soapbox/test_helpers.js
  app/soapbox/test_setup.js
  package.json
  yarn.lock
Due: lint-js, jest

gitignore: add slashes
  .gitignore
Due: none

Suggestions: limit to 50 results
  app/soapbox/actions/suggestions.js
Due: lint-js, jest

Fix move notification crashing Notifications page
  app/soapbox/__fixtures__/pleroma-notification-move.json
  app/soapbox/reducers/__tests__/notifications-test.js
  app/soapbox/reducers/notifications.js
Due: lint-js, jest

Delete+Redraft: drop attachments with integer IDs from Pleroma
  app/soapbox/__fixtures__/pleroma-status-deleted.json
  app/soapbox/actions/statuses.js
  app/soapbox/reducers/__tests__/compose-test.js
  app/soapbox/reducers/compose.js
  app/soapbox/utils/__tests__/numbers-test.js
  app/soapbox/utils/__tests__/status-test.js
  app/soapbox/utils/features.js
  app/soapbox/utils/numbers.js
  app/soapbox/utils/status.js
Due: lint-js, jest

Export Record entities
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/attachment.ts
  app/soapbox/normalizers/card.ts
  app/soapbox/normalizers/emoji.ts
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/normalizers/mention.ts
  app/soapbox/normalizers/notification.ts
  app/soapbox/normalizers/poll.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/reducers/index.js
Due: lint-js, jest

Call fromJS in all normalizers
  app/soapbox/normalizers/__tests__/account-test.js
  app/soapbox/normalizers/__tests__/attachment-test.js
  app/soapbox/normalizers/__tests__/card-test.js
  app/soapbox/normalizers/__tests__/instance-test.js
  app/soapbox/normalizers/__tests__/mention-test.js
  app/soapbox/normalizers/__tests__/notification-test.js
  app/soapbox/normalizers/__tests__/poll-test.js
  app/soapbox/normalizers/__tests__/status-test.js
  app/soapbox/normalizers/account.ts
  app/soapbox/normalizers/attachment.ts
  app/soapbox/normalizers/card.ts
  app/soapbox/normalizers/emoji.ts
  app/soapbox/normalizers/instance.ts
  app/soapbox/normalizers/mention.ts
  app/soapbox/normalizers/notification.ts
  app/soapbox/normalizers/poll.ts
  app/soapbox/normalizers/status.ts
Due: lint-js, jest

Don't call fromJS in some reducers
  app/soapbox/reducers/accounts.js
  app/soapbox/reducers/polls.js
Due: lint-js, jest

Fix comment
  app/soapbox/normalizers/attachment.ts
Due: jest

Update browserlist
  yarn.lock
Due: jest
