Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

ScrollableList: add placeholder footer, fix "empty" state
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

[CH] Rename soapbox to mangane (#6)
  README.md
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/ui/components/link_footer.js
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
  package.json
Due: lint-js, jest

[CH] Renommage en Mangane
  app/soapbox/features/ui/components/link_footer.js
  app/soapbox/locales/fr.json
  app/styles/chats.scss
  package.json
Due: lint-js, lint-sass, jest

[CH] changement fil Fediverse pour fil Découvrir (#1)
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
Due: jest

Onboarding styles, I guess
  app/soapbox/features/onboarding/onboarding-wizard.tsx
Due: lint-js, jest

[CH] Gif picker
  app/soapbox/actions/gifs.js
  app/soapbox/components/status.js
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/gif_picker_dropdown.js
  app/soapbox/features/compose/containers/gif_picker_dropdown_container.js
  app/soapbox/features/status/components/card.js
  app/soapbox/features/status/components/card_gif.js
  app/soapbox/locales/defaultMessages.json
  app/soapbox/locales/pl.json
  app/soapbox/reducers/settings.js
  app/styles/application.scss
  app/styles/gif_picker.scss
  docs/store.md
  webpack/shared.js
  yarn.lock
Due: lint-js, lint-sass, jest, docs-deploy

Update Polish translation
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/locales/pl.json
Due: lint-js, jest

yarn lint:js
  app/soapbox/components/progress_bar.tsx
Due: lint-js, jest

ScrollableList: replace margins with padding
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/status_list.js
  app/soapbox/features/admin/user_index.js
  app/soapbox/features/blocks/index.tsx
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
  app/soapbox/features/mutes/index.tsx
  app/soapbox/features/ui/components/birthdays_modal.tsx
  app/soapbox/features/ui/components/favourites_modal.js
  app/soapbox/features/ui/components/mentions_modal.js
  app/soapbox/features/ui/components/reactions_modal.tsx
  app/soapbox/features/ui/components/reblogs_modal.js
Due: lint-js, jest

ScrollableList: render a spinner if placeholder isn't provided
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

ScrollableList: render emptyMessage inside the PullToRefresh
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

ScrollableList: Don't support `autoloadMore` for now This setting allowed disabling endless scrolling, and would display a clickable "load more" button at the bottom of the feed.
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

Fix Notifications pagination
  app/soapbox/features/notifications/index.js
Due: lint-js, jest

DELETE INTERSECTION OBSERVER ARTICLE
  app/soapbox/actions/height_cache.js
  app/soapbox/components/intersection_observer_article.js
  app/soapbox/containers/intersection_observer_article_container.js
  app/soapbox/features/ui/index.js
  app/soapbox/features/ui/util/get_rect_from_entry.js
  app/soapbox/features/ui/util/intersection_observer_wrapper.js
  app/soapbox/reducers/__tests__/height_cache-test.js
  app/soapbox/reducers/height_cache.js
  app/soapbox/reducers/index.ts
Due: lint-js, jest

ScrollableList: use Virtuoso component types
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

Layout: add breathing room to bottom of UI, fixes #880
  app/soapbox/components/ui/layout/layout.tsx
Due: lint-js, jest

Use ScrollableList in threads
  app/soapbox/features/status/index.tsx
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

[Fix] typo in shared file
  webpack/shared.js
Due: lint-js, jest

[CH] Version name in lowercase
  package.json
Due: jest

[REM] mentions to base project in readme
  README.md
Due: none

[FIX] Fix some translations
  app/soapbox/actions/gifs.js
  app/soapbox/features/compose/components/gif_picker_dropdown.js
  app/soapbox/features/compose/containers/gif_picker_dropdown_container.js
  app/soapbox/features/status/components/card_gif.js
  app/soapbox/locales/fr.json
  app/soapbox/reducers/settings.js
Due: lint-js, jest

Features: extensive documentation
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/sidebar_menu.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Features: sort keys alphabetically
  app/soapbox/utils/features.ts
Due: lint-js, jest

ScrollableList: don't call onLoadMore() unless it hasMore
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

WIP Paginated Context API
  app/soapbox/actions/statuses.js
  app/soapbox/api.ts
  app/soapbox/features/status/index.tsx
  app/soapbox/utils/features.ts
Due: lint-js, jest

Use PlaceholderStatus in paginated thread
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Add search Icon in tabs_bar, remove search from thumbs bar
  app/soapbox/components/thumb_navigation.js
  app/soapbox/features/ui/components/tabs_bar.js
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

Add local et fediverse timeline access in thumb menu
  app/soapbox/components/thumb_navigation.js
  app/styles/components/icon.scss
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

Fix Gif picker appearance
  app/styles/gif_picker.scss
Due: lint-sass

Convert a bunch of files to TypeScript
  app/soapbox/base_polyfills.ts
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/extra_polyfills.ts
  app/soapbox/features/onboarding/steps/avatar-selection-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/globals.js
  app/soapbox/globals.ts
  app/soapbox/is_mobile.js
  app/soapbox/is_mobile.ts
  app/soapbox/precheck.ts
  app/soapbox/reducers/meta.ts
  app/soapbox/rtl.ts
  app/soapbox/settings.ts
  app/soapbox/store.ts
  app/soapbox/utils/accounts.ts
  app/soapbox/utils/favicon_service.ts
  app/soapbox/utils/greentext.ts
  app/soapbox/utils/html.ts
  app/soapbox/utils/numbers.js
  app/soapbox/utils/numbers.tsx
  app/soapbox/utils/quirks.js
  app/soapbox/utils/quirks.ts
  app/soapbox/utils/resize_image.ts
  app/soapbox/utils/rich_content.ts
  app/soapbox/utils/soapbox_prop_types.ts
  app/soapbox/utils/state.js
  app/soapbox/utils/state.ts
  app/soapbox/utils/static.js
  app/soapbox/utils/static.ts
  app/soapbox/utils/status.ts
  app/soapbox/utils/tiny_post_html_processor.ts
  package.json
  yarn.lock
Due: lint-js, jest

Convert Redux custom middleware to TypeScript
  app/soapbox/middleware/errors.js
  app/soapbox/middleware/errors.ts
  app/soapbox/middleware/sounds.ts
Due: lint-js, jest

Allow editing/deleting lists from Lists page
  app/soapbox/features/lists/index.tsx
Due: lint-js, jest

Restore Patron features, context to TSX
  app/soapbox/__fixtures__/patron-instance.json
  app/soapbox/__fixtures__/patron-user.json
  app/soapbox/components/badge.tsx
  app/soapbox/components/progress_bar.tsx
  app/soapbox/features/ui/components/funding_panel.js
  app/soapbox/features/ui/components/funding_panel.tsx
  app/soapbox/normalizers/account.ts
  app/soapbox/pages/home_page.js
  app/soapbox/reducers/patron.js
  app/soapbox/reducers/patron.ts
  app/soapbox/selectors/index.ts
  app/styles/application.scss
  app/styles/components/badge.scss
  app/styles/donations.scss
Due: lint-js, lint-sass, jest

SidebarNavigation: remove unused ImmutableMap import
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

Add "Donor" badge
  app/soapbox/actions/admin.js
  app/soapbox/components/badge.tsx
  app/soapbox/components/profile_hover_card.js
  app/soapbox/features/account/components/header.js
  app/soapbox/features/account_timeline/components/header.js
  app/soapbox/features/account_timeline/containers/header_container.js
  app/soapbox/features/ui/components/profile_info_panel.js
  app/soapbox/normalizers/account.ts
  app/soapbox/reducers/accounts.ts
Due: lint-js, jest

Improve dropdown menu styles
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/components/ui/icon/svg-icon.tsx
  app/soapbox/features/account/components/header.js
Due: lint-js, jest

Modal: fix pager style
  app/styles/components/modal.scss
Due: lint-sass

VideoModal: convert to TSX
  app/soapbox/features/ui/components/video_modal.js
  app/soapbox/features/ui/components/video_modal.tsx
Due: lint-js, jest

Fix VideoModal, remove Video close button
  app/soapbox/features/ui/components/video_modal.tsx
  app/soapbox/features/video/index.js
Due: lint-js, jest
