Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

chore(release): 1.12.11
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.12
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.13
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.14
  CHANGELOG.md
  package.json
Due: jest

chore: update release system
  .github/workflows/release.yml
Due: none

chore(release): 1.12.15
  CHANGELOG.md
  package.json
Due: jest

chore(release): 1.12.16
  CHANGELOG.md
  package.json
Due: jest

chore(release): v1.12.0
  package.json
Due: jest

refactor: remove Ads and try to optimize status render
  .eslintrc.js
  app/soapbox/components/status-hover-card.tsx
  app/soapbox/components/status-media.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/features/ads/components/ad.tsx
  app/soapbox/features/ads/providers/index.ts
  app/soapbox/features/ads/providers/rumble.ts
  app/soapbox/features/ads/providers/soapbox-config.ts
  app/soapbox/features/ui/components/bundle.tsx
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/soapbox/ad.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/types/soapbox.ts
  package.json
  yarn.lock
Due: lint-js, jest

fix: update new toots overlay position
  app/soapbox/components/scroll-top-button.tsx
  package.json
Due: lint-js, jest

refactor: optimize thread lifecycle
  .eslintrc.js
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

feat: show placeholder when loading replies
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

fix: update new toots overlay position #344
  app/soapbox/components/scroll-top-button.tsx
  package.json
Due: lint-js, jest

feat: add placeholder when loading descendants #345
  .eslintrc.js
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

chore(release): 1.13.0
  CHANGELOG.md
  package.json
Due: jest

fix: remove unecessary spacing bewteen posts
  app/soapbox/components/status_list.tsx
Due: lint-js, jest

fix: clicking on follow button in directory redirect to profile
  app/soapbox/features/directory/components/account_card.tsx
  app/soapbox/features/directory/index.tsx
Due: lint-js, jest

fix: remove blank on suggested profiles
  app/soapbox/components/status_list.tsx
Due: lint-js, jest

fix: menu is now coming from the right
  app/soapbox/components/sidebar_menu.tsx
  app/styles/components/sidebar-menu.scss
Due: lint-js, lint-sass, jest

fix: some mentions are not detected by backend
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

fix: clicking on follow button in directory redirect to profile #347
  app/soapbox/features/directory/components/account_card.tsx
  app/soapbox/features/directory/index.tsx
Due: lint-js, jest

fix: remove unecessary spacing bewteen posts #346
  app/soapbox/components/status_list.tsx
Due: lint-js, jest

chore(release): 1.13.1
  CHANGELOG.md
  package.json
Due: jest

fix: some mentions are not detected by backend (#349)
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

chore(release): 1.13.2
  CHANGELOG.md
  package.json
Due: jest

fix: this is workign again
  app/soapbox/components/status_list.tsx
Due: lint-js, jest

refactor: remove Ads and try to optimize status render (#343)
  app/soapbox/components/status-hover-card.tsx
  app/soapbox/components/status-media.tsx
  app/soapbox/components/status.tsx
  app/soapbox/components/status_list.tsx
  app/soapbox/features/ads/components/ad.tsx
  app/soapbox/features/ads/providers/index.ts
  app/soapbox/features/ads/providers/rumble.ts
  app/soapbox/features/ads/providers/soapbox-config.ts
  app/soapbox/features/ui/components/bundle.tsx
  app/soapbox/normalizers/index.ts
  app/soapbox/normalizers/soapbox/ad.ts
  app/soapbox/normalizers/soapbox/soapbox_config.ts
  app/soapbox/types/soapbox.ts
  package.json
  yarn.lock
Due: lint-js, jest

chore(release): 1.13.3
  CHANGELOG.md
  package.json
Due: jest

fix: remove blur on image to avoid memory overload
  app/soapbox/components/media_gallery.js
  app/soapbox/features/account_gallery/components/media_item.tsx
  app/soapbox/features/status/components/card.tsx
  app/soapbox/features/video/index.js
Due: lint-js, jest

chore: wip
  app/soapbox/components/mention.tsx
  app/soapbox/components/status_content.tsx
Due: lint-js, jest

[#350] Set maxHeight for compose textarea.
  app/soapbox/components/autosuggest_textarea.tsx
Due: lint-js, jest

don't capitalize profile names
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

Revert "feat: add placeholder when loading descendants #345"
  .eslintrc.js
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
