Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

lint-js:
  stage: lint
  script: yarn lint:js

lint-sass:
  stage: lint
  script: yarn lint:sass

jest:
  stage: test
  script: yarn test:coverage

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
  - apk add curl
  script:
  - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline

Refactor dropdown into 'addon' on Input
  app/soapbox/components/ui/input/input.tsx
  app/soapbox/components/ui/phone-input/country-code-dropdown.tsx
  app/soapbox/components/ui/phone-input/phone-input.tsx
Due: lint-js, jest

Format number after changing country code
  app/soapbox/components/ui/phone-input/phone-input.tsx
Due: lint-js, jest

Add disabled state when changing feed filter
  app/soapbox/actions/timelines.ts
  app/soapbox/features/feed-filtering/feed-carousel.tsx
Due: lint-js, jest

Apply suggestions
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/column/column.tsx
  app/soapbox/features/bookmarks/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/direct_timeline/index.tsx
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
  app/soapbox/features/hashtag_timeline/index.js
  app/soapbox/features/home_timeline/index.tsx
  app/soapbox/features/list_timeline/index.tsx
  app/soapbox/features/pinned_statuses/index.js
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/status/index.tsx
  app/soapbox/features/test_timeline/index.tsx
Due: lint-js, jest

Minor visual improvements
  app/soapbox/components/autosuggest_textarea.tsx
  app/soapbox/features/account_gallery/index.tsx
  app/soapbox/features/auth_login/components/login_form.tsx
  app/soapbox/features/auth_login/components/otp_auth_form.tsx
  app/soapbox/features/auth_login/components/password_reset_confirm.tsx
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/feed-suggestions/feed-suggestions.tsx
  app/soapbox/features/onboarding/steps/bio-step.tsx
  app/soapbox/features/onboarding/steps/cover-photo-selection-step.tsx
  app/soapbox/features/onboarding/steps/display-name-step.tsx
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
  app/soapbox/features/status/components/status-interaction-bar.tsx
  app/soapbox/features/verification/registration.tsx
  app/soapbox/features/verification/steps/age-verification.tsx
  app/soapbox/features/verification/steps/email-verification.tsx
  app/soapbox/features/verification/steps/sms-verification.tsx
  app/styles/accounts.scss
Due: lint-js, lint-sass, jest

Workaround for filtering on latest Mastodon
  app/soapbox/actions/filters.ts
  app/soapbox/normalizers/status.ts
  app/soapbox/utils/features.ts
Due: lint-js, jest

Announcements: Fix emoji url
  app/soapbox/components/announcements/emoji.tsx
Due: lint-js, jest

Fix notifications loading
  app/soapbox/features/notifications/index.tsx
Due: lint-js, jest

Fix: markdown dropped from quote replies
  app/soapbox/components/quoted-status.tsx
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Fix: post content is not truncated or wrapped in reply box
  app/soapbox/features/compose/components/reply_indicator.tsx
Due: lint-js, jest

Show quoted post when editing a quote
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Query account on hover for follow stats
  app/soapbox/actions/importer/index.ts
  app/soapbox/actions/suggestions.ts
  app/soapbox/components/hover_ref_wrapper.tsx
Due: lint-js, jest

Fix test
  app/soapbox/actions/__tests__/suggestions.test.ts
Due: lint-js, jest

refactor
  app/soapbox/actions/importer/index.ts
Due: lint-js, jest

Docs: add "Developing a backend"
  docs/development/developing-backend.md
Due: docs-deploy

Improve README explanation and local dev instructions
  README.md
Due: none

Add VSCode recommended extensions
  .vscode/extensions.json
Due: jest

Rewrite contributing docs
  docs/contributing.md
Due: docs-deploy

Remove outdated Redux store docs
  README.md
  docs/store.md
Due: docs-deploy

Add test for 'fetchMe' action
  app/soapbox/actions/__tests__/me.test.ts
  app/soapbox/actions/me.ts
Due: lint-js, jest

Add test for 'patchMe' action
  app/soapbox/actions/__tests__/me.test.ts
Due: lint-js, jest

Rewrite customization guide
  README.md
  docs/customization.md
Due: docs-deploy

Docs: update docs sections from README
  docs/development/how-it-works.md
  docs/development/live-backend.md
  docs/development/running-locally.md
Due: docs-deploy

Add object-cover to avatars in FeedSuggestions
  app/soapbox/features/feed-suggestions/feed-suggestions.tsx
Due: lint-js, jest

Hide FeedSuggestions if empty
  app/soapbox/features/feed-suggestions/feed-suggestions.tsx
Due: lint-js, jest

Ensure no cuttoff in Feed Carousel
  app/soapbox/features/feed-filtering/__tests__/feed-carousel.test.tsx
  app/soapbox/features/feed-filtering/feed-carousel.tsx
  app/soapbox/hooks/__tests__/useDimensions.test.ts
  app/soapbox/hooks/useDimensions.ts
Due: lint-js, jest

[CH] Agrandissement du chat
  app/styles/chats.scss
Due: lint-sass

[REM] Remove husky
  .husky/.gitignore
  .husky/pre-commit
  app/styles/chats.scss
Due: lint-sass

[CH] Rename soapbox to mangane (#6)
  README.md
  app/soapbox/__fixtures__/intlMessages.json
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/locales/en.json
  app/soapbox/locales/fr.json
  package.json
Due: lint-js, jest

[CH] Renommage en Mangane
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/locales/fr.json
  app/styles/chats.scss
  package.json
Due: lint-js, lint-sass, jest

[REM] mentions to base project in readme
  README.md
Due: none

Delete FUNDING.yml
  .github/FUNDING.yml
Due: none

[CH] Some translations on index view (#16)
  app/soapbox/features/auth_login/components/captcha.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

[Fix] Réglages mineurs et traductions
  app/soapbox/locales/fr.json
  app/styles/chats.scss
Due: lint-sass, jest

Display 'No chats found' in a card
  app/soapbox/features/chats/components/chat-list.tsx
Due: lint-js, jest

Chats account autosuggest fixes
  app/soapbox/components/autosuggest_input.tsx
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

Allow reusing media_attachments if editing posts
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

Fix color picker closing on toggle
  app/soapbox/features/soapbox_config/components/color-with-picker.tsx
Due: lint-js, jest

Path conditions:
  lint-js: any of: **/*.js, **/*.jsx, **/*.ts, **/*.tsx, .eslintignore, .eslintrc.js
  lint-sass: any of: **/*.scss, **/*.css, .stylelintrc.json
  jest: any of: **/*.js, **/*.json, app/soapbox/**/*, webpack/**/*, jest.config.js, package.json, yarn.lock
  docs-deploy: any of: docs/**/*
