Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

refactor: remove unused files
  app/soapbox/components/filter_bar.js
  app/soapbox/components/radio_button.tsx
  app/soapbox/components/setting_text.js
  app/soapbox/features/compose/containers/reply_indicator_container.js
  app/soapbox/features/groups/sidebar_panel/index.js
  app/soapbox/features/groups/sidebar_panel/item.js
  app/soapbox/features/groups/timeline/components/panel.js
  app/soapbox/features/home_timeline/components/column_settings.js
  app/soapbox/features/home_timeline/containers/column_settings_container.js
  app/soapbox/features/notifications/components/column_settings.js
  app/soapbox/features/notifications/components/follow_request.js
  app/soapbox/features/notifications/components/multi_setting_toggle.js
  app/soapbox/features/notifications/containers/column_settings_container.js
  app/soapbox/features/notifications/containers/follow_request_container.js
  app/soapbox/features/onboarding/steps/suggested-accounts-step.tsx
  app/soapbox/features/placeholder/components/placeholder_chat.tsx
  app/soapbox/features/public_layout/components/sonar.tsx
  app/soapbox/features/public_timeline/components/column_settings.js
  app/soapbox/features/soapbox_config/forkawesome.json
  app/soapbox/features/ui/components/navbar.tsx
  app/soapbox/locales/locale-data/co.js
  app/soapbox/locales/locale-data/oc.js
  app/soapbox/pages/empty_page.tsx
  app/soapbox/types/entities.ts
Due: lint-js, jest

refactor: rework layout to reduce clunkyness
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/ui/components/column_loading.tsx
  app/soapbox/pages/admin_page.tsx
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
  tailwind.config.js
Due: lint-js, jest

refactor: simpler scrollable list
  app/soapbox/components/load_more.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/features/placeholder/components/placeholder_status.tsx
  app/soapbox/pages/admin_page.tsx
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/empty_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
  tailwind.config.js
Due: lint-js, jest

feat: restore scrollpos
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/status.tsx
Due: lint-js, jest

feat: virtual scrolling
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/hooks/useDimensions.ts
Due: lint-js, jest

feat: reduce scrollbar stutter
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

fix: fix blank screen on loading
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

feat: infiny scroll and position restore
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

feat: its working on desktop and timelines
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

feat: precise scroll restoring
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

docs: add comments
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

fix: prevent hiding all elements
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

refactor: simpler code
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

feat: handle autoloading more
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

refactor: add missing props
  app/soapbox/components/helmet.tsx
  app/soapbox/components/pull-to-refresh.tsx
  app/soapbox/components/ui/card/card.tsx
  app/soapbox/components/ui/column/column.tsx
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

chore: ok
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/features/status/hooks/useThread.ts
  app/soapbox/features/status/index.tsx
Due: lint-js, jest

fix: better ux from waiting for approval follow button for verbose languages
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

chore: remove test code
  app/soapbox/features/ui/components/action-button.tsx
Due: lint-js, jest

fix: virtuoso is now scrolling
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/ui/layout/layout.tsx
Due: lint-js, jest

fix: desktop layout ok
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/list_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/pages/admin_page.tsx
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
Due: lint-js, jest

fix: working scroll restore
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
  tailwind.config.js
Due: lint-js, jest

fix: better ux from waiting for approval follow button for verbose la… (#459)
  app/soapbox/features/ui/components/action-button.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

chore(release): 1.21.6
  CHANGELOG.md
  package.json
Due: jest

fix: bad selector
  app/soapbox/components/scrollable_list.tsx
Due: lint-js, jest

fix: rework layout to reduce clunkyness (#460)
  app/soapbox/components/scroll-top-button.tsx
  app/soapbox/components/scrollable_list.tsx
  app/soapbox/components/sidebar-navigation.tsx
  app/soapbox/components/ui/layout/layout.tsx
  app/soapbox/components/ui/text/text.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/list_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/ui/components/column_loading.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/pages/admin_page.tsx
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
  tailwind.config.js
Due: lint-js, jest

chore(release): 1.21.7
  CHANGELOG.md
  package.json
Due: jest

fix: resolve flash on android
  app/styles/basics.scss
Due: lint-sass

chore(release): 1.21.8
  CHANGELOG.md
  package.json
Due: jest

Revert "fix: resolve flash on android"
  app/styles/basics.scss
Due: lint-sass

chore(release): 1.21.9
  CHANGELOG.md
  package.json
Due: jest

fix: add spanner on status page too
  app/soapbox/pages/status_page.tsx
Due: lint-js, jest

chore(release): 1.21.10
  CHANGELOG.md
  package.json
Due: jest

fix: layout issues after recent rework
  app/soapbox/components/ui/column/column.tsx
  app/soapbox/components/ui/widget/widget.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/ui/index.tsx
  app/soapbox/pages/admin_page.tsx
  app/soapbox/pages/default_page.tsx
  app/soapbox/pages/empty_page.tsx
  app/soapbox/pages/home_page.tsx
  app/soapbox/pages/profile_page.tsx
  app/soapbox/pages/status_page.tsx
Due: lint-js, jest
