Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:14

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn test:lint:js
  only:
    changes:
      - "**/*.js"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn test:lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:jest
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

Media: prefer V2 media API when available
  app/soapbox/actions/media.js
  app/soapbox/components/icon_button.js
  app/soapbox/features/compose/components/upload.js
  app/soapbox/utils/features.js
  app/styles/components/detailed-status.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

TabsBar: fall back to Home icon when no logo is provided
  app/soapbox/features/ui/components/tabs_bar.js
  app/styles/components/tabs-bar.scss
Due: lint-js, lint-sass, jest

PrimaryNavigation: add Search button
  app/soapbox/components/primary_navigation.js
  app/styles/components/icon.scss
  app/styles/navigation.scss
Due: lint-js, lint-sass, jest

Search: greatly improve design of standalone search section
  app/soapbox/features/search/index.js
  app/styles/components/columns.scss
  app/styles/components/search.scss
Due: lint-js, lint-sass, jest

Account: display full Follow button
  app/soapbox/components/account.js
Due: lint-js, jest

Alerts: don't dispatch empty Redux action in showAlertForError()
  app/soapbox/actions/alerts.js
Due: lint-js, jest

SidebarMenu: fix access to intl in mapDispatchToProps
  app/soapbox/components/sidebar_menu.js
Due: lint-js, jest

Add Mastodon compatibility routes, expose /conversations, display Messages tab for Mastodon
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/thumb_navigation.js
  app/soapbox/features/ui/index.js
  app/styles/components/icon.scss
Due: lint-js, lint-sass, jest

Messages: prefer DirectTimeline, but fall back to Conversations
  app/soapbox/features/ui/index.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Pleroma: mark notifications read in case Markers don't work
  app/soapbox/actions/notifications.js
  app/soapbox/utils/features.js
Due: lint-js, jest

Rotate unread notification bell icon with CSS instead of relying on a separate icon
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/thumb_navigation.js
  app/styles/components/icon.scss
Due: lint-js, lint-sass, jest

Use custom Home and Post icons
  app/icons/COPYING.md
  app/icons/home-2-filled.svg
  app/icons/home-square.svg
  app/icons/pen-add.svg
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/thumb_navigation.js
  app/soapbox/features/ui/components/tabs_bar.js
  app/soapbox/features/ui/index.js
  app/styles/components/icon.scss
  app/styles/components/tabs-bar.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Condense custom SVG icons
  app/icons/home-square.svg
  app/icons/pen-add.svg
Due: none

Shrink the custom Home icon just slightly
  app/icons/home-square.svg
Due: none

Revert "Shrink the custom Home icon just slightly"
  app/icons/home-square.svg
Due: none

Add tabler classname to custom Home icon
  app/icons/home-square.svg
Due: none

Fix icons in VerificationBadge and FilterBar
  app/soapbox/features/notifications/components/filter_bar.js
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Add tabler classname to custom Gavel icon
  app/icons/gavel.svg
Due: none

Chats: fix color of X icon in light theme
  app/styles/chats.scss
Due: lint-sass

Notifications: clean up styles
  app/soapbox/components/column.js
  app/soapbox/features/notifications/components/notification.js
  app/soapbox/features/notifications/index.js
  app/styles/components/emoji-reacts.scss
  app/styles/components/notification.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

Swap positions of Search and Messages/Chats in navigation
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/thumb_navigation.js
Due: lint-js, jest

Revert "Swap positions of Search and Messages/Chats in navigation"
  app/soapbox/components/primary_navigation.js
  app/soapbox/components/thumb_navigation.js
Due: lint-js, jest

BundleErrorColumn: fix icon and rounded corners
  app/soapbox/features/ui/components/bundle_column_error.js
  app/styles/components/columns.scss
Due: lint-js, lint-sass, jest

Fix accordion arrow icons
  app/styles/components/accordion.scss
Due: lint-sass

MoreFollows: hide if not federating
  app/soapbox/components/more_follows.js
Due: lint-js, jest

Improve account headers
  app/soapbox/features/account/components/header.js
  app/soapbox/pages/profile_page.js
  app/styles/components/account-header.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

fix breakpoint
  app/styles/components/account-header.scss
Due: lint-sass

DetailedStatus: remove gaps, rename .detailed-status-container to .thread
  app/soapbox/features/status/index.js
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

Create separate MaterialStatus component for statuses with gaps (in timelines)
  app/soapbox/components/material_status.js
  app/soapbox/components/status_list.js
  app/soapbox/containers/status_container.js
  app/styles/components/status.scss
Due: lint-js, lint-sass, jest

Column: consolidate column components, refactor transparency, get rid of .column-area--mobile, wtf
  app/soapbox/components/column.js
  app/soapbox/features/account_timeline/index.js
  app/soapbox/features/bookmarks/index.js
  app/soapbox/features/community_timeline/index.js
  app/soapbox/features/direct_timeline/index.js
  app/soapbox/features/home_timeline/index.js
  app/soapbox/features/public_timeline/index.js
  app/soapbox/features/remote_timeline/index.js
  app/soapbox/features/ui/components/better_column.js
  app/soapbox/features/ui/components/column.js
  app/soapbox/features/ui/components/columns_area.js
  app/soapbox/pages/admin_page.js
  app/soapbox/pages/default_page.js
  app/soapbox/pages/empty_page.js
  app/soapbox/pages/group_page.js
  app/soapbox/pages/groups_page.js
  app/soapbox/pages/home_page.js
  app/soapbox/pages/profile_page.js
  app/soapbox/pages/remote_instance_page.js
  app/soapbox/pages/status_page.js
  app/styles/accounts.scss
  app/styles/chats.scss
  app/styles/components/columns.scss
  app/styles/components/detailed-status.scss
  app/styles/components/status.scss
  app/styles/ui.scss
Due: lint-js, lint-sass, jest

MaterialStatus: fix border-radius on small screen sizes
  app/styles/components/columns.scss
Due: lint-sass

Column: fix .timeline-compose-block mobile styles
  app/styles/components/columns.scss
Due: lint-sass

MediaGallery: fix filename text color
  app/styles/components/media-gallery.scss
Due: lint-sass

DetailedStatus: fix unnecessary margin-bottom
  app/styles/components/detailed-status.scss
Due: lint-sass

MissingIndicator: fix background overflow (border-radius)
  app/styles/loading.scss
Due: lint-sass

ProgressCircle: fix propTypes (text --> string)
  app/soapbox/components/progress_circle.js
Due: lint-js, jest

Thread: display status connectors (basic threading)
  app/soapbox/features/status/components/thread_status.js
  app/soapbox/features/status/index.js
  app/styles/components/detailed-status.scss
Due: lint-js, lint-sass, jest

Rename .follow-button to .button--follow The other classname is listed on Fanboy's Annoyances List
  app/soapbox/features/ui/components/action_button.js
  app/styles/components/buttons.scss
Due: lint-js, lint-sass, jest

Translate a few strings from `next` to Polish
  app/soapbox/locales/pl.json
Due: jest

Profile: start refactoring findAccountByUsername logic
  app/soapbox/features/account_gallery/index.js
  app/soapbox/features/account_timeline/index.js
  app/soapbox/features/favourited_statuses/index.js
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
  app/soapbox/pages/profile_page.js
  app/soapbox/selectors/index.js
Due: lint-js, jest
