Repository BDX-town/Mangane: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-js, lint-sass, jest, docs-deploy

.gitlab-ci.yml:

image: node:16

variables:
  NODE_ENV: test

cache:
  key:
    files:
      - yarn.lock
  paths:
    - node_modules

stages:
  - lint
  - test
  - build
  - deploy

before_script:
  - env
  - yarn

lint-js:
  stage: lint
  script: yarn lint:js
  only:
    changes:
      - "**/*.js"
      - "**/*.jsx"
      - "**/*.ts"
      - "**/*.tsx"
      - ".eslintignore"
      - ".eslintrc.js"

lint-sass:
  stage: lint
  script: yarn lint:sass
  only:
    changes:
      - "**/*.scss"
      - "**/*.css"
      - ".stylelintrc.json"

jest:
  stage: test
  script: yarn test:coverage
  only:
    changes:
      - "**/*.js"
      - "**/*.json"
      - "app/soapbox/**/*"
      - "webpack/**/*"
      - "jest.config.js"
      - "package.json"
      - "yarn.lock"

build-production:
  stage: build
  script: yarn build
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - static

docs-deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add curl
  script:
    - curl -X POST -F"token=$CI_JOB_TOKEN" -F'ref=master' https://gitlab.com/api/v4/projects/15685485/trigger/pipeline
  only:
    refs:
      - develop
    changes:
      - "docs/**/*"

# Supposed to fail when translations are outdated, instead always passes
#
# i18n:
#   stage: build
#   script: yarn manage:translations
#   variables:
#     NODE_ENV: development
#   before_script:
#     - yarn
#     - yarn build

pages:
  stage: deploy
  before_script: []
  script:
    # artifacts are kept between jobs
    - mv static public
  variables:
    NODE_ENV: production
  artifacts:
    paths:
    - public
  only:
    refs:
      - develop

wip
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/styles/components/compose-form.scss
Due: lint-js, lint-sass, jest

Improve Portuguese (Portugal) translation
  app/soapbox/locales/pt.json
Due: jest

feat: Add Default post language configuration option
  app/soapbox/actions/compose.ts
  app/soapbox/actions/settings.ts
  app/soapbox/features/preferences/index.tsx
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

chore: Update link
  app/soapbox/features/preferences/index.tsx
Due: lint-js, jest

chore: Add settings case
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

fix: remove dahboardCount from settings entry (#295)
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

fix: fix unresponsive hide_network toggle in profile + hide followers and counters accordingly (#296)
  app/soapbox/features/edit_profile/index.tsx
  app/soapbox/features/followers/index.js
  app/soapbox/features/following/index.js
  app/soapbox/features/ui/components/profile_stats.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

feat: remove animations on status on mobile in order to improve performances (#297)
  app/styles/components/status.scss
Due: lint-sass

fix: remove weird event handlers (#298)
  app/soapbox/components/status_content.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

fix: prevent keypress event to trigger hotkeys in emoji selection modal (#300)
  app/soapbox/components/emoji_picker.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

feat: add mangane logo on link footer and remove useless logout (#301)
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/pages/home_page.tsx
Due: lint-js, jest

fix: translation issue with community entry in thumbnav (#305)
  app/soapbox/components/thumb_navigation.tsx
Due: lint-js, jest

feat: avatar in sidebarnav now redirects to user profile (#306)
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

chore: remove unused deps and unwanted features (#307)
  app/soapbox/actions/external_auth.ts
  app/soapbox/components/error_boundary.tsx
  app/soapbox/features/account_timeline/components/moved_note.tsx
  app/soapbox/features/notifications/components/filter_bar.tsx
  app/soapbox/main.tsx
  app/soapbox/monitoring.ts
  app/soapbox/utils/ethereum.ts
  app/soapbox/utils/features.ts
  package.json
  webpack/rules/assets.js
  yarn.lock
Due: lint-js, jest

feat: improve portuguese (portugal) translation
  app/soapbox/locales/pt.json
Due: jest

fix: do not call endorsments on non-auth profile view
  app/soapbox/pages/profile_page.tsx
Due: lint-js, jest

fix: overflow issues on navbar and cropeed outline
  app/soapbox/components/sidebar-navigation-link.tsx
  app/soapbox/components/sidebar-navigation.tsx
Due: lint-js, jest

fix: add visibility to desktop MenuProfile
  app/soapbox/components/ui/menu/menu.css
  app/soapbox/components/ui/menu/menu.tsx
Due: lint-js, lint-sass, jest

First round at most obvious interface elements
  app/soapbox/locales/eu.json
Due: jest

Small tweaks
  app/soapbox/locales/eu.json
Due: jest

feat: pin instances on desktop
  app/soapbox/actions/instance.ts
  app/soapbox/actions/remote_timeline.ts
  app/soapbox/components/account.tsx
  app/soapbox/features/remote_timeline/components/ButtonPin.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/ui/components/column.tsx
  app/soapbox/features/ui/components/instance_pin_panel.tsx
  app/soapbox/features/ui/components/link_footer.tsx
  app/soapbox/features/ui/util/async-components.ts
  app/soapbox/locales/fr.json
  app/soapbox/pages/home_page.tsx
  tsconfig.json
Due: lint-js, jest

feat: pinned hosts on mobile
  app/soapbox/components/sub_navigation.tsx
  app/soapbox/components/thumb_navigation.tsx
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/features/remote_timeline/components/button-pin.tsx
  app/soapbox/features/remote_timeline/components/pinned_hosts_picker.tsx
  app/soapbox/features/remote_timeline/index.tsx
  app/soapbox/features/ui/components/instance_pin_panel.tsx
Due: lint-js, jest

Translate approval-related strings
  app/soapbox/locales/eu.json
Due: jest

Translate 'close' strings
  app/soapbox/locales/eu.json
Due: jest

Translate 'moderator', 'delete' strings
  app/soapbox/locales/eu.json
Due: jest

Translate 'birthday' strings
  app/soapbox/locales/eu.json
Due: jest

Translate 'deactivate' strings
  app/soapbox/locales/eu.json
Due: jest

Translate 'login', 'password' strings
  app/soapbox/locales/eu.json
Due: jest

feat: better handle pinned hosts on Ipad
  app/soapbox/components/thumb_navigation.tsx
Due: lint-js, jest

fix: minor layout issues
  app/soapbox/features/bubble_timeline/index.tsx
  app/soapbox/features/community_timeline/index.tsx
  app/soapbox/features/followed_tags/index.tsx
  app/soapbox/features/public_timeline/index.tsx
  app/soapbox/pages/home_page.tsx
Due: lint-js, jest

feat: improve followed tags ui
  app/soapbox/features/followed_tags/index.tsx
Due: lint-js, jest

fix: accessibility issue
  app/soapbox/components/thumb_navigation.tsx
Due: lint-js, jest

feat: add search and languages
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/language_dropdown.tsx
  yarn.lock
Due: lint-js, jest

feat: Add Default post language configuration option (#312)
  app/soapbox/actions/compose.ts
  app/soapbox/actions/settings.ts
  app/soapbox/features/preferences/index.tsx
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

wip
  app/soapbox/actions/compose.ts
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/containers/language_dropdown_container.ts
  package.json
Due: lint-js, jest

wip
  app/soapbox/actions/compose.ts
  app/soapbox/features/compose/components/compose_form.js
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/features/compose/containers/language_dropdown_container.ts
  app/soapbox/reducers/compose.ts
Due: lint-js, jest

feat: add language dropdown per status
  app/soapbox/components/dropdown_menu.tsx
  app/soapbox/features/compose/components/language_dropdown.tsx
  app/soapbox/features/ui/components/actions_modal.tsx
  app/soapbox/locales/fr.json
Due: lint-js, jest

feat: add default
  app/soapbox/features/compose/containers/language_dropdown_container.ts
Due: lint-js, jest

Update README.md
  README.md
Due: none
